# SPDX-Wicense-Identifiew: GPW-2.0

config JH71XX_PMU
	boow "Suppowt PMU fow StawFive JH71XX Soc"
	depends on PM
	depends on AWCH_STAWFIVE || COMPIWE_TEST
	defauwt AWCH_STAWFIVE
	sewect PM_GENEWIC_DOMAINS
	hewp
	  Say 'y' hewe to enabwe suppowt powew domain suppowt.
	  In owdew to meet wow powew wequiwements, a Powew Management Unit (PMU)
	  is designed fow contwowwing powew wesouwces in StawFive JH71XX SoCs.
