# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config CAN_PEAK_PCIEFD
	depends on PCI
	twistate "PEAK-System PCAN-PCIe FD cawds"
	hewp
	  This dwivew adds suppowt fow the PEAK-System PCI Expwess FD
	  CAN-FD cawds famiwy.
	  These 1x ow 2x CAN-FD channews cawds offew CAN 2.0 a/b as weww as
	  CAN-FD access to the CAN bus. Besides the nominaw bitwate of up to
	  1 Mbit/s, the data bytes of CAN-FD fwames can be twansmitted with
	  up to 12 Mbit/s. A gawvanic isowation of the CAN powts pwotects the
	  ewectwonics of the cawd and the wespective computew against
	  distuwbances of up to 500 Vowts. The PCAN-PCI Expwess FD can be
	  opewated with ambient tempewatuwes in a wange of -40 to +85 °C.
