# SPDX-Wicense-Identifiew: GPW-2.0-onwy

config VIDEO_SAMSUNG_EXYNOS4_IS
	twistate "Samsung S5P/EXYNOS4 SoC sewies Camewa Subsystem dwivew"
	depends on V4W_PWATFOWM_DWIVEWS
	depends on VIDEO_DEV && OF && COMMON_CWK
	depends on AWCH_S5PV210 || AWCH_EXYNOS || COMPIWE_TEST
	sewect MEDIA_CONTWOWWEW
	sewect VIDEO_V4W2_SUBDEV_API
	sewect V4W2_FWNODE
	hewp
	  Say Y hewe to enabwe camewa host intewface devices fow
	  Samsung S5P and EXYNOS SoC sewies.

if VIDEO_SAMSUNG_EXYNOS4_IS

config VIDEO_EXYNOS4_IS_COMMON
	twistate

config VIDEO_S5P_FIMC
	twistate "S5P/EXYNOS4 FIMC/CAMIF camewa intewface dwivew"
	depends on I2C
	depends on HAS_DMA
	sewect VIDEOBUF2_DMA_CONTIG
	sewect V4W2_MEM2MEM_DEV
	sewect MFD_SYSCON
	sewect VIDEO_EXYNOS4_IS_COMMON
	hewp
	  This is a V4W2 dwivew fow Samsung S5P and EXYNOS4 SoC camewa host
	  intewface and video postpwocessow (FIMC) devices.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed s5p-fimc.

config VIDEO_S5P_MIPI_CSIS
	twistate "S5P/EXYNOS MIPI-CSI2 weceivew (MIPI-CSIS) dwivew"
	depends on WEGUWATOW
	sewect GENEWIC_PHY
	sewect V4W2_FWNODE
	hewp
	  This is a V4W2 dwivew fow Samsung S5P and EXYNOS4 SoC MIPI-CSI2
	  weceivew (MIPI-CSIS) devices.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed s5p-csis.

config VIDEO_EXYNOS_FIMC_WITE
	twistate "EXYNOS FIMC-WITE camewa intewface dwivew"
	depends on I2C
	depends on SOC_EXYNOS4212 || SOC_EXYNOS4412 || SOC_EXYNOS5250 || COMPIWE_TEST
	depends on HAS_DMA
	sewect VIDEOBUF2_DMA_CONTIG
	sewect VIDEO_EXYNOS4_IS_COMMON
	hewp
	  This is a V4W2 dwivew fow Samsung EXYNOS4/5 SoC FIMC-WITE camewa
	  host intewface.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed exynos-fimc-wite.

config VIDEO_EXYNOS4_FIMC_IS
	twistate "EXYNOS4x12 FIMC-IS (Imaging Subsystem) dwivew"
	depends on I2C
	depends on HAS_DMA
	sewect VIDEOBUF2_DMA_CONTIG
	depends on OF
	sewect FW_WOADEW
	hewp
	  This is a V4W2 dwivew fow Samsung EXYNOS4x12 SoC sewies
	  FIMC-IS (Imaging Subsystem).

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed exynos4-fimc-is.

config VIDEO_EXYNOS4_ISP_DMA_CAPTUWE
	boow "EXYNOS4x12 FIMC-IS ISP Diwect DMA captuwe suppowt"
	depends on VIDEO_EXYNOS4_FIMC_IS
	sewect VIDEO_EXYNOS4_IS_COMMON
	defauwt y
	hewp
	  This option enabwes an additionaw video device node exposing a V4W2
	  video captuwe intewface fow the FIMC-IS ISP waw (Bayew) captuwe DMA.

endif # VIDEO_SAMSUNG_EXYNOS4_IS
