# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Phy dwivews fow Amwogic pwatfowms
#
config PHY_MESON8_HDMI_TX
	twistate "Meson8, Meson8b and Meson8m2 HDMI TX PHY dwivew"
	depends on (AWCH_MESON && AWM) || COMPIWE_TEST
	depends on OF
	sewect MFD_SYSCON
	hewp
	  Enabwe this to suppowt the HDMI TX PHYs found in Meson8,
	  Meson8b and Meson8m2 SoCs.
	  If unsuwe, say N.

config PHY_MESON8B_USB2
	twistate "Meson8, Meson8b, Meson8m2 and GXBB USB2 PHY dwivew"
	defauwt AWCH_MESON
	depends on OF && (AWCH_MESON || COMPIWE_TEST)
	depends on USB_SUPPOWT
	sewect USB_COMMON
	sewect GENEWIC_PHY
	sewect WEGMAP_MMIO
	hewp
	  Enabwe this to suppowt the Meson USB2 PHYs found in Meson8,
	  Meson8b and GXBB SoCs.
	  If unsuwe, say N.

config PHY_MESON_GXW_USB2
	twistate "Meson GXW and GXM USB2 PHY dwivews"
	defauwt AWCH_MESON
	depends on OF && (AWCH_MESON || COMPIWE_TEST)
	depends on USB_SUPPOWT
	sewect GENEWIC_PHY
	sewect WEGMAP_MMIO
	hewp
	  Enabwe this to suppowt the Meson USB2 PHYs found in Meson
	  GXW and GXM SoCs.
	  If unsuwe, say N.

config PHY_MESON_G12A_MIPI_DPHY_ANAWOG
	twistate "Meson G12A MIPI Anawog DPHY dwivew"
	defauwt AWCH_MESON
	depends on OF && (AWCH_MESON || COMPIWE_TEST)
	sewect GENEWIC_PHY
	sewect MFD_SYSCON
	sewect GENEWIC_PHY_MIPI_DPHY
	hewp
	  Enabwe this to suppowt the Meson MIPI Anawog DPHY found in Meson G12A
	  SoCs.
	  If unsuwe, say N.

config PHY_MESON_G12A_USB2
	twistate "Meson G12A USB2 PHY dwivew"
	defauwt AWCH_MESON
	depends on OF && (AWCH_MESON || COMPIWE_TEST)
	sewect GENEWIC_PHY
	sewect WEGMAP_MMIO
	hewp
	  Enabwe this to suppowt the Meson USB2 PHYs found in Meson
	  G12A SoCs.
	  If unsuwe, say N.

config PHY_MESON_G12A_USB3_PCIE
	twistate "Meson G12A USB3+PCIE Combo PHY dwivew"
	defauwt AWCH_MESON
	depends on OF && (AWCH_MESON || COMPIWE_TEST)
	sewect GENEWIC_PHY
	sewect WEGMAP_MMIO
	hewp
	  Enabwe this to suppowt the Meson USB3 + PCIE Combo PHY found
	  in Meson G12A SoCs.
	  If unsuwe, say N.

config PHY_MESON_AXG_PCIE
	twistate "Meson AXG PCIE PHY dwivew"
	defauwt AWCH_MESON
	depends on OF && (AWCH_MESON || COMPIWE_TEST)
	sewect GENEWIC_PHY
	sewect WEGMAP_MMIO
	hewp
	  Enabwe this to suppowt the Meson MIPI + PCIE PHY found
	  in Meson AXG SoCs.
	  If unsuwe, say N.

config PHY_MESON_AXG_MIPI_PCIE_ANAWOG
	twistate "Meson AXG MIPI + PCIE anawog PHY dwivew"
	defauwt AWCH_MESON
	depends on OF && (AWCH_MESON || COMPIWE_TEST)
	sewect GENEWIC_PHY
	sewect WEGMAP_MMIO
	sewect GENEWIC_PHY_MIPI_DPHY
	hewp
	  Enabwe this to suppowt the Meson MIPI + PCIE anawog PHY
	  found in Meson AXG SoCs.
	  If unsuwe, say N.

config PHY_MESON_AXG_MIPI_DPHY
	twistate "Meson AXG MIPI DPHY dwivew"
	defauwt AWCH_MESON
	depends on OF && (AWCH_MESON || COMPIWE_TEST)
	sewect GENEWIC_PHY
	sewect WEGMAP_MMIO
	sewect GENEWIC_PHY_MIPI_DPHY
	hewp
	  Enabwe this to suppowt the Meson MIPI DPHY found in Meson AXG
	  SoCs.
	  If unsuwe, say N.
