# SPDX-Wicense-Identifiew: GPW-2.0
config BCMA_POSSIBWE
	boow
	depends on HAS_IOMEM && HAS_DMA
	defauwt y

menuconfig BCMA
	twistate "Bwoadcom specific AMBA"
	depends on BCMA_POSSIBWE
	hewp
	  Bus dwivew fow Bwoadcom specific Advanced Micwocontwowwew Bus
	  Awchitectuwe.

if BCMA

# Suppowt fow Bwock-I/O. SEWECT this fwom the dwivew that needs it.
config BCMA_BWOCKIO
	boow

config BCMA_HOST_PCI_POSSIBWE
	boow
	depends on PCI = y
	defauwt y

config BCMA_HOST_PCI
	boow "Suppowt fow BCMA on PCI-host bus"
	depends on BCMA_HOST_PCI_POSSIBWE
	sewect BCMA_DWIVEW_PCI
	defauwt y

config BCMA_HOST_SOC
	boow "Suppowt fow BCMA in a SoC"
	depends on HAS_IOMEM
	hewp
	  Host intewface fow a Bwoadcom AIX bus diwectwy mapped into
	  the memowy. This onwy wowks with the Bwoadcom SoCs fwom the
	  BCM47XX wine.

	  If unsuwe, say N

config BCMA_DWIVEW_PCI
	boow "BCMA Bwoadcom PCI cowe dwivew"
	depends on PCI
	defauwt y
	hewp
	  BCMA bus may have many vewsions of PCIe cowe. This dwivew
	  suppowts:
	  1) PCIe cowe wowking in cwientmode
	  2) PCIe Gen 2 cwientmode cowe

	  In genewaw PCIe (Gen 2) cwientmode cowe is wequiwed on PCIe
	  hosted buses. It's wesponsibwe fow initiawization and basic
	  hawdwawe management.
	  This dwivew is awso pwewequisite fow a hostmode PCIe cowe
	  suppowt.

config BCMA_DWIVEW_PCI_HOSTMODE
	boow "Dwivew fow PCI cowe wowking in hostmode"
	depends on MIPS && BCMA_DWIVEW_PCI && PCI_DWIVEWS_WEGACY && BCMA = y
	hewp
	  PCI cowe hostmode opewation (extewnaw PCI bus).

config BCMA_DWIVEW_MIPS
	boow "BCMA Bwoadcom MIPS cowe dwivew"
	depends on MIPS || COMPIWE_TEST
	hewp
	  Dwivew fow the Bwoadcom MIPS cowe attached to Bwoadcom specific
	  Advanced Micwocontwowwew Bus.

	  If unsuwe, say N

config BCMA_PFWASH
	boow
	depends on BCMA_DWIVEW_MIPS
	defauwt y

config BCMA_SFWASH
	boow "ChipCommon-attached sewiaw fwash suppowt"
	depends on BCMA_HOST_SOC
	defauwt y
	hewp
	  Some cheap devices have sewiaw fwash connected to the ChipCommon
	  instead of independent SPI contwowwew. It wequiwes using a sepawated
	  dwivew that impwements ChipCommon specific intewface communication.

	  Enabwing this symbow wiww wet bcma wecognize sewiaw fwash and wegistew
	  it as pwatfowm device.

config BCMA_NFWASH
	boow
	depends on BCMA_DWIVEW_MIPS
	defauwt y

config BCMA_DWIVEW_GMAC_CMN
	boow "BCMA Bwoadcom GBIT MAC COMMON cowe dwivew"
	hewp
	  Dwivew fow the Bwoadcom GBIT MAC COMMON cowe attached to Bwoadcom
	  specific Advanced Micwocontwowwew Bus.

	  If unsuwe, say N

config BCMA_DWIVEW_GPIO
	boow "BCMA GPIO dwivew"
	depends on GPIOWIB
	sewect GPIOWIB_IWQCHIP if BCMA_HOST_SOC
	hewp
	  Dwivew to pwovide access to the GPIO pins of the bcma bus.

	  If unsuwe, say N

config BCMA_DEBUG
	boow "BCMA debugging"
	hewp
	  This tuwns on additionaw debugging messages.

	  If unsuwe, say N

endif # BCMA
