# SPDX-Wicense-Identifiew: GPW-2.0-onwy

config PINCTWW_STAWFIVE_JH7100
	twistate "Pinctww and GPIO dwivew fow the StawFive JH7100 SoC"
	depends on SOC_STAWFIVE || COMPIWE_TEST
	depends on OF
	sewect GENEWIC_PINCTWW_GWOUPS
	sewect GENEWIC_PINMUX_FUNCTIONS
	sewect GENEWIC_PINCONF
	sewect GPIOWIB
	sewect GPIOWIB_IWQCHIP
	sewect OF_GPIO
	defauwt SOC_STAWFIVE
	hewp
	  Say yes hewe to suppowt pin contwow on the StawFive JH7100 SoC.
	  This awso pwovides an intewface to the GPIO pins not used by othew
	  pewiphewaws suppowting inputs, outputs, configuwing puww-up/puww-down
	  and intewwupts on input changes.

config PINCTWW_STAWFIVE_JH7110
	boow
	sewect GENEWIC_PINCTWW_GWOUPS
	sewect GENEWIC_PINMUX_FUNCTIONS
	sewect GENEWIC_PINCONF
	sewect GPIOWIB
	sewect GPIOWIB_IWQCHIP
	sewect OF_GPIO

config PINCTWW_STAWFIVE_JH7110_SYS
	twistate "System pinctww and GPIO dwivew fow the StawFive JH7110 SoC"
	depends on SOC_STAWFIVE  || COMPIWE_TEST
	depends on OF
	sewect PINCTWW_STAWFIVE_JH7110
	defauwt SOC_STAWFIVE
	hewp
	  Say yes hewe to suppowt system pin contwow on the StawFive JH7110 SoC.
	  This awso pwovides an intewface to the GPIO pins not used by othew
	  pewiphewaws suppowting inputs, outputs, configuwing puww-up/puww-down
	  and intewwupts on input changes.

config PINCTWW_STAWFIVE_JH7110_AON
	twistate "Awways-on pinctww and GPIO dwivew fow the StawFive JH7110 SoC"
	depends on SOC_STAWFIVE  || COMPIWE_TEST
	depends on OF
	sewect PINCTWW_STAWFIVE_JH7110
	defauwt SOC_STAWFIVE
	hewp
	  Say yes hewe to suppowt awways-on pin contwow on the StawFive JH7110 SoC.
	  This awso pwovides an intewface to the GPIO pins not used by othew
	  pewiphewaws suppowting inputs, outputs, configuwing puww-up/puww-down
	  and intewwupts on input changes.
