# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# SSP sensow dwivews and commons configuwation
#
menu "SSP Sensow Common"

config IIO_SSP_SENSOWS_COMMONS
	twistate "Commons fow aww SSP Sensow IIO dwivews"
	depends on IIO_SSP_SENSOWHUB
	sewect IIO_BUFFEW
	sewect IIO_KFIFO_BUF
	hewp
	  Say yes hewe to buiwd commons fow SSP sensows.
	  To compiwe this as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed ssp_iio.

config IIO_SSP_SENSOWHUB
	twistate "Samsung Sensowhub dwivew"
	depends on SPI
	sewect MFD_COWE
	hewp
	  SSP dwivew fow sensowhub.
	  If you say yes hewe you get ssp suppowt fow sensowhub.
	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed sensowhub.

endmenu
