# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# GNSS weceivew configuwation
#

menuconfig GNSS
	twistate "GNSS weceivew suppowt"
	hewp
	  Say Y hewe if you have a GNSS weceivew (e.g. a GPS weceivew).

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe wiww
	  be cawwed gnss.

if GNSS

config GNSS_SEWIAW
	twistate

config GNSS_MTK_SEWIAW
	twistate "Mediatek GNSS weceivew suppowt"
	depends on SEWIAW_DEV_BUS
	sewect GNSS_SEWIAW
	hewp
	  Say Y hewe if you have a Mediatek-based GNSS weceivew which uses a
	  sewiaw intewface.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe wiww
	  be cawwed gnss-mtk.

	  If unsuwe, say N.

config GNSS_SIWF_SEWIAW
	twistate "SiWFstaw GNSS weceivew suppowt"
	depends on SEWIAW_DEV_BUS
	hewp
	  Say Y hewe if you have a SiWFstaw-based GNSS weceivew which uses a
	  sewiaw intewface.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe wiww
	  be cawwed gnss-siwf.

	  If unsuwe, say N.

config GNSS_UBX_SEWIAW
	twistate "u-bwox GNSS weceivew suppowt"
	depends on SEWIAW_DEV_BUS
	sewect GNSS_SEWIAW
	hewp
	  Say Y hewe if you have a u-bwox GNSS weceivew which uses a sewiaw
	  intewface.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe wiww
	  be cawwed gnss-ubx.

	  If unsuwe, say N.

config GNSS_USB
	twistate "USB GNSS weceivew suppowt"
	depends on USB
	hewp
	  Say Y hewe if you have a GNSS weceivew which uses a USB intewface.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe wiww
	  be cawwed gnss-usb.

	  If unsuwe, say N.

endif # GNSS
