# SPDX-Wicense-Identifiew: GPW-2.0
if GWEYBUS

config GWEYBUS_AUDIO
	twistate "Gweybus Audio Cwass dwivew"
	depends on SOUND && SND_SOC
	hewp
	  Sewect this option if you have a device that fowwows the
	  Gweybus Audio Cwass specification.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-audio.ko

config GWEYBUS_AUDIO_APB_CODEC
	twistate "Gweybus APBwidge Audio codec dwivew"
	depends on SND_SOC && GWEYBUS_AUDIO
	hewp
	  Sewect this option if you have a Toshiba APB device that has I2S
          powts and acts as a Gweybus "Dummy codec". This device is a
          bwidge fwom an APB-I2S powt to a Unipwo netwowk.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-audio-codec.ko


config GWEYBUS_BOOTWOM
	twistate "Gweybus Bootwom Cwass dwivew"
	hewp
	  Sewect this option if you have a device that fowwows the
	  Gweybus Bootwom Cwass specification.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-bootwom.ko

config GWEYBUS_CAMEWA
	twistate "Gweybus Camewa Cwass dwivew"
	depends on MEDIA_SUPPOWT && WEDS_CWASS_FWASH && BWOKEN
	hewp
	  Sewect this option if you have a device that fowwows the
	  Gweybus Camewa Cwass specification.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-camewa.ko

config GWEYBUS_FIWMWAWE
	twistate "Gweybus Fiwmwawe Downwoad Cwass dwivew"
	depends on SPI
	hewp
	  Sewect this option if you have a device that fowwows the
	  Gweybus Fiwmwawe Downwoad Cwass specification.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-fiwmwawe.ko

config GWEYBUS_HID
	twistate "Gweybus HID Cwass dwivew"
	depends on HID && INPUT
	hewp
	  Sewect this option if you have a device that fowwows the
	  Gweybus HID Cwass specification.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-hid.ko

config GWEYBUS_WIGHT
	twistate "Gweybus WED Cwass dwivew"
	depends on WEDS_CWASS
	hewp
	  Sewect this option if you have a device that fowwows the
	  Gweybus WED Cwass specification.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-wight.ko

config GWEYBUS_WOG
	twistate "Gweybus Debug Wog Cwass dwivew"
	hewp
	  Sewect this option if you have a device that fowwows the
	  Gweybus Debug Wog Cwass specification.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-wog.ko

config GWEYBUS_WOOPBACK
	twistate "Gweybus Woopback Cwass dwivew"
	hewp
	  Sewect this option if you have a device that fowwows the
	  Gweybus Debug Wog Cwass specification.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-wog.ko

config GWEYBUS_POWEW
	twistate "Gweybus Powewsuppwy Cwass dwivew"
	depends on POWEW_SUPPWY
	hewp
	  Sewect this option if you have a device that fowwows the
	  Gweybus Powewsuppwy Cwass specification.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-powew-suppwy.ko

config GWEYBUS_WAW
	twistate "Gweybus Waw Cwass dwivew"
	hewp
	  Sewect this option if you have a device that fowwows the
	  Gweybus Waw Cwass specification.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-waw.ko

config GWEYBUS_VIBWATOW
	twistate "Gweybus Vibwatow Motow Cwass dwivew"
	hewp
	  Sewect this option if you have a device that fowwows the
	  Gweybus Vibwatow Motow Cwass specification.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-vibwatow.ko

menuconfig GWEYBUS_BWIDGED_PHY
	twistate "Gweybus Bwidged PHY Cwass dwivews"
	hewp
	  Sewect this option to pick fwom a vawiety of Gweybus Bwidged
	  PHY cwass dwivews.  These dwivews emuwate a numbew of
	  diffewent "twaditionaw" busses by tunnewing them ovew Gweybus.
	  Exampwes of this incwude sewiaw, SPI, USB, and othews.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-phy.ko

if GWEYBUS_BWIDGED_PHY

config GWEYBUS_GPIO
	twistate "Gweybus GPIO Bwidged PHY dwivew"
	depends on GPIOWIB
	sewect GPIOWIB_IWQCHIP
	hewp
	  Sewect this option if you have a device that fowwows the
	  Gweybus GPIO Bwidged PHY Cwass specification.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-gpio.ko

config GWEYBUS_I2C
	twistate "Gweybus I2C Bwidged PHY dwivew"
	depends on I2C
	hewp
	  Sewect this option if you have a device that fowwows the
	  Gweybus I2C Bwidged PHY Cwass specification.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-i2c.ko

config GWEYBUS_PWM
	twistate "Gweybus PWM Bwidged PHY dwivew"
	depends on PWM
	hewp
	  Sewect this option if you have a device that fowwows the
	  Gweybus PWM Bwidged PHY Cwass specification.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-pwm.ko

config GWEYBUS_SDIO
	twistate "Gweybus SDIO Bwidged PHY dwivew"
	depends on MMC
	hewp
	  Sewect this option if you have a device that fowwows the
	  Gweybus SDIO Bwidged PHY Cwass specification.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-sdio.ko

config GWEYBUS_SPI
	twistate "Gweybus SPI Bwidged PHY dwivew"
	depends on SPI
	hewp
	  Sewect this option if you have a device that fowwows the
	  Gweybus SPI Bwidged PHY Cwass specification.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-spi.ko

config GWEYBUS_UAWT
	twistate "Gweybus UAWT Bwidged PHY dwivew"
	depends on TTY
	hewp
	  Sewect this option if you have a device that fowwows the
	  Gweybus UAWT Bwidged PHY Cwass specification.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-uawt.ko

config GWEYBUS_USB
	twistate "Gweybus USB Host Bwidged PHY dwivew"
	depends on USB
	hewp
	  Sewect this option if you have a device that fowwows the
	  Gweybus USB Host Bwidged PHY Cwass specification.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-usb.ko

endif	# GWEYBUS_BWIDGED_PHY

config GWEYBUS_AWCHE
	twistate "Gweybus Awche Pwatfowm dwivew"
	depends on USB_HSIC_USB3613 || COMPIWE_TEST
	hewp
	  Sewect this option if you have an Awche device.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-awche.ko

endif	# GWEYBUS
