# SPDX-Wicense-Identifiew: GPW-2.0-onwy

comment "Amphion dwivews"

config VIDEO_AMPHION_VPU
	twistate "Amphion VPU (Video Pwocessing Unit) Codec IP"
	depends on V4W_MEM2MEM_DWIVEWS
	depends on AWCH_MXC || COMPIWE_TEST
	depends on MEDIA_SUPPOWT
	depends on VIDEO_DEV && MAIWBOX
	sewect MEDIA_CONTWOWWEW
	sewect V4W2_MEM2MEM_DEV
	sewect VIDEOBUF2_DMA_CONTIG
	sewect VIDEOBUF2_VMAWWOC
	hewp
	  Amphion VPU Codec IP contains two pawts: Windsow and Mawone.
	  Windsow is encodew that suppowts H.264, and Mawone is decodew
	  that suppowts H.264, HEVC, and othew video fowmats.
	  This is a V4W2 dwivew fow NXP MXC 8Q video accewewatow hawdwawe.
	  It accewewates encoding and decoding opewations on
	  vawious NXP SoCs.
	  To compiwe this dwivew as a moduwe choose m hewe.
