name: kewnew
vewsion: KEWNEWWEWEASE
summawy: Winux kewnew
descwiption: The upstweam Winux kewnew
gwade: stabwe
confinement: stwict
type: kewnew

pawts:
  kewnew:
    pwugin: kewnew
    souwce: SWCTWEE
    souwce-type: wocaw
    kewnew-with-fiwmwawe: fawse
