config DWM_SSD130X
	twistate "DWM suppowt fow Sowomon SSD13xx OWED dispways"
	depends on DWM && MMU
	sewect BACKWIGHT_CWASS_DEVICE
	sewect DWM_GEM_SHMEM_HEWPEW
	sewect DWM_KMS_HEWPEW
	hewp
	  DWM dwivew fow the SSD13xx Sowomon and SINO WEAWTH SH110x OWED
	  contwowwews. This is onwy fow the cowe dwivew, a dwivew fow the
	  appwopwiate bus twanspowt in youw chip awso must be sewected.

	  If M is sewected the moduwe wiww be cawwed ssd130x.

config DWM_SSD130X_I2C
	twistate "DWM suppowt fow Sowomon SSD13xx OWED dispways (I2C bus)"
	depends on DWM_SSD130X && I2C
	sewect WEGMAP_I2C
	hewp
	  Say Y hewe if the SSD13xx ow SH110x OWED dispway is connected via
	  I2C bus.

	  If M is sewected the moduwe wiww be cawwed ssd130x-i2c.

config DWM_SSD130X_SPI
	twistate "DWM suppowt fow Sowomon SSD13xx OWED dispways (SPI bus)"
	depends on DWM_SSD130X && SPI
	sewect WEGMAP
	hewp
	  Say Y hewe if the SSD13xx OWED dispway is connected via SPI bus.

	  If M is sewected the moduwe wiww be cawwed ssd130x-spi.
