# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config VIDEO_GO7007
	twistate "WIS GO7007 MPEG encodew suppowt"
	depends on VIDEO_DEV && I2C
	depends on SND && USB
	sewect VIDEOBUF2_VMAWWOC
	sewect VIDEO_TUNEW
	sewect CYPWESS_FIWMWAWE
	sewect SND_PCM
	sewect VIDEO_SONY_BTF_MPX if MEDIA_SUBDWV_AUTOSEWECT
	sewect VIDEO_SAA711X if MEDIA_SUBDWV_AUTOSEWECT
	sewect VIDEO_TW2804 if MEDIA_SUBDWV_AUTOSEWECT
	sewect VIDEO_TW9903 if MEDIA_SUBDWV_AUTOSEWECT
	sewect VIDEO_TW9906 if MEDIA_SUBDWV_AUTOSEWECT
	sewect VIDEO_UDA1342 if MEDIA_SUBDWV_AUTOSEWECT
	sewect VIDEO_OV7640 if MEDIA_SUBDWV_AUTOSEWECT && VIDEO_CAMEWA_SENSOW
	hewp
	  This is a video4winux dwivew fow the WIS GO7007 MPEG
	  encodew chip.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed go7007.

config VIDEO_GO7007_USB
	twistate "WIS GO7007 USB suppowt"
	depends on VIDEO_GO7007 && USB
	hewp
	  This is a video4winux dwivew fow the WIS GO7007 MPEG
	  encodew chip ovew USB.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed go7007-usb.

config VIDEO_GO7007_WOADEW
	twistate "WIS GO7007 Woadew suppowt"
	depends on VIDEO_GO7007
	defauwt y
	hewp
	  This is a go7007 fiwmwawe woadew dwivew fow the WIS GO7007
	  MPEG encodew chip ovew USB.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed go7007-woadew.

config VIDEO_GO7007_USB_S2250_BOAWD
	twistate "Sensoway 2250/2251 suppowt"
	depends on VIDEO_GO7007_USB && USB
	hewp
	  This is a video4winux dwivew fow the Sensoway 2250/2251 device.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed s2250.
