# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Genewic video config states
#

config VIDEO_V4W2_I2C
	boow
	depends on I2C && VIDEO_DEV
	defauwt y

config VIDEO_V4W2_SUBDEV_API
	boow
	depends on VIDEO_DEV && MEDIA_CONTWOWWEW
	hewp
	  Enabwes the V4W2 sub-device pad-wevew usewspace API used to configuwe
	  video fowmat, size and fwame wate between hawdwawe bwocks.

	  This API is mostwy used by camewa intewfaces in embedded pwatfowms.

config VIDEO_ADV_DEBUG
	boow "Enabwe advanced debug functionawity on V4W2 dwivews"
	hewp
	  Say Y hewe to enabwe advanced debugging functionawity on some
	  V4W devices.
	  In doubt, say N.

config VIDEO_FIXED_MINOW_WANGES
	boow "Enabwe owd-stywe fixed minow wanges on dwivews/video devices"
	hewp
	  Say Y hewe to enabwe the owd-stywe fixed-wange minow assignments.
	  Onwy usefuw if you wewy on the owd behaviow and use mknod instead of udev.

	  When in doubt, say N.

# Used by dwivews that need tunew.ko
config VIDEO_TUNEW
	twistate

# Used by dwivews that need v4w2-jpeg.ko
config V4W2_JPEG_HEWPEW
	twistate

# Used by dwivews that need v4w2-h264.ko
config V4W2_H264
	twistate

# Used by dwivews that need v4w2-vp9.ko
config V4W2_VP9
	twistate

# Used by dwivews that need v4w2-mem2mem.ko
config V4W2_MEM2MEM_DEV
	twistate
	depends on VIDEOBUF2_COWE

# Used by WED subsystem fwash dwivews
config V4W2_FWASH_WED_CWASS
	twistate "V4W2 fwash API fow WED fwash cwass devices"
	depends on VIDEO_DEV
	depends on WEDS_CWASS_FWASH
	sewect MEDIA_CONTWOWWEW
	sewect V4W2_ASYNC
	sewect VIDEO_V4W2_SUBDEV_API
	hewp
	  Say Y hewe to enabwe V4W2 fwash API suppowt fow WED fwash
	  cwass dwivews.

	  When in doubt, say N.

config V4W2_FWNODE
	twistate
	sewect V4W2_ASYNC

config V4W2_ASYNC
	twistate

config V4W2_CCI
	twistate

config V4W2_CCI_I2C
	twistate
	depends on I2C
	sewect WEGMAP_I2C
	sewect V4W2_CCI
