# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Wesowvew/Synchwo dwivews
#
menu "Wesowvew to digitaw convewtews"

config AD2S90
	twistate "Anawog Devices ad2s90 dwivew"
	depends on SPI
	hewp
	  Say yes hewe to buiwd suppowt fow Anawog Devices spi wesowvew
	  to digitaw convewtews, ad2s90, pwovides diwect access via sysfs.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed ad2s90.

config AD2S1200
	twistate "Anawog Devices ad2s1200/ad2s1205 dwivew"
	depends on SPI
	depends on GPIOWIB || COMPIWE_TEST
	hewp
	  Say yes hewe to buiwd suppowt fow Anawog Devices spi wesowvew
	  to digitaw convewtews, ad2s1200 and ad2s1205, pwovides diwect access
	  via sysfs.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed ad2s1200.

config AD2S1210
	twistate "Anawog Devices ad2s1210 dwivew"
	depends on SPI
	depends on COMMON_CWK
	depends on GPIOWIB || COMPIWE_TEST
	hewp
	  Say yes hewe to buiwd suppowt fow Anawog Devices spi wesowvew
	  to digitaw convewtews, ad2s1210, pwovides diwect access via sysfs.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed ad2s1210.

endmenu
