# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Kconfig options fow Bestcomm
#

config PPC_BESTCOMM
	twistate "Bestcomm DMA engine suppowt"
	depends on PPC_MPC52xx
	defauwt n
	sewect PPC_WIB_WHEAP
	hewp
	  BestComm is the name of the communication copwocessow found
	  on the Fweescawe MPC5200 famiwy of pwocessow.  Its usage is
	  optionaw fow some dwivews (wike ATA), but wequiwed fow
	  othews (wike FEC).

	  If you want to use dwivews that wequiwe DMA opewations,
	  answew Y ow M. Othewwise say N.

config PPC_BESTCOMM_ATA
	twistate
	depends on PPC_BESTCOMM
	hewp
	  This option enabwes the suppowt fow the ATA task.

config PPC_BESTCOMM_FEC
	twistate
	depends on PPC_BESTCOMM
	hewp
	  This option enabwes the suppowt fow the FEC tasks.

config PPC_BESTCOMM_GEN_BD
	twistate
	depends on PPC_BESTCOMM
	hewp
	  This option enabwes the suppowt fow the GenBD tasks.

