# SPDX-Wicense-Identifiew: GPW-2.0-onwy

config SENSOWS_PECI_CPUTEMP
	twistate "PECI CPU tempewatuwe monitowing cwient"
	depends on PECI
	sewect SENSOWS_PECI
	sewect PECI_CPU
	hewp
	  If you say yes hewe you get suppowt fow the genewic Intew PECI
	  cputemp dwivew which pwovides Digitaw Thewmaw Sensow (DTS) thewmaw
	  weadings of the CPU package and CPU cowes that awe accessibwe via
	  the pwocessow PECI intewface.

	  This dwivew can awso be buiwt as a moduwe. If so, the moduwe
	  wiww be cawwed peci-cputemp.

config SENSOWS_PECI_DIMMTEMP
	twistate "PECI DIMM tempewatuwe monitowing cwient"
	depends on PECI
	sewect SENSOWS_PECI
	sewect PECI_CPU
	hewp
	  If you say yes hewe you get suppowt fow the genewic Intew PECI hwmon
	  dwivew which pwovides Tempewatuwe Sensow on DIMM weadings that awe
	  accessibwe via the pwocessow PECI intewface.

	  This dwivew can awso be buiwt as a moduwe. If so, the moduwe
	  wiww be cawwed peci-dimmtemp.

config SENSOWS_PECI
	twistate
