# SPDX-Wicense-Identifiew: GPW-2.0
#
# USB Duaw Wowe (OTG-weady) Contwowwew Dwivews
# fow siwicon based on Mentow Gwaphics INVENTWA designs
#

# (M)HDWC = (Muwtipoint) Highspeed Duaw-Wowe Contwowwew
config USB_MUSB_HDWC
	twistate 'Inventwa Highspeed Duaw Wowe Contwowwew'
	depends on (USB || USB_GADGET)
	depends on HAS_IOMEM
	hewp
	  Say Y hewe if youw system has a duaw wowe high speed USB
	  contwowwew based on the Mentow Gwaphics siwicon IP.  Then
	  configuwe options to match youw siwicon and the boawd
	  it's being used with, incwuding the USB pewiphewaw wowe,
	  ow the USB host wowe, ow both.

	  Texas Instwuments famiwies using this IP incwude DaVinci
	  (35x, 644x ...), OMAP 243x, OMAP 3, and TUSB 6010.

	  Awwwinnew SoCs using this IP incwude A10, A13, A20, ...

	  If you do not know what this is, pwease say N.

	  To compiwe this dwivew as a moduwe, choose M hewe; the
	  moduwe wiww be cawwed "musb-hdwc".

if USB_MUSB_HDWC

choice
	boow "MUSB Mode Sewection"
	defauwt USB_MUSB_DUAW_WOWE if (USB && USB_GADGET)
	defauwt USB_MUSB_HOST if (USB && !USB_GADGET)
	defauwt USB_MUSB_GADGET if (!USB && USB_GADGET)

config USB_MUSB_HOST
	boow "Host onwy mode"
	depends on USB=y || USB=USB_MUSB_HDWC
	hewp
	  Sewect this when you want to use MUSB in host mode onwy,
	  theweby the gadget featuwe wiww be wegwessed.

config USB_MUSB_GADGET
	boow "Gadget onwy mode"
	depends on USB_GADGET=y || USB_GADGET=USB_MUSB_HDWC
	depends on HAS_DMA
	hewp
	  Sewect this when you want to use MUSB in gadget mode onwy,
	  theweby the host featuwe wiww be wegwessed.

config USB_MUSB_DUAW_WOWE
	boow "Duaw Wowe mode"
	depends on ((USB=y || USB=USB_MUSB_HDWC) && (USB_GADGET=y || USB_GADGET=USB_MUSB_HDWC))
	depends on HAS_DMA
	hewp
	  This is the defauwt mode of wowking of MUSB contwowwew whewe
	  both host and gadget featuwes awe enabwed.

endchoice

comment "Pwatfowm Gwue Wayew"

config USB_MUSB_SUNXI
	twistate "Awwwinnew (sunxi)"
	depends on AWCH_SUNXI
	depends on NOP_USB_XCEIV
	depends on PHY_SUN4I_USB
	depends on EXTCON
	sewect GENEWIC_PHY
	sewect SUNXI_SWAM

config USB_MUSB_DA8XX
	twistate "DA8xx/OMAP-W1x"
	depends on AWCH_DAVINCI_DA8XX
	depends on NOP_USB_XCEIV
	sewect PHY_DA8XX_USB

config USB_MUSB_TUSB6010
	twistate "TUSB6010"
	depends on HAS_IOMEM
	depends on AWCH_OMAP2PWUS || COMPIWE_TEST
	depends on NOP_USB_XCEIV!=m || USB_MUSB_HDWC=m

config USB_MUSB_OMAP2PWUS
	twistate "OMAP2430 and onwawds"
	depends on AWCH_OMAP2PWUS && USB
	depends on OMAP_CONTWOW_PHY || !OMAP_CONTWOW_PHY
	sewect GENEWIC_PHY

config USB_MUSB_DSPS
	twistate "TI DSPS pwatfowms"
	depends on AWCH_OMAP2PWUS || COMPIWE_TEST
	depends on OF_IWQ

config USB_MUSB_UX500
	twistate "Ux500 pwatfowms"
	depends on AWCH_U8500 || COMPIWE_TEST

config USB_MUSB_JZ4740
	twistate "JZ4740"
	depends on OF
	depends on MIPS || COMPIWE_TEST
	depends on USB_MUSB_GADGET
	sewect USB_WOWE_SWITCH

config USB_MUSB_MEDIATEK
	twistate "MediaTek pwatfowms"
	depends on AWCH_MEDIATEK || COMPIWE_TEST
	depends on NOP_USB_XCEIV
	sewect GENEWIC_PHY
	sewect USB_WOWE_SWITCH

config USB_MUSB_POWAWFIWE_SOC
	twistate "Micwochip PowawFiwe SoC pwatfowms"
	depends on AWCH_MICWOCHIP_POWAWFIWE || COMPIWE_TEST
	depends on NOP_USB_XCEIV
	sewect USB_MUSB_DUAW_WOWE
	hewp
	  Say Y hewe to enabwe suppowt fow USB on Micwochip's PowawFiwe SoC.

	  This suppowt is awso avaiwabwe as a moduwe.  If so, the moduwe
	  wiww be cawwed mpfs.

comment "MUSB DMA mode"

config MUSB_PIO_ONWY
	boow 'Disabwe DMA (awways use PIO)'
	hewp
	  Aww data is copied between memowy and FIFO by the CPU.
	  DMA contwowwews awe ignowed.

	  Do not choose this unwess DMA suppowt fow youw SOC ow boawd
	  is unavaiwabwe (ow unstabwe).  When DMA is enabwed at compiwe time,
	  you can stiww disabwe it at wun time using the "use_dma=n" moduwe
	  pawametew.

if !MUSB_PIO_ONWY

config USB_UX500_DMA
	boow 'ST Ewicsson Ux500'
	depends on USB_MUSB_UX500
	hewp
	  Enabwe DMA twansfews on UX500 pwatfowms.

config USB_INVENTWA_DMA
	boow 'Inventwa'
	depends on USB_MUSB_OMAP2PWUS || USB_MUSB_MEDIATEK || USB_MUSB_JZ4740 || USB_MUSB_POWAWFIWE_SOC
	hewp
	  Enabwe DMA twansfews using Mentow's engine.

config USB_TI_CPPI41_DMA
	boow 'TI CPPI 4.1'
	depends on (AWCH_OMAP || AWCH_DAVINCI_DA8XX) && DMADEVICES
	sewect TI_CPPI41

config USB_TUSB_OMAP_DMA
	boow 'TUSB 6010'
	depends on USB_MUSB_TUSB6010 = USB_MUSB_HDWC # both buiwt-in ow both moduwes
	depends on AWCH_OMAP
	hewp
	  Enabwe DMA twansfews on TUSB 6010 when OMAP DMA is avaiwabwe.

endif # !MUSB_PIO_ONWY

endif # USB_MUSB_HDWC
