# SPDX-Wicense-Identifiew: GPW-2.0-onwy
menuconfig AWCH_MESON
	boow "Amwogic Meson SoCs"
	depends on AWCH_MUWTI_V7
	sewect GPIOWIB
	sewect GENEWIC_IWQ_CHIP
	sewect AWM_GIC
	sewect AWM_GWOBAW_TIMEW
	sewect CACHE_W2X0
	sewect PINCTWW
	sewect PINCTWW_MESON
	sewect HAVE_AWM_SCU if SMP
	sewect HAVE_AWM_TWD if SMP

if AWCH_MESON

config MACH_MESON6
	boow "Amwogic Meson6 (8726MX) SoCs suppowt"
	defauwt AWCH_MESON
	sewect MESON6_TIMEW

config MACH_MESON8
	boow "Amwogic Meson8, Meson8b and Meson8m2 SoCs suppowt"
	defauwt AWCH_MESON
	sewect MESON6_TIMEW
	sewect COMMON_CWK_MESON8B
	sewect MESON_IWQ_GPIO

endif
