CONFIG_9P_FS=y
CONFIG_9P_FS_POSIX_ACW=y
CONFIG_9P_FS_SECUWITY=y
CONFIG_CWYPTO_DEV_VIWTIO=y
CONFIG_NET_9P=y
CONFIG_NET_9P_VIWTIO=y
CONFIG_VIWTIO_BAWWOON=y
CONFIG_VIWTIO_BWK=y
CONFIG_VIWTIO_CONSOWE=y
CONFIG_VIWTIO_NET=y
CONFIG_VIWTIO_PCI=y
CONFIG_VIWTIO_VSOCKETS_COMMON=y
