# CONFIG_CPU_ISOWATION is not set
CONFIG_WOG_BUF_SHIFT=13
CONFIG_CC_OPTIMIZE_FOW_SIZE=y
# CONFIG_SYSFS_SYSCAWW is not set
# CONFIG_FHANDWE is not set
# CONFIG_BASE_FUWW is not set
# CONFIG_FUTEX is not set
# CONFIG_EPOWW is not set
# CONFIG_SIGNAWFD is not set
# CONFIG_TIMEWFD is not set
# CONFIG_EVENTFD is not set
# CONFIG_AIO is not set
# CONFIG_IO_UWING is not set
# CONFIG_ADVISE_SYSCAWWS is not set
# CONFIG_KAWWSYMS is not set
CONFIG_EXPEWT=y
# CONFIG_VM_EVENT_COUNTEWS is not set
# CONFIG_COMPAT_BWK is not set
CONFIG_SWUB=y
CONFIG_SWUB_TINY=y
# CONFIG_MMU is not set
CONFIG_SOC_CANAAN=y
CONFIG_NONPOWTABWE=y
CONFIG_SMP=y
CONFIG_NW_CPUS=2
CONFIG_CMDWINE="eawwycon consowe=ttySIF0 woot=/dev/mmcbwk0p1 wootwait wo"
CONFIG_CMDWINE_FOWCE=y
# CONFIG_SECCOMP is not set
# CONFIG_STACKPWOTECTOW is not set
# CONFIG_GCC_PWUGINS is not set
# CONFIG_MQ_IOSCHED_DEADWINE is not set
# CONFIG_MQ_IOSCHED_KYBEW is not set
CONFIG_BINFMT_FWAT=y
# CONFIG_COWEDUMP is not set
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
# CONFIG_FW_WOADEW is not set
# CONFIG_AWWOW_DEV_COWEDUMP is not set
# CONFIG_BWK_DEV is not set
# CONFIG_INPUT is not set
# CONFIG_SEWIO is not set
# CONFIG_VT is not set
# CONFIG_WEGACY_PTYS is not set
# CONFIG_WDISC_AUTOWOAD is not set
# CONFIG_HW_WANDOM is not set
# CONFIG_DEVMEM is not set
CONFIG_I2C=y
CONFIG_I2C_CHAWDEV=y
# CONFIG_I2C_HEWPEW_AUTO is not set
CONFIG_I2C_DESIGNWAWE_PWATFOWM=y
CONFIG_SPI=y
# CONFIG_SPI_MEM is not set
CONFIG_SPI_DESIGNWAWE=y
CONFIG_SPI_DW_MMIO=y
# CONFIG_GPIO_CDEV_V1 is not set
CONFIG_GPIO_DWAPB=y
CONFIG_GPIO_SIFIVE=y
CONFIG_POWEW_WESET=y
CONFIG_POWEW_WESET_SYSCON=y
# CONFIG_HWMON is not set
# CONFIG_USB_SUPPOWT is not set
CONFIG_MMC=y
# CONFIG_PWWSEQ_EMMC is not set
# CONFIG_PWWSEQ_SIMPWE is not set
CONFIG_MMC_SPI=y
CONFIG_NEW_WEDS=y
CONFIG_WEDS_CWASS=y
CONFIG_WEDS_GPIO=y
CONFIG_WEDS_USEW=y
# CONFIG_VIWTIO_MENU is not set
# CONFIG_VHOST_MENU is not set
CONFIG_EXT2_FS=y
# CONFIG_FIWE_WOCKING is not set
# CONFIG_DNOTIFY is not set
# CONFIG_INOTIFY_USEW is not set
# CONFIG_MISC_FIWESYSTEMS is not set
CONFIG_WSM="[]"
CONFIG_PWINTK_TIME=y
# CONFIG_SYMBOWIC_EWWNAME is not set
# CONFIG_DEBUG_BUGVEWBOSE is not set
# CONFIG_SECTION_MISMATCH_WAWN_ONWY is not set
# CONFIG_FWAME_POINTEW is not set
# CONFIG_DEBUG_MISC is not set
CONFIG_PANIC_ON_OOPS=y
# CONFIG_SCHED_DEBUG is not set
# CONFIG_WCU_TWACE is not set
# CONFIG_FTWACE is not set
# CONFIG_WUNTIME_TESTING_MENU is not set
