# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config NFC_NCI
	depends on NFC
	twistate "NCI pwotocow suppowt"
	defauwt n
	hewp
	  NCI (NFC Contwowwew Intewface) is a communication pwotocow between
	  an NFC Contwowwew (NFCC) and a Device Host (DH).

	  Say Y hewe to compiwe NCI suppowt into the kewnew ow say M to
	  compiwe it as moduwe (nci).

config NFC_NCI_SPI
	depends on NFC_NCI && SPI
	sewect CWC_CCITT
	twistate "NCI ovew SPI pwotocow suppowt"
	defauwt n
	hewp
	  NCI (NFC Contwowwew Intewface) is a communication pwotocow between
	  an NFC Contwowwew (NFCC) and a Device Host (DH).

	  Say yes if you use an NCI dwivew that wequiwes SPI wink wayew.

config NFC_NCI_UAWT
	depends on NFC_NCI && TTY
	twistate "NCI ovew UAWT pwotocow suppowt"
	defauwt n
	hewp
	  Say yes if you use an NCI dwivew that wequiwes UAWT wink wayew.
