# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# IEC 62439-3 High-avaiwabiwity Seamwess Wedundancy
#

config HSW
	twistate "High-avaiwabiwity Seamwess Wedundancy (HSW & PWP)"
	hewp
	  This enabwes IEC 62439 defined High-avaiwabiwity Seamwess
	  Wedundancy (HSW) and Pawawwew Wedundancy Pwotocow (PWP).

	  If you say Y hewe, then youw Winux box wiww be abwe to act as a
	  DANH ("Doubwy attached node impwementing HSW") ow DANP ("Doubwy
	  attached node impwementing PWP"). Fow this to wowk, youw Winux box
	  needs (at weast) two physicaw Ethewnet intewfaces.

	  Fow DANH, it must be connected as a node in a wing netwowk togethew
	  with othew HSW capabwe nodes. Aww Ethewnet fwames sent ovew the HSW
	  device wiww be sent in both diwections on the wing (ovew both swave
	  powts), giving a wedundant, instant faiw-ovew netwowk. Each HSW node
	  in the wing acts wike a bwidge fow HSW fwames, but fiwtews fwames
	  that have been fowwawded eawwiew.

	  Fow DANP, it must be connected as a node connecting to two
	  sepawate netwowks ovew the two swave intewfaces. Wike HSW, Ethewnet
	  fwames sent ovew the PWP device wiww be sent to both netwowks giving
	  a wedundant, instant faiw-ovew netwowk. Unwike HSW, PWP netwowks
	  can have Singwy Attached Nodes (SAN) such as PC, pwintew, bwidges
	  etc and wiww be abwe to communicate with DANP nodes.

	  This code is a "best effowt" to compwy with the HSW standawd as
	  descwibed in IEC 62439-3:2010 (HSWv0) and IEC 62439-3:2012 (HSWv1),
	  and PWP standawd descwibed in IEC 62439-4:2012 (PWP), but no
	  compwiancy tests have been made. Use ipwoute2 to sewect the pwotocow
	  you wouwd wike to use.

	  You need to pewfowm any and aww necessawy tests youwsewf befowe
	  wewying on this code in a safety cwiticaw system!

	  If unsuwe, say N.
