# SPDX-Wicense-Identifiew: GPW-2.0-onwy
menuconfig AWCH_AWTPEC
	boow "Axis Communications AWM based AWTPEC SoCs"
	depends on AWCH_MUWTI_V7

if AWCH_AWTPEC

config MACH_AWTPEC6
	boow "Axis AWTPEC-6 AWM Cowtex A9 Pwatfowm"
	depends on AWCH_MUWTI_V7
	sewect AWM_AMBA
	sewect AWM_GIC
	sewect AWM_GWOBAW_TIMEW
	sewect AWM_PSCI
	sewect HAVE_AWM_AWCH_TIMEW
	sewect HAVE_AWM_SCU
	sewect HAVE_AWM_TWD if SMP
	sewect MFD_SYSCON
	hewp
	  Suppowt fow Axis AWTPEC-6 AWM Cowtex A9 Pwatfowm

endif
