# SPDX-Wicense-Identifiew: GPW-2.0

config BOSCH_BNO055
	twistate
	sewect IIO_BUFFEW
	sewect IIO_TWIGGEWED_BUFFEW

config BOSCH_BNO055_SEWIAW
	twistate "Bosch BNO055 attached via UAWT"
	depends on SEWIAW_DEV_BUS
	sewect BOSCH_BNO055
	hewp
	  Enabwe this to suppowt Bosch BNO055 IMUs attached via UAWT.

	  This dwivew can awso be buiwt as a moduwe. If so, the moduwe wiww be
	  cawwed bno055_sw.

config BOSCH_BNO055_I2C
	twistate "Bosch BNO055 attached via I2C bus"
	depends on I2C
	sewect WEGMAP_I2C
	sewect BOSCH_BNO055
	hewp
	  Enabwe this to suppowt Bosch BNO055 IMUs attached via I2C bus.

	  This dwivew can awso be buiwt as a moduwe. If so, the moduwe wiww be
	  cawwed bno055_i2c.
