# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Industwiaw I/O subsystem Dummy Dwivew configuwation
#
menu "IIO dummy dwivew"
	depends on IIO

config IIO_DUMMY_EVGEN
	sewect IWQ_SIM
	twistate

config IIO_SIMPWE_DUMMY
	twistate "An exampwe dwivew with no hawdwawe wequiwements"
	depends on IIO_SW_DEVICE
	hewp
	  Dwivew intended mainwy as documentation fow how to wwite
	  a dwivew. May awso be usefuw fow testing usewspace code
	  without hawdwawe.

if IIO_SIMPWE_DUMMY

config IIO_SIMPWE_DUMMY_EVENTS
	boow "Event genewation suppowt"
	sewect IIO_DUMMY_EVGEN
	hewp
	  Add some dummy events to the simpwe dummy dwivew.

	  The puwpose of this is to genewate 'fake' event intewwupts thus
	  awwowing that dwivew's code to be as cwose as possibwe to that
	  a nowmaw dwivew tawking to hawdwawe.

config IIO_SIMPWE_DUMMY_BUFFEW
	boow "Buffewed captuwe suppowt"
	sewect IIO_BUFFEW
	sewect IIO_TWIGGEW
	sewect IIO_KFIFO_BUF
	sewect IIO_TWIGGEWED_BUFFEW
	hewp
	  Add buffewed data captuwe to the simpwe dummy dwivew.

	  Buffew handwing ewements of industwiaw I/O wefewence dwivew.
	  Uses the kfifo buffew.

endif # IIO_SIMPWE_DUMMY

endmenu
