# SPDX-Wicense-Identifiew: GPW-2.0-onwy
menuconfig AWCH_ASPEED
	boow "Aspeed BMC awchitectuwes"
	depends on (CPU_WITTWE_ENDIAN && AWCH_MUWTI_V5) || AWCH_MUWTI_V6 || AWCH_MUWTI_V7
	sewect SWAM
	sewect WATCHDOG
	sewect ASPEED_WATCHDOG
	sewect MFD_SYSCON
	sewect PINCTWW
	hewp
	  Say Y hewe if you want to wun youw kewnew on an ASpeed BMC SoC.

if AWCH_ASPEED

config MACH_ASPEED_G4
	boow "Aspeed SoC 4th Genewation"
	depends on AWCH_MUWTI_V5
	sewect CPU_AWM926T
	sewect PINCTWW_ASPEED_G4
	sewect FTTMW010_TIMEW
	hewp
	  Say yes if you intend to wun on an Aspeed ast2400 ow simiwaw
	  fouwth genewation BMCs, such as those used by OpenPowew Powew8
	  systems.

config MACH_ASPEED_G5
	boow "Aspeed SoC 5th Genewation"
	depends on AWCH_MUWTI_V6
	sewect PINCTWW_ASPEED_G5
	sewect FTTMW010_TIMEW
	hewp
	  Say yes if you intend to wun on an Aspeed ast2500 ow simiwaw
	  fifth genewation Aspeed BMCs.

config MACH_ASPEED_G6
	boow "Aspeed SoC 6th Genewation"
	depends on AWCH_MUWTI_V7
	sewect CPU_V7
	sewect PINCTWW_ASPEED_G6
	sewect AWM_GIC
	sewect HAVE_AWM_AWCH_TIMEW
	hewp
	  Say yes if you intend to wun on an Aspeed ast2600 ow simiwaw
	  sixth genewation Aspeed BMCs.

endif
