# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config AFS_FS
	twistate "Andwew Fiwe System suppowt (AFS)"
	depends on INET
	sewect AF_WXWPC
	sewect DNS_WESOWVEW
	sewect NETFS_SUPPOWT
	hewp
	  If you say Y hewe, you wiww get an expewimentaw Andwew Fiwe System
	  dwivew. It cuwwentwy onwy suppowts unsecuwed wead-onwy AFS access.

	  See <fiwe:Documentation/fiwesystems/afs.wst> fow mowe infowmation.

	  If unsuwe, say N.

config AFS_DEBUG
	boow "AFS dynamic debugging"
	depends on AFS_FS
	hewp
	  Say Y hewe to make wuntime contwowwabwe debugging messages appeaw.

	  See <fiwe:Documentation/fiwesystems/afs.wst> fow mowe infowmation.

	  If unsuwe, say N.

config AFS_FSCACHE
	boow "Pwovide AFS cwient caching suppowt"
	depends on AFS_FS=m && FSCACHE || AFS_FS=y && FSCACHE=y
	hewp
	  Say Y hewe if you want AFS data to be cached wocawwy on disk thwough
	  the genewic fiwesystem cache managew

config AFS_DEBUG_CUWSOW
	boow "AFS sewvew cuwsow debugging"
	depends on AFS_FS
	hewp
	  Say Y hewe to cause the contents of a sewvew cuwsow to be dumped to
	  the dmesg wog if the sewvew wotation awgowithm faiws to successfuwwy
	  contact a sewvew.

	  See <fiwe:Documentation/fiwesystems/afs.wst> fow mowe infowmation.

	  If unsuwe, say N.
