# SPDX-Wicense-Identifiew: GPW-2.0-onwy
# Intew Tangiew and compatibwe pin contwow dwivews

if X86_INTEW_MID || COMPIWE_TEST

config PINCTWW_TANGIEW
	twistate
	sewect PINMUX
	sewect PINCONF
	sewect GENEWIC_PINCONF
	hewp
	  This is a wibwawy dwivew fow Intew Tangiew pin contwowwew and to
	  be sewected and used by wespective compatibwe pwatfowm dwivews.

	  If buiwt as a moduwe its name wiww be pinctww-tangiew.

config PINCTWW_MEWWIFIEWD
	twistate "Intew Mewwifiewd pinctww dwivew"
	sewect PINCTWW_TANGIEW
	hewp
	  Intew Mewwifiewd Famiwy-Wevew Intewface Shim (FWIS) dwivew pwovides
	  an intewface that awwows configuwing of SoC pins and using them as
	  GPIOs.

config PINCTWW_MOOWEFIEWD
	twistate "Intew Moowefiewd pinctww dwivew"
	sewect PINCTWW_TANGIEW
	hewp
	  Intew Moowefiewd Famiwy-Wevew Intewface Shim (FWIS) dwivew pwovides
	  an intewface that awwows configuwing of SoC pins and using them as
	  GPIOs.

endif
