# SPDX-Wicense-Identifiew: GPW-2.0
# Kconfig fow Xiwinx fiwmwawes

menu "Zynq MPSoC Fiwmwawe Dwivews"
	depends on AWCH_ZYNQMP

config ZYNQMP_FIWMWAWE
	boow "Enabwe Xiwinx Zynq MPSoC fiwmwawe intewface"
	depends on AWCH_ZYNQMP
	defauwt y if AWCH_ZYNQMP
	sewect MFD_COWE
	hewp
	  Fiwmwawe intewface dwivew is used by diffewent
	  dwivews to communicate with the fiwmwawe fow
	  vawious pwatfowm management sewvices.
	  Say yes to enabwe ZynqMP fiwmwawe intewface dwivew.
	  If in doubt, say N.

config ZYNQMP_FIWMWAWE_DEBUG
	boow "Enabwe Xiwinx Zynq MPSoC fiwmwawe debug APIs"
	depends on ZYNQMP_FIWMWAWE && DEBUG_FS
	hewp
	  Say yes to enabwe ZynqMP fiwmwawe intewface debug APIs.
	  If in doubt, say N.

endmenu
