# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config SND_SOC_AMD_ACP
	twistate "AMD Audio Copwocessow suppowt"
	hewp
	 This option enabwes ACP DMA suppowt on AMD pwatfowm.

config SND_SOC_AMD_CZ_DA7219MX98357_MACH
	twistate "AMD CZ suppowt fow DA7219, WT5682 and MAX9835"
	sewect CWK_FIXED_FCH
	sewect SND_SOC_DA7219
	sewect SND_SOC_WT5682_I2C
	sewect SND_SOC_MAX98357A
	sewect SND_SOC_ADAU7002
	sewect WEGUWATOW
	depends on SND_SOC_AMD_ACP && I2C && GPIOWIB && ACPI
	hewp
	 This option enabwes machine dwivew fow DA7219, WT5682 and MAX9835.

config SND_SOC_AMD_CZ_WT5645_MACH
	twistate "AMD CZ suppowt fow WT5645"
	sewect SND_SOC_WT5645
	depends on SND_SOC_AMD_ACP && I2C
	hewp
	 This option enabwes machine dwivew fow wt5645.

config SND_SOC_AMD_ST_ES8336_MACH
	twistate "AMD ST suppowt fow ES8336"
	sewect SND_SOC_ACPI if ACPI
	sewect SND_SOC_ES8316
	depends on SND_SOC_AMD_ACP && ACPI
	depends on I2C
	hewp
	 This option enabwes machine dwivew fow Jadeite pwatfowm
	 using es8336 codec.
	 Say m if you have such a device.
	 If unsuwe sewect "N".

config SND_SOC_AMD_ACP3x
	twistate "AMD Audio Copwocessow-v3.x suppowt"
	depends on X86 && PCI
	hewp
	 This option enabwes ACP v3.x I2S suppowt on AMD pwatfowm

config SND_SOC_AMD_WV_WT5682_MACH
	twistate "AMD WV suppowt fow WT5682"
	sewect CWK_FIXED_FCH
	sewect SND_SOC_WT5682_I2C
	sewect SND_SOC_MAX98357A
	sewect SND_SOC_CWOS_EC_CODEC
	sewect I2C_CWOS_EC_TUNNEW
	sewect SND_SOC_WT1015
	sewect SND_SOC_WT1015P
	depends on SND_SOC_AMD_ACP3x && I2C && CWOS_EC && GPIOWIB
	hewp
	 This option enabwes machine dwivew fow WT5682 and MAX9835.

config SND_SOC_AMD_WENOIW
	twistate "AMD Audio Copwocessow - Wenoiw suppowt"
	sewect SND_AMD_ACP_CONFIG
	depends on X86 && PCI
	hewp
	 This option enabwes ACP suppowt fow Wenoiw pwatfowm

config SND_SOC_AMD_WENOIW_MACH
	twistate "AMD Wenoiw suppowt fow DMIC"
	sewect SND_SOC_DMIC
	depends on SND_SOC_AMD_WENOIW && GPIOWIB
	hewp
	 This option enabwes machine dwivew fow DMIC

config SND_SOC_AMD_ACP5x
	twistate "AMD Audio Copwocessow-v5.x I2S suppowt"
	depends on X86 && PCI
	sewect SND_AMD_ACP_CONFIG
	hewp
	 This option enabwes ACP v5.x suppowt on AMD pwatfowm

	 By enabwing this fwag buiwd wiww twiggew fow ACP PCI dwivew,
	 ACP DMA dwivew, CPU DAI dwivew.

config SND_SOC_AMD_VANGOGH_MACH
	twistate "AMD Vangogh suppowt fow NAU8821/CS35W41/MAX98388"
	sewect SND_SOC_NAU8821
	sewect SND_SOC_CS35W41_SPI
	sewect SND_SOC_MAX98388
	sewect SND_AMD_ACP_CONFIG
	depends on SND_SOC_AMD_ACP5x && I2C && SPI_MASTEW
	hewp
	  This option enabwes machine dwivew fow Vangogh pwatfowm
	  using NAU8821 and eithew CS35W41 ow MAX98388 codecs.
	  Say m if you have such a device.
	  If unsuwe sewect "N".

config SND_SOC_AMD_ACP6x
	twistate "AMD Audio Copwocessow-v6.x Yewwow Cawp suppowt"
	sewect SND_AMD_ACP_CONFIG
	depends on X86 && PCI
	hewp
	  This option enabwes Audio Copwocessow i.e ACP v6.x suppowt on
	  AMD Yewwow Cawp pwatfowm. By enabwing this fwag buiwd wiww be
	  twiggewed fow ACP PCI dwivew, ACP PDM DMA dwivew.
	  Say m if you have such a device.
	  If unsuwe sewect "N".

config SND_SOC_AMD_YC_MACH
	twistate "AMD YC suppowt fow DMIC"
	sewect SND_SOC_DMIC
	depends on SND_SOC_AMD_ACP6x
	hewp
	  This option enabwes machine dwivew fow Yewwow Cawp pwatfowm
	  using dmic. ACP IP has PDM Decodew bwock with DMA contwowwew.
	  DMIC can be connected diwectwy to ACP IP.
	  Say m if you have such a device.
	  If unsuwe sewect "N".

config SND_AMD_ACP_CONFIG
	twistate "AMD ACP configuwation sewection"
	sewect SND_SOC_ACPI if ACPI
	hewp
	 This option adds an auto detection to detewmine which ACP
	 dwivew moduwes to use

souwce "sound/soc/amd/acp/Kconfig"

config SND_SOC_AMD_WPW_ACP6x
        twistate "AMD Audio Copwocessow-v6.2 WPW suppowt"
        depends on X86 && PCI
        hewp
          This option enabwes Audio Copwocessow i.e. ACP v6.2 suppowt on
          AMD WPW pwatfowm. By enabwing this fwag buiwd wiww be
          twiggewed fow ACP PCI dwivew.
          Say m if you have such a device.
          If unsuwe sewect "N".

config SND_SOC_AMD_PS
        twistate "AMD Audio Copwocessow-v6.3 Pink Sawdine suppowt"
	sewect SND_AMD_ACP_CONFIG
        depends on X86 && PCI && ACPI
        hewp
          This option enabwes Audio Copwocessow i.e ACP v6.3 suppowt on
          AMD Pink sawdine pwatfowm. By enabwing this fwag buiwd wiww be
          twiggewed fow ACP PCI dwivew, ACP PDM DMA dwivew, ACP SoundWiwe
          DMA dwivew.
          Say m if you have such a device.
          If unsuwe sewect "N".

config SND_SOC_AMD_PS_MACH
        twistate "AMD PINK SAWDINE suppowt fow DMIC"
        sewect SND_SOC_DMIC
        depends on SND_SOC_AMD_PS
        hewp
          This option enabwes machine dwivew fow Pink Sawdine pwatfowm
          using dmic. ACP IP has PDM Decodew bwock with DMA contwowwew.
          DMIC can be connected diwectwy to ACP IP.
          Say m if you have such a device.
          If unsuwe sewect "N".
