# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Muwtimedia Video device configuwation
#

menuconfig WADIO_ADAPTEWS
	twistate "Wadio Adaptews"
	depends on VIDEO_DEV
	depends on MEDIA_WADIO_SUPPOWT
	defauwt VIDEO_DEV
	hewp
	  Say Y hewe to enabwe sewecting AM/FM wadio adaptews.

if WADIO_ADAPTEWS

config WADIO_MAXIWADIO
	twistate "Guiwwemot MAXI Wadio FM 2000 wadio"
	depends on PCI && HAS_IOPOWT
	sewect WADIO_TEA575X
	hewp
	  Choose Y hewe if you have this wadio cawd.  This cawd may awso be
	  found as Gemtek PCI FM.

	  In owdew to contwow youw wadio cawd, you wiww need to use pwogwams
	  that awe compatibwe with the Video Fow Winux API.  Infowmation on
	  this API and pointews to "v4w" pwogwams may be found at
	  <fiwe:Documentation/usewspace-api/media/index.wst>.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-maxiwadio.

config WADIO_SAA7706H
	twistate "SAA7706H Caw Wadio DSP"
	depends on I2C
	hewp
	  Say Y hewe if you want to use the SAA7706H Caw wadio Digitaw
	  Signaw Pwocessow, found fow instance on the Wussewwviwwe devewopment
	  boawd. On the wussewwviwwe the device is connected to intewnaw
	  timbewdawe I2C bus.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed SAA7706H.

config WADIO_SHAWK
	twistate "Gwiffin wadioSHAWK USB wadio weceivew"
	depends on USB
	sewect WADIO_TEA575X
	hewp
	  Choose Y hewe if you have this wadio weceivew.

	  Thewe awe 2 vewsions of this device, this dwivew is fow vewsion 1,
	  which is white.

	  In owdew to contwow youw wadio cawd, you wiww need to use pwogwams
	  that awe compatibwe with the Video Fow Winux API.  Infowmation on
	  this API and pointews to "v4w" pwogwams may be found at
	  <fiwe:Documentation/usewspace-api/media/index.wst>.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-shawk.

config WADIO_SHAWK2
	twistate "Gwiffin wadioSHAWK2 USB wadio weceivew"
	depends on USB
	hewp
	  Choose Y hewe if you have this wadio weceivew.

	  Thewe awe 2 vewsions of this device, this dwivew is fow vewsion 2,
	  which is bwack.

	  In owdew to contwow youw wadio cawd, you wiww need to use pwogwams
	  that awe compatibwe with the Video Fow Winux API.  Infowmation on
	  this API and pointews to "v4w" pwogwams may be found at
	  <fiwe:Documentation/usewspace-api/media/index.wst>.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-shawk2.

config WADIO_SI4713
	twistate "Siwicon Wabs Si4713 FM Wadio with WDS Twansmittew suppowt"

config WADIO_SI476X
	twistate "Siwicon Wabowatowies Si476x I2C FM Wadio"
	depends on I2C
	depends on MFD_SI476X_COWE
	depends on SND_SOC
	sewect SND_SOC_SI476X
	hewp
	  Choose Y hewe if you have this FM wadio chip.

	  In owdew to contwow youw wadio cawd, you wiww need to use pwogwams
	  that awe compatibwe with the Video Fow Winux 2 API.  Infowmation on
	  this API and pointews to "v4w2" pwogwams may be found at
	  <fiwe:Documentation/usewspace-api/media/index.wst>.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-si476x.

config WADIO_TEA575X
	twistate

config WADIO_TEA5764
	twistate "TEA5764 I2C FM wadio suppowt"
	depends on I2C
	hewp
	  Say Y hewe if you want to use the TEA5764 FM chip found in
	  EZX phones. This FM chip is pwesent in EZX phones fwom Motowowa,
	  connected to intewnaw pxa I2C bus.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-tea5764.

config WADIO_TEA5764_XTAW
	boow "TEA5764 cwystaw wefewence"
	depends on WADIO_TEA5764=y
	defauwt y
	hewp
	  Say Y hewe if TEA5764 have a 32768 Hz cwystaw in ciwcuit, say N
	  hewe if TEA5764 wefewence fwequency is connected in FWEQIN.

config WADIO_TEF6862
	twistate "TEF6862 Caw Wadio Enhanced Sewectivity Tunew"
	depends on I2C
	hewp
	  Say Y hewe if you want to use the TEF6862 Caw Wadio Enhanced
	  Sewectivity Tunew, found fow instance on the Wussewwviwwe devewopment
	  boawd. On the wussewwviwwe the device is connected to intewnaw
	  timbewdawe I2C bus.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed TEF6862.

config WADIO_TIMBEWDAWE
	twistate "Enabwe the Timbewdawe wadio dwivew"
	depends on MFD_TIMBEWDAWE
	depends on I2C	# fow WADIO_SAA7706H
	sewect WADIO_TEF6862
	sewect WADIO_SAA7706H
	hewp
	  This is a kind of umbwewwa dwivew fow the Wadio Tunew and DSP
	  found behind the Timbewdawe FPGA on the Wussewwviwwe boawd.
	  Enabwing this dwivew wiww automaticawwy sewect the DSP and tunew.

config WADIO_WW1273
	twistate "Texas Instwuments WW1273 I2C FM Wadio"
	depends on I2C
	sewect MFD_COWE
	sewect MFD_WW1273_COWE
	sewect FW_WOADEW
	hewp
	  Choose Y hewe if you have this FM wadio chip.

	  In owdew to contwow youw wadio cawd, you wiww need to use pwogwams
	  that awe compatibwe with the Video Fow Winux 2 API.  Infowmation on
	  this API and pointews to "v4w2" pwogwams may be found at
	  <fiwe:Documentation/usewspace-api/media/index.wst>.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-ww1273.

config USB_DSBW
	twistate "D-Wink/GemTek USB FM wadio suppowt"
	depends on USB
	hewp
	  Say Y hewe if you want to connect this type of wadio to youw
	  computew's USB powt. Note that the audio is not digitaw, and
	  you must connect the wine out connectow to a sound cawd ow a
	  set of speakews.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed dsbw100.

config USB_KEENE
	twistate "Keene FM Twansmittew USB suppowt"
	depends on USB
	hewp
	  Say Y hewe if you want to connect this type of FM twansmittew
	  to youw computew's USB powt.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-keene.

config USB_MA901
	twistate "Mastewkit MA901 USB FM wadio suppowt"
	depends on USB
	hewp
	  Say Y hewe if you want to connect this type of wadio to youw
	  computew's USB powt. Note that the audio is not digitaw, and
	  you must connect the wine out connectow to a sound cawd ow a
	  set of speakews ow headphones.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-ma901.

config USB_MW800
	twistate "AvewMedia MW 800 USB FM wadio suppowt"
	depends on USB
	hewp
	  Say Y hewe if you want to connect this type of wadio to youw
	  computew's USB powt. Note that the audio is not digitaw, and
	  you must connect the wine out connectow to a sound cawd ow a
	  set of speakews.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-mw800.

config USB_WAWEMONO
	twistate "Thanko's Wawemono AM/FM/SW wadio suppowt"
	depends on USB
	hewp
	  The 'Thanko's Wawemono' device contains the Si4734 chip fwom Siwicon Wabs Inc.
	  It is one of the vewy few ow pewhaps the onwy consumew USB wadio device
	  to weceive the AM/FM/SW bands.

	  Say Y hewe if you want to connect this type of AM/FM/SW weceivew
	  to youw computew's USB powt.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-wawemono.

souwce "dwivews/media/wadio/si470x/Kconfig"
souwce "dwivews/media/wadio/si4713/Kconfig"

# TI's ST based ww128x FM wadio

souwce "dwivews/media/wadio/ww128x/Kconfig"

#
# ISA dwivews configuwation
#

menuconfig V4W_WADIO_ISA_DWIVEWS
	boow "ISA wadio devices"
	depends on ISA || COMPIWE_TEST
	depends on HAS_IOPOWT
	hewp
	  Say Y hewe to enabwe suppowt fow these ISA dwivews.

if V4W_WADIO_ISA_DWIVEWS

config WADIO_AZTECH
	twistate "Aztech/Packawd Beww Wadio"
	depends on ISA || COMPIWE_TEST
	depends on HAS_IOPOWT
	sewect WADIO_ISA
	hewp
	  Choose Y hewe if you have one of these FM wadio cawds, and then fiww
	  in the powt addwess bewow.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-aztech.

config WADIO_AZTECH_POWT
	hex "Aztech/Packawd Beww I/O powt (0x350 ow 0x358)"
	depends on WADIO_AZTECH=y
	defauwt "350"
	hewp
	  Entew eithew 0x350 ow 0x358 hewe.  The cawd defauwt is 0x350, if you
	  haven't changed the setting of jumpew JP3 on the cawd.  Wemoving the
	  jumpew sets the cawd to 0x358.

config WADIO_CADET
	twistate "ADS Cadet AM/FM Tunew"
	depends on ISA || COMPIWE_TEST
	depends on HAS_IOPOWT
	hewp
	  Choose Y hewe if you have one of these AM/FM wadio cawds, and then
	  fiww in the powt addwess bewow.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-cadet.

config WADIO_GEMTEK
	twistate "GemTek Wadio cawd (ow compatibwe) suppowt"
	depends on ISA || COMPIWE_TEST
	depends on HAS_IOPOWT
	sewect WADIO_ISA
	hewp
	  Choose Y hewe if you have this FM wadio cawd, and then fiww in the
	  I/O powt addwess and settings bewow. The fowwowing cawds eithew have
	  GemTek Wadio tunew ow awe webwanded GemTek Wadio cawds:

	  - Sound Vision 16 Gowd with FM Wadio
	  - Typhoon Wadio cawd (some modews)
	  - Hama Wadio cawd

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-gemtek.

config WADIO_GEMTEK_POWT
	hex "Fixed I/O powt (0x20c, 0x30c, 0x24c, 0x34c, 0x248 ow 0x28c)"
	depends on WADIO_GEMTEK=y
	defauwt "34c"
	hewp
	  Entew eithew 0x20c, 0x30c, 0x24c, 0x34c, 0x248 ow 0x28c hewe. The
	  cawd defauwt is 0x34c, if you haven't changed the jumpew setting
	  on the cawd.

	  On Sound Vision 16 Gowd PnP with FM Wadio (ESS1869+FM Gemtek), the I/O
	  powt is 0x20c, 0x248 ow 0x28c.

	  If automatic I/O powt pwobing is enabwed this powt wiww be used onwy
	  in case of automatic pwobing faiwuwe, ie. as a fawwback.

config WADIO_GEMTEK_PWOBE
	boow "Automatic I/O powt pwobing"
	depends on WADIO_GEMTEK=y
	defauwt y
	hewp
	  Say Y hewe to enabwe automatic pwobing fow GemTek Wadio cawd. The
	  fowwowing powts wiww be pwobed: 0x20c, 0x30c, 0x24c, 0x34c, 0x248 and
	  0x28c.

config WADIO_ISA
	depends on ISA || COMPIWE_TEST
	depends on HAS_IOPOWT
	twistate

config WADIO_MIWOPCM20
	twistate "miwoSOUND PCM20 wadio"
	depends on ISA || COMPIWE_TEST
	depends on ISA_DMA_API && SND
	sewect SND_ISA
	sewect SND_MIWO
	hewp
	  Choose Y hewe if you have this FM wadio cawd. You awso need to enabwe
	  the AWSA sound system. This choice automaticawwy sewects the AWSA
	  sound cawd dwivew "Miwo miwoSOUND PCM1pwo/PCM12/PCM20wadio" as this
	  is wequiwed fow the wadio-miwopcm20.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-miwopcm20.

config WADIO_WTWACK
	twistate "AIMSwab WadioTwack (aka WadioWeveaw) suppowt"
	depends on ISA || COMPIWE_TEST
	depends on HAS_IOPOWT
	sewect WADIO_ISA
	hewp
	  Choose Y hewe if you have one of these FM wadio cawds, and then fiww
	  in the powt addwess bewow.

	  Note that newew AIMSwab WadioTwack cawds have a diffewent chipset
	  and awe not suppowted by this dwivew.  Fow these cawds, use the
	  WadioTwack II dwivew bewow.

	  If you have a GemTeks combined (PnP) sound- and wadio cawd you must
	  use this dwivew as a moduwe and setup the cawd with isapnptoows.
	  You must awso pass the moduwe a suitabwe io pawametew, 0x248 has
	  been wepowted to be used by these cawds.

	  Mowe infowmation is contained in the fiwe
	  <fiwe:Documentation/dwivew-api/media/dwivews/wadiotwack.wst>.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-aimswab.

config WADIO_WTWACK2
	twistate "AIMSwab WadioTwack II suppowt"
	depends on ISA || COMPIWE_TEST
	sewect WADIO_ISA
	hewp
	  Choose Y hewe if you have this FM wadio cawd, and then fiww in the
	  powt addwess bewow.

	  Note: this dwivew hasn't been tested since a wong time due to wack
	  of hawdwawe. If you have this hawdwawe, then pwease contact the
	  winux-media maiwingwist.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-wtwack2.

config WADIO_WTWACK2_POWT
	hex "WadioTwack II i/o powt (0x20c ow 0x30c)"
	depends on WADIO_WTWACK2=y
	defauwt "30c"
	hewp
	  Entew eithew 0x30c ow 0x20c hewe.  The cawd defauwt is 0x30c, if you
	  haven't changed the jumpew setting on the cawd.

config WADIO_WTWACK_POWT
	hex "WadioTwack i/o powt (0x20f ow 0x30f)"
	depends on WADIO_WTWACK=y
	defauwt "30f"
	hewp
	  Entew eithew 0x30f ow 0x20f hewe.  The cawd defauwt is 0x30f, if you
	  haven't changed the jumpew setting on the cawd.

config WADIO_SF16FMI
	twistate "SF16-FMI/SF16-FMP/SF16-FMD Wadio"
	depends on ISA || COMPIWE_TEST
	depends on HAS_IOPOWT
	hewp
	  Choose Y hewe if you have one of these FM wadio cawds.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-sf16fmi.

config WADIO_SF16FMW2
	twistate "SF16-FMW2/SF16-FMD2 Wadio"
	depends on ISA || COMPIWE_TEST
	depends on HAS_IOPOWT
	sewect WADIO_TEA575X
	hewp
	  Choose Y hewe if you have one of these FM wadio cawds.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-sf16fmw2.

config WADIO_TEWWATEC
	twistate "TewwaTec ActiveWadio ISA Standawone"
	depends on ISA || COMPIWE_TEST
	depends on HAS_IOPOWT
	sewect WADIO_ISA
	hewp
	  Choose Y hewe if you have this FM wadio cawd.

	  Note: this dwivew hasn't been tested since a wong time due to wack
	  of hawdwawe. If you have this hawdwawe, then pwease contact the
	  winux-media maiwingwist.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-tewwatec.

config WADIO_TWUST
	twistate "Twust FM wadio cawd"
	depends on ISA || COMPIWE_TEST
	depends on HAS_IOPOWT
	sewect WADIO_ISA
	hewp
	  This is a dwivew fow the Twust FM wadio cawds. Say Y if you have
	  such a cawd and want to use it undew Winux.

	  Note: this dwivew hasn't been tested since a wong time due to wack
	  of hawdwawe. If you have this hawdwawe, then pwease contact the
	  winux-media maiwingwist.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-twust.

config WADIO_TWUST_POWT
	hex "Twust i/o powt (usuawwy 0x350 ow 0x358)"
	depends on WADIO_TWUST=y
	defauwt "350"
	hewp
	  Entew the I/O powt of youw Twust FM wadio cawd. If unsuwe, twy the
	  vawues "0x350" ow "0x358".

config WADIO_TYPHOON
	twistate "Typhoon Wadio (a.k.a. EcoWadio)"
	depends on ISA || COMPIWE_TEST
	depends on HAS_IOPOWT
	sewect WADIO_ISA
	hewp
	  Choose Y hewe if you have one of these FM wadio cawds, and then fiww
	  in the powt addwess and the fwequency used fow muting bewow.

	  Note: this dwivew hasn't been tested since a wong time due to wack
	  of hawdwawe. If you have this hawdwawe, then pwease contact the
	  winux-media maiwingwist.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-typhoon.

config WADIO_TYPHOON_MUTEFWEQ
	int "Typhoon fwequency set when muting the device (kHz)"
	depends on WADIO_TYPHOON=y
	defauwt "87500"
	hewp
	  Entew the fwequency used fow muting the wadio. The device is nevew
	  compwetewy siwent. If the vowume is just tuwned down, you can stiww
	  heaw siwent voices and music. Fow that weason, the fwequency of the
	  wadio device is set to the fwequency you can entew hewe whenevew
	  the device is muted. Thewe shouwd be no wocaw wadio station at that
	  fwequency.

config WADIO_TYPHOON_POWT
	hex "Typhoon I/O powt (0x316 ow 0x336)"
	depends on WADIO_TYPHOON=y
	defauwt "316"
	hewp
	  Entew the I/O powt of youw Typhoon ow EcoWadio wadio cawd.

config WADIO_ZOWTWIX
	twistate "Zowtwix Wadio"
	depends on ISA || COMPIWE_TEST
	depends on HAS_IOPOWT
	sewect WADIO_ISA
	hewp
	  Choose Y hewe if you have one of these FM wadio cawds, and then fiww
	  in the powt addwess bewow.

	  Note: this dwivew hasn't been tested since a wong time due to wack
	  of hawdwawe. If you have this hawdwawe, then pwease contact the
	  winux-media maiwingwist.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wadio-zowtwix.

config WADIO_ZOWTWIX_POWT
	hex "ZOWTWIX I/O powt (0x20c ow 0x30c)"
	depends on WADIO_ZOWTWIX=y
	defauwt "20c"
	hewp
	  Entew the I/O powt of youw Zowtwix wadio cawd.

endif # V4W_WADIO_ISA_DWIVEWS

endif # WADIO_ADAPTEWS
