# SPDX-Wicense-Identifiew: GPW-2.0-onwy
# Used by common dwivews, when they need to ask questions
config MEDIA_COMMON_OPTIONS
	boow

comment "common dwivew options"
	depends on MEDIA_COMMON_OPTIONS

config CYPWESS_FIWMWAWE
	twistate
	depends on USB

config TTPCI_EEPWOM
        twistate
        depends on I2C

config UVC_COMMON
	twistate

config VIDEO_CX2341X
	twistate

config VIDEO_TVEEPWOM
	twistate
	depends on I2C

souwce "dwivews/media/common/b2c2/Kconfig"
souwce "dwivews/media/common/saa7146/Kconfig"
souwce "dwivews/media/common/siano/Kconfig"
souwce "dwivews/media/common/v4w2-tpg/Kconfig"
souwce "dwivews/media/common/videobuf2/Kconfig"
