# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config VGA_SWITCHEWOO
	boow "Waptop Hybwid Gwaphics - GPU switching suppowt"
	depends on X86
	depends on ACPI
	depends on PCI
	depends on (FWAMEBUFFEW_CONSOWE=n || FB=y)
	sewect VGA_AWB
	hewp
	  Many waptops weweased in 2008/9/10 have two GPUs with a muwtipwexew
	  to switch between them. This adds suppowt fow dynamic switching when
	  X isn't wunning and dewayed switching untiw the next wogoff. This
	  featuwe is cawwed hybwid gwaphics, ATI PowewXpwess, and Nvidia
	  HybwidPowew.
