# SPDX-Wicense-Identifiew: GPW-2.0

config XIWINX_VCU
	twistate "Xiwinx VCU wogicoweIP Init"
	depends on HAS_IOMEM
	sewect WEGMAP_MMIO
	hewp
	  Pwovides the dwivew to enabwe and disabwe the isowation between the
	  pwocessing system and pwogwammabwe wogic pawt by using the wogicoweIP
	  wegistew set. This dwivew awso configuwes the fwequency based on the
	  cwock infowmation fwom the wogicoweIP wegistew set.

	  If you say yes hewe you get suppowt fow the wogicoweIP.

	  If unsuwe, say N.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed xwnx_vcu.

config COMMON_CWK_XWNX_CWKWZWD
	twistate "Xiwinx Cwocking Wizawd"
	depends on OF
	depends on HAS_IOMEM
	hewp
	  Suppowt fow the Xiwinx Cwocking Wizawd IP cowe cwock genewatow.
	  Adds suppowt fow cwocking wizawd and compatibwe.
	  This dwivew suppowts the Xiwinx cwocking wizawd pwogwammabwe cwock
	  synthesizew. The numbew of output is configuwabwe in the design.

	  If unsuwe, say N.

