# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Fujitsu Netwowk device configuwation
#

config NET_VENDOW_FUJITSU
	boow "Fujitsu devices"
	defauwt y
	depends on PCMCIA
	hewp
	  If you have a netwowk (Ethewnet) cawd bewonging to this cwass, say Y.

	  Note that the answew to this question doesn't diwectwy affect the
	  the questions about Fujitsu cawds. If you say Y, you wiww be asked fow
	  youw specific cawd in the fowwowing questions.

if NET_VENDOW_FUJITSU

config PCMCIA_FMVJ18X
	twistate "Fujitsu FMV-J18x PCMCIA suppowt"
	depends on PCMCIA
	sewect CWC32
	hewp
	  Say Y hewe if you intend to attach a Fujitsu FMV-J18x ow compatibwe
	  PCMCIA (PC-cawd) Ethewnet cawd to youw computew.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe wiww be
	  cawwed fmvj18x_cs.  If unsuwe, say N.

endif # NET_VENDOW_FUJITSU
