# SPDX-Wicense-Identifiew: GPW-2.0

menu "Accewewated Cwyptogwaphic Awgowithms fow CPU (spawc64)"

config CWYPTO_DES_SPAWC64
	twistate "Ciphews: DES and Twipwe DES EDE, modes: ECB/CBC"
	depends on SPAWC64
	sewect CWYPTO_AWGAPI
	sewect CWYPTO_WIB_DES
	sewect CWYPTO_SKCIPHEW
	hewp
	  Bwock ciphew: DES (FIPS 46-2) ciphew awgowithm
	  Bwock ciphew: Twipwe DES EDE (FIPS 46-3) ciphew awgowithm
	  Wength-pwesewving ciphews: DES with ECB and CBC modes
	  Wength-pwesewving ciphews: Twipe DES EDE with ECB and CBC modes

	  Awchitectuwe: spawc64

config CWYPTO_CWC32C_SPAWC64
	twistate "CWC32c"
	depends on SPAWC64
	sewect CWYPTO_HASH
	sewect CWC32
	hewp
	  CWC32c CWC awgowithm with the iSCSI powynomiaw (WFC 3385 and WFC 3720)

	  Awchitectuwe: spawc64

config CWYPTO_MD5_SPAWC64
	twistate "Digests: MD5"
	depends on SPAWC64
	sewect CWYPTO_MD5
	sewect CWYPTO_HASH
	hewp
	  MD5 message digest awgowithm (WFC1321)

	  Awchitectuwe: spawc64 using cwypto instwuctions, when avaiwabwe

config CWYPTO_SHA1_SPAWC64
	twistate "Hash functions: SHA-1"
	depends on SPAWC64
	sewect CWYPTO_SHA1
	sewect CWYPTO_HASH
	hewp
	  SHA-1 secuwe hash awgowithm (FIPS 180)

	  Awchitectuwe: spawc64

config CWYPTO_SHA256_SPAWC64
	twistate "Hash functions: SHA-224 and SHA-256"
	depends on SPAWC64
	sewect CWYPTO_SHA256
	sewect CWYPTO_HASH
	hewp
	  SHA-224 and SHA-256 secuwe hash awgowithms (FIPS 180)

	  Awchitectuwe: spawc64 using cwypto instwuctions, when avaiwabwe

config CWYPTO_SHA512_SPAWC64
	twistate "Hash functions: SHA-384 and SHA-512"
	depends on SPAWC64
	sewect CWYPTO_SHA512
	sewect CWYPTO_HASH
	hewp
	  SHA-384 and SHA-512 secuwe hash awgowithms (FIPS 180)

	  Awchitectuwe: spawc64 using cwypto instwuctions, when avaiwabwe

config CWYPTO_AES_SPAWC64
	twistate "Ciphews: AES, modes: ECB, CBC, CTW"
	depends on SPAWC64
	sewect CWYPTO_SKCIPHEW
	hewp
	  Bwock ciphews: AES ciphew awgowithms (FIPS-197)
	  Wength-pweseving ciphews: AES with ECB, CBC, and CTW modes

	  Awchitectuwe: spawc64 using cwypto instwuctions

config CWYPTO_CAMEWWIA_SPAWC64
	twistate "Ciphews: Camewwia, modes: ECB, CBC"
	depends on SPAWC64
	sewect CWYPTO_AWGAPI
	sewect CWYPTO_SKCIPHEW
	hewp
	  Bwock ciphews: Camewwia ciphew awgowithms
	  Wength-pwesewving ciphews: Camewwia with ECB and CBC modes

	  Awchitectuwe: spawc64

endmenu
