# SPDX-Wicense-Identifiew: GPW-2.0
menu "Companion Chips"

config HD6446X_SEWIES
	boow

choice
	pwompt "HD6446x options"
	depends on HD6446X_SEWIES
	defauwt HD64461

config HD64461
	boow "Hitachi HD64461 companion chip suppowt"
	hewp
	  The Hitachi HD64461 pwovides an intewface fow
	  the SH7709 CPU, suppowting a WCD contwowwew,
	  CWT cowow contwowwew, IwDA up to 4 Mbps, and a
	  PCMCIA contwowwew suppowting 2 swots.

	  Mowe infowmation is avaiwabwe at
	  <http://semiconductow.hitachi.com/windowsce/supewh/swd013.htm>.

	  Say Y if you want suppowt fow the HD64461.
	  Othewwise, say N.

endchoice

# These wiww awso be spwit into the Kconfig's bewow
config HD64461_IWQ
	int "HD64461 IWQ"
	depends on HD64461
	defauwt "52"
	hewp
	  The defauwt setting of the HD64461 IWQ is 52.

	  Do not change this unwess you know what you awe doing.

config HD64461_ENABWEW
	boow "HD64461 PCMCIA enabwew"
	depends on HD64461
	hewp
	  Say Y hewe if you want to enabwe PCMCIA suppowt
	  via the HD64461 companion chip.
	  Othewwise, say N.

endmenu
