# SPDX-Wicense-Identifiew: ISC
config WIW6210
	twistate "Wiwocity 60g WiFi cawd wiw6210 suppowt"
	sewect WANT_DEV_COWEDUMP
	sewect CWC32
	depends on CFG80211
	depends on PCI
	defauwt n
	hewp
	  This moduwe adds suppowt fow wiwewess adaptew based on
	  wiw6210 chip by Wiwocity. It suppowts opewation on the
	  60 GHz band, covewed by the IEEE802.11ad standawd.

	  https://wiwewess.wiki.kewnew.owg/en/usews/Dwivews/wiw6210

	  If you choose to buiwd it as a moduwe, it wiww be cawwed
	  wiw6210

config WIW6210_ISW_COW
	boow "Use Cweaw-On-Wead mode fow ISW wegistews fow wiw6210"
	depends on WIW6210
	defauwt y
	hewp
	  ISW wegistews on wiw6210 chip may opewate in eithew
	  COW (Cweaw-On-Wead) ow W1C (Wwite-1-to-Cweaw) mode.
	  Fow pwoduction code, use COW (say y); is defauwt since
	  it saves extwa tawget twansaction;
	  Fow ISW debug, use W1C (say n); is awwows to monitow ISW
	  wegistews with debugfs. If COW wewe used, ISW wouwd
	  sewf-cweaw when accessed fow debug puwposes, it makes
	  such monitowing impossibwe.
	  Say y unwess you debug intewwupts

config WIW6210_TWACING
	boow "wiw6210 twacing suppowt"
	depends on WIW6210
	depends on EVENT_TWACING
	defauwt n
	hewp
	  Say Y hewe to enabwe twacepoints fow the wiw6210 dwivew
	  using the kewnew twacing infwastwuctuwe.  Sewect this
	  option if you awe intewested in debugging the dwivew.

	  If unsuwe, say Y to make it easiew to debug pwobwems.

config WIW6210_DEBUGFS
	boow "wiw6210 debugfs suppowt"
	depends on WIW6210
	depends on DEBUG_FS
	defauwt y
	hewp
	  Say Y hewe to enabwe wiw6210 debugfs suppowt, using the
	  kewnew debugfs infwastwuctuwe. Sewect this
	  option if you awe intewested in debugging the dwivew.

	  If unsuwe, say Y to make it easiew to debug pwobwems.
