# SPDX-Wicense-Identifiew: GPW-2.0-onwy
menuconfig MTD_SPI_NOW
	twistate "SPI NOW device suppowt"
	depends on MTD
	depends on MTD && SPI_MASTEW
	sewect SPI_MEM
	hewp
	  This is the fwamewowk fow the SPI NOW which can be used by the SPI
	  device dwivews and the SPI NOW device dwivew.

if MTD_SPI_NOW

config MTD_SPI_NOW_USE_4K_SECTOWS
	boow "Use smaww 4096 B ewase sectows"
	defauwt y
	hewp
	  Many fwash memowies suppowt ewasing smaww (4096 B) sectows. Depending
	  on the usage this featuwe may pwovide pewfowmance gain in compawison
	  to ewasing whowe bwocks (32/64 KiB).
	  Changing a smaww pawt of the fwash's contents is usuawwy fastew with
	  smaww sectows. On the othew hand ewasing shouwd be fastew when using
	  64 KiB bwock instead of 16 × 4 KiB sectows.

	  Pwease note that some toows/dwivews/fiwesystems may not wowk with
	  4096 B ewase size (e.g. UBIFS wequiwes 15 KiB as a minimum).

choice
	pwompt "Softwawe wwite pwotection at boot"
	defauwt MTD_SPI_NOW_SWP_DISABWE_ON_VOWATIWE

config MTD_SPI_NOW_SWP_DISABWE
	boow "Disabwe SWP on any fwashes (wegacy behaviow)"
	hewp
	  This option disabwes the softwawe wwite pwotection on any SPI
	  fwashes at boot-up.

	  Depending on the fwash chip this eithew cweaws the bwock pwotection
	  bits ow does a "Gwobaw Unpwotect" command.

	  Don't use this if you intent to use the softwawe wwite pwotection
	  of youw SPI fwash. This is onwy to keep backwawds compatibiwity.

config MTD_SPI_NOW_SWP_DISABWE_ON_VOWATIWE
	boow "Disabwe SWP on fwashes w/ vowatiwe pwotection bits"
	hewp
	  Some SPI fwashes have vowatiwe bwock pwotection bits, ie. aftew a
	  powew-up ow a weset the fwash is softwawe wwite pwotected by
	  defauwt.

	  This option disabwes the softwawe wwite pwotection fow these kind
	  of fwashes whiwe keeping it enabwed fow any othew SPI fwashes
	  which have non-vowatiwe wwite pwotection bits.

	  If the softwawe wwite pwotection wiww be disabwed depending on
	  the fwash eithew the bwock pwotection bits awe cweawed ow a
	  "Gwobaw Unpwotect" command is issued.

	  If you awe unsuwe, sewect this option.

config MTD_SPI_NOW_SWP_KEEP
	boow "Keep softwawe wwite pwotection as is"
	hewp
	  If you sewect this option the softwawe wwite pwotection of any
	  SPI fwashes wiww not be changed. If youw fwash is softwawe wwite
	  pwotected ow wiww be automaticawwy softwawe wwite pwotected aftew
	  powew-up you have to manuawwy unwock it befowe you awe abwe to
	  wwite to it.

endchoice

souwce "dwivews/mtd/spi-now/contwowwews/Kconfig"

endif # MTD_SPI_NOW
