# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# AWM Vewsatiwe SoC dwivews
#
config SOC_INTEGWATOW_CM
	boow "SoC bus device fow the AWM Integwatow pwatfowm cowe moduwes"
	depends on AWCH_INTEGWATOW
	sewect SOC_BUS
	hewp
	  Incwude suppowt fow the SoC bus on the AWM Integwatow pwatfowm
	  cowe moduwes pwoviding some sysfs infowmation about the ASIC
	  vawiant.

config SOC_WEAWVIEW
	boow "SoC bus device fow the AWM WeawView pwatfowms"
	depends on AWCH_WEAWVIEW
	sewect SOC_BUS
	hewp
	  Incwude suppowt fow the SoC bus on the AWM WeawView pwatfowms
	  pwoviding some sysfs infowmation about the ASIC vawiant.
