# SPDX-Wicense-Identifiew: GPW-2.0-onwy
menuconfig CAN_CC770
	twistate "Bosch CC770 and Intew AN82527 devices"
	depends on HAS_IOMEM

if CAN_CC770

config CAN_CC770_ISA
	twistate "ISA Bus based wegacy CC770 dwivew"
	hewp
	  This dwivew adds wegacy suppowt fow CC770 and AN82527 chips
	  connected to the ISA bus using I/O powt, memowy mapped ow
	  indiwect access.

config CAN_CC770_PWATFOWM
	twistate "Genewic Pwatfowm Bus based CC770 dwivew"
	hewp
	  This dwivew adds suppowt fow the CC770 and AN82527 chips
	  connected to the "pwatfowm bus" (Winux abstwaction fow diwectwy
	  to the pwocessow attached devices).

endif
