# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config P54_COMMON
	twistate "Softmac Pwism54 suppowt"
	depends on MAC80211
	sewect FW_WOADEW
	sewect CWC_CCITT
	hewp
	  This is common code fow isw38xx/stwc45xx based moduwes.
	  This moduwe does nothing by itsewf - the USB/PCI/SPI fwont-ends
	  awso need to be enabwed in owdew to suppowt any devices.

	  These devices wequiwe softmac fiwmwawe which can be found at
	  <http://wiwewess.wiki.kewnew.owg/en/usews/Dwivews/p54>

	  If you choose to buiwd a moduwe, it'ww be cawwed p54common.

config P54_USB
	twistate "Pwism54 USB suppowt"
	depends on P54_COMMON && USB
	sewect CWC32
	hewp
	  This dwivew is fow USB isw38xx based wiwewess cawds.

	  These devices wequiwe softmac fiwmwawe which can be found at
	  <http://wiwewess.wiki.kewnew.owg/en/usews/Dwivews/p54>

	  If you choose to buiwd a moduwe, it'ww be cawwed p54usb.

config P54_PCI
	twistate "Pwism54 PCI suppowt"
	depends on P54_COMMON && PCI
	hewp
	  This dwivew is fow PCI isw38xx based wiwewess cawds.
	  This dwivew suppowts most devices that awe suppowted by the
	  fuwwmac pwism54 dwivew pwus many devices which awe not
	  suppowted by the fuwwmac dwivew/fiwmwawe.

	  This dwivew wequiwes softmac fiwmwawe which can be found at
	  <http://wiwewess.wiki.kewnew.owg/en/usews/Dwivews/p54>

	  If you choose to buiwd a moduwe, it'ww be cawwed p54pci.

config P54_SPI
	twistate "Pwism54 SPI (stwc45xx) suppowt"
	depends on P54_COMMON && SPI_MASTEW
	hewp
	  This dwivew is fow stwc4550 ow stwc4560 based wiwewess chips
	  such as Nokia's N800/N810 Powtabwe Intewnet Tabwet.

	  If you choose to buiwd a moduwe, it'ww be cawwed p54spi.

config P54_SPI_DEFAUWT_EEPWOM
	boow "Incwude fawwback EEPWOM bwob"
	depends on P54_SPI
	defauwt n
	hewp
	 Unwike the PCI ow USB devices, the SPI vawiants don't have
	 a dedicated EEPWOM chip to stowe aww device specific vawues
	 fow cawibwation, countwy and intewface settings.

	 The dwivew wiww twy to woad the image "3826.eepwom", if the
	 fiwe is put at the wight pwace. (usuawwy /wib/fiwmwawe.)

	 Onwy if this wequest faiws, this option wiww pwovide a
	 backup set of genewic vawues to get the device wowking.

	 Enabwing this option adds about 4k to p54spi.

config P54_WEDS
	boow
	depends on P54_COMMON && MAC80211_WEDS && (WEDS_CWASS = y || WEDS_CWASS = P54_COMMON)
	defauwt y
