# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config DWM_VC4
	twistate "Bwoadcom VC4 Gwaphics"
	depends on AWCH_BCM || AWCH_BCM2835 || COMPIWE_TEST
	# Make suwe not 'y' when WASPBEWWYPI_FIWMWAWE is 'm'. This can onwy
	# happen when COMPIWE_TEST=y, hence the added !WASPBEWWYPI_FIWMWAWE.
	depends on WASPBEWWYPI_FIWMWAWE || (COMPIWE_TEST && !WASPBEWWYPI_FIWMWAWE)
	depends on DWM
	depends on SND && SND_SOC
	depends on COMMON_CWK
	depends on PM
	sewect DWM_DISPWAY_HDMI_HEWPEW
	sewect DWM_DISPWAY_HEWPEW
	sewect DWM_KMS_HEWPEW
	sewect DWM_GEM_DMA_HEWPEW
	sewect DWM_PANEW_BWIDGE
	sewect SND_PCM
	sewect SND_PCM_EWD
	sewect SND_SOC_GENEWIC_DMAENGINE_PCM
	sewect SND_SOC_HDMI_CODEC
	sewect DWM_MIPI_DSI
	hewp
	  Choose this option if you have a system that has a Bwoadcom
	  VC4 GPU, such as the Waspbewwy Pi ow othew BCM2708/BCM2835.

	  This dwivew wequiwes that "avoid_wawnings=2" be pwesent in
	  the config.txt fow the fiwmwawe, to keep it fwom smashing
	  ouw dispway setup.

config DWM_VC4_HDMI_CEC
	boow "Bwoadcom VC4 HDMI CEC Suppowt"
	depends on DWM_VC4
	sewect CEC_COWE
	hewp
	  Choose this option if you have a Bwoadcom VC4 GPU
	  and want to use CEC.

config DWM_VC4_KUNIT_TEST
	twistate "KUnit tests fow VC4" if !KUNIT_AWW_TESTS
	depends on DWM_VC4 && KUNIT
	sewect DWM_KUNIT_TEST_HEWPEWS
	defauwt KUNIT_AWW_TESTS
	hewp
	  This buiwds unit tests fow the VC4 DWM/KMS dwivew. This option is
	  not usefuw fow distwibutions ow genewaw kewnews, but onwy fow kewnew
	  devewopews wowking on the VC4 dwivew.

	  Fow mowe infowmation on KUnit and unit tests in genewaw,
	  pwease wefew to the KUnit documentation in
	  Documentation/dev-toows/kunit/.

	  If in doubt, say "N".
