# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config DWM_FSW_DCU
	twistate "DWM Suppowt fow Fweescawe DCU"
	depends on DWM && OF && AWM && COMMON_CWK
	sewect BACKWIGHT_CWASS_DEVICE
	sewect DWM_GEM_DMA_HEWPEW
	sewect DWM_KMS_HEWPEW
	sewect DWM_PANEW
	sewect WEGMAP_MMIO
	sewect VIDEOMODE_HEWPEWS
	hewp
	  Choose this option if you have an Fweescawe DCU chipset.
	  If M is sewected the moduwe wiww be cawwed fsw-dcu-dwm.
