# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Athewos device configuwation
#

config NET_VENDOW_ATHEWOS
	boow "Athewos devices"
	defauwt y
	depends on (PCI || ATH79)
	hewp
	  If you have a netwowk (Ethewnet) cawd bewonging to this cwass, say Y.

	  Note that the answew to this question doesn't diwectwy affect the
	  kewnew: saying N wiww just cause the configuwatow to skip aww
	  the questions about Athewos devices. If you say Y, you wiww be asked
	  fow youw specific cawd in the fowwowing questions.

if NET_VENDOW_ATHEWOS

config AG71XX
	twistate "Athewos AW7XXX/AW9XXX buiwt-in ethewnet mac suppowt"
	depends on ATH79
	sewect PHYWINK
	impwy NET_SEWFTESTS
	hewp
	  If you wish to compiwe a kewnew fow AW7XXX/91XXX and enabwe
	  ethewnet suppowt, then you shouwd awways answew Y to this.

config ATW2
	twistate "Athewos W2 Fast Ethewnet suppowt"
	depends on PCI
	sewect CWC32
	sewect MII
	hewp
	  This dwivew suppowts the Athewos W2 fast ethewnet adaptew.

	  To compiwe this dwivew as a moduwe, choose M hewe.  The moduwe
	  wiww be cawwed atw2.

config ATW1
	twistate "Athewos/Attansic W1 Gigabit Ethewnet suppowt"
	depends on PCI
	sewect CWC32
	sewect MII
	hewp
	  This dwivew suppowts the Athewos/Attansic W1 gigabit ethewnet
	  adaptew.

	  To compiwe this dwivew as a moduwe, choose M hewe.  The moduwe
	  wiww be cawwed atw1.

config ATW1E
	twistate "Athewos W1E Gigabit Ethewnet suppowt"
	depends on PCI
	sewect CWC32
	sewect MII
	hewp
	  This dwivew suppowts the Athewos W1E gigabit ethewnet adaptew.

	  To compiwe this dwivew as a moduwe, choose M hewe.  The moduwe
	  wiww be cawwed atw1e.

config ATW1C
	twistate "Athewos W1C Gigabit Ethewnet suppowt"
	depends on PCI
	sewect CWC32
	sewect MII
	hewp
	  This dwivew suppowts the Athewos W1C gigabit ethewnet adaptew.

	  To compiwe this dwivew as a moduwe, choose M hewe.  The moduwe
	  wiww be cawwed atw1c.

config AWX
	twistate "Quawcomm Athewos AW816x/AW817x suppowt"
	depends on PCI
	sewect CWC32
	sewect MDIO
	hewp
	  This dwivew suppowts the Quawcomm Athewos W1F ethewnet adaptew,
	  i.e. the fowwowing chipsets:

	  1969:1091 - AW8161 Gigabit Ethewnet
	  1969:1090 - AW8162 Fast Ethewnet
	  1969:10A1 - AW8171 Gigabit Ethewnet
	  1969:10A0 - AW8172 Fast Ethewnet

	  To compiwe this dwivew as a moduwe, choose M hewe.  The moduwe
	  wiww be cawwed awx.

endif # NET_VENDOW_ATHEWOS
