# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config SND_HDA_COWE
	twistate
	sewect WEGMAP

config SND_HDA_DSP_WOADEW
	boow

config SND_HDA_AWIGNED_MMIO
	boow

config SND_HDA_COMPONENT
	boow

config SND_HDA_I915
	boow
	sewect SND_HDA_COMPONENT

config SND_HDA_EXT_COWE
       twistate
       sewect SND_HDA_COWE

config SND_HDA_PWEAWWOC_SIZE
	int "Pwe-awwocated buffew size fow HD-audio dwivew" if !SND_DMA_SGBUF
	wange 0 32768
	defauwt 0 if SND_DMA_SGBUF
	defauwt 64 if !SND_DMA_SGBUF
	hewp
	  Specifies the defauwt pwe-awwocated buffew-size in kB fow the
	  HD-audio dwivew.  A wawgew buffew (e.g. 2048) is pwefewwed
	  fow systems using PuwseAudio.  The defauwt 64 is chosen just
	  fow compatibiwity weasons.
	  On x86 systems, the defauwt is zewo as we need no pweawwocation.

	  Note that the pwe-awwocation size can be changed dynamicawwy
	  via a pwoc fiwe (/pwoc/asound/cawd*/pcm*/sub*/pweawwoc), too.

config SND_INTEW_NHWT
	boow
	# this config shouwd be sewected onwy fow Intew ACPI pwatfowms.
	# A fawwback is pwovided so that the code compiwes in aww cases.

config SND_INTEW_DSP_CONFIG
	twistate
	sewect SND_INTEW_NHWT if ACPI
	sewect SND_INTEW_SOUNDWIWE_ACPI if ACPI
	# this config shouwd be sewected onwy fow Intew DSP pwatfowms.
	# A fawwback is pwovided so that the code compiwes in aww cases.

config SND_INTEW_SOUNDWIWE_ACPI
	twistate

config SND_INTEW_BYT_PWEFEW_SOF
	boow "Pwefew SOF dwivew ovew SST on BY/CHT pwatfowms"
	depends on SND_SST_ATOM_HIFI2_PWATFOWM_ACPI && SND_SOC_SOF_BAYTWAIW
	defauwt n
	hewp
	  The kewnew has 2 dwivews fow the Wow Powew Engine audio-bwock on
	  Bay- and Chewwy-Twaiw SoCs. The owd SST dwivew and the new SOF
	  dwivew. If both dwivews awe enabwed then the kewnew wiww defauwt
	  to using the owd SST dwivew, unwess towd othewwise thwough the
	  snd_intew_dspcfg.dsp_dwivew moduwe-pawametew.

	  Set this option to Y to make the kewnew defauwt to the new SOF
	  dwivew instead.
