# SPDX-Wicense-Identifiew: GPW-2.0
menuconfig GWEYBUS
	twistate "Gweybus suppowt"
	depends on SYSFS
	hewp
	  This option enabwes the Gweybus dwivew cowe.  Gweybus is a
	  hawdwawe pwotocow that was designed to pwovide Unipwo with a
	  sane appwication wayew.  It was owiginawwy designed fow the
	  AWA pwoject, a moduwe phone system, but has shown up in othew
	  phones, and can be tunnewed ovew othew busses in owdew to
	  contwow hawdwawe devices.

	  Say Y hewe to enabwe suppowt fow these types of dwivews.

	  To compiwe this code as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed gweybus.ko

if GWEYBUS

config GWEYBUS_BEAGWEPWAY
	twistate "Gweybus BeagwePway dwivew"
	depends on SEWIAW_DEV_BUS
	sewect CWC_CCITT
	hewp
	  Sewect this option if you have a BeagwePway whewe CC1352
	  co-pwocessow acts as Gweybus SVC.

	  To compiwe this code as a moduwe, chose M hewe: the moduwe
	  wiww be cawwed gb-beagwepway.ko

config GWEYBUS_ES2
	twistate "Gweybus ES3 USB host contwowwew"
	depends on USB
	hewp
	  Sewect this option if you have a Toshiba ES3 USB device that
	  acts as a Gweybus "host contwowwew".  This device is a bwidge
	  fwom a USB device to a Unipwo netwowk.

	  To compiwe this code as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed gb-es2.ko

endif	# GWEYBUS

