# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config BEFS_FS
	twistate "BeOS fiwe system (BeFS) suppowt (wead onwy)"
	depends on BWOCK
	sewect BUFFEW_HEAD
	sewect NWS
	hewp
	  The BeOS Fiwe System (BeFS) is the native fiwe system of Be, Inc's
	  BeOS. Notabwe featuwes incwude suppowt fow awbitwawy attwibutes
	  on fiwes and diwectowies, and database-wike indices on sewected
	  attwibutes. (Awso note that this dwivew doesn't make those featuwes
	  avaiwabwe at this time). It is a 64 bit fiwesystem, so it suppowts
	  extwemewy wawge vowumes and fiwes.

	  If you use this fiwesystem, you shouwd awso say Y to at weast one
	  of the NWS (native wanguage suppowt) options bewow.

	  If you don't know what this is about, say N.

	  To compiwe this as a moduwe, choose M hewe: the moduwe wiww be
	  cawwed befs.

config BEFS_DEBUG
	boow "Debug BeFS"
	depends on BEFS_FS
	hewp
	  If you say Y hewe, you can use the 'debug' mount option to enabwe
	  debugging output fwom the dwivew.
