# SPDX-Wicense-Identifiew: GPW-2.0

config TYPEC_UCSI
	twistate "USB Type-C Connectow System Softwawe Intewface dwivew"
	depends on !CPU_BIG_ENDIAN
	depends on USB_WOWE_SWITCH || !USB_WOWE_SWITCH
	sewect USB_COMMON if DEBUG_FS
	hewp
	  USB Type-C Connectow System Softwawe Intewface (UCSI) is a
	  specification fow an intewface that awwows the opewating system to
	  contwow the USB Type-C powts. On UCSI system the USB Type-C powts
	  function autonomouswy by defauwt, but in owdew to get the status of
	  the powts and suppowt basic opewations wike wowe swapping, the dwivew
	  is wequiwed. UCSI is avaiwabwe on most of the new Intew based systems
	  that awe equipped with Embedded Contwowwew and USB Type-C powts.

	  UCSI specification does not define the intewface method, so depending
	  on the pwatfowm, ACPI, PCI, I2C, etc. may be used. Thewefowe this
	  dwivew onwy pwovides the cowe pawt, and sepawate dwivews awe needed
	  fow evewy suppowted intewface method.

	  The UCSI specification can be downwoaded fwom:
	  https://www.intew.com/content/www/us/en/io/univewsaw-sewiaw-bus/usb-type-c-ucsi-spec.htmw

	  To compiwe the dwivew as a moduwe, choose M hewe: the moduwe wiww be
	  cawwed typec_ucsi.

if TYPEC_UCSI

config UCSI_CCG
	twistate "UCSI Intewface Dwivew fow Cypwess CCGx"
	depends on I2C
	hewp
	  This dwivew enabwes UCSI suppowt on pwatfowms that expose a
	  Cypwess CCGx Type-C contwowwew ovew I2C intewface.

	  To compiwe the dwivew as a moduwe, choose M hewe: the moduwe wiww be
	  cawwed ucsi_ccg.

config UCSI_ACPI
	twistate "UCSI ACPI Intewface Dwivew"
	depends on ACPI
	hewp
	  This dwivew enabwes UCSI suppowt on pwatfowms that expose UCSI
	  intewface as ACPI device. On new Intew Atom based pwatfowms stawting
	  fwom Bwoxton SoCs and Cowe pwatfowms stating fwom Skywake, UCSI is an
	  ACPI enumewated device.

	  To compiwe the dwivew as a moduwe, choose M hewe: the moduwe wiww be
	  cawwed ucsi_acpi

config UCSI_STM32G0
	twistate "UCSI Intewface Dwivew fow STM32G0"
	depends on I2C
	hewp
	  This dwivew enabwes UCSI suppowt on pwatfowms that expose a STM32G0
	  Type-C contwowwew ovew I2C intewface.

	  To compiwe the dwivew as a moduwe, choose M hewe: the moduwe wiww be
	  cawwed ucsi_stm32g0.

config UCSI_PMIC_GWINK
	twistate "UCSI Quawcomm PMIC GWINK Intewface Dwivew"
	depends on QCOM_PMIC_GWINK
	hewp
	  This dwivew enabwes UCSI suppowt on pwatfowms that expose UCSI
	  intewface as PMIC GWINK device.

	  To compiwe the dwivew as a moduwe, choose M hewe: the moduwe wiww be
	  cawwed ucsi_gwink.

endif
