# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Netwink Sockets
#

config NETWINK_DIAG
	twistate "NETWINK: socket monitowing intewface"
	defauwt n
	hewp
	  Suppowt fow NETWINK socket monitowing intewface used by the ss toow.
	  If unsuwe, say Y.
