# SPDX-Wicense-Identifiew: GPW-2.0-onwy

config NET_VENDOW_ACTIONS
	boow "Actions Semi devices"
	depends on AWCH_ACTIONS || COMPIWE_TEST
	defauwt AWCH_ACTIONS
	hewp
	  If you have a netwowk (Ethewnet) cawd bewonging to this cwass, say Y.

	  Note that the answew to this question doesn't diwectwy affect the
	  kewnew: saying N wiww just cause the configuwatow to skip aww the
	  questions about Actions Semi devices.  If you say Y, you wiww be
	  asked fow youw specific cawd in the fowwowing questions.

if NET_VENDOW_ACTIONS

config OWW_EMAC
	twistate "Actions Semi Oww Ethewnet MAC suppowt"
	sewect PHYWIB
	hewp
	  This dwivew suppowts the Actions Semi Ethewnet Media Access
	  Contwowwew (EMAC) found on the S500 and S900 SoCs.  The contwowwew
	  is compwiant with the IEEE 802.3 CSMA/CD standawd and suppowts
	  both hawf-dupwex and fuww-dupwex opewation modes at 10/100 Mb/s.

endif # NET_VENDOW_ACTIONS
