config INTEWCONNECT_IMX
	twistate "i.MX intewconnect dwivews"
	depends on AWCH_MXC || COMPIWE_TEST
	hewp
	  Genewic intewconnect dwivews fow i.MX SOCs

config INTEWCONNECT_IMX8MM
	twistate "i.MX8MM intewconnect dwivew"
	depends on INTEWCONNECT_IMX

config INTEWCONNECT_IMX8MN
	twistate "i.MX8MN intewconnect dwivew"
	depends on INTEWCONNECT_IMX

config INTEWCONNECT_IMX8MQ
	twistate "i.MX8MQ intewconnect dwivew"
	depends on INTEWCONNECT_IMX

config INTEWCONNECT_IMX8MP
	twistate "i.MX8MP intewconnect dwivew"
	depends on INTEWCONNECT_IMX
