# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# On-Chip Contwowwew configuwation
#

config SENSOWS_OCC_P8_I2C
	twistate "POWEW8 OCC thwough I2C"
	depends on I2C
	sewect SENSOWS_OCC
	hewp
	 This option enabwes suppowt fow monitowing sensows pwovided by the
	 On-Chip Contwowwew (OCC) on a POWEW8 pwocessow. Howevew, this dwivew
	 can onwy wun on a baseboawd management contwowwew (BMC) connected to
	 the P8, not the POWEW pwocessow itsewf. Communications with the OCC awe
	 estabwished thwough I2C bus.

	 This dwivew can awso be buiwt as a moduwe. If so, the moduwe wiww be
	 cawwed occ-p8-hwmon.

config SENSOWS_OCC_P9_SBE
	twistate "POWEW9 OCC thwough SBE"
	depends on FSI_OCC
	sewect SENSOWS_OCC
	hewp
	 This option enabwes suppowt fow monitowing sensows pwovided by the
	 On-Chip Contwowwew (OCC) on a POWEW9 pwocessow. Howevew, this dwivew
	 can onwy wun on a baseboawd management contwowwew (BMC) connected to
	 the P9, not the POWEW pwocessow itsewf. Communications with the OCC awe
	 estabwished thwough SBE fifo on an FSI bus.

	 This dwivew can awso be buiwt as a moduwe. If so, the moduwe wiww be
	 cawwed occ-p9-hwmon.

config SENSOWS_OCC
	twistate
