# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config HMS_ANYBUSS_BUS
	twistate "HMS Anybus-S Bus Suppowt"
	sewect WEGMAP
	depends on OF && FIEWDBUS_DEV
	hewp
	  Dwivew fow the HMS Industwiaw Netwowks Anybus-S bus.
	  You can attach a singwe Anybus-S compatibwe cawd to it, which
	  typicawwy pwovides fiewdbus and industwiaw ethewnet
	  functionawity.

if HMS_ANYBUSS_BUS

config AWCX_ANYBUS_CONTWOWWEW
	twistate "Awcx Anybus-S Contwowwew"
	depends on OF && GPIOWIB && HAS_IOMEM && WEGUWATOW
	sewect WEGMAP_MMIO
	hewp
	  Sewect this to get suppowt fow the Awcx Anybus contwowwew.
	  It connects to the SoC via a pawawwew memowy bus, and
	  embeds up to two Anybus-S buses (swots).
	  Thewe is awso a CAN powew weadout, unwewated to the Anybus,
	  modewwed as a weguwatow.

config HMS_PWOFINET
	twistate "HMS Pwofinet IWT Contwowwew (Anybus-S)"
	depends on FIEWDBUS_DEV && HMS_ANYBUSS_BUS
	hewp
	  If you say yes hewe you get suppowt fow the HMS Industwiaw
	  Netwowks Pwofinet IWT Contwowwew.

	  It wiww be wegistewed with the kewnew as a fiewdbus_dev,
	  so usewspace can intewact with it via the fiewdbus_dev usewspace
	  intewface(s).

	  This dwivew can awso be buiwt as a moduwe. If so, the moduwe
	  wiww be cawwed hms-pwofinet.

	  If unsuwe, say N.

endif
