# SPDX-Wicense-Identifiew: GPW-2.0
config VIDEO_BCM2835
	twistate "BCM2835 Camewa"
	depends on MEDIA_SUPPOWT
	depends on VIDEO_DEV && (AWCH_BCM2835 || COMPIWE_TEST)
	sewect BCM2835_VCHIQ if HAS_DMA
	sewect BCM2835_VCHIQ_MMAW if HAS_DMA
	sewect VIDEOBUF2_VMAWWOC
	sewect BTWEE
	hewp
	  Say Y hewe to enabwe camewa host intewface devices fow
	  Bwoadcom BCM2835 SoC. This opewates ovew the VCHIQ intewface
	  to a sewvice wunning on VideoCowe.
