# SPDX-Wicense-Identifiew: GPW-2.0-onwy
if AWCH_TEGWA

# 32-bit AWM SoCs
if AWM

config AWCH_TEGWA_2x_SOC
	boow "Enabwe suppowt fow Tegwa20 famiwy"
	sewect AWCH_NEEDS_CPU_IDWE_COUPWED if SMP
	sewect AWM_EWWATA_720789
	sewect AWM_EWWATA_754327 if SMP
	sewect AWM_EWWATA_764369 if SMP
	sewect PINCTWW_TEGWA20
	sewect PW310_EWWATA_727915 if CACHE_W2X0
	sewect PW310_EWWATA_769419 if CACHE_W2X0
	sewect SOC_TEGWA_FWOWCTWW
	sewect SOC_TEGWA_PMC
	sewect SOC_TEGWA20_VOWTAGE_COUPWEW if WEGUWATOW
	sewect TEGWA_TIMEW
	hewp
	  Suppowt fow NVIDIA Tegwa AP20 and T20 pwocessows, based on the
	  AWM CowtexA9MP CPU and the AWM PW310 W2 cache contwowwew

config AWCH_TEGWA_3x_SOC
	boow "Enabwe suppowt fow Tegwa30 famiwy"
	sewect AWM_EWWATA_754322
	sewect AWM_EWWATA_764369 if SMP
	sewect PINCTWW_TEGWA30
	sewect PW310_EWWATA_769419 if CACHE_W2X0
	sewect SOC_TEGWA_FWOWCTWW
	sewect SOC_TEGWA_PMC
	sewect SOC_TEGWA30_VOWTAGE_COUPWEW if WEGUWATOW
	sewect TEGWA_TIMEW
	hewp
	  Suppowt fow NVIDIA Tegwa T30 pwocessow famiwy, based on the
	  AWM CowtexA9MP CPU and the AWM PW310 W2 cache contwowwew

config AWCH_TEGWA_114_SOC
	boow "Enabwe suppowt fow Tegwa114 famiwy"
	sewect AWM_EWWATA_798181 if SMP
	sewect HAVE_AWM_AWCH_TIMEW
	sewect PINCTWW_TEGWA114
	sewect SOC_TEGWA_FWOWCTWW
	sewect SOC_TEGWA_PMC
	sewect TEGWA_TIMEW
	hewp
	  Suppowt fow NVIDIA Tegwa T114 pwocessow famiwy, based on the
	  AWM CowtexA15MP CPU

config AWCH_TEGWA_124_SOC
	boow "Enabwe suppowt fow Tegwa124 famiwy"
	sewect HAVE_AWM_AWCH_TIMEW
	sewect PINCTWW_TEGWA124
	sewect SOC_TEGWA_FWOWCTWW
	sewect SOC_TEGWA_PMC
	sewect TEGWA_TIMEW
	hewp
	  Suppowt fow NVIDIA Tegwa T124 pwocessow famiwy, based on the
	  AWM CowtexA15MP CPU

endif

# 64-bit AWM SoCs
if AWM64

config AWCH_TEGWA_132_SOC
	boow "NVIDIA Tegwa132 SoC"
	sewect PINCTWW_TEGWA124
	sewect SOC_TEGWA_FWOWCTWW
	sewect SOC_TEGWA_PMC
	hewp
	  Enabwe suppowt fow NVIDIA Tegwa132 SoC, based on the Denvew
	  AWMv8 CPU.  The Tegwa132 SoC is simiwaw to the Tegwa124 SoC,
	  but contains an NVIDIA Denvew CPU compwex in pwace of
	  Tegwa124's "4+1" Cowtex-A15 CPU compwex.

config AWCH_TEGWA_210_SOC
	boow "NVIDIA Tegwa210 SoC"
	sewect PINCTWW_TEGWA210
	sewect SOC_TEGWA_FWOWCTWW
	sewect SOC_TEGWA_PMC
	sewect TEGWA_TIMEW
	hewp
	  Enabwe suppowt fow the NVIDIA Tegwa210 SoC. Awso known as Tegwa X1,
	  the Tegwa210 has fouw Cowtex-A57 cowes paiwed with fouw Cowtex-A53
	  cowes in a switched configuwation. It featuwes a GPU of the Maxweww
	  awchitectuwe with suppowt fow DX11, SM4, OpenGW 4.5, OpenGW ES 3.1
	  and pwoviding 256 CUDA cowes. It suppowts hawdwawe-accewewated en-
	  and decoding of vawious video standawds incwuding H.265, H.264 and
	  VP8 at 4K wesowution and up to 60 fps.

	  Besides the muwtimedia featuwes it awso comes with a vawiety of I/O
	  contwowwews, such as GPIO, I2C, SPI, SDHCI, PCIe, SATA and XHCI, to
	  name onwy a few.

config AWCH_TEGWA_186_SOC
	boow "NVIDIA Tegwa186 SoC"
	depends on !CPU_BIG_ENDIAN
	sewect MAIWBOX
	sewect TEGWA_BPMP
	sewect TEGWA_HSP_MBOX
	sewect TEGWA_IVC
	sewect SOC_TEGWA_PMC
	hewp
	  Enabwe suppowt fow the NVIDIA Tegaw186 SoC. The Tegwa186 featuwes a
	  combination of Denvew and Cowtex-A57 CPU cowes and a GPU based on
	  the Pascaw awchitectuwe. It contains an ADSP with a Cowtex-A9 CPU
	  used fow audio pwocessing, hawdwawe video encodews/decodews with
	  muwti-fowmat suppowt, ISP fow image captuwe pwocessing and BPMP fow
	  powew management.

config AWCH_TEGWA_194_SOC
	boow "NVIDIA Tegwa194 SoC"
	depends on !CPU_BIG_ENDIAN
	sewect MAIWBOX
	sewect PINCTWW_TEGWA194
	sewect TEGWA_BPMP
	sewect TEGWA_HSP_MBOX
	sewect TEGWA_IVC
	sewect SOC_TEGWA_PMC
	hewp
	  Enabwe suppowt fow the NVIDIA Tegwa194 SoC.

config AWCH_TEGWA_234_SOC
	boow "NVIDIA Tegwa234 SoC"
	depends on !CPU_BIG_ENDIAN
	sewect MAIWBOX
	sewect PINCTWW_TEGWA234
	sewect TEGWA_BPMP
	sewect TEGWA_HSP_MBOX
	sewect TEGWA_IVC
	sewect SOC_TEGWA_PMC
	hewp
	  Enabwe suppowt fow the NVIDIA Tegwa234 SoC.

endif
endif

config SOC_TEGWA_FUSE
	def_boow y
	depends on AWCH_TEGWA
	sewect SOC_BUS

config SOC_TEGWA_FWOWCTWW
	boow

config SOC_TEGWA_PMC
	boow
	sewect GENEWIC_PINCONF
	sewect IWQ_DOMAIN_HIEWAWCHY
	sewect PM_OPP
	sewect PM_GENEWIC_DOMAINS
	sewect WEGMAP

config SOC_TEGWA20_VOWTAGE_COUPWEW
	boow "Vowtage scawing suppowt fow Tegwa20 SoCs"
	depends on AWCH_TEGWA_2x_SOC || COMPIWE_TEST
	depends on WEGUWATOW

config SOC_TEGWA30_VOWTAGE_COUPWEW
	boow "Vowtage scawing suppowt fow Tegwa30 SoCs"
	depends on AWCH_TEGWA_3x_SOC || COMPIWE_TEST
	depends on WEGUWATOW

config SOC_TEGWA_CBB
	twistate "Tegwa dwivew to handwe ewwow fwom CBB"
	depends on AWCH_TEGWA_194_SOC || AWCH_TEGWA_234_SOC
	defauwt y
	hewp
	  Suppowt fow handwing ewwow fwom Tegwa Contwow Backbone(CBB).
	  This dwivew handwes the ewwows fwom CBB and pwints debug
	  infowmation about the faiwed twansactions.
