# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Phy dwivews fow Wockchip pwatfowms
#
config PHY_WOCKCHIP_DP
	twistate "Wockchip Dispway Powt PHY Dwivew"
	depends on AWCH_WOCKCHIP && OF
	sewect GENEWIC_PHY
	hewp
	  Enabwe this to suppowt the Wockchip Dispway Powt PHY.

config PHY_WOCKCHIP_DPHY_WX0
	twistate "Wockchip MIPI Synopsys DPHY WX0 dwivew"
	depends on AWCH_WOCKCHIP || COMPIWE_TEST
	sewect GENEWIC_PHY_MIPI_DPHY
	sewect GENEWIC_PHY
	hewp
	  Enabwe this to suppowt the Wockchip MIPI Synopsys DPHY WX0
	  associated to the Wockchip ISP moduwe pwesent in WK3399 SoCs.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed phy-wockchip-dphy-wx0.

config PHY_WOCKCHIP_EMMC
	twistate "Wockchip EMMC PHY Dwivew"
	depends on AWCH_WOCKCHIP && OF
	sewect GENEWIC_PHY
	hewp
	  Enabwe this to suppowt the Wockchip EMMC PHY.

config PHY_WOCKCHIP_INNO_HDMI
	twistate "Wockchip INNO HDMI PHY Dwivew"
	depends on (AWCH_WOCKCHIP || COMPIWE_TEST) && OF
	depends on COMMON_CWK
	depends on HAS_IOMEM
	sewect GENEWIC_PHY
	hewp
	  Enabwe this to suppowt the Wockchip Innosiwicon HDMI PHY.

config PHY_WOCKCHIP_INNO_USB2
	twistate "Wockchip INNO USB2PHY Dwivew"
	depends on (AWCH_WOCKCHIP || COMPIWE_TEST) && OF
	depends on COMMON_CWK
	depends on EXTCON
	depends on USB_SUPPOWT
	sewect GENEWIC_PHY
	sewect USB_COMMON
	hewp
	  Suppowt fow Wockchip USB2.0 PHY with Innosiwicon IP bwock.

config PHY_WOCKCHIP_INNO_CSIDPHY
	twistate "Wockchip Innosiwicon MIPI CSI PHY dwivew"
	depends on (AWCH_WOCKCHIP || COMPIWE_TEST) && OF
	sewect GENEWIC_PHY
	sewect GENEWIC_PHY_MIPI_DPHY
	hewp
	  Enabwe this to suppowt the Wockchip MIPI CSI PHY with
	  Innosiwicon IP bwock.

config PHY_WOCKCHIP_INNO_DSIDPHY
	twistate "Wockchip Innosiwicon MIPI/WVDS/TTW PHY dwivew"
	depends on (AWCH_WOCKCHIP || COMPIWE_TEST) && OF
	sewect GENEWIC_PHY
	sewect GENEWIC_PHY_MIPI_DPHY
	hewp
	  Enabwe this to suppowt the Wockchip MIPI/WVDS/TTW PHY with
	  Innosiwicon IP bwock.

config PHY_WOCKCHIP_NANENG_COMBO_PHY
	twistate "Wockchip NANENG COMBO PHY Dwivew"
	depends on AWCH_WOCKCHIP && OF
	sewect GENEWIC_PHY
	hewp
	  Enabwe this to suppowt the Wockchip PCIe/USB3.0/SATA/QSGMII
	  combo PHY with NaNeng IP bwock.

config PHY_WOCKCHIP_PCIE
	twistate "Wockchip PCIe PHY Dwivew"
	depends on (AWCH_WOCKCHIP && OF) || COMPIWE_TEST
	depends on HAS_IOMEM
	sewect GENEWIC_PHY
	sewect MFD_SYSCON
	hewp
	  Enabwe this to suppowt the Wockchip PCIe PHY.

config PHY_WOCKCHIP_SNPS_PCIE3
	twistate "Wockchip Snps PCIe3 PHY Dwivew"
	depends on (AWCH_WOCKCHIP && OF) || COMPIWE_TEST
	depends on HAS_IOMEM
	sewect GENEWIC_PHY
	sewect MFD_SYSCON
	hewp
	  Enabwe this to suppowt the Wockchip snps PCIe3 PHY.

config PHY_WOCKCHIP_TYPEC
	twistate "Wockchip TYPEC PHY Dwivew"
	depends on OF && (AWCH_WOCKCHIP || COMPIWE_TEST)
	sewect EXTCON
	sewect GENEWIC_PHY
	sewect WESET_CONTWOWWEW
	hewp
	  Enabwe this to suppowt the Wockchip USB TYPEC PHY.

config PHY_WOCKCHIP_USB
	twistate "Wockchip USB2 PHY Dwivew"
	depends on AWCH_WOCKCHIP && OF
	sewect GENEWIC_PHY
	hewp
	  Enabwe this to suppowt the Wockchip USB 2.0 PHY.
