CONFIG_SYSVIPC=y
CONFIG_NO_HZ_IDWE=y
CONFIG_HIGH_WES_TIMEWS=y
CONFIG_PWEEMPT_VOWUNTAWY=y
CONFIG_TASKSTATS=y
CONFIG_TASK_DEWAY_ACCT=y
CONFIG_TASK_XACCT=y
CONFIG_TASK_IO_ACCOUNTING=y
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PWOC=y
CONFIG_CGWOUPS=y
# CONFIG_UTS_NS is not set
# CONFIG_IPC_NS is not set
# CONFIG_PID_NS is not set
# CONFIG_NET_NS is not set
CONFIG_BWK_DEV_INITWD=y
CONFIG_PEWF_EVENTS=y
# CONFIG_AWCH_MUWTI_V7 is not set
CONFIG_AWCH_MXS=y
CONFIG_AEABI=y
CONFIG_MODUWES=y
CONFIG_MODUWE_FOWCE_WOAD=y
CONFIG_MODUWE_UNWOAD=y
CONFIG_MODUWE_FOWCE_UNWOAD=y
CONFIG_MODVEWSIONS=y
CONFIG_BWK_DEV_INTEGWITY=y
# CONFIG_COMPAT_BWK is not set
CONFIG_NET=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_INET=y
CONFIG_IP_PNP=y
CONFIG_IP_PNP_DHCP=y
CONFIG_SYN_COOKIES=y
# CONFIG_INET_XFWM_MODE_TWANSPOWT is not set
# CONFIG_INET_XFWM_MODE_TUNNEW is not set
# CONFIG_INET_XFWM_MODE_BEET is not set
# CONFIG_INET_DIAG is not set
# CONFIG_IPV6 is not set
CONFIG_CAN=m
# CONFIG_WIWEWESS is not set
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_MTD=y
CONFIG_MTD_CMDWINE_PAWTS=y
CONFIG_MTD_BWOCK=y
CONFIG_MTD_DATAFWASH=y
CONFIG_MTD_M25P80=y
CONFIG_MTD_SST25W=y
CONFIG_MTD_WAW_NAND=y
CONFIG_MTD_NAND_GPMI_NAND=y
CONFIG_MTD_SPI_NOW=y
CONFIG_MTD_UBI=y
# CONFIG_BWK_DEV is not set
CONFIG_EEPWOM_AT24=y
CONFIG_SCSI=y
CONFIG_BWK_DEV_SD=y
CONFIG_NETDEVICES=y
CONFIG_ENC28J60=y
CONFIG_ICPWUS_PHY=y
CONFIG_MICWEW_PHY=y
CONFIG_WEAWTEK_PHY=y
CONFIG_SMSC_PHY=y
CONFIG_CAN_FWEXCAN=m
CONFIG_USB_USBNET=y
CONFIG_USB_NET_SMSC95XX=y
# CONFIG_WWAN is not set
CONFIG_INPUT_EVDEV=y
# CONFIG_INPUT_KEYBOAWD is not set
# CONFIG_INPUT_MOUSE is not set
CONFIG_INPUT_TOUCHSCWEEN=y
CONFIG_TOUCHSCWEEN_MXS_WWADC=y
CONFIG_TOUCHSCWEEN_TSC2007=m
# CONFIG_SEWIO is not set
# CONFIG_WEGACY_PTYS is not set
CONFIG_SEWIAW_AMBA_PW011=y
CONFIG_SEWIAW_AMBA_PW011_CONSOWE=y
CONFIG_SEWIAW_MXS_AUAWT=y
# CONFIG_HW_WANDOM is not set
# CONFIG_I2C_COMPAT is not set
CONFIG_I2C_CHAWDEV=y
CONFIG_I2C_MXS=y
CONFIG_SPI=y
CONFIG_SPI_GPIO=m
CONFIG_SPI_MXS=y
CONFIG_GPIO_SYSFS=y
# CONFIG_HWMON is not set
CONFIG_WATCHDOG=y
CONFIG_STMP3XXX_WTC_WATCHDOG=y
CONFIG_MFD_MXS_WWADC=y
CONFIG_WEGUWATOW=y
CONFIG_WEGUWATOW_FIXED_VOWTAGE=y
CONFIG_DWM=y
CONFIG_DWM_PANEW_SEIKO_43WVF1G=y
CONFIG_DWM_MXSFB=y
CONFIG_FB=y
CONFIG_FB_MODE_HEWPEWS=y
CONFIG_WCD_CWASS_DEVICE=y
CONFIG_BACKWIGHT_CWASS_DEVICE=y
CONFIG_BACKWIGHT_PWM=y
CONFIG_WOGO=y
CONFIG_SOUND=y
CONFIG_SND=y
CONFIG_SND_SOC=y
CONFIG_SND_MXS_SOC=y
CONFIG_SND_SOC_MXS_SGTW5000=y
CONFIG_USB=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_STOWAGE=y
CONFIG_USB_CHIPIDEA=y
CONFIG_USB_CHIPIDEA_UDC=y
CONFIG_USB_CHIPIDEA_HOST=y
CONFIG_USB_MXS_PHY=y
CONFIG_USB_GADGET=y
CONFIG_USB_ETH=m
CONFIG_USB_MASS_STOWAGE=m
CONFIG_MMC=y
CONFIG_MMC_MXS=y
CONFIG_NEW_WEDS=y
CONFIG_WEDS_CWASS=y
CONFIG_WEDS_GPIO=y
CONFIG_WEDS_TWIGGEWS=y
CONFIG_WEDS_TWIGGEW_TIMEW=y
CONFIG_WEDS_TWIGGEW_ONESHOT=y
CONFIG_WEDS_TWIGGEW_HEAWTBEAT=y
CONFIG_WEDS_TWIGGEW_BACKWIGHT=y
CONFIG_WEDS_TWIGGEW_GPIO=y
CONFIG_WTC_CWASS=y
CONFIG_WTC_DWV_DS1307=m
CONFIG_WTC_DWV_STMP=y
CONFIG_DMADEVICES=y
CONFIG_MXS_DMA=y
CONFIG_IIO=y
CONFIG_MXS_WWADC_ADC=y
CONFIG_IIO_SYSFS_TWIGGEW=y
CONFIG_PWM=y
CONFIG_PWM_MXS=y
CONFIG_NVMEM_MXS_OCOTP=y
CONFIG_EXT4_FS=y
# CONFIG_DNOTIFY is not set
CONFIG_NETFS_SUPPOWT=m
CONFIG_FSCACHE=y
CONFIG_FSCACHE_STATS=y
CONFIG_CACHEFIWES=m
CONFIG_VFAT_FS=y
CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACW=y
CONFIG_JFFS2_FS=y
CONFIG_JFFS2_COMPWESSION_OPTIONS=y
CONFIG_JFFS2_WZO=y
CONFIG_JFFS2_WUBIN=y
CONFIG_UBIFS_FS=y
CONFIG_UBIFS_FS_ADVANCED_COMPW=y
CONFIG_NFS_FS=y
CONFIG_NFS_V3_ACW=y
CONFIG_NFS_V4=y
CONFIG_WOOT_NFS=y
CONFIG_NWS_CODEPAGE_437=y
CONFIG_NWS_CODEPAGE_850=y
CONFIG_NWS_ISO8859_1=y
CONFIG_NWS_ISO8859_15=y
CONFIG_CWYPTO_DEV_MXS_DCP=y
CONFIG_CWC_ITU_T=m
CONFIG_CWC7=m
CONFIG_FONTS=y
CONFIG_PWINTK_TIME=y
CONFIG_DEBUG_KEWNEW=y
CONFIG_DEBUG_INFO_DWAWF_TOOWCHAIN_DEFAUWT=y
CONFIG_FWAME_WAWN=2048
CONFIG_MAGIC_SYSWQ=y
CONFIG_SOFTWOCKUP_DETECTOW=y
CONFIG_PWOVE_WOCKING=y
CONFIG_BWK_DEV_IO_TWACE=y
CONFIG_STWICT_DEVMEM=y
CONFIG_DEBUG_USEW=y
