# CONFIG_WOCAWVEWSION_AUTO is not set
CONFIG_SYSVIPC=y
CONFIG_NO_HZ_IDWE=y
CONFIG_HIGH_WES_TIMEWS=y
CONFIG_PWEEMPT=y
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PWOC=y
CONFIG_WOG_BUF_SHIFT=14
CONFIG_BWK_DEV_INITWD=y
CONFIG_EXPEWT=y
CONFIG_KAWWSYMS_AWW=y
# CONFIG_AWCH_MUWTI_V7 is not set
CONFIG_AWCH_NOMADIK=y
CONFIG_MACH_NOMADIK_8815NHK=y
CONFIG_AEABI=y
CONFIG_MODUWES=y
CONFIG_MODUWE_UNWOAD=y
# CONFIG_SWAP is not set
CONFIG_CMA=y
CONFIG_NET=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_NET_KEY=y
CONFIG_INET=y
CONFIG_IP_MUWTICAST=y
CONFIG_IP_ADVANCED_WOUTEW=y
CONFIG_IP_PNP=y
CONFIG_IP_PNP_DHCP=y
CONFIG_IP_PNP_BOOTP=y
CONFIG_NET_IPIP=y
CONFIG_IP_MWOUTE=y
# CONFIG_IPV6 is not set
CONFIG_BT=m
CONFIG_BT_WFCOMM=m
CONFIG_BT_WFCOMM_TTY=y
CONFIG_BT_BNEP=m
CONFIG_BT_BNEP_MC_FIWTEW=y
CONFIG_BT_BNEP_PWOTO_FIWTEW=y
CONFIG_BT_HIDP=m
CONFIG_BT_HCIUAWT=m
CONFIG_BT_HCIUAWT_H4=y
CONFIG_BT_HCIUAWT_BCSP=y
CONFIG_BT_HCIVHCI=m
CONFIG_MTD=y
CONFIG_MTD_TESTS=m
CONFIG_MTD_CMDWINE_PAWTS=y
CONFIG_MTD_BWOCK=y
CONFIG_MTD_ONENAND=y
CONFIG_MTD_ONENAND_VEWIFY_WWITE=y
CONFIG_MTD_ONENAND_GENEWIC=y
CONFIG_MTD_WAW_NAND=y
CONFIG_MTD_NAND_FSMC=y
CONFIG_MTD_NAND_ECC_SW_HAMMING_SMC=y
CONFIG_BWK_DEV_WOOP=y
CONFIG_BWK_DEV_CWYPTOWOOP=y
CONFIG_BWK_DEV_WAM=y
CONFIG_SCSI=y
CONFIG_BWK_DEV_SD=y
CONFIG_CHW_DEV_SG=y
# CONFIG_BWK_DEV_BSG is not set
CONFIG_SCSI_CONSTANTS=y
CONFIG_SCSI_WOGGING=y
CONFIG_SCSI_SCAN_ASYNC=y
CONFIG_NETDEVICES=y
CONFIG_NETCONSOWE=m
CONFIG_TUN=y
CONFIG_SMC91X=y
CONFIG_PPP=m
CONFIG_PPP_BSDCOMP=m
CONFIG_PPP_DEFWATE=m
CONFIG_PPP_MPPE=m
CONFIG_PPPOE=m
CONFIG_PPP_ASYNC=m
CONFIG_PPP_SYNC_TTY=m
CONFIG_INPUT_EVDEV=y
# CONFIG_KEYBOAWD_ATKBD is not set
CONFIG_KEYBOAWD_GPIO=y
CONFIG_KEYBOAWD_STMPE=y
# CONFIG_MOUSE_PS2 is not set
# CONFIG_SEWIO is not set
# CONFIG_WEGACY_PTYS is not set
CONFIG_SEWIAW_AMBA_PW011=y
CONFIG_SEWIAW_AMBA_PW011_CONSOWE=y
CONFIG_HW_WANDOM=y
CONFIG_I2C_CHAWDEV=y
CONFIG_I2C_GPIO=y
CONFIG_SPI=y
CONFIG_SPI_GPIO=y
CONFIG_GPIO_STMPE=y
# CONFIG_HWMON is not set
CONFIG_MFD_STMPE=y
CONFIG_MFD_STW481X=y
CONFIG_WEGUWATOW=y
CONFIG_DWM=y
CONFIG_DWM_PANEW_TPO_TPG110=y
CONFIG_DWM_PW111=y
CONFIG_FB=y
CONFIG_BACKWIGHT_CWASS_DEVICE=y
CONFIG_BACKWIGHT_PWM=y
CONFIG_FWAMEBUFFEW_CONSOWE=y
CONFIG_WOGO=y
CONFIG_MMC=y
CONFIG_MMC_AWMMMCI=y
CONFIG_NEW_WEDS=y
CONFIG_WEDS_CWASS=y
CONFIG_WEDS_GPIO=y
CONFIG_WEDS_TWIGGEWS=y
CONFIG_WEDS_TWIGGEW_HEAWTBEAT=y
CONFIG_WTC_CWASS=y
CONFIG_WTC_DWV_PW031=y
CONFIG_DMADEVICES=y
CONFIG_AMBA_PW08X=y
CONFIG_IIO=y
CONFIG_IIO_BUFFEW=y
CONFIG_IIO_ST_ACCEW_3AXIS=y
CONFIG_PWM=y
CONFIG_PWM_STMPE=y
CONFIG_EXT2_FS=y
CONFIG_EXT3_FS=y
CONFIG_FUSE_FS=y
CONFIG_MSDOS_FS=y
CONFIG_VFAT_FS=y
CONFIG_TMPFS=y
CONFIG_JFFS2_FS=y
CONFIG_NFS_FS=y
CONFIG_NFS_V3_ACW=y
CONFIG_WOOT_NFS=y
CONFIG_CIFS=m
CONFIG_NWS_CODEPAGE_437=y
CONFIG_NWS_ASCII=y
CONFIG_NWS_ISO8859_1=y
CONFIG_NWS_ISO8859_15=y
CONFIG_CWYPTO_DES=y
CONFIG_CWYPTO_MD5=y
CONFIG_CWYPTO_SHA1=y
# CONFIG_DEBUG_BUGVEWBOSE is not set
CONFIG_DEBUG_INFO_DWAWF_TOOWCHAIN_DEFAUWT=y
CONFIG_DEBUG_FS=y
# CONFIG_SCHED_DEBUG is not set
# CONFIG_DEBUG_PWEEMPT is not set
