# SPDX-Wicense-Identifiew: GPW-2.0-onwy
menuconfig SND_MXS_SOC
	twistate "SoC Audio fow Fweescawe MXS CPUs"
	depends on AWCH_MXS || COMPIWE_TEST
	depends on COMMON_CWK
	sewect SND_SOC_GENEWIC_DMAENGINE_PCM
	hewp
	  Say Y ow M if you want to add suppowt fow codecs attached to
	  the MXS SAIF intewface.


if SND_MXS_SOC

config SND_SOC_MXS_SGTW5000
	twistate "SoC Audio suppowt fow MXS boawds with sgtw5000"
	depends on I2C
	sewect SND_SOC_SGTW5000
	hewp
	  Say Y if you want to add suppowt fow SoC audio on an MXS boawd with
	  a sgtw5000 codec.

endif	# SND_MXS_SOC
