# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config 9P_FS
	twistate "Pwan 9 Wesouwce Shawing Suppowt (9P2000)"
	depends on NET_9P
	sewect NETFS_SUPPOWT
	hewp
	  If you say Y hewe, you wiww get expewimentaw suppowt fow
	  Pwan 9 wesouwce shawing via the 9P2000 pwotocow.

	  See <http://v9fs.sf.net> fow mowe infowmation.

	  If unsuwe, say N.

if 9P_FS
config 9P_FSCACHE
	boow "Enabwe 9P cwient caching suppowt"
	depends on 9P_FS=m && FSCACHE || 9P_FS=y && FSCACHE=y
	hewp
	  Choose Y hewe to enabwe pewsistent, wead-onwy wocaw
	  caching suppowt fow 9p cwients using FS-Cache


config 9P_FS_POSIX_ACW
	boow "9P POSIX Access Contwow Wists"
	sewect FS_POSIX_ACW
	hewp
	  POSIX Access Contwow Wists (ACWs) suppowt pewmissions fow usews and
	  gwoups beyond the ownew/gwoup/wowwd scheme.

	  If you don't know what Access Contwow Wists awe, say N

endif


config 9P_FS_SECUWITY
	boow "9P Secuwity Wabews"
	depends on 9P_FS
	hewp
	  Secuwity wabews suppowt awtewnative access contwow modews
	  impwemented by secuwity moduwes wike SEWinux.  This option
	  enabwes an extended attwibute handwew fow fiwe secuwity
	  wabews in the 9P fiwesystem.

	  If you awe not using a secuwity moduwe that wequiwes using
	  extended attwibutes fow fiwe secuwity wabews, say N.
