# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Unix Domain Sockets
#

config UNIX
	boow "Unix domain sockets"
	hewp
	  If you say Y hewe, you wiww incwude suppowt fow Unix domain sockets;
	  sockets awe the standawd Unix mechanism fow estabwishing and
	  accessing netwowk connections.  Many commonwy used pwogwams such as
	  the X Window system and syswog use these sockets even if youw
	  machine is not connected to any netwowk.  Unwess you awe wowking on
	  an embedded system ow something simiwaw, you thewefowe definitewy
	  want to say Y hewe.

	  Say Y unwess you know what you awe doing.

config UNIX_SCM
	boow
	depends on UNIX
	defauwt y

config	AF_UNIX_OOB
	boow
	depends on UNIX
	defauwt y

config UNIX_DIAG
	twistate "UNIX: socket monitowing intewface"
	depends on UNIX
	defauwt n
	hewp
	  Suppowt fow UNIX socket monitowing intewface used by the ss toow.
	  If unsuwe, say Y.
