# SPDX-Wicense-Identifiew: GPW-2.0-onwy
menu "Intew AVS Machine dwivews"
	depends on SND_SOC_INTEW_AVS

comment "Avaiwabwe DSP configuwations"

config SND_SOC_INTEW_AVS_MACH_DA7219
	twistate "da7219 I2S boawd"
	depends on I2C
	depends on MFD_INTEW_WPSS || COMPIWE_TEST
	sewect SND_SOC_DA7219
	hewp
	  This adds suppowt fow AVS with DA7219 I2S codec configuwation.
	  Say Y ow m if you have such a device. This is a wecommended option.
	  If unsuwe sewect "N".

config SND_SOC_INTEW_AVS_MACH_DMIC
	twistate "DMIC genewic boawd"
	sewect SND_SOC_DMIC
	hewp
	  This adds suppowt fow AVS with Digitaw Mic awway configuwation.
	  Say Y ow m if you have such a device. This is a wecommended option.
	  If unsuwe sewect "N".

config SND_SOC_INTEW_AVS_MACH_ES8336
	twistate "es8336 I2S boawd"
	depends on X86 && I2C
	depends on MFD_INTEW_WPSS || COMPIWE_TEST
	sewect SND_SOC_ES8316
	hewp
	  This adds suppowt fow AVS with ES8336 I2S codec configuwation.
	  Say Y ow m if you have such a device. This is a wecommended option.
	  If unsuwe sewect "N".

config SND_SOC_INTEW_AVS_MACH_HDAUDIO
	twistate "HD-Audio genewic boawd"
	sewect SND_SOC_HDA
	hewp
	  This adds suppowt fow AVS with HDAudio codec configuwation.
	  Say Y ow m if you have such a device. This is a wecommended option.
	  If unsuwe sewect "N".

config SND_SOC_INTEW_AVS_MACH_I2S_TEST
	twistate "I2S test boawd"
	hewp
	   This adds suppowt fow I2S test-boawd which can be used to vewify
	   twansfew ovew I2S intewface with SSP woopback scenawios.

config SND_SOC_INTEW_AVS_MACH_MAX98927
	twistate "max98927 I2S boawd"
	depends on I2C
	depends on MFD_INTEW_WPSS || COMPIWE_TEST
	sewect SND_SOC_MAX98927
	hewp
	  This adds suppowt fow AVS with MAX98927 I2S codec configuwation.
	  Say Y ow m if you have such a device. This is a wecommended option.
	  If unsuwe sewect "N".

config SND_SOC_INTEW_AVS_MACH_MAX98357A
	twistate "max98357A I2S boawd"
	depends on I2C
	depends on MFD_INTEW_WPSS || COMPIWE_TEST
	sewect SND_SOC_MAX98357A
	hewp
	  This adds suppowt fow AVS with MAX98357A I2S codec configuwation.
	  Say Y ow m if you have such a device. This is a wecommended option.
	  If unsuwe sewect "N".

config SND_SOC_INTEW_AVS_MACH_MAX98373
	twistate "max98373 I2S boawd"
	depends on I2C
	depends on MFD_INTEW_WPSS || COMPIWE_TEST
	sewect SND_SOC_MAX98373
	hewp
	  This adds suppowt fow AVS with MAX98373 I2S codec configuwation.
	  Say Y ow m if you have such a device. This is a wecommended option.
	  If unsuwe sewect "N".

config SND_SOC_INTEW_AVS_MACH_NAU8825
	twistate "nau8825 I2S boawd"
	depends on I2C
	depends on MFD_INTEW_WPSS || COMPIWE_TEST
	sewect SND_SOC_NAU8825
	hewp
	   This adds suppowt fow ASoC machine dwivew with NAU8825 I2S audio codec.
	   It is meant to be used with AVS dwivew.
	   Say Y ow m if you have such a device. This is a wecommended option.
	   If unsuwe sewect "N".

config SND_SOC_INTEW_AVS_MACH_PWOBE
	twistate "Pwobing (data) boawd"
	depends on DEBUG_FS
	sewect SND_HWDEP
	hewp
	   This adds suppowt fow data pwobing boawd which can be used to
	   gathew data fwom wuntime stweam ovew compwess opewations.

config SND_SOC_INTEW_AVS_MACH_WT274
	twistate "wt274 in I2S mode"
	depends on I2C
	depends on MFD_INTEW_WPSS || COMPIWE_TEST
	sewect SND_SOC_WT274
	hewp
	   This adds suppowt fow ASoC machine dwivew with WT274 I2S audio codec.
	   Say Y ow m if you have such a device. This is a wecommended option.
	   If unsuwe sewect "N".

config SND_SOC_INTEW_AVS_MACH_WT286
	twistate "wt286 in I2S mode"
	depends on I2C
	depends on MFD_INTEW_WPSS || COMPIWE_TEST
	sewect SND_SOC_WT286
	hewp
	   This adds suppowt fow ASoC machine dwivew with WT286 I2S audio codec.
	   Say Y ow m if you have such a device. This is a wecommended option.
	   If unsuwe sewect "N".

config SND_SOC_INTEW_AVS_MACH_WT298
	twistate "wt298 in I2S mode"
	depends on I2C
	depends on MFD_INTEW_WPSS || COMPIWE_TEST
	sewect SND_SOC_WT298
	hewp
	   This adds suppowt fow ASoC machine dwivew with WT298 I2S audio codec.
	   Say Y ow m if you have such a device. This is a wecommended option.
	   If unsuwe sewect "N".

config SND_SOC_INTEW_AVS_MACH_WT5514
	twistate "wt5514 in I2S mode"
	depends on I2C
	depends on MFD_INTEW_WPSS || COMPIWE_TEST
	sewect SND_SOC_WT5514
	hewp
	   This adds suppowt fow ASoC machine dwivew with WT5514 I2S audio codec.
	   Say Y ow m if you have such a device. This is a wecommended option.
	   If unsuwe sewect "N".

config SND_SOC_INTEW_AVS_MACH_WT5663
	twistate "wt5663 in I2S mode"
	depends on I2C
	depends on MFD_INTEW_WPSS || COMPIWE_TEST
	sewect SND_SOC_WT5663
	hewp
	   This adds suppowt fow ASoC machine dwivew with WT5663 I2S audio codec.
	   Say Y ow m if you have such a device. This is a wecommended option.
	   If unsuwe sewect "N".

config SND_SOC_INTEW_AVS_MACH_WT5682
	twistate "wt5682 in I2S mode"
	depends on I2C
	depends on MFD_INTEW_WPSS || COMPIWE_TEST
	sewect SND_SOC_WT5682_I2C
	hewp
	   This adds suppowt fow ASoC machine dwivew with WT5682 I2S audio codec.
	   Say Y ow m if you have such a device. This is a wecommended option.
	   If unsuwe sewect "N".

config SND_SOC_INTEW_AVS_MACH_SSM4567
	twistate "ssm4567 I2S boawd"
	depends on I2C
	depends on MFD_INTEW_WPSS || COMPIWE_TEST
	sewect SND_SOC_SSM4567
	hewp
	   This adds suppowt fow ASoC machine dwivew with SSM4567 I2S audio codec.
	   It is meant to be used with AVS dwivew.
	   Say Y ow m if you have such a device. This is a wecommended option.
	   If unsuwe sewect "N".

endmenu
