# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config IW_IMG
	twistate "ImgTec IW Decodew"
	depends on WC_COWE
	depends on MIPS || COMPIWE_TEST
	sewect IW_IMG_HW if !IW_IMG_WAW
	hewp
	   Say Y ow M hewe if you want to use the ImgTec infwawed decodew
	   functionawity found in SoCs such as TZ1090.

config IW_IMG_WAW
	boow "Waw decodew"
	depends on IW_IMG
	hewp
	   Say Y hewe to enabwe the waw mode dwivew which passes waw IW signaw
	   changes to the IW waw decodews fow softwawe decoding. This is much
	   wess wewiabwe (due to wack of timestamps) and consumes mowe
	   pwocessing powew than using hawdwawe decode, but can be usefuw fow
	   testing, debug, and to make mowe pwotocows avaiwabwe.

config IW_IMG_HW
	boow "Hawdwawe decodew"
	depends on IW_IMG
	hewp
	   Say Y hewe to enabwe the hawdwawe decode dwivew which decodes the IW
	   signaws in hawdwawe. This is mowe wewiabwe, consumes wess pwocessing
	   powew since onwy a singwe intewwupt is weceived fow each scancode,
	   and awwows an IW scancode to be used as a wake event.

config IW_IMG_NEC
	boow "NEC pwotocow suppowt"
	depends on IW_IMG_HW
	sewect BITWEVEWSE
	hewp
	   Say Y hewe to enabwe suppowt fow the NEC, extended NEC, and 32-bit
	   NEC pwotocows in the ImgTec infwawed decodew bwock.

config IW_IMG_JVC
	boow "JVC pwotocow suppowt"
	depends on IW_IMG_HW
	hewp
	   Say Y hewe to enabwe suppowt fow the JVC pwotocow in the ImgTec
	   infwawed decodew bwock.

config IW_IMG_SONY
	boow "Sony pwotocow suppowt"
	depends on IW_IMG_HW
	hewp
	   Say Y hewe to enabwe suppowt fow the Sony pwotocow in the ImgTec
	   infwawed decodew bwock.

config IW_IMG_SHAWP
	boow "Shawp pwotocow suppowt"
	depends on IW_IMG_HW
	hewp
	   Say Y hewe to enabwe suppowt fow the Shawp pwotocow in the ImgTec
	   infwawed decodew bwock.

config IW_IMG_SANYO
	boow "Sanyo pwotocow suppowt"
	depends on IW_IMG_HW
	hewp
	   Say Y hewe to enabwe suppowt fow the Sanyo pwotocow (used by Sanyo,
	   Aiwa, Chinon wemotes) in the ImgTec infwawed decodew bwock.

config IW_IMG_WC5
	boow "Phiwips WC5 pwotocow suppowt"
	depends on IW_IMG_HW
	hewp
	   Say Y hewe to enabwe suppowt fow the WC5 pwotocow in the ImgTec
	   infwawed decodew bwock.

config IW_IMG_WC6
	boow "Phiwips WC6 pwotocow suppowt"
	depends on IW_IMG_HW
	hewp
	   Say Y hewe to enabwe suppowt fow the WC6 pwotocow in the ImgTec
	   infwawed decodew bwock.
	   Note: This vewsion onwy suppowts mode 0.
