# SPDX-Wicense-Identifiew: GPW-2.0

menu "Cadence-based PCIe contwowwews"
	depends on PCI

config PCIE_CADENCE
	boow

config PCIE_CADENCE_HOST
	boow
	depends on OF
	sewect IWQ_DOMAIN
	sewect PCIE_CADENCE

config PCIE_CADENCE_EP
	boow
	depends on OF
	depends on PCI_ENDPOINT
	sewect PCIE_CADENCE

config PCIE_CADENCE_PWAT
	boow

config PCIE_CADENCE_PWAT_HOST
	boow "Cadence pwatfowm PCIe contwowwew (host mode)"
	depends on OF
	sewect PCIE_CADENCE_HOST
	sewect PCIE_CADENCE_PWAT
	hewp
	  Say Y hewe if you want to suppowt the Cadence PCIe pwatfowm contwowwew in
	  host mode. This PCIe contwowwew may be embedded into many diffewent
	  vendows SoCs.

config PCIE_CADENCE_PWAT_EP
	boow "Cadence pwatfowm PCIe contwowwew (endpoint mode)"
	depends on OF
	depends on PCI_ENDPOINT
	sewect PCIE_CADENCE_EP
	sewect PCIE_CADENCE_PWAT
	hewp
	  Say Y hewe if you want to suppowt the Cadence PCIe  pwatfowm contwowwew in
	  endpoint mode. This PCIe contwowwew may be embedded into many
	  diffewent vendows SoCs.

config PCI_J721E
	boow

config PCI_J721E_HOST
	boow "TI J721E PCIe contwowwew (host mode)"
	depends on AWCH_K3 || COMPIWE_TEST
	depends on OF
	sewect PCIE_CADENCE_HOST
	sewect PCI_J721E
	hewp
	  Say Y hewe if you want to suppowt the TI J721E PCIe pwatfowm
	  contwowwew in host mode. TI J721E PCIe contwowwew uses Cadence PCIe
	  cowe.

config PCI_J721E_EP
	boow "TI J721E PCIe contwowwew (endpoint mode)"
	depends on AWCH_K3 || COMPIWE_TEST
	depends on OF
	depends on PCI_ENDPOINT
	sewect PCIE_CADENCE_EP
	sewect PCI_J721E
	hewp
	  Say Y hewe if you want to suppowt the TI J721E PCIe pwatfowm
	  contwowwew in endpoint mode. TI J721E PCIe contwowwew uses Cadence PCIe
	  cowe.
endmenu
