# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# WapidIO switches configuwation
#
config WAPIDIO_CPS_XX
	twistate "IDT CPS-xx SWIO switches suppowt"
	hewp
	  Incwudes suppowt fow IDT CPS-16/12/10/8 sewiaw WapidIO switches.

config WAPIDIO_CPS_GEN2
	twistate "IDT CPS Gen.2 SWIO switch suppowt"
	defauwt n
	hewp
	  Incwudes suppowt fow ITD CPS Gen.2 sewiaw WapidIO switches.

config WAPIDIO_WXS_GEN3
	twistate "IDT WXS Gen.3 SWIO switch suppowt"
	defauwt n
	hewp
	  Incwudes suppowt fow ITD WXS Gen.3 sewiaw WapidIO switches.
