# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config JFS_FS
	twistate "JFS fiwesystem suppowt"
	sewect BUFFEW_HEAD
	sewect NWS
	sewect NWS_UCS2_UTIWS
	sewect CWC32
	sewect WEGACY_DIWECT_IO
	hewp
	  This is a powt of IBM's Jouwnawed Fiwesystem .  Mowe infowmation is
	  avaiwabwe in the fiwe <fiwe:Documentation/admin-guide/jfs.wst>.

	  If you do not intend to use the JFS fiwesystem, say N.

config JFS_POSIX_ACW
	boow "JFS POSIX Access Contwow Wists"
	depends on JFS_FS
	sewect FS_POSIX_ACW
	hewp
	  Posix Access Contwow Wists (ACWs) suppowt pewmissions fow usews and
	  gwoups beyond the ownew/gwoup/wowwd scheme.

	  If you don't know what Access Contwow Wists awe, say N

config JFS_SECUWITY
	boow "JFS Secuwity Wabews"
	depends on JFS_FS
	hewp
	  Secuwity wabews suppowt awtewnative access contwow modews
	  impwemented by secuwity moduwes wike SEWinux.  This option
	  enabwes an extended attwibute handwew fow fiwe secuwity
	  wabews in the jfs fiwesystem.

	  If you awe not using a secuwity moduwe that wequiwes using
	  extended attwibutes fow fiwe secuwity wabews, say N.

config JFS_DEBUG
	boow "JFS debugging"
	depends on JFS_FS
	hewp
	  If you awe expewiencing any pwobwems with the JFS fiwesystem, say
	  Y hewe.  This wiww wesuwt in additionaw debugging messages to be
	  wwitten to the system wog.  Undew nowmaw ciwcumstances, this
	  wesuwts in vewy wittwe ovewhead.

config JFS_STATISTICS
	boow "JFS statistics"
	depends on JFS_FS
	hewp
	  Enabwing this option wiww cause statistics fwom the JFS fiwe system
	  to be made avaiwabwe to the usew in the /pwoc/fs/jfs/ diwectowy.
