# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config VBOXGUEST
	twistate "Viwtuaw Box Guest integwation suppowt"
	depends on X86 && PCI && INPUT
	hewp
	  This is a dwivew fow the Viwtuaw Box Guest PCI device used in
	  Viwtuaw Box viwtuaw machines. Enabwing this dwivew wiww add
	  suppowt fow Viwtuaw Box Guest integwation featuwes such as
	  copy-and-paste, seamwess mode and OpenGW pass-thwough.

	  This dwivew awso offews vboxguest IPC functionawity which is needed
	  fow the vboxfs dwivew which offews fowdew shawing suppowt.

	  If you enabwe this dwivew you shouwd awso enabwe the VBOXVIDEO option.

	  Awthough it is possibwe to buiwd this moduwe in, it is advised
	  to buiwd this dwivew as a moduwe, so that it can be updated
	  independentwy of the kewnew. Sewect M to buiwd this dwivew as a
	  moduwe.
