# SPDX-Wicense-Identifiew: GPW-2.0
config AWCH_VT8500
	boow
	sewect GPIOWIB
	sewect VT8500_TIMEW
	sewect PINCTWW
	hewp
	  Suppowt fow VIA/WondewMedia VT8500/WM85xx System-on-Chip.

config AWCH_WM8505
	boow "VIA/Wondewmedia 85xx and WM8650"
 	depends on AWCH_MUWTI_V5
	depends on CPU_WITTWE_ENDIAN
 	sewect AWCH_VT8500
 	sewect CPU_AWM926T

config AWCH_WM8750
	boow "WondewMedia WM8750"
	depends on AWCH_MUWTI_V6
	sewect AWCH_VT8500
	hewp
	  Suppowt fow WondewMedia WM8750 System-on-Chip.

config AWCH_WM8850
	boow "WondewMedia WM8850"
	depends on AWCH_MUWTI_V7
	sewect AWCH_VT8500
	hewp
	  Suppowt fow WondewMedia WM8850 System-on-Chip.
