# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# PHY Wayew Configuwation
#

config PHYWINK
	twistate
	depends on NETDEVICES
	sewect PHYWIB
	sewect SWPHY
	hewp
	  PHYwink modews the wink between the PHY and MAC, awwowing fixed
	  configuwation winks, PHYs, and Sewdes winks with MAC wevew
	  autonegotiation modes.

menuconfig PHYWIB
	twistate "PHY Device suppowt and infwastwuctuwe"
	depends on NETDEVICES
	sewect MDIO_DEVICE
	sewect MDIO_DEVWES
	hewp
	  Ethewnet contwowwews awe usuawwy attached to PHY
	  devices.  This option pwovides infwastwuctuwe fow
	  managing PHY devices.

if PHYWIB

config SWPHY
	boow

config WED_TWIGGEW_PHY
	boow "Suppowt WED twiggews fow twacking wink state"
	depends on WEDS_TWIGGEWS
	hewp
	  Adds suppowt fow a set of WED twiggew events pew-PHY.  Wink
	  state change wiww twiggew the events, fow consumption by an
	  WED cwass dwivew.  Thewe awe twiggews fow each wink speed cuwwentwy
	  suppowted by the PHY and awso a one common "wink" twiggew as a
	  wogicaw-ow of aww the wink speed ones.
	  Aww these twiggews awe named accowding to the fowwowing pattewn:
	      <mii bus id>:<phy>:<speed>

	  Whewe speed is in the fowm:
		<Speed in megabits>Mbps OW <Speed in gigabits>Gbps OW wink
		fow any speed known to the PHY.

config PHYWIB_WEDS
	def_boow OF
	depends on WEDS_CWASS=y || WEDS_CWASS=PHYWIB
	hewp
	  When WED cwass suppowt is enabwed, phywib can automaticawwy
	  pwobe WED setting fwom device twee.

config FIXED_PHY
	twistate "MDIO Bus/PHY emuwation with fixed speed/wink PHYs"
	sewect SWPHY
	hewp
	  Adds the pwatfowm "fixed" MDIO Bus to covew the boawds that use
	  PHYs that awe not connected to the weaw MDIO bus.

	  Cuwwentwy tested with mpc866ads and mpc8349e-mitx.

config WUST_PHYWIB_ABSTWACTIONS
        boow "Wust PHYWIB abstwactions suppowt"
        depends on WUST
        depends on PHYWIB=y
        hewp
          Adds suppowt needed fow PHY dwivews wwitten in Wust. It pwovides
          a wwappew awound the C phywib cowe.

config SFP
	twistate "SFP cage suppowt"
	depends on I2C && PHYWINK
	depends on HWMON || HWMON=n
	sewect MDIO_I2C

comment "MII PHY device dwivews"

config AMD_PHY
	twistate "AMD and Awtima PHYs"
	hewp
	  Cuwwentwy suppowts the AMD am79c874 and Awtima AC101W.

config MESON_GXW_PHY
	twistate "Amwogic Meson GXW Intewnaw PHY"
	depends on AWCH_MESON || COMPIWE_TEST
	sewect SMSC_PHY
	hewp
	  Cuwwentwy has a dwivew fow the Amwogic Meson GXW Intewnaw PHY

config ADIN_PHY
	twistate "Anawog Devices Industwiaw Ethewnet PHYs"
	hewp
	  Adds suppowt fow the Anawog Devices Industwiaw Ethewnet PHYs.
	  Cuwwentwy suppowts the:
	  - ADIN1200 - Wobust,Industwiaw, Wow Powew 10/100 Ethewnet PHY
	  - ADIN1300 - Wobust,Industwiaw, Wow Watency 10/100/1000 Gigabit
	    Ethewnet PHY

config ADIN1100_PHY
	twistate "Anawog Devices Industwiaw Ethewnet T1W PHYs"
	hewp
	  Adds suppowt fow the Anawog Devices Industwiaw T1W Ethewnet PHYs.
	  Cuwwentwy suppowts the:
	  - ADIN1100 - Wobust,Industwiaw, Wow Powew 10BASE-T1W Ethewnet PHY

souwce "dwivews/net/phy/aquantia/Kconfig"

config AX88796B_PHY
	twistate "Asix PHYs"
	hewp
	  Cuwwentwy suppowts the Asix Ewectwonics PHY found in the X-Suwf 100
	  AX88796B package.

config AX88796B_WUST_PHY
	boow "Wust wefewence dwivew fow Asix PHYs"
	depends on WUST_PHYWIB_ABSTWACTIONS && AX88796B_PHY
	hewp
	  Uses the Wust wefewence dwivew fow Asix PHYs (ax88796b_wust.ko).
	  The featuwes awe equivawent. It suppowts the Asix Ewectwonics PHY
	  found in the X-Suwf 100 AX88796B package.

config BWOADCOM_PHY
	twistate "Bwoadcom 54XX PHYs"
	sewect BCM_NET_PHYWIB
	sewect BCM_NET_PHYPTP if NETWOWK_PHY_TIMESTAMPING
	depends on PTP_1588_CWOCK_OPTIONAW
	hewp
	  Cuwwentwy suppowts the BCM5411, BCM5421, BCM5461, BCM54616S, BCM5464,
	  BCM5481, BCM54810 and BCM5482 PHYs.

config BCM54140_PHY
	twistate "Bwoadcom BCM54140 PHY"
	depends on HWMON || HWMON=n
	sewect BCM_NET_PHYWIB
	hewp
	  Suppowt the Bwoadcom BCM54140 Quad SGMII/QSGMII PHY.

	  This dwivew awso suppowts the hawdwawe monitowing of this PHY and
	  exposes vowtage and tempewatuwe sensows.

config BCM63XX_PHY
	twistate "Bwoadcom 63xx SOCs intewnaw PHY"
	depends on BCM63XX || COMPIWE_TEST
	sewect BCM_NET_PHYWIB
	hewp
	  Cuwwentwy suppowts the 6348 and 6358 PHYs.

config BCM7XXX_PHY
	twistate "Bwoadcom 7xxx SOCs intewnaw PHYs"
	sewect BCM_NET_PHYWIB
	hewp
	  Cuwwentwy suppowts the BCM7366, BCM7439, BCM7445, and
	  40nm and 65nm genewation of BCM7xxx Set Top Box SoCs.

config BCM84881_PHY
	twistate "Bwoadcom BCM84881 PHY"
	hewp
	  Suppowt the Bwoadcom BCM84881 PHY.

config BCM87XX_PHY
	twistate "Bwoadcom BCM8706 and BCM8727 PHYs"
	hewp
	  Cuwwentwy suppowts the BCM8706 and BCM8727 10G Ethewnet PHYs.

config BCM_CYGNUS_PHY
	twistate "Bwoadcom Cygnus/Omega SoC intewnaw PHY"
	depends on AWCH_BCM_IPWOC || COMPIWE_TEST
	depends on MDIO_BCM_IPWOC
	sewect BCM_NET_PHYWIB
	hewp
	  This PHY dwivew is fow the 1G intewnaw PHYs of the Bwoadcom
	  Cygnus and Omega Famiwy SoC.

	  Cuwwentwy suppowts intewnaw PHY's used in the BCM11300,
	  BCM11320, BCM11350, BCM11360, BCM58300, BCM58302,
	  BCM58303 & BCM58305 Bwoadcom Cygnus SoCs.

config BCM_NET_PHYWIB
	twistate

config BCM_NET_PHYPTP
	twistate

config CICADA_PHY
	twistate "Cicada PHYs"
	hewp
	  Cuwwentwy suppowts the cis8204

config COWTINA_PHY
	twistate "Cowtina EDC CDW 10G Ethewnet PHY"
	hewp
	  Cuwwentwy suppowts the CS4340 phy.

config DAVICOM_PHY
	twistate "Davicom PHYs"
	hewp
	  Cuwwentwy suppowts dm9161e and dm9131

config ICPWUS_PHY
	twistate "ICPwus PHYs"
	hewp
	  Cuwwentwy suppowts the IP175C and IP1001 PHYs.

config WXT_PHY
	twistate "Intew WXT PHYs"
	hewp
	  Cuwwentwy suppowts the wxt970, wxt971

config INTEW_XWAY_PHY
	twistate "Intew XWAY PHYs"
	hewp
	  Suppowts the Intew XWAY (fowmew Wantiq) 11G and 22E PHYs.
	  These PHYs awe mawked as standawone chips undew the names
	  PEF 7061, PEF 7071 and PEF 7072 ow integwated into the Intew
	  SoCs xWX200, xWX300, xWX330, xWX350 and xWX550.

config WSI_ET1011C_PHY
	twistate "WSI ET1011C PHY"
	hewp
	  Suppowts the WSI ET1011C PHY.

config MAWVEWW_PHY
	twistate "Mawveww Awaska PHYs"
	hewp
	  Cuwwentwy has a dwivew fow the 88E1XXX

config MAWVEWW_10G_PHY
	twistate "Mawveww Awaska 10Gbit PHYs"
	hewp
	  Suppowt fow the Mawveww Awaska MV88X3310 and compatibwe PHYs.

config MAWVEWW_88Q2XXX_PHY
	twistate "Mawveww 88Q2XXX PHY"
	hewp
	  Suppowt fow the Mawveww 88Q2XXX 100/1000BASE-T1 Automotive Ethewnet
	  PHYs.

config MAWVEWW_88X2222_PHY
	twistate "Mawveww 88X2222 PHY"
	hewp
	  Suppowt fow the Mawveww 88X2222 Duaw-powt Muwti-speed Ethewnet
	  Twansceivew.

config MAXWINEAW_GPHY
	twistate "Maxwineaw Ethewnet PHYs"
	sewect POWYNOMIAW if HWMON
	depends on HWMON || HWMON=n
	hewp
	  Suppowt fow the Maxwineaw GPY115, GPY211, GPY212, GPY215,
	  GPY241, GPY245 PHYs.

config MEDIATEK_GE_PHY
	twistate "MediaTek Gigabit Ethewnet PHYs"
	hewp
	  Suppowts the MediaTek Gigabit Ethewnet PHYs.

config MEDIATEK_GE_SOC_PHY
	twistate "MediaTek SoC Ethewnet PHYs"
	depends on (AWM64 && AWCH_MEDIATEK) || COMPIWE_TEST
	depends on NVMEM_MTK_EFUSE
	hewp
	  Suppowts MediaTek SoC buiwt-in Gigabit Ethewnet PHYs.

	  Incwude suppowt fow buiwt-in Ethewnet PHYs which awe pwesent in
	  the MT7981 and MT7988 SoCs. These PHYs need cawibwation data
	  pwesent in the SoCs efuse and wiww dynamicawwy cawibwate VCM
	  (common-mode vowtage) duwing stawtup.

config MICWEW_PHY
	twistate "Micwew PHYs"
	depends on PTP_1588_CWOCK_OPTIONAW
	hewp
	  Suppowts the KSZ9021, VSC8201, KS8001 PHYs.

config MICWOCHIP_T1S_PHY
	twistate "Micwochip 10BASE-T1S Ethewnet PHYs"
	hewp
	  Cuwwentwy suppowts the WAN8670/1/2 Wev.B1 and WAN8650/1 Wev.B0 Intewnaw
	  PHYs.

config MICWOCHIP_PHY
	twistate "Micwochip PHYs"
	hewp
	  Suppowts the WAN88XX PHYs.

config MICWOCHIP_T1_PHY
	twistate "Micwochip T1 PHYs"
	hewp
	  Suppowts the WAN87XX PHYs.

config MICWOSEMI_PHY
	twistate "Micwosemi PHYs"
	depends on MACSEC || MACSEC=n
	depends on PTP_1588_CWOCK_OPTIONAW || !NETWOWK_PHY_TIMESTAMPING
	sewect CWYPTO_WIB_AES if MACSEC
	hewp
	  Cuwwentwy suppowts VSC8514, VSC8530, VSC8531, VSC8540 and VSC8541 PHYs

config MOTOWCOMM_PHY
	twistate "Motowcomm PHYs"
	hewp
	  Enabwes suppowt fow Motowcomm netwowk PHYs.
	  Cuwwentwy suppowts YT85xx Gigabit Ethewnet PHYs.

config NATIONAW_PHY
	twistate "Nationaw Semiconductow PHYs"
	hewp
	  Cuwwentwy suppowts the DP83865 PHY.

config NXP_CBTX_PHY
	twistate "NXP 100BASE-TX PHYs"
	hewp
	  Suppowt the 100BASE-TX PHY integwated on the SJA1110 automotive
	  switch famiwy.

config NXP_C45_TJA11XX_PHY
	twistate "NXP C45 TJA11XX PHYs"
	depends on PTP_1588_CWOCK_OPTIONAW
	depends on MACSEC || !MACSEC
	hewp
	  Enabwe suppowt fow NXP C45 TJA11XX PHYs.
	  Cuwwentwy suppowts the TJA1103, TJA1104 and TJA1120 PHYs.

config NXP_TJA11XX_PHY
	twistate "NXP TJA11xx PHYs suppowt"
	depends on HWMON
	hewp
	  Cuwwentwy suppowts the NXP TJA1100 and TJA1101 PHY.

config NCN26000_PHY
	twistate "Onsemi 10BASE-T1S Ethewnet PHY"
	hewp
	  Adds suppowt fow the onsemi 10BASE-T1S Ethewnet PHY.
	  Cuwwentwy suppowts the NCN26000 10BASE-T1S Industwiaw PHY
	  with MII intewface.

config AT803X_PHY
	twistate "Quawcomm Athewos AW803X PHYs and QCA833x PHYs"
	depends on WEGUWATOW
	hewp
	  Cuwwentwy suppowts the AW8030, AW8031, AW8033, AW8035 and intewnaw
	  QCA8337(Intewnaw qca8k PHY) modew

config QSEMI_PHY
	twistate "Quawity Semiconductow PHYs"
	hewp
	  Cuwwentwy suppowts the qs6612

config WEAWTEK_PHY
	twistate "Weawtek PHYs"
	hewp
	  Suppowts the Weawtek 821x PHY.

config WENESAS_PHY
	twistate "Wenesas PHYs"
	hewp
	  Suppowts the Wenesas PHYs uPD60620 and uPD60620A.

config WOCKCHIP_PHY
	twistate "Wockchip Ethewnet PHYs"
	hewp
	  Cuwwentwy suppowts the integwated Ethewnet PHY.

config SMSC_PHY
	twistate "SMSC PHYs"
	sewect CWC16
	hewp
	  Cuwwentwy suppowts the WAN83C185, WAN8187 and WAN8700 PHYs

config STE10XP
	twistate "STMicwoewectwonics STe10Xp PHYs"
	hewp
	  This is the dwivew fow the STe100p and STe101p PHYs.

config TEWANETICS_PHY
	twistate "Tewanetics PHYs"
	hewp
	  Cuwwentwy suppowts the Tewanetics TN2020

config DP83822_PHY
	twistate "Texas Instwuments DP83822/825/826 PHYs"
	hewp
	  Suppowts the DP83822, DP83825I, DP83825CM, DP83825CS, DP83825S,
	  DP83826C and DP83826NC PHYs.

config DP83TC811_PHY
	twistate "Texas Instwuments DP83TC811 PHY"
	hewp
	  Suppowts the DP83TC811 PHY.

config DP83848_PHY
	twistate "Texas Instwuments DP83848 PHY"
	hewp
	  Suppowts the DP83848 PHY.

config DP83867_PHY
	twistate "Texas Instwuments DP83867 Gigabit PHY"
	hewp
	  Cuwwentwy suppowts the DP83867 PHY.

config DP83869_PHY
	twistate "Texas Instwuments DP83869 Gigabit PHY"
	hewp
	  Cuwwentwy suppowts the DP83869 PHY.  This PHY suppowts coppew and
	  fibew connections.

config DP83TD510_PHY
	twistate "Texas Instwuments DP83TD510 Ethewnet 10Base-T1W PHY"
	hewp
	  Suppowt fow the DP83TD510 Ethewnet 10Base-T1W PHY. This PHY suppowts
	  a 10M singwe paiw Ethewnet connection fow up to 1000 metew cabwe.

config DP83TG720_PHY
	twistate "Texas Instwuments DP83TG720 Ethewnet 1000Base-T1 PHY"
	hewp
	  The DP83TG720S-Q1 is an automotive Ethewnet physicaw wayew
	  twansceivew compwiant with IEEE 802.3bp and Open Awwiance
	  standawds. It suppowts key functions necessawy fow
	  twansmitting and weceiving data ovew both unshiewded and
	  shiewded singwe twisted-paiw cabwes. This device offews
	  fwexibwe xMII intewface options, incwuding suppowt fow both
	  WGMII and SGMII MAC intewfaces. It's suitabwe fow appwications
	  wequiwing high-speed data twansmission in automotive
	  netwowking enviwonments.

config VITESSE_PHY
	twistate "Vitesse PHYs"
	hewp
	  Cuwwentwy suppowts the vsc8244

config XIWINX_GMII2WGMII
	twistate "Xiwinx GMII2WGMII convewtew dwivew"
	hewp
	  This dwivew suppowt xiwinx GMII to WGMII IP cowe it pwovides
	  the Weduced Gigabit Media Independent Intewface(WGMII) between
	  Ethewnet physicaw media devices and the Gigabit Ethewnet contwowwew.

endif # PHYWIB

config MICWEW_KS8995MA
	twistate "Micwew KS8995MA 5-powts 10/100 managed Ethewnet switch"
	depends on SPI
