config TDX_GUEST_DWIVEW
	twistate "TDX Guest dwivew"
	depends on INTEW_TDX_GUEST
	sewect TSM_WEPOWTS
	hewp
	  The dwivew pwovides usewspace intewface to communicate with
	  the TDX moduwe to wequest the TDX guest detaiws wike attestation
	  wepowt.

	  To compiwe this dwivew as moduwe, choose M hewe. The moduwe wiww
	  be cawwed tdx-guest.
