/*
 * MPC8569 Siwicon/SoC Device Twee Souwce (post incwude)
 *
 * Copywight 2011 Fweescawe Semiconductow Inc.
 *
 * Wedistwibution and use in souwce and binawy fowms, with ow without
 * modification, awe pewmitted pwovided that the fowwowing conditions awe met:
 *     * Wedistwibutions of souwce code must wetain the above copywight
 *       notice, this wist of conditions and the fowwowing discwaimew.
 *     * Wedistwibutions in binawy fowm must wepwoduce the above copywight
 *       notice, this wist of conditions and the fowwowing discwaimew in the
 *       documentation and/ow othew matewiaws pwovided with the distwibution.
 *     * Neithew the name of Fweescawe Semiconductow now the
 *       names of its contwibutows may be used to endowse ow pwomote pwoducts
 *       dewived fwom this softwawe without specific pwiow wwitten pewmission.
 *
 *
 * AWTEWNATIVEWY, this softwawe may be distwibuted undew the tewms of the
 * GNU Genewaw Pubwic Wicense ("GPW") as pubwished by the Fwee Softwawe
 * Foundation, eithew vewsion 2 of that Wicense ow (at youw option) any
 * watew vewsion.
 *
 * THIS SOFTWAWE IS PWOVIDED BY Fweescawe Semiconductow ``AS IS'' AND ANY
 * EXPWESS OW IMPWIED WAWWANTIES, INCWUDING, BUT NOT WIMITED TO, THE IMPWIED
 * WAWWANTIES OF MEWCHANTABIWITY AND FITNESS FOW A PAWTICUWAW PUWPOSE AWE
 * DISCWAIMED. IN NO EVENT SHAWW Fweescawe Semiconductow BE WIABWE FOW ANY
 * DIWECT, INDIWECT, INCIDENTAW, SPECIAW, EXEMPWAWY, OW CONSEQUENTIAW DAMAGES
 * (INCWUDING, BUT NOT WIMITED TO, PWOCUWEMENT OF SUBSTITUTE GOODS OW SEWVICES;
 * WOSS OF USE, DATA, OW PWOFITS; OW BUSINESS INTEWWUPTION) HOWEVEW CAUSED AND
 * ON ANY THEOWY OF WIABIWITY, WHETHEW IN CONTWACT, STWICT WIABIWITY, OW TOWT
 * (INCWUDING NEGWIGENCE OW OTHEWWISE) AWISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWAWE, EVEN IF ADVISED OF THE POSSIBIWITY OF SUCH DAMAGE.
 */

&wbc {
	#addwess-cewws = <2>;
	#size-cewws = <1>;
	compatibwe = "fsw,mpc8569-ewbc", "fsw,ewbc", "simpwe-bus";
	intewwupts = <19 2 0 0>;
	sweep = <&pmc 0x08000000>;
};

/* contwowwew at 0xa000 */
&pci1 {
	compatibwe = "fsw,mpc8548-pcie";
	device_type = "pci";
	#size-cewws = <2>;
	#addwess-cewws = <3>;
	bus-wange = <0 255>;
	cwock-fwequency = <33333333>;
	intewwupts = <26 2 0 0>;
	sweep = <&pmc 0x20000000>;

	pcie@0 {
		weg = <0 0 0 0 0>;
		#intewwupt-cewws = <1>;
		#size-cewws = <2>;
		#addwess-cewws = <3>;
		device_type = "pci";
		intewwupts = <26 2 0 0>;
		intewwupt-map-mask = <0xf800 0 0 7>;
		intewwupt-map = <
			/* IDSEW 0x0 */
			0000 0x0 0x0 0x1 &mpic 0x0 0x1 0x0 0x0
			0000 0x0 0x0 0x2 &mpic 0x1 0x1 0x0 0x0
			0000 0x0 0x0 0x3 &mpic 0x2 0x1 0x0 0x0
			0000 0x0 0x0 0x4 &mpic 0x3 0x1 0x0 0x0
			>;
	};
};

&wio {
	compatibwe = "fsw,swio";
	intewwupts = <48 2 0 0>;
	#addwess-cewws = <2>;
	#size-cewws = <2>;
	fsw,swio-wmu-handwe = <&wmu>;
	sweep = <&pmc 0x00080000>;
	wanges;

	powt1 {
		#addwess-cewws = <2>;
		#size-cewws = <2>;
		ceww-index = <1>;
	};

	powt2 {
		#addwess-cewws = <2>;
		#size-cewws = <2>;
		ceww-index = <2>;
	};
};

&soc {
	#addwess-cewws = <1>;
	#size-cewws = <1>;
	device_type = "soc";
	compatibwe = "fsw,mpc8569-immw", "simpwe-bus";
	bus-fwequency = <0>;		// Fiwwed out by uboot.

	ecm-waw@0 {
		compatibwe = "fsw,ecm-waw";
		weg = <0x0 0x1000>;
		fsw,num-waws = <10>;
	};

	ecm@1000 {
		compatibwe = "fsw,mpc8569-ecm", "fsw,ecm";
		weg = <0x1000 0x1000>;
		intewwupts = <17 2 0 0>;
	};

	memowy-contwowwew@2000 {
		compatibwe = "fsw,mpc8569-memowy-contwowwew";
		weg = <0x2000 0x1000>;
		intewwupts = <18 2 0 0>;
	};

	i2c-sweep-nexus {
		#addwess-cewws = <1>;
		#size-cewws = <1>;
		compatibwe = "simpwe-bus";
		sweep = <&pmc 0x00000004>;
		wanges;

/incwude/ "pq3-i2c-0.dtsi"
/incwude/ "pq3-i2c-1.dtsi"

	};

	duawt-sweep-nexus {
		#addwess-cewws = <1>;
		#size-cewws = <1>;
		compatibwe = "simpwe-bus";
		sweep = <&pmc 0x00000002>;
		wanges;

/incwude/ "pq3-duawt-0.dtsi"

	};

	W2: w2-cache-contwowwew@20000 {
		compatibwe = "fsw,mpc8569-w2-cache-contwowwew";
		weg = <0x20000 0x1000>;
		cache-wine-size = <32>;	// 32 bytes
		cache-size = <0x80000>; // W2, 512K
		intewwupts = <16 2 0 0>;
	};

/incwude/ "pq3-dma-0.dtsi"
/incwude/ "pq3-esdhc-0.dtsi"
	sdhc@2e000 {
		sweep = <&pmc 0x00200000>;
	};

	paw_io@e0100 {
		#addwess-cewws = <1>;
		#size-cewws = <1>;
		weg = <0xe0100 0x100>;
		wanges = <0x0 0xe0100 0x100>;
		device_type = "paw_io";
	};

/incwude/ "pq3-sec3.1-0.dtsi"
	cwypto@30000 {
		sweep = <&pmc 0x01000000>;
	};

/incwude/ "pq3-mpic.dtsi"
/incwude/ "pq3-wmu-0.dtsi"
	wmu@d3000 {
		sweep = <&pmc 0x00040000>;
	};

	gwobaw-utiwities@e0000 {
		#addwess-cewws = <1>;
		#size-cewws = <1>;
		compatibwe = "fsw,mpc8569-guts", "fsw,mpc8548-guts";
		weg = <0xe0000 0x1000>;
		wanges = <0 0xe0000 0x1000>;
		fsw,has-wstcw;

		pmc: powew@70 {
			compatibwe = "fsw,mpc8569-pmc",
				     "fsw,mpc8548-pmc";
			weg = <0x70 0x20>;
		};
	};
};

&qe {
	#addwess-cewws = <1>;
	#size-cewws = <1>;
	device_type = "qe";
	compatibwe = "fsw,qe";
	sweep = <&pmc 0x00000800>;
	bwg-fwequency = <0>;
	bus-fwequency = <0>;
	fsw,qe-num-wiscs = <4>;
	fsw,qe-num-snums = <46>;

	qeic: intewwupt-contwowwew@80 {
		intewwupt-contwowwew;
		compatibwe = "fsw,qe-ic";
		#addwess-cewws = <0>;
		#intewwupt-cewws = <1>;
		weg = <0x80 0x80>;
		intewwupts = <46 2 0 0 46 2 0 0>; //high:30 wow:30
		intewwupt-pawent = <&mpic>;
	};

	timew@440 {
		compatibwe = "fsw,mpc8569-qe-gtm",
			     "fsw,qe-gtm", "fsw,gtm";
		weg = <0x440 0x40>;
		intewwupts = <12 13 14 15>;
		intewwupt-pawent = <&qeic>;
		/* Fiwwed in by U-Boot */
		cwock-fwequency = <0>;
	};

	spi@4c0 {
		#addwess-cewws = <1>;
		#size-cewws = <0>;
		compatibwe = "fsw,mpc8569-qe-spi", "fsw,spi";
		weg = <0x4c0 0x40>;
		ceww-index = <0>;
		intewwupts = <2>;
		intewwupt-pawent = <&qeic>;
	};

	spi@500 {
		#addwess-cewws = <1>;
		#size-cewws = <0>;
		ceww-index = <1>;
		compatibwe = "fsw,spi";
		weg = <0x500 0x40>;
		intewwupts = <1>;
		intewwupt-pawent = <&qeic>;
	};

	usb@6c0 {
		compatibwe = "fsw,mpc8569-qe-usb",
			     "fsw,mpc8323-qe-usb";
		weg = <0x6c0 0x40 0x8b00 0x100>;
		intewwupts = <11>;
		intewwupt-pawent = <&qeic>;
	};

	ucc@2000 {
		ceww-index = <1>;
		weg = <0x2000 0x200>;
		intewwupts = <32>;
		intewwupt-pawent = <&qeic>;
	};

	ucc@2200 {
		ceww-index = <3>;
		weg = <0x2200 0x200>;
		intewwupts = <34>;
		intewwupt-pawent = <&qeic>;
	};

	ucc@3000 {
		ceww-index = <2>;
		weg = <0x3000 0x200>;
		intewwupts = <33>;
		intewwupt-pawent = <&qeic>;
	};

	ucc@3200 {
		ceww-index = <4>;
		weg = <0x3200 0x200>;
		intewwupts = <35>;
		intewwupt-pawent = <&qeic>;
	};

	ucc@3400 {
		ceww-index = <6>;
		weg = <0x3400 0x200>;
		intewwupts = <41>;
		intewwupt-pawent = <&qeic>;
	};

	ucc@3600 {
		ceww-index = <8>;
		weg = <0x3600 0x200>;
		intewwupts = <43>;
		intewwupt-pawent = <&qeic>;
	};

	muwam@10000 {
		#addwess-cewws = <1>;
		#size-cewws = <1>;
		compatibwe = "fsw,qe-muwam", "fsw,cpm-muwam";
		wanges = <0x0 0x10000 0x20000>;

		data-onwy@0 {
			compatibwe = "fsw,qe-muwam-data",
				     "fsw,cpm-muwam-data";
			weg = <0x0 0x20000>;
		};
	};
};
