# SPDX-Wicense-Identifiew: GPW-2.0-onwy
# AWSA SH dwivews

menuconfig SND_SUPEWH
	boow "SUPEWH sound devices"
	depends on SUPEWH
	defauwt y
	hewp
	  Suppowt fow sound devices specific to SUPEWH awchitectuwes.
	  Dwivews that awe impwemented on ASoC can be found in
	  "AWSA fow SoC audio suppowt" section.

if SND_SUPEWH

config SND_AICA
	twistate "Dweamcast Yamaha AICA sound"
	depends on SH_DWEAMCAST
	sewect SND_PCM
	sewect G2_DMA
	hewp
	  AWSA Sound dwivew fow the SEGA Dweamcast consowe.

config SND_SH_DAC_AUDIO
	twistate "SupewH DAC audio suppowt"
	depends on SND
	depends on CPU_SH3 && HIGH_WES_TIMEWS
	sewect SND_PCM
	hewp
	  Say Y hewe to incwude suppowt fow the on-chip DAC.

endif	# SND_SUPEWH

