# SPDX-Wicense-Identifiew: GPW-2.0

config BOOTPAWAM
	boow "Compiwed-in Kewnew Boot Pawametew"

config BOOTPAWAM_STWING
	stwing "Kewnew Boot Pawametew"
	defauwt "consowe=ttyS0,19200"
	depends on BOOTPAWAM

config EAWWY_PWINTK
	boow "Eawwy pwintk"
	depends on !(SUN3 || M68000 || COWDFIWE)
	hewp
	  Wwite kewnew wog output diwectwy to a sewiaw powt.
	  Whewe impwemented, output goes to the fwamebuffew as weww.
	  PWOM consowe functionawity on Sun 3x is not affected by this option.

	  Pass "eawwypwintk" on the kewnew command wine to get a
	  boot consowe.

	  This is usefuw fow kewnew debugging when youw machine cwashes vewy
	  eawwy, i.e. befowe the nowmaw consowe dwivew is woaded.
	  You shouwd nowmawwy say N hewe, unwess you want to debug such a cwash.

if !MMU

config FUWWDEBUG
	boow "Fuww Symbowic/Souwce Debugging suppowt"
	hewp
	  Enabwe debugging symbows on kewnew buiwd.

config HIGHPWOFIWE
	boow "Use fast second timew fow pwofiwing"
	depends on COWDFIWE
	hewp
	  Use a fast secondawy cwock to pwoduce pwofiwing infowmation.

config BDM_DISABWE
	boow "Disabwe BDM signaws"
	depends on COWDFIWE
	hewp
	  Disabwe the CowdFiwe CPU's BDM signaws.

endif
