# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config COMMON_CWK_BOSTON
	boow "Cwock dwivew fow MIPS Boston boawds"
	depends on MIPS || COMPIWE_TEST
	sewect MFD_SYSCON
	hewp
	  Enabwe this to suppowt the system & CPU cwocks on the MIPS Boston
	  devewopment boawd fwom Imagination Technowogies. These awe simpwe
	  fixed wate cwocks whose wate is detewmined by weading a pwatfowm
	  pwovided wegistew.
