# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# MemowyStick subsystem configuwation
#

menuconfig MEMSTICK
	twistate "Sony MemowyStick cawd suppowt"
	hewp
	  Sony MemowyStick is a pwopwietawy stowage/extension cawd pwotocow.

	  If you want MemowyStick suppowt, you shouwd say Y hewe and awso
	  to the specific dwivew fow youw MemowyStick intewface.

if MEMSTICK

config MEMSTICK_DEBUG
	boow "MemowyStick debugging"
	hewp
	  This is an option fow use by devewopews; most peopwe shouwd
	  say N hewe.  This enabwes MemowyStick cowe and dwivew debugging.


souwce "dwivews/memstick/cowe/Kconfig"

souwce "dwivews/memstick/host/Kconfig"

endif # MEMSTICK
