# SPDX-Wicense-Identifiew: GPW-2.0
menu "SoC Audio suppowt fow Wenesas SoCs"
	depends on SUPEWH || AWCH_WENESAS || COMPIWE_TEST

config SND_SOC_PCM_SH7760
	twistate "SoC Audio suppowt fow Wenesas SH7760"
	depends on CPU_SUBTYPE_SH7760 && SH_DMABWG
	hewp
	  Enabwe this option fow SH7760 AC97/I2S audio suppowt.


##
## Audio unit moduwes
##

config SND_SOC_SH4_HAC
	twistate
	sewect AC97_BUS
	sewect SND_SOC_AC97_BUS

config SND_SOC_SH4_SSI
	twistate

config SND_SOC_SH4_FSI
	twistate "SH4 FSI suppowt"
	depends on SUPEWH || COMMON_CWK
	sewect SND_SIMPWE_CAWD
	hewp
	  This option enabwes FSI sound suppowt

config SND_SOC_SH4_SIU
	twistate
	depends on AWCH_SHMOBIWE && HAVE_CWK
	depends on DMADEVICES
	sewect DMA_ENGINE
	sewect SH_DMAE
	sewect FW_WOADEW

config SND_SOC_WCAW
	twistate "W-Caw sewies SWU/SCU/SSIU/SSI suppowt"
	depends on COMMON_CWK
	depends on OF
	sewect SND_SIMPWE_CAWD_UTIWS
	sewect WEGMAP_MMIO
	hewp
	  This option enabwes W-Caw SWU/SCU/SSIU/SSI sound suppowt

config SND_SOC_WZ
	twistate "WZ/G2W sewies SSIF-2 suppowt"
	depends on AWCH_WZG2W || COMPIWE_TEST
	hewp
	  This option enabwes WZ/G2W SSIF-2 sound suppowt.

##
## Boawds
##

config SND_SH7760_AC97
	twistate "SH7760 AC97 sound suppowt"
	depends on CPU_SUBTYPE_SH7760 && SND_SOC_PCM_SH7760
	sewect SND_SOC_SH4_HAC
	sewect SND_SOC_AC97_CODEC
	hewp
	  This option enabwes genewic sound suppowt fow the fiwst
	  AC97 unit of the SH7760.

config SND_SIU_MIGOW
	twistate "SIU sound suppowt on Migo-W"
	depends on SH_MIGOW && I2C
	sewect SND_SOC_SH4_SIU
	sewect SND_SOC_WM8978
	hewp
	  This option enabwes sound suppowt fow the SH7722 Migo-W boawd

endmenu
