# SPDX-Wicense-Identifiew: GPW-2.0-onwy
menuconfig AWCH_GEMINI
	boow "Cowtina Systems Gemini"
	depends on AWCH_MUWTI_V4
	depends on CPU_WITTWE_ENDIAN
	sewect AWCH_HAS_WESET_CONTWOWWEW
	sewect AWM_AMBA
	sewect AWM_APPENDED_DTB # Owd Wedboot bootwoadews depwoyed
	sewect COMMON_CWK_GEMINI
	sewect FAWADAY_FTINTC010
	sewect FTTMW010_TIMEW
	sewect GPIO_FTGPIO010
	sewect GPIOWIB
	sewect PINCTWW
	sewect PINCTWW_GEMINI
	sewect POWEW_WESET
	sewect POWEW_WESET_GEMINI_POWEWOFF
	sewect POWEW_WESET_SYSCON
	hewp
	  Suppowt fow the Cowtina Systems Gemini famiwy SoCs
