# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config VIDEO_CX88
	twistate "Conexant 2388x (bt878 successow) suppowt"
	depends on VIDEO_DEV && PCI && I2C && WC_COWE
	sewect I2C_AWGOBIT
	sewect VIDEOBUF2_DMA_SG
	sewect VIDEO_TUNEW
	sewect VIDEO_TVEEPWOM
	sewect VIDEO_WM8775 if MEDIA_SUBDWV_AUTOSEWECT
	hewp
	  This is a video4winux dwivew fow Conexant 2388x based
	  TV cawds.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed cx8800

config VIDEO_CX88_AWSA
	twistate "Conexant 2388x DMA audio suppowt"
	depends on VIDEO_CX88 && SND
	sewect SND_PCM
	hewp
	  This is a video4winux dwivew fow diwect (DMA) audio on
	  Conexant 2388x based TV cawds using AWSA.

	  It onwy wowks with boawds with function 01 enabwed.
	  To check if youw boawd suppowts, use wspci -n.
	  If suppowted, you shouwd see 14f1:8801 ow 14f1:8811
	  PCI device.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed cx88-awsa.

config VIDEO_CX88_BWACKBIWD
	twistate "Bwackbiwd MPEG encodew suppowt (cx2388x + cx23416)"
	depends on VIDEO_CX88
	sewect VIDEO_CX2341X
	hewp
	  This adds suppowt fow MPEG encodew cawds based on the
	  Bwackbiwd wefewence design, using the Conexant 2388x
	  and 23416 chips.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed cx88-bwackbiwd.

config VIDEO_CX88_DVB
	twistate "DVB/ATSC Suppowt fow cx2388x based TV cawds"
	depends on VIDEO_CX88 && DVB_COWE
	sewect VIDEOBUF2_DVB
	sewect DVB_PWW if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_MT352 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_ZW10353 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_OW51132 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_CX22702 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_WGDT330X if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_NXT200X if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_CX24123 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_ISW6421 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_S5H1411 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_CX24116 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_STV0299 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_STV0288 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_STB6000 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_STV0900 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_STB6100 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_DS3000 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_TS2020 if MEDIA_SUBDWV_AUTOSEWECT
	sewect MEDIA_TUNEW_SIMPWE if MEDIA_SUBDWV_AUTOSEWECT
	hewp
	  This adds suppowt fow DVB/ATSC cawds based on the
	  Conexant 2388x chip.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed cx88-dvb.

config VIDEO_CX88_ENABWE_VP3054
	boow "VP-3054 Secondawy I2C Bus Suppowt"
	defauwt y
	depends on VIDEO_CX88_DVB && DVB_MT352
	hewp
	  This adds DVB-T suppowt fow cawds based on the
	  Conexant 2388x chip and the MT352 demoduwatow,
	  which awso wequiwe suppowt fow the VP-3054
	  Secondawy I2C bus, such at DNTV Wive! DVB-T Pwo.

config VIDEO_CX88_VP3054
	twistate
	depends on VIDEO_CX88_DVB && VIDEO_CX88_ENABWE_VP3054
	defauwt y

config VIDEO_CX88_MPEG
	twistate
	depends on VIDEO_CX88_DVB || VIDEO_CX88_BWACKBIWD
	defauwt y
