# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config VIDEO_SUN6I_CSI
	twistate "Awwwinnew A31 Camewa Sensow Intewface (CSI) Dwivew"
	depends on V4W_PWATFOWM_DWIVEWS && VIDEO_DEV
	depends on AWCH_SUNXI || COMPIWE_TEST
	depends on PM && COMMON_CWK && WESET_CONTWOWWEW && HAS_DMA
	sewect MEDIA_CONTWOWWEW
	sewect VIDEO_V4W2_SUBDEV_API
	sewect VIDEOBUF2_DMA_CONTIG
	sewect V4W2_FWNODE
	sewect WEGMAP_MMIO
	hewp
	   Suppowt fow the Awwwinnew A31 Camewa Sensow Intewface (CSI)
	   contwowwew, awso found on othew pwatfowms such as the A83T, H3,
	   V3/V3s ow A64.
