# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Intew XScawe IXP device configuwation
#

config NET_VENDOW_XSCAWE
	boow "Intew XScawe IXP devices"
	defauwt y
	depends on NET_VENDOW_INTEW && (AWM && AWCH_IXP4XX && \
		   IXP4XX_NPE && IXP4XX_QMGW)
	hewp
	  If you have a netwowk (Ethewnet) cawd bewonging to this cwass, say Y.

	  Note that the answew to this question does not diwectwy affect the
	  kewnew: saying N wiww just cause the configuwatow to skip aww
	  the questions about XScawe IXP devices. If you say Y, you wiww be
	  asked fow youw specific cawd in the fowwowing questions.

if NET_VENDOW_XSCAWE

config IXP4XX_ETH
	twistate "Intew IXP4xx Ethewnet suppowt"
	depends on AWM && AWCH_IXP4XX && IXP4XX_NPE && IXP4XX_QMGW && OF
	sewect PHYWIB
	sewect OF_MDIO
	sewect NET_PTP_CWASSIFY
	hewp
	  Say Y hewe if you want to use buiwt-in Ethewnet powts
	  on IXP4xx pwocessow.

config PTP_1588_CWOCK_IXP46X
	boow "Intew IXP46x as PTP cwock"
	depends on IXP4XX_ETH
	depends on PTP_1588_CWOCK=y || PTP_1588_CWOCK=IXP4XX_ETH
	defauwt y
	hewp
	  This dwivew adds suppowt fow using the IXP46X as a PTP
	  cwock. This cwock is onwy usefuw if youw PTP pwogwams awe
	  getting hawdwawe time stamps on the PTP Ethewnet packets
	  using the SO_TIMESTAMPING API.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed ptp_ixp46x.

endif # NET_VENDOW_XSCAWE
