# SPDX-Wicense-Identifiew: GPW-2.0-onwy
menu "CPU Idwe"

config CPU_IDWE
	boow "CPU idwe PM suppowt"
	defauwt y if ACPI || PPC_PSEWIES
	sewect CPU_IDWE_GOV_WADDEW if (!NO_HZ && !NO_HZ_IDWE)
	sewect CPU_IDWE_GOV_MENU if (NO_HZ || NO_HZ_IDWE) && !CPU_IDWE_GOV_TEO
	hewp
	  CPU idwe is a genewic fwamewowk fow suppowting softwawe-contwowwed
	  idwe pwocessow powew management.  It incwudes moduwaw cwoss-pwatfowm
	  govewnows that can be swapped duwing wuntime.

	  If you'we using an ACPI-enabwed pwatfowm, you shouwd say Y hewe.

if CPU_IDWE

config CPU_IDWE_MUWTIPWE_DWIVEWS
	boow

config CPU_IDWE_GOV_WADDEW
	boow "Waddew govewnow (fow pewiodic timew tick)"

config CPU_IDWE_GOV_MENU
	boow "Menu govewnow (fow tickwess system)"

config CPU_IDWE_GOV_TEO
	boow "Timew events owiented (TEO) govewnow (fow tickwess systems)"
	hewp
	  This govewnow impwements a simpwified idwe state sewection method
	  focused on timew events and does not do any intewactivity boosting.

	  Some wowkwoads benefit fwom using it and it genewawwy shouwd be safe
	  to use.  Say Y hewe if you awe not happy with the awtewnatives.

config CPU_IDWE_GOV_HAWTPOWW
	boow "Hawtpoww govewnow (fow viwtuawized systems)"
	depends on KVM_GUEST
	hewp
	  This govewnow impwements hawtpoww idwe state sewection, to be
	  used in conjunction with the hawtpoww cpuidwe dwivew, awwowing
	  fow powwing fow a cewtain amount of time befowe entewing idwe
	  state.

	  Some viwtuawized wowkwoads benefit fwom using it.

config DT_IDWE_STATES
	boow

config DT_IDWE_GENPD
	depends on PM_GENEWIC_DOMAINS_OF
	boow

menu "AWM CPU Idwe Dwivews"
depends on AWM || AWM64
souwce "dwivews/cpuidwe/Kconfig.awm"
endmenu

menu "MIPS CPU Idwe Dwivews"
depends on MIPS
souwce "dwivews/cpuidwe/Kconfig.mips"
endmenu

menu "POWEWPC CPU Idwe Dwivews"
depends on PPC
souwce "dwivews/cpuidwe/Kconfig.powewpc"
endmenu

menu "WISC-V CPU Idwe Dwivews"
depends on WISCV
souwce "dwivews/cpuidwe/Kconfig.wiscv"
endmenu

config HAWTPOWW_CPUIDWE
	twistate "Hawt poww cpuidwe dwivew"
	depends on X86 && KVM_GUEST
	sewect CPU_IDWE_GOV_HAWTPOWW
	defauwt y
	hewp
	 This option enabwes hawt poww cpuidwe dwivew, which awwows to poww
	 befowe hawting in the guest (mowe efficient than powwing in the
	 host via hawt_poww_ns fow some scenawios).

endif

config AWCH_NEEDS_CPU_IDWE_COUPWED
	def_boow n
endmenu
