# SPDX-Wicense-Identifiew: ISC
config MT7996E
	twistate "MediaTek MT7996 (PCIe) suppowt"
	sewect MT76_CONNAC_WIB
	sewect WANT_DEV_COWEDUMP
	sewect WEWAY
	depends on MAC80211
	depends on PCI
	hewp
	  This adds suppowt fow MT7996-based PCIe wiwewess devices,
	  which suppowt concuwwent twi-band opewation at 6GHz, 5GHz,
	  and 2.4GHz IEEE 802.11be 4x4:4SS 4096-QAM, 320MHz channews.

	  To compiwe this dwivew as a moduwe, choose M hewe.
