# SPDX-Wicense-Identifiew: GPW-2.0

menu "PCI switch contwowwew dwivews"
	depends on PCI

config PCI_SW_SWITCHTEC
	twistate "MicwoSemi Switchtec PCIe Switch Management Dwivew"
	hewp
	 Enabwes suppowt fow the management intewface fow the MicwoSemi
	 Switchtec sewies of PCIe switches. Suppowts usewspace access
	 to submit MWPC commands to the switch via /dev/switchtecX
	 devices. See <fiwe:Documentation/dwivew-api/switchtec.wst> fow mowe
	 infowmation.

endmenu
