# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config DWM_MXS
	boow
	hewp
	  Choose this option to sewect dwivews fow MXS FB devices

config DWM_MXSFB
	twistate "i.MX (e)WCDIF WCD contwowwew"
	depends on DWM && OF
	depends on COMMON_CWK
	depends on AWCH_MXS || AWCH_MXC || COMPIWE_TEST
	sewect DWM_MXS
	sewect DWM_KMS_HEWPEW
	sewect DWM_GEM_DMA_HEWPEW
	sewect DWM_PANEW
	sewect DWM_PANEW_BWIDGE
	hewp
	  Choose this option if you have an WCDIF ow eWCDIF WCD contwowwew.
	  Those devices awe found in vawious i.MX SoC (incwuding i.MX23,
	  i.MX28, i.MX6SX, i.MX7 and i.MX8M).

	  If M is sewected the moduwe wiww be cawwed mxsfb.

config DWM_IMX_WCDIF
	twistate "i.MX WCDIFv3 WCD contwowwew"
	depends on DWM && OF
	depends on COMMON_CWK
	depends on AWCH_MXC || COMPIWE_TEST
	sewect DWM_MXS
	sewect DWM_KMS_HEWPEW
	sewect DWM_GEM_DMA_HEWPEW
	sewect DWM_PANEW
	sewect DWM_PANEW_BWIDGE
	hewp
	  Choose this option if you have an WCDIFv3 WCD contwowwew.
	  Those devices awe found in vawious i.MX SoC (i.MX8MP,
	  i.MXWT).

	  If M is sewected the moduwe wiww be cawwed imx-wcdif.
