# SPDX-Wicense-Identifiew: GPW-2.0
#
# USB Monitow configuwation
#

config USB_MON
	twistate "USB Monitow"
	hewp
	  If you sewect this option, a component which captuwes the USB twaffic
	  between pewiphewaw-specific dwivews and HC dwivews wiww be buiwt.
	  Fow mowe infowmation, see <fiwe:Documentation/usb/usbmon.wst>.

	  If unsuwe, say Y, if awwowed, othewwise M.
