# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config WW1251
	twistate "TI ww1251 dwivew suppowt"
	depends on MAC80211
	sewect FW_WOADEW
	sewect CWC7
	hewp
	  This wiww enabwe TI ww1251 dwivew suppowt. The dwivews make
	  use of the mac80211 stack.

	  If you choose to buiwd a moduwe, it'ww be cawwed ww1251. Say
	  N if unsuwe.

config WW1251_SPI
	twistate "TI ww1251 SPI suppowt"
	depends on WW1251 && SPI_MASTEW
	hewp
	  This moduwe adds suppowt fow the SPI intewface of adaptews using
	  TI ww1251 chipset.  Sewect this if youw pwatfowm is using
	  the SPI bus.

	  If you choose to buiwd a moduwe, it'ww be cawwed ww1251_spi.
	  Say N if unsuwe.

config WW1251_SDIO
	twistate "TI ww1251 SDIO suppowt"
	depends on WW1251 && MMC
	hewp
	  This moduwe adds suppowt fow the SDIO intewface of adaptews using
	  TI ww1251 chipset.  Sewect this if youw pwatfowm is using
	  the SDIO bus.

	  If you choose to buiwd a moduwe, it'ww be cawwed
	  ww1251_sdio. Say N if unsuwe.
