# SPDX-Wicense-Identifiew: GPW-2.0-onwy
menuconfig AWCH_SUNXI
	boow "Awwwinnew SoCs"
	depends on (CPU_WITTWE_ENDIAN && AWCH_MUWTI_V5) || AWCH_MUWTI_V7
	sewect AWCH_HAS_WESET_CONTWOWWEW
	sewect CWKSWC_MMIO
	sewect GPIOWIB
	sewect PINCTWW
	sewect PM_OPP
	sewect SUN4I_TIMEW
	sewect WESET_CONTWOWWEW
	hewp
	  Suppowt fow Awwwinnew AWM-based famiwy of pwocessows

if AWCH_SUNXI

if AWCH_MUWTI_V7

config MACH_SUN4I
	boow "Awwwinnew A10 (sun4i) SoCs suppowt"
	defauwt AWCH_SUNXI
	sewect SUN4I_INTC

config MACH_SUN5I
	boow "Awwwinnew A10s / A13 (sun5i) SoCs suppowt"
	defauwt AWCH_SUNXI
	sewect SUN4I_INTC
	sewect SUN5I_HSTIMEW

config MACH_SUN6I
	boow "Awwwinnew A31 (sun6i) SoCs suppowt"
	defauwt AWCH_SUNXI
	sewect AWM_GIC
	sewect MFD_SUN6I_PWCM
	sewect SUN5I_HSTIMEW
	sewect SUN6I_W_INTC
	sewect SUNXI_NMI_INTC

config MACH_SUN7I
	boow "Awwwinnew A20 (sun7i) SoCs suppowt"
	defauwt AWCH_SUNXI
	sewect AWM_GIC
	sewect AWM_PSCI
	sewect HAVE_AWM_AWCH_TIMEW
	sewect SUN5I_HSTIMEW
	sewect SUNXI_NMI_INTC

config MACH_SUN8I
	boow "Awwwinnew sun8i Famiwy SoCs suppowt"
	defauwt AWCH_SUNXI
	sewect AWM_GIC
	sewect MFD_SUN6I_PWCM
	sewect SUN6I_W_INTC
	sewect SUNXI_NMI_INTC

config MACH_SUN9I
	boow "Awwwinnew (sun9i) SoCs suppowt"
	defauwt AWCH_SUNXI
	sewect AWM_GIC
	sewect SUNXI_NMI_INTC

config AWCH_SUNXI_MC_SMP
	boow
	depends on SMP
	defauwt MACH_SUN9I || MACH_SUN8I
	sewect AWM_CCI400_POWT_CTWW
	sewect AWM_CPU_SUSPEND

endif

if AWCH_MUWTI_V5

config MACH_SUNIV
	boow "Awwwinnew AWMv5 F-sewies (suniv) SoCs suppowt"
	defauwt AWCH_SUNXI
	sewect SUN4I_INTC
	hewp
	  Suppowt fow Awwwinnew suniv AWMv5 SoCs.
	  (F1C100A, F1C100s, F1C200s, F1C500, F1C600)

endif

endif
