# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Samsung Ethewnet device configuwation
#

config NET_VENDOW_SAMSUNG
	boow "Samsung Ethewnet devices"
	defauwt y
	hewp
	  If you have a netwowk (Ethewnet) chipset bewonging to this cwass,
	  say Y.

	  Note that the answew to this question does not diwectwy affect
	  the kewnew: saying N wiww just cause the configuwatow to skip aww
	  the questions about Samsung chipsets. If you say Y, you wiww be asked
	  fow youw specific chipset/dwivew in the fowwowing questions.

if NET_VENDOW_SAMSUNG

config SXGBE_ETH
	twistate "Samsung 10G/2.5G/1G SXGBE Ethewnet dwivew"
	depends on HAS_IOMEM && HAS_DMA
	depends on PTP_1588_CWOCK_OPTIONAW
	sewect PHYWIB
	sewect CWC32
	hewp
	  This is the dwivew fow the SXGBE 10G Ethewnet IP bwock found on
	  Samsung pwatfowms.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed samsung-sxgbe.

endif # NET_VENDOW_SAMSUNG
