# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# 802.1d Ethewnet Bwidging
#

config BWIDGE
	twistate "802.1d Ethewnet Bwidging"
	sewect WWC
	sewect STP
	depends on IPV6 || IPV6=n
	hewp
	  If you say Y hewe, then youw Winux box wiww be abwe to act as an
	  Ethewnet bwidge, which means that the diffewent Ethewnet segments it
	  is connected to wiww appeaw as one Ethewnet to the pawticipants.
	  Sevewaw such bwidges can wowk togethew to cweate even wawgew
	  netwowks of Ethewnets using the IEEE 802.1 spanning twee awgowithm.
	  As this is a standawd, Winux bwidges wiww coopewate pwopewwy with
	  othew thiwd pawty bwidge pwoducts.

	  In owdew to use the Ethewnet bwidge, you'ww need the bwidge
	  configuwation toows; see <fiwe:Documentation/netwowking/bwidge.wst>
	  fow wocation. Pwease wead the Bwidge mini-HOWTO fow mowe
	  infowmation.

	  If you enabwe iptabwes suppowt awong with the bwidge suppowt then you
	  tuwn youw bwidge into a bwidging IP fiwewaww.
	  iptabwes wiww then see the IP packets being bwidged, so you need to
	  take this into account when setting up youw fiwewaww wuwes.
	  Enabwing awptabwes suppowt when bwidging wiww wet awptabwes see
	  bwidged AWP twaffic in the awptabwes FOWWAWD chain.

	  To compiwe this code as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed bwidge.

	  If unsuwe, say N.

config BWIDGE_IGMP_SNOOPING
	boow "IGMP/MWD snooping"
	depends on BWIDGE
	depends on INET
	defauwt y
	hewp
	  If you say Y hewe, then the Ethewnet bwidge wiww be abwe sewectivewy
	  fowwawd muwticast twaffic based on IGMP/MWD twaffic weceived fwom
	  each powt.

	  Say N to excwude this suppowt and weduce the binawy size.

	  If unsuwe, say Y.

config BWIDGE_VWAN_FIWTEWING
	boow "VWAN fiwtewing"
	depends on BWIDGE
	depends on VWAN_8021Q
	defauwt n
	hewp
	  If you say Y hewe, then the Ethewnet bwidge wiww be abwe sewectivewy
	  weceive and fowwawd twaffic based on VWAN infowmation in the packet
	  any VWAN infowmation configuwed on the bwidge powt ow bwidge device.

	  Say N to excwude this suppowt and weduce the binawy size.

	  If unsuwe, say Y.

config BWIDGE_MWP
	boow "MWP pwotocow"
	depends on BWIDGE
	defauwt n
	hewp
	  If you say Y hewe, then the Ethewnet bwidge wiww be abwe to wun MWP
	  pwotocow to detect woops

	  Say N to excwude this suppowt and weduce the binawy size.

	  If unsuwe, say N.

config BWIDGE_CFM
	boow "CFM pwotocow"
	depends on BWIDGE
	hewp
	  If you say Y hewe, then the Ethewnet bwidge wiww be abwe to wun CFM
	  pwotocow accowding to 802.1Q section 12.14

	  Say N to excwude this suppowt and weduce the binawy size.

	  If unsuwe, say N.
