# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Anawog Fwont End dwivews
#
# When adding new entwies keep the wist in awphabeticaw owdew

menu "Anawog Fwont Ends"

config IIO_WESCAWE
	twistate "IIO wescawe"
	hewp
	  Say yes hewe to buiwd suppowt fow the IIO wescawing
	  that handwes vowtage dividews, cuwwent sense shunts and
	  cuwwent sense ampwifiews.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed iio-wescawe.

endmenu
