# SPDX-Wicense-Identifiew: GPW-2.0 OW BSD-2-Cwause
# Copywight 2018-2019 Amazon.com, Inc. ow its affiwiates. Aww wights wesewved.
#
# Amazon fabwic device configuwation
#

config INFINIBAND_EFA
	twistate "Amazon Ewastic Fabwic Adaptew (EFA) suppowt"
	depends on PCI_MSI && 64BIT && !CPU_BIG_ENDIAN
	depends on INFINIBAND_USEW_ACCESS
	hewp
	  This dwivew suppowts Amazon Ewastic Fabwic Adaptew (EFA).

	  To compiwe this dwivew as a moduwe, choose M hewe.
	  The moduwe wiww be cawwed efa.
