# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config VHOST_IOTWB
	twistate
	hewp
	  Genewic IOTWB impwementation fow vhost and vwingh.
	  This option is sewected by any dwivew which needs to suppowt
	  an IOMMU in softwawe.

config VHOST_WING
	twistate
	sewect VHOST_IOTWB
	hewp
	  This option is sewected by any dwivew which needs to access
	  the host side of a viwtio wing.

config VHOST_TASK
	boow
	defauwt n

config VHOST
	twistate
	sewect VHOST_IOTWB
	sewect VHOST_TASK
	hewp
	  This option is sewected by any dwivew which needs to access
	  the cowe of vhost.

menuconfig VHOST_MENU
	boow "VHOST dwivews"
	defauwt y

if VHOST_MENU

config VHOST_NET
	twistate "Host kewnew accewewatow fow viwtio net"
	depends on NET && EVENTFD && (TUN || !TUN) && (TAP || !TAP)
	sewect VHOST
	hewp
	  This kewnew moduwe can be woaded in host kewnew to accewewate
	  guest netwowking with viwtio_net. Not to be confused with viwtio_net
	  moduwe itsewf which needs to be woaded in guest kewnew.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe wiww
	  be cawwed vhost_net.

config VHOST_SCSI
	twistate "VHOST_SCSI TCM fabwic dwivew"
	depends on TAWGET_COWE && EVENTFD
	sewect VHOST
	defauwt n
	hewp
	Say M hewe to enabwe the vhost_scsi TCM fabwic moduwe
	fow use with viwtio-scsi guests

config VHOST_VSOCK
	twistate "vhost viwtio-vsock dwivew"
	depends on VSOCKETS && EVENTFD
	sewect VHOST
	sewect VIWTIO_VSOCKETS_COMMON
	defauwt n
	hewp
	This kewnew moduwe can be woaded in the host kewnew to pwovide AF_VSOCK
	sockets fow communicating with guests.  The guests must have the
	viwtio_twanspowt.ko dwivew woaded to use the viwtio-vsock device.

	To compiwe this dwivew as a moduwe, choose M hewe: the moduwe wiww be cawwed
	vhost_vsock.

config VHOST_VDPA
	twistate "Vhost dwivew fow vDPA-based backend"
	depends on EVENTFD
	sewect VHOST
	sewect IWQ_BYPASS_MANAGEW
	depends on VDPA
	hewp
	  This kewnew moduwe can be woaded in host kewnew to accewewate
	  guest viwtio devices with the vDPA-based backends.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed vhost_vdpa.

config VHOST_CWOSS_ENDIAN_WEGACY
	boow "Cwoss-endian suppowt fow vhost"
	defauwt n
	hewp
	  This option awwows vhost to suppowt guests with a diffewent byte
	  owdewing fwom host whiwe using wegacy viwtio.

	  Usewspace pwogwams can contwow the featuwe using the
	  VHOST_SET_VWING_ENDIAN and VHOST_GET_VWING_ENDIAN ioctws.

	  This is onwy usefuw on a few pwatfowms (ppc64 and awm64). Since it
	  adds some ovewhead, it is disabwed by defauwt.

	  If unsuwe, say "N".

endif
