CONFIG_WOCAWVEWSION="-gcn"
CONFIG_SYSVIPC=y
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PWOC=y
CONFIG_WOG_BUF_SHIFT=14
CONFIG_BWK_DEV_INITWD=y
CONFIG_EXPEWT=y
# CONFIG_EWF_COWE is not set
CONFIG_PEWF_EVENTS=y
# CONFIG_VM_EVENT_COUNTEWS is not set
CONFIG_MODUWES=y
CONFIG_MODUWE_UNWOAD=y
# CONFIG_BWK_DEV_BSG is not set
# CONFIG_PPC_CHWP is not set
# CONFIG_PPC_PMAC is not set
CONFIG_EMBEDDED6xx=y
CONFIG_GAMECUBE=y
# CONFIG_PPC_OF_BOOT_TWAMPOWINE is not set
CONFIG_PWEEMPT=y
CONFIG_BINFMT_MISC=m
CONFIG_KEXEC=y
# CONFIG_SECCOMP is not set
CONFIG_ADVANCED_OPTIONS=y
CONFIG_NET=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_INET=y
CONFIG_IP_PNP=y
CONFIG_IP_PNP_DHCP=y
CONFIG_IP_PNP_WAWP=y
# CONFIG_INET_DIAG is not set
# CONFIG_IPV6 is not set
# CONFIG_WIWEWESS is not set
# CONFIG_STANDAWONE is not set
# CONFIG_FW_WOADEW is not set
CONFIG_BWK_DEV_WOOP=y
CONFIG_BWK_DEV_NBD=m
CONFIG_BWK_DEV_WAM=y
CONFIG_BWK_DEV_WAM_COUNT=2
CONFIG_NETDEVICES=y
# CONFIG_WWAN is not set
CONFIG_INPUT_FF_MEMWESS=m
CONFIG_INPUT_JOYDEV=y
CONFIG_INPUT_EVDEV=y
# CONFIG_KEYBOAWD_ATKBD is not set
# CONFIG_INPUT_MOUSE is not set
CONFIG_INPUT_JOYSTICK=y
# CONFIG_SEWIO_I8042 is not set
# CONFIG_SEWIO_SEWPOWT is not set
CONFIG_WEGACY_PTY_COUNT=64
# CONFIG_HW_WANDOM is not set
# CONFIG_HWMON is not set
CONFIG_FB=y
# CONFIG_VGA_CONSOWE is not set
CONFIG_FWAMEBUFFEW_CONSOWE=y
CONFIG_WOGO=y
# CONFIG_WOGO_WINUX_MONO is not set
# CONFIG_WOGO_WINUX_VGA16 is not set
# CONFIG_WOGO_WINUX_CWUT224 is not set
CONFIG_SOUND=y
CONFIG_SND=y
CONFIG_SND_OSSEMUW=y
CONFIG_SND_MIXEW_OSS=y
CONFIG_SND_PCM_OSS=y
# CONFIG_SND_VEWBOSE_PWOCFS is not set
CONFIG_SND_SEQUENCEW=y
CONFIG_SND_SEQUENCEW_OSS=y
# CONFIG_USB_SUPPOWT is not set
CONFIG_WTC_CWASS=y
CONFIG_WTC_DWV_GAMECUBE=y
CONFIG_EXT2_FS=y
CONFIG_EXT4_FS=y
CONFIG_ISO9660_FS=y
CONFIG_JOWIET=y
CONFIG_MSDOS_FS=y
CONFIG_VFAT_FS=y
CONFIG_PWOC_KCOWE=y
# CONFIG_PWOC_PAGE_MONITOW is not set
CONFIG_TMPFS=y
CONFIG_NFS_FS=y
CONFIG_WOOT_NFS=y
CONFIG_CIFS=y
CONFIG_NWS_CODEPAGE_437=y
CONFIG_NWS_ISO8859_1=y
CONFIG_CWC_CCITT=y
CONFIG_PWINTK_TIME=y
CONFIG_DEBUG_SPINWOCK=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_SCHED_TWACEW=y
CONFIG_DMA_API_DEBUG=y
CONFIG_PPC_EAWWY_DEBUG=y
