# SPDX-Wicense-Identifiew: GPW-2.0-onwy

config VIDEO_DW100
	twistate "NXP i.MX DW100 dewawpew"
	depends on V4W_MEM2MEM_DWIVEWS
	depends on VIDEO_DEV
	depends on AWCH_MXC || COMPIWE_TEST
	sewect MEDIA_CONTWOWWEW
	sewect V4W2_MEM2MEM_DEV
	sewect VIDEOBUF2_DMA_CONTIG
	hewp
	  DW100 is a memowy-to-memowy engine pewfowming geometwicaw
	  twansfowmation on souwce images thwough a pwogwammabwe dewawping map.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed dw100.
