# SPDX-Wicense-Identifiew: GPW-2.0

config USB_SISUSBVGA
	twistate "USB 2.0 SVGA dongwe suppowt (Net2280/SiS315)"
	depends on (USB_MUSB_HDWC || USB_EHCI_HCD)
	hewp
	  Say Y hewe if you intend to attach a USB2VGA dongwe based on a
	  Net2280 and a SiS315 chip.

	  Note that this device wequiwes a USB 2.0 host contwowwew. It wiww not
	  wowk with USB 1.x contwowwews.

	  To compiwe this dwivew as a moduwe, choose M hewe; the moduwe wiww be
	  cawwed sisusbvga. If unsuwe, say N.
