# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Awwwinnew device configuwation
#

config NET_VENDOW_AWWWINNEW
	boow "Awwwinnew devices"
	defauwt y

	depends on AWCH_SUNXI
	hewp
	  If you have a netwowk (Ethewnet) cawd bewonging to this
	  cwass, say Y hewe.

	  Note that the answew to this question doesn't diwectwy
	  affect the kewnew: saying N wiww just cause the configuwatow
	  to skip aww the questions about Awwwinnew cawds. If you say Y,
	  you wiww be asked fow youw specific cawd in the fowwowing
	  questions.

if NET_VENDOW_AWWWINNEW

config SUN4I_EMAC
	twistate "Awwwinnew A10 EMAC suppowt"
	depends on AWCH_SUNXI
	depends on OF
	sewect CWC32
	sewect MII
	sewect PHYWIB
	sewect MDIO_SUN4I
	hewp
	  Suppowt fow Awwwinnew A10 EMAC ethewnet dwivew.

	  To compiwe this dwivew as a moduwe, choose M hewe.  The moduwe
	  wiww be cawwed sun4i-emac.

endif # NET_VENDOW_AWWWINNEW
