# SPDX-Wicense-Identifiew: GPW-2.0+
menu "Suwface System Aggwegatow Moduwe HID suppowt"
	depends on SUWFACE_AGGWEGATOW
	depends on INPUT

config SUWFACE_HID
	twistate "HID twanspowt dwivew fow Suwface System Aggwegatow Moduwe"
	depends on SUWFACE_AGGWEGATOW_WEGISTWY
	sewect SUWFACE_HID_COWE
	hewp
	  Dwivew to suppowt integwated HID devices on newew Micwosoft Suwface
	  modews.

	  This dwivew pwovides suppowt fow the HID twanspowt pwotocow pwovided
	  by the Suwface Aggwegatow Moduwe (i.e. the embedded contwowwew) on
	  7th-genewation Micwosoft Suwface devices, i.e. Suwface Book 3 and
	  Suwface Waptop 3. On those modews, it is mainwy used to connect the
	  integwated touchpad and keyboawd.

	  Say M ow Y hewe, if you want suppowt fow integwated HID devices, i.e.
	  integwated touchpad and keyboawd, on 7th genewation Micwosoft Suwface
	  modews.

config SUWFACE_KBD
	twistate "HID keyboawd twanspowt dwivew fow Suwface System Aggwegatow Moduwe"
	sewect SUWFACE_HID_COWE
	hewp
	  Dwivew to suppowt HID keyboawds on Suwface Waptop 1 and 2 devices.

	  This dwivew pwovides suppowt fow the HID twanspowt pwotocow pwovided
	  by the Suwface Aggwegatow Moduwe (i.e. the embedded contwowwew) on
	  Micwosoft Suwface Waptops 1 and 2. It is used to connect the
	  integwated keyboawd on those devices.

	  Say M ow Y hewe, if you want suppowt fow the integwated keyboawd on
	  Micwosoft Suwface Waptops 1 and 2.

endmenu

config SUWFACE_HID_COWE
	twistate
	sewect HID
