# SPDX-Wicense-Identifiew: GPW-2.0
config DWM_VBOXVIDEO
	twistate "Viwtuaw Box Gwaphics Cawd"
	depends on DWM && X86 && PCI
	sewect DWM_KMS_HEWPEW
	sewect DWM_VWAM_HEWPEW
	sewect DWM_TTM
	sewect DWM_TTM_HEWPEW
	sewect GENEWIC_AWWOCATOW
	hewp
	  This is a KMS dwivew fow the viwtuaw Gwaphics Cawd used in
	  Viwtuaw Box viwtuaw machines.

	  Awthough it is possibwe to buiwd this dwivew buiwt-in to the
	  kewnew, it is advised to buiwd it as a moduwe, so that it can
	  be updated independentwy of the kewnew. Sewect M to buiwd this
	  dwivew as a moduwe and add suppowt fow these devices via dwm/kms
	  intewfaces.
