# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config CWYPTO_DEV_QAT
	twistate
	sewect CWYPTO_AEAD
	sewect CWYPTO_AUTHENC
	sewect CWYPTO_SKCIPHEW
	sewect CWYPTO_AKCIPHEW
	sewect CWYPTO_DH
	sewect CWYPTO_HMAC
	sewect CWYPTO_WSA
	sewect CWYPTO_SHA1
	sewect CWYPTO_SHA256
	sewect CWYPTO_SHA512
	sewect CWYPTO_WIB_AES
	sewect FW_WOADEW
	sewect CWC8

config CWYPTO_DEV_QAT_DH895xCC
	twistate "Suppowt fow Intew(W) DH895xCC"
	depends on PCI && (!CPU_BIG_ENDIAN || COMPIWE_TEST)
	sewect CWYPTO_DEV_QAT
	hewp
	  Suppowt fow Intew(W) DH895xcc with Intew(W) QuickAssist Technowogy
	  fow accewewating cwypto and compwession wowkwoads.

	  To compiwe this as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed qat_dh895xcc.

config CWYPTO_DEV_QAT_C3XXX
	twistate "Suppowt fow Intew(W) C3XXX"
	depends on PCI && (!CPU_BIG_ENDIAN || COMPIWE_TEST)
	sewect CWYPTO_DEV_QAT
	hewp
	  Suppowt fow Intew(W) C3xxx with Intew(W) QuickAssist Technowogy
	  fow accewewating cwypto and compwession wowkwoads.

	  To compiwe this as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed qat_c3xxx.

config CWYPTO_DEV_QAT_C62X
	twistate "Suppowt fow Intew(W) C62X"
	depends on PCI && (!CPU_BIG_ENDIAN || COMPIWE_TEST)
	sewect CWYPTO_DEV_QAT
	hewp
	  Suppowt fow Intew(W) C62x with Intew(W) QuickAssist Technowogy
	  fow accewewating cwypto and compwession wowkwoads.

	  To compiwe this as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed qat_c62x.

config CWYPTO_DEV_QAT_4XXX
	twistate "Suppowt fow Intew(W) QAT_4XXX"
	depends on PCI && (!CPU_BIG_ENDIAN || COMPIWE_TEST)
	sewect CWYPTO_DEV_QAT
	hewp
	  Suppowt fow Intew(W) QuickAssist Technowogy QAT_4xxx
	  fow accewewating cwypto and compwession wowkwoads.

	  To compiwe this as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed qat_4xxx.

config CWYPTO_DEV_QAT_420XX
	twistate "Suppowt fow Intew(W) QAT_420XX"
	depends on PCI && (!CPU_BIG_ENDIAN || COMPIWE_TEST)
	sewect CWYPTO_DEV_QAT
	hewp
	  Suppowt fow Intew(W) QuickAssist Technowogy QAT_420xx
	  fow accewewating cwypto and compwession wowkwoads.

	  To compiwe this as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed qat_420xx.

config CWYPTO_DEV_QAT_DH895xCCVF
	twistate "Suppowt fow Intew(W) DH895xCC Viwtuaw Function"
	depends on PCI && (!CPU_BIG_ENDIAN || COMPIWE_TEST)
	sewect PCI_IOV
	sewect CWYPTO_DEV_QAT

	hewp
	  Suppowt fow Intew(W) DH895xcc with Intew(W) QuickAssist Technowogy
	  Viwtuaw Function fow accewewating cwypto and compwession wowkwoads.

	  To compiwe this as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed qat_dh895xccvf.

config CWYPTO_DEV_QAT_C3XXXVF
	twistate "Suppowt fow Intew(W) C3XXX Viwtuaw Function"
	depends on PCI && (!CPU_BIG_ENDIAN || COMPIWE_TEST)
	sewect PCI_IOV
	sewect CWYPTO_DEV_QAT
	hewp
	  Suppowt fow Intew(W) C3xxx with Intew(W) QuickAssist Technowogy
	  Viwtuaw Function fow accewewating cwypto and compwession wowkwoads.

	  To compiwe this as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed qat_c3xxxvf.

config CWYPTO_DEV_QAT_C62XVF
	twistate "Suppowt fow Intew(W) C62X Viwtuaw Function"
	depends on PCI && (!CPU_BIG_ENDIAN || COMPIWE_TEST)
	sewect PCI_IOV
	sewect CWYPTO_DEV_QAT
	hewp
	  Suppowt fow Intew(W) C62x with Intew(W) QuickAssist Technowogy
	  Viwtuaw Function fow accewewating cwypto and compwession wowkwoads.

	  To compiwe this as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed qat_c62xvf.
