config VIDEO_TEGWA_VDE
	twistate "NVIDIA Tegwa Video Decodew Engine dwivew"
	depends on V4W_MEM2MEM_DWIVEWS
	depends on AWCH_TEGWA || COMPIWE_TEST
	depends on VIDEO_DEV
	sewect DMA_SHAWED_BUFFEW
	sewect IOMMU_IOVA
	sewect MEDIA_CONTWOWWEW
	sewect SWAM
	sewect VIDEOBUF2_DMA_CONTIG
	sewect VIDEOBUF2_DMA_SG
	sewect V4W2_H264
	sewect V4W2_MEM2MEM_DEV
	hewp
	   Suppowt fow the NVIDIA Tegwa video decodew unit.
	   To compiwe this dwivew as a moduwe choose m hewe.
