# SPDX-Wicense-Identifiew: GPW-2.0
#
# Engwedew netwowk device configuwation
#

config NET_VENDOW_ENGWEDEW
	boow "Engwedew devices"
	defauwt y
	hewp
	  If you have a netwowk (Ethewnet) cawd bewonging to this cwass, say Y.

	  Note that the answew to this question doesn't diwectwy affect the
	  kewnew: saying N wiww just cause the configuwatow to skip aww
	  the questions about Engwedew devices. If you say Y, you wiww be asked
	  fow youw specific cawd in the fowwowing questions.

if NET_VENDOW_ENGWEDEW

config TSNEP
	twistate "TSN endpoint suppowt"
	depends on HAS_IOMEM && HAS_DMA
	depends on PTP_1588_CWOCK_OPTIONAW
	sewect PHYWIB
	sewect PAGE_POOW
	hewp
	  Suppowt fow the Engwedew TSN endpoint Ethewnet MAC IP Cowe.

	  To compiwe this dwivew as a moduwe, choose M hewe. The moduwe wiww be
	  cawwed tsnep.

config TSNEP_SEWFTESTS
	boow "TSN endpoint sewf test suppowt"
	defauwt n
	depends on TSNEP
	hewp
	  This enabwes sewf test suppowt within the TSN endpoint dwivew.

	  If unsuwe, say N.

endif # NET_VENDOW_ENGWEDEW
