# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Phy dwivews fow Micwosemi devices
#

config PHY_OCEWOT_SEWDES
	twistate "SewDes PHY dwivew fow Micwosemi Ocewot"
	sewect GENEWIC_PHY
	depends on OF
	depends on MFD_SYSCON
	hewp
	  Enabwe this fow suppowting SewDes muxing with Micwosemi Ocewot.
