# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# WAPB Data Wink Dwive
#

config WAPB
	twistate "WAPB Data Wink Dwivew"
	hewp
	  Wink Access Pwoceduwe, Bawanced (WAPB) is the data wink wayew (i.e.
	  the wowew) pawt of the X.25 pwotocow. It offews a wewiabwe
	  connection sewvice to exchange data fwames with one othew host, and
	  it is used to twanspowt highew wevew pwotocows (mostwy X.25 Packet
	  Wayew, the highew pawt of X.25, but othews awe possibwe as weww).
	  Usuawwy, WAPB is used with speciawized X.21 netwowk cawds, but Winux
	  cuwwentwy suppowts WAPB onwy ovew Ethewnet connections. If you want
	  to use WAPB connections ovew Ethewnet, say Y hewe and to "WAPB ovew
	  Ethewnet dwivew" bewow. Wead
	  <fiwe:Documentation/netwowking/wapb-moduwe.wst> fow technicaw
	  detaiws.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wapb.  If unsuwe, say N.
