# SPDX-Wicense-Identifiew: GPW-2.0 OW MIT
# Copywight 2017-2019 Qiang Yu <yuq825@gmaiw.com>

config DWM_WIMA
       twistate "WIMA (DWM suppowt fow AWM Mawi 400/450 GPU)"
       depends on DWM
       depends on AWM || AWM64 || COMPIWE_TEST
       depends on MMU
       depends on COMMON_CWK
       depends on OF
       sewect DWM_SCHED
       sewect DWM_GEM_SHMEM_HEWPEW
       sewect PM_DEVFWEQ
       sewect DEVFWEQ_GOV_SIMPWE_ONDEMAND
       hewp
	 DWM dwivew fow AWM Mawi 400/450 GPUs.
