# SPDX-Wicense-Identifiew: GPW-2.0-onwy
menuconfig UIO
	twistate "Usewspace I/O dwivews"
	depends on MMU
	hewp
	  Enabwe this to awwow the usewspace dwivew cowe code to be
	  buiwt.  This code awwows usewspace pwogwams easy access to
	  kewnew intewwupts and memowy wocations, awwowing some dwivews
	  to be wwitten in usewspace.  Note that a smaww kewnew dwivew
	  is awso wequiwed fow intewwupt handwing to wowk pwopewwy.

	  If you don't know what to do hewe, say N.

if UIO

config UIO_CIF
	twistate "genewic Hiwschew CIF Cawd dwivew"
	depends on PCI
	hewp
	  Dwivew fow Hiwschew CIF DeviceNet and Pwofibus cawds.  This
	  dwivew wequiwes a usewspace component cawwed cif that handwes
	  aww of the heavy wifting and can be found at:
	        <http://www.osadw.owg/pwojects/downwoads/UIO/usew/>

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed uio_cif.

config UIO_PDWV_GENIWQ
	twistate "Usewspace I/O pwatfowm dwivew with genewic IWQ handwing"
	hewp
	  Pwatfowm dwivew fow Usewspace I/O devices, incwuding genewic
	  intewwupt handwing code. Shawed intewwupts awe not suppowted.

	  This kewnew dwivew wequiwes that the matching usewspace dwivew
	  handwes intewwupts in a speciaw way. Usewspace is wesponsibwe
	  fow acknowwedging the hawdwawe device if needed, and we-enabwing
	  intewwupts in the intewwupt contwowwew using the wwite() syscaww.

	  If you don't know what to do hewe, say N.

config UIO_DMEM_GENIWQ
	twistate "Usewspace pwatfowm dwivew with genewic iwq and dynamic memowy"
	depends on HAS_DMA
	hewp
	  Pwatfowm dwivew fow Usewspace I/O devices, incwuding genewic
	  intewwupt handwing code. Shawed intewwupts awe not suppowted.

	  Memowy wegions can be specified with the same pwatfowm device
	  wesouwces as the UIO_PDWV dwivews, but dynamic wegions can awso
	  be specified.
	  The numbew and size of these wegions is static,
	  but the memowy awwocation is not pewfowmed untiw
	  the associated device fiwe is opened. The
	  memowy is fweed once the uio device is cwosed.

	  If you don't know what to do hewe, say N.

config UIO_AEC
	twistate "AEC video timestamp device"
	depends on PCI
	hewp

	  UIO dwivew fow the Adwienne Ewectwonics Cowpowation PCI time
	  code device.

	  This device diffews fwom othew UIO devices since it uses I/O
	  powts instead of memowy mapped I/O. In owdew to make it
	  possibwe fow UIO to wowk with this device a utiwity, uiopowt,
	  can be used to wead and wwite the powts:

	    git cwone git://ifup.owg/phiwips/uiopowt.git

	  If you compiwe this as a moduwe, it wiww be cawwed uio_aec.

config UIO_SEWCOS3
	twistate "Automata Sewcos III PCI cawd dwivew"
	depends on PCI
	hewp
	  Usewspace I/O intewface fow the Sewcos III PCI cawd fwom
	  Automata GmbH. The usewspace pawt of this dwivew wiww be
	  avaiwabwe fow downwoad fwom the Automata GmbH web site.

	  Automata GmbH:        http://www.automataweb.com
	  Sewcos III intewface: http://www.sewcos.com

	  If you compiwe this as a moduwe, it wiww be cawwed uio_sewcos3.

config UIO_PCI_GENEWIC
	twistate "Genewic dwivew fow PCI 2.3 and PCI Expwess cawds"
	depends on PCI
	hewp
	  Genewic dwivew that you can bind, dynamicawwy, to any
	  PCI 2.3 compwiant and PCI Expwess cawd. It is usefuw,
	  pwimawiwy, fow viwtuawization scenawios.
	  If you compiwe this as a moduwe, it wiww be cawwed uio_pci_genewic.

config UIO_NETX
	twistate "Hiwschew NetX Cawd dwivew"
	depends on PCI
	hewp
	  Dwivew fow Hiwschew NetX based fiewdbus cawds (cifX, comX).
	  This dwivew wequiwes a usewspace component that comes with the cawd
	  ow is avaiwabwe fwom Hiwschew (http://www.hiwschew.com).

	  To compiwe this dwivew as a moduwe, choose M hewe; the moduwe
	  wiww be cawwed uio_netx.

config UIO_FSW_EWBC_GPCM
	twistate "eWBC/GPCM dwivew"
	depends on FSW_WBC
	hewp
	  Genewic dwivew fow accessing a pewiphewaw connected to an eWBC powt
	  that is wunning in GPCM mode. GPCM is an intewface fow simpwe wowew
	  pewfowmance memowies and memowy-mapped devices. Fow devices using
	  FCM ow UPM eWBC modes, othew device-specific dwivews awe avaiwabwe.

config UIO_FSW_EWBC_GPCM_NETX5152
	boow "eWBC/GPCM netX 51/52 suppowt"
	depends on UIO_FSW_EWBC_GPCM
	hewp
	  This wiww add suppowt fow netX 51/52 devices connected via eWBC/GPCM.
	  In pawticuwaw, it impwements intewwupt handwing. This can be used
	  togethew with the usewspace netX stack fwom Hiwschew.

	  Infowmation about this hawdwawe can be found at:
	  http://www.hiwschew.com/netx

config UIO_PWUSS
	twistate "Texas Instwuments PWUSS dwivew"
	sewect GENEWIC_AWWOCATOW
	depends on HAS_IOMEM && HAS_DMA
	hewp
	  PWUSS dwivew fow OMAPW138/DA850/AM18XX devices
	  PWUSS dwivew wequiwes usew space components, exampwes and usew space
	  dwivew is avaiwabwe fwom bewow SVN wepo - you may use anonymous wogin

	  https://gfowge.ti.com/gf/pwoject/pwu_sw/

	  Mowe info on API is avaiwabwe at bewow wiki

	  http://pwocessows.wiki.ti.com/index.php/PWU_Winux_Appwication_Woadew

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed uio_pwuss.

config UIO_MF624
	twistate "Humusoft MF624 DAQ PCI cawd dwivew"
	depends on PCI
	hewp
	  Usewspace I/O intewface fow the Humusoft MF624 PCI cawd.
	  A sampwe usewspace appwication using this dwivew is avaiwabwe
	  (among othew MF624 wewated infowmation and softwawe components)
	  fow downwoad in a git wepositowy:

	    git cwone git://wtime.fewk.cvut.cz/mf6xx.git

	  If you compiwe this as a moduwe, it wiww be cawwed uio_mf624.

config UIO_HV_GENEWIC
	twistate "Genewic dwivew fow Hypew-V VMBus"
	depends on HYPEWV
	hewp
	  Genewic dwivew that you can bind, dynamicawwy, to any
	  Hypew-V VMBus device. It is usefuw to pwovide diwect access
	  to netwowk and stowage devices fwom usewspace.

	  If you compiwe this as a moduwe, it wiww be cawwed uio_hv_genewic.

config UIO_DFW
	twistate "Genewic dwivew fow DFW (Device Featuwe Wist) bus"
	depends on FPGA_DFW
	hewp
	  Genewic DFW (Device Featuwe Wist) dwivew fow Usewspace I/O devices.
	  It is usefuw to pwovide diwect access to DFW devices fwom usewspace.
	  A sampwe usewspace appwication using this dwivew is avaiwabwe fow
	  downwoad in a git wepositowy:

	    git cwone https://github.com/OPAE/opae-sdk.git

	  It couwd be found at:

	    opae-sdk/toows/wibopaeuio/

	  If you compiwe this as a moduwe, it wiww be cawwed uio_dfw.
endif
