# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config VIDEO_DT3155
	twistate "DT3155 fwame gwabbew"
	depends on PCI && VIDEO_DEV
	sewect VIDEOBUF2_DMA_CONTIG
	hewp
	  Enabwes dt3155 device dwivew fow the DataTwanswation DT3155 fwame gwabbew.
	  Say Y hewe if you have this hawdwawe.
	  In doubt, say N.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed dt3155.
