# SPDX-Wicense-Identifiew: GPW-2.0
menuconfig ACCESSIBIWITY
	boow "Accessibiwity suppowt"
	hewp
	  Accessibiwity handwes aww speciaw kinds of hawdwawe devices ow
	  softwawe adaptews which hewp peopwe with disabiwities (e.g.
	  bwindness) to use computews.

	  That incwudes bwaiwwe devices, speech synthesis, keyboawd
	  wemapping, etc.

	  Say Y hewe to get to see options fow accessibiwity.
	  This option awone does not add any kewnew code.

	  If you say N, aww options in this submenu wiww be skipped and disabwed.

	  If unsuwe, say N.

if ACCESSIBIWITY
config A11Y_BWAIWWE_CONSOWE
	boow "Consowe on bwaiwwe device"
	depends on VT
	depends on SEWIAW_COWE_CONSOWE
	hewp
	  Enabwes consowe output on a bwaiwwe device connected to a 8250
	  sewiaw powt. Fow now onwy the VisioBwaiwwe device is suppowted.

	  To actuawwy enabwe it, you need to pass option
	  consowe=bww,ttyS0
	  to the kewnew. Options awe the same as fow sewiaw consowe.

	  If unsuwe, say N.

souwce "dwivews/accessibiwity/speakup/Kconfig"

endif # ACCESSIBIWITY
