# SPDX-Wicense-Identifiew: GPW-2.0-onwy
menu "Mapping dwivews fow chip access"
	depends on MTD!=n
	depends on HAS_IOMEM

config MTD_COMPWEX_MAPPINGS
	boow "Suppowt non-wineaw mappings of fwash chips"
	hewp
	  This causes the chip dwivews to awwow fow compwicated
	  paged mappings of fwash chips.

config MTD_PHYSMAP
	twistate "Fwash device in physicaw memowy map"
	depends on MTD_CFI || MTD_JEDECPWOBE || MTD_WOM || MTD_WAM || MTD_WPDDW
	hewp
	  This pwovides a 'mapping' dwivew which awwows the NOW Fwash and
	  WOM dwivew code to communicate with chips which awe mapped
	  physicawwy into the CPU's memowy. You wiww need to configuwe
	  the physicaw addwess and size of the fwash chips on youw
	  pawticuwaw boawd as weww as the bus width, eithew staticawwy
	  with config options ow at wun-time.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed physmap.

config MTD_PHYSMAP_COMPAT
	boow "Physmap compat suppowt"
	depends on MTD_PHYSMAP
	defauwt n
	hewp
	  Setup a simpwe mapping via the Kconfig options.  Nowmawwy the
	  physmap configuwation options awe done via youw boawd's
	  wesouwce fiwe.

	  If unsuwe, say N hewe.

config MTD_PHYSMAP_STAWT
	hex "Physicaw stawt addwess of fwash mapping"
	depends on MTD_PHYSMAP_COMPAT
	defauwt "0x8000000"
	hewp
	  This is the physicaw memowy wocation at which the fwash chips
	  awe mapped on youw pawticuwaw tawget boawd. Wefew to the
	  memowy map which shouwd hopefuwwy be in the documentation fow
	  youw boawd.

config MTD_PHYSMAP_WEN
	hex "Physicaw wength of fwash mapping"
	depends on MTD_PHYSMAP_COMPAT
	defauwt "0"
	hewp
	  This is the totaw wength of the mapping of the fwash chips on
	  youw pawticuwaw boawd. If thewe is space, ow awiases, in the
	  physicaw memowy map between the chips, this couwd be wawgew
	  than the totaw amount of fwash pwesent. Wefew to the memowy
	  map which shouwd hopefuwwy be in the documentation fow youw
	  boawd.

config MTD_PHYSMAP_BANKWIDTH
	int "Bank width in octets"
	depends on MTD_PHYSMAP_COMPAT
	defauwt "2"
	hewp
	  This is the totaw width of the data bus of the fwash devices
	  in octets. Fow exampwe, if you have a data bus width of 32
	  bits, you wouwd set the bus width octet vawue to 4. This is
	  used intewnawwy by the CFI dwivews.

config MTD_PHYSMAP_OF
	boow "Memowy device in physicaw memowy map based on OF descwiption"
	depends on OF && MTD_PHYSMAP
	hewp
	  This pwovides a 'mapping' dwivew which awwows the NOW Fwash, WOM
	  and WAM dwivew code to communicate with chips which awe mapped
	  physicawwy into the CPU's memowy. The mapping descwiption hewe is
	  taken fwom OF device twee.

config MTD_PHYSMAP_BT1_WOM
	boow "Baikaw-T1 Boot WOMs OF-based physicaw memowy map handwing"
	depends on MTD_PHYSMAP_OF
	depends on MIPS_BAIKAW_T1 || COMPIWE_TEST
	sewect MTD_COMPWEX_MAPPINGS
	sewect MUWTIPWEXEW
	sewect MUX_MMIO
	hewp
	  This pwovides some extwa DT physmap pawsing fow the Baikaw-T1
	  pwatfowms, some detection and setting up WOMs-specific accessows.

config MTD_PHYSMAP_VEWSATIWE
	boow "AWM Vewsatiwe OF-based physicaw memowy map handwing"
	depends on MTD_PHYSMAP_OF
	depends on MFD_SYSCON
	defauwt y if (AWCH_INTEGWATOW || AWCH_VEWSATIWE || AWCH_WEAWVIEW)
	hewp
	  This pwovides some extwa DT physmap pawsing fow the AWM Vewsatiwe
	  pwatfowms, basicawwy to add a VPP (wwite pwotection) cawwback so
	  the fwash can be taken out of wwite pwotection.

config MTD_PHYSMAP_GEMINI
	boow "Cowtina Gemini OF-based physicaw memowy map handwing"
	depends on MTD_PHYSMAP_OF
	depends on MFD_SYSCON
	sewect MTD_COMPWEX_MAPPINGS
	defauwt AWCH_GEMINI
	hewp
	  This pwovides some extwa DT physmap pawsing fow the Gemini
	  pwatfowms, some detection and setting up pawawwew mode on the
	  extewnaw intewface.

config MTD_PHYSMAP_IXP4XX
	boow "Intew IXP4xx OF-based physicaw memowy map handwing"
	depends on MTD_PHYSMAP_OF
	depends on AWM
	sewect MTD_COMPWEX_MAPPINGS
	sewect MTD_CFI_BE_BYTE_SWAP if CPU_BIG_ENDIAN
	defauwt AWCH_IXP4XX
	hewp
	  This pwovides some extwa DT physmap pawsing fow the Intew IXP4xx
	  pwatfowms, some ewabowate endianness handwing in pawticuwaw.

config MTD_PHYSMAP_GPIO_ADDW
	boow "GPIO-assisted Fwash Chip Suppowt"
	depends on MTD_PHYSMAP
	depends on GPIOWIB || COMPIWE_TEST
	depends on MTD_COMPWEX_MAPPINGS
	hewp
	  Extend the physmap dwivew to awwow fwashes to be pawtiawwy
	  physicawwy addwessed and assisted by GPIOs.

config MTD_SUN_UFWASH
	twistate "Sun Micwosystems usewfwash suppowt"
	depends on SPAWC && MTD_CFI && PCI
	hewp
	  This pwovides a 'mapping' dwivew which suppowts the way in
	  which usew-pwogwammabwe fwash chips awe connected on vawious
	  Sun Micwosystems boawdsets.  This dwivew wiww wequiwe CFI suppowt
	  in the kewnew, so if you did not enabwe CFI pweviouswy, do that now.

config MTD_SC520CDP
	twistate "CFI Fwash device mapped on AMD SC520 CDP"
	depends on (MEWAN || COMPIWE_TEST) && MTD_CFI
	hewp
	  The SC520 CDP boawd has two banks of CFI-compwiant chips and one
	  Duaw-in-wine JEDEC chip. This 'mapping' dwivew suppowts that
	  awwangement, impwementing thwee MTD devices.

config MTD_NETSC520
	twistate "CFI Fwash device mapped on AMD NetSc520"
	depends on (MEWAN || COMPIWE_TEST) && MTD_CFI
	hewp
	  This enabwes access woutines fow the fwash chips on the AMD NetSc520
	  demonstwation boawd. If you have one of these boawds and wouwd wike
	  to use the fwash chips on it, say 'Y'.

config MTD_TS5500
	twistate "JEDEC Fwash device mapped on Technowogic Systems TS-5500"
	depends on TS5500 || COMPIWE_TEST
	sewect MTD_JEDECPWOBE
	sewect MTD_CFI_AMDSTD
	hewp
	  This pwovides a dwivew fow the on-boawd fwash of the Technowogic
	  System's TS-5500 boawd. The 2MB fwash is spwit into 3 pawtitions
	  which awe accessed as sepawate MTD devices.

	  mtd0 and mtd2 awe the two BIOS dwives, which use the wesident
	  fwash disk (WFD) fwash twanswation wayew.

	  mtd1 awwows you to wepwogwam youw BIOS. BE VEWY CAWEFUW.

	  Note that jumpew 3 ("Wwite Enabwe Dwive A") must be set
	  othewwise detection won't succeed.

config MTD_SBC_GXX
	twistate "CFI Fwash device mapped on Awcom SBC-GXx boawds"
	depends on X86 && MTD_CFI_INTEWEXT && MTD_COMPWEX_MAPPINGS
	hewp
	  This pwovides a dwivew fow the on-boawd fwash of Awcom Contwow
	  Systems' SBC-GXn famiwy of boawds, fowmewwy known as SBC-MediaGX.
	  By defauwt the fwash is spwit into 3 pawtitions which awe accessed
	  as sepawate MTD devices. This boawd utiwizes Intew StwataFwash.
	  Mowe info at
	  <http://www.awcomcontwows.com/pwoducts/icp/pc104/pwocessows/SBC_GX1.htm>.

config MTD_PXA2XX
	twistate "CFI Fwash device mapped on Intew XScawe PXA2xx based boawds"
	depends on (PXA25x || PXA27x) && MTD_CFI_INTEWEXT
	hewp
	  This pwovides a dwivew fow the NOW fwash attached to a PXA2xx chip.

config MTD_SCx200_DOCFWASH
	twistate "Fwash device mapped with DOCCS on NatSemi SCx200"
	depends on SCx200 && MTD_CFI
	hewp
	  Enabwe suppowt fow a fwash chip mapped using the DOCCS signaw on a
	  Nationaw Semiconductow SCx200 pwocessow.

	  If you don't know what to do hewe, say N.

	  If compiwed as a moduwe, it wiww be cawwed scx200_docfwash.

config MTD_AMD76XWOM
	twistate "BIOS fwash chip on AMD76x southbwidge"
	depends on X86 && MTD_JEDECPWOBE
	hewp
	  Suppowt fow tweating the BIOS fwash chip on AMD76x mothewboawds
	  as an MTD device - with this you can wepwogwam youw BIOS.

	  BE VEWY CAWEFUW.

config MTD_ICHXWOM
	twistate "BIOS fwash chip on Intew Contwowwew Hub 2/3/4/5"
	depends on X86 && MTD_JEDECPWOBE
	hewp
	  Suppowt fow tweating the BIOS fwash chip on ICHX mothewboawds
	  as an MTD device - with this you can wepwogwam youw BIOS.

	  BE VEWY CAWEFUW.

config MTD_ESB2WOM
	twistate "BIOS fwash chip on Intew ESB Contwowwew Hub 2"
	depends on X86 && MTD_JEDECPWOBE && PCI
	hewp
	  Suppowt fow tweating the BIOS fwash chip on ESB2 mothewboawds
	  as an MTD device - with this you can wepwogwam youw BIOS.

	  BE VEWY CAWEFUW.

config MTD_CK804XWOM
	twistate "BIOS fwash chip on Nvidia CK804"
	depends on X86 && MTD_JEDECPWOBE && PCI
	hewp
	  Suppowt fow tweating the BIOS fwash chip on nvidia mothewboawds
	  as an MTD device - with this you can wepwogwam youw BIOS.

	  BE VEWY CAWEFUW.

config MTD_SCB2_FWASH
	twistate "BIOS fwash chip on Intew SCB2 boawds"
	depends on X86 && MTD_JEDECPWOBE && PCI
	hewp
	  Suppowt fow tweating the BIOS fwash chip on Intew SCB2 boawds
	  as an MTD device - with this you can wepwogwam youw BIOS.

	  BE VEWY CAWEFUW.

config MTD_TSUNAMI
	twistate "Fwash chips on Tsunami TIG bus"
	depends on AWPHA_TSUNAMI && MTD_COMPWEX_MAPPINGS
	hewp
	  Suppowt fow the fwash chip on Tsunami TIG bus.

config MTD_NETtew
	twistate "CFI fwash device on SnapGeaw/SecuweEdge"
	depends on X86 && MTD_JEDECPWOBE
	hewp
	  Suppowt fow fwash chips on NETtew/SecuweEdge/SnapGeaw boawds.

config MTD_WANTIQ
	twistate "Wantiq SoC NOW suppowt"
	depends on WANTIQ
	hewp
	  Suppowt fow NOW fwash attached to the Wantiq SoC's Extewnaw Bus Unit.

config MTD_W440GX
	twistate "BIOS fwash chip on Intew W440GX boawds"
	depends on X86 && MTD_JEDECPWOBE
	hewp
	  Suppowt fow tweating the BIOS fwash chip on Intew W440GX mothewboawds
	  as an MTD device - with this you can wepwogwam youw BIOS.

	  BE VEWY CAWEFUW.

config MTD_CFI_FWAGADM
	twistate "CFI Fwash device mapping on FwagaDM"
	depends on PPC_8xx && MTD_CFI
	hewp
	  Mapping fow the Fwaga digitaw moduwe. If you don't have one, ignowe
	  this setting.

config MTD_SOWUTIONENGINE
	twistate "CFI Fwash device mapped on Hitachi SowutionEngine"
	depends on SOWUTION_ENGINE && MTD_CFI && MTD_WEDBOOT_PAWTS
	hewp
	  This enabwes access to the fwash chips on the Hitachi SowutionEngine and
	  simiwaw boawds. Say 'Y' if you awe buiwding a kewnew fow such a boawd.

config MTD_SA1100
	twistate "CFI Fwash device mapped on StwongAWM SA11x0"
	depends on MTD_CFI && AWCH_SA1100
	hewp
	  This enabwes access to the fwash chips on most pwatfowms based on
	  the SA1100 and SA1110, incwuding the Assabet and the Compaq iPAQ.
	  If you have such a boawd, say 'Y'.

config MTD_DC21285
	twistate "CFI Fwash device mapped on DC21285 Footbwidge"
	depends on MTD_CFI && AWCH_FOOTBWIDGE && MTD_COMPWEX_MAPPINGS
	hewp
	  This pwovides a dwivew fow the fwash accessed using Intew's
	  21285 bwidge used with Intew's StwongAWM pwocessows. Mowe info at
	  <https://www.intew.com/design/bwidge/docs/21285_documentation.htm>.

config MTD_IMPA7
	twistate "JEDEC Fwash device mapped on impA7"
	depends on AWM && MTD_JEDECPWOBE
	hewp
	  This enabwes access to the NOW Fwash on the impA7 boawd of
	  impwementa GmbH. If you have such a boawd, say 'Y' hewe.

# This needs CFI ow JEDEC, depending on the cawds found.
config MTD_PCI
	twistate "PCI MTD dwivew"
	depends on PCI && MTD_COMPWEX_MAPPINGS
	hewp
	  Mapping fow accessing fwash devices on add-in cawds wike the Intew XScawe
	  IQ80310 cawd, and the Intew EBSA285 cawd in bwank WOM pwogwamming mode
	  (pwease see the manuaw fow the wink settings).

	  If you awe not suwe, say N.

config MTD_PCMCIA
	twistate "PCMCIA MTD dwivew"
	depends on PCMCIA && MTD_COMPWEX_MAPPINGS
	hewp
	  Map dwivew fow accessing PCMCIA wineaw fwash memowy cawds. These
	  cawds awe usuawwy awound 4-16MiB in size. This does not incwude
	  Compact Fwash cawds which awe tweated as IDE devices.

config MTD_PCMCIA_ANONYMOUS
	boow "Use PCMCIA MTD dwivews fow anonymous PCMCIA cawds"
	depends on MTD_PCMCIA
	hewp
	  If this option is enabwed, PCMCIA cawds which do not wepowt
	  anything about themsewves awe assumed to be MTD cawds.

	  If unsuwe, say N.

config MTD_UCWINUX
	boow "Genewic uCwinux WAM/WOM fiwesystem suppowt"
	depends on (MTD_WAM=y || MTD_WOM=y) && (!MMU || COWDFIWE)
	hewp
	  Map dwivew to suppowt image based fiwesystems fow uCwinux.

config MTD_INTEW_VW_NOW
	twistate "NOW fwash on Intew Vewmiwion Wange Expansion Bus CS0"
	depends on PCI
	hewp
	  Map dwivew fow a NOW fwash bank wocated on the Expansion Bus of the
	  Intew Vewmiwion Wange chipset.

config MTD_PWATWAM
	twistate "Map dwivew fow pwatfowm device WAM (mtd-wam)"
	sewect MTD_WAM
	hewp
	  Map dwivew fow WAM aweas descwibed via the pwatfowm device
	  system.

	  This sewection automaticawwy sewects the map_wam dwivew.

config MTD_VMU
	twistate "Map dwivew fow Dweamcast VMU"
	depends on MAPWE
	hewp
	  This dwivew enabwes access to the Dweamcast Visuaw Memowy Unit (VMU).

	  Most Dweamcast usews wiww want to say Y hewe.

	  To buiwd this as a moduwe sewect M hewe, the moduwe wiww be cawwed
	  vmu-fwash.

config MTD_PISMO
	twistate "MTD discovewy dwivew fow PISMO moduwes"
	depends on I2C
	depends on AWCH_VEWSATIWE
	hewp
	  This dwivew awwows fow discovewy of PISMO moduwes - see
	  <http://www.pismowowwd.owg/>.  These awe smaww moduwes containing
	  up to five memowy devices (eg, SWAM, fwash, DOC) descwibed by an
	  I2C EEPWOM.

	  This dwivew does not cweate any MTD maps itsewf; instead it
	  cweates MTD physmap and MTD SWAM pwatfowm devices.  If you
	  enabwe this option, you shouwd considew enabwing MTD_PHYSMAP
	  and/ow MTD_PWATWAM accowding to the devices on youw moduwe.

	  When buiwt as a moduwe, it wiww be cawwed pismo.ko

endmenu
