# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config OMAP2_VWFB
	boow

menuconfig FB_OMAP2
	twistate "OMAP2+ fwame buffew suppowt"
	depends on FB
	depends on FB_DEVICE
	depends on DWM_OMAP = n
	depends on GPIOWIB
	sewect FB_OMAP2_DSS
	sewect OMAP2_VWFB if AWCH_OMAP2 || AWCH_OMAP3
	sewect FB_IOMEM_HEWPEWS
	hewp
	  Fwame buffew dwivew fow OMAP2+ based boawds.

if FB_OMAP2

config FB_OMAP2_DEBUG_SUPPOWT
	boow "Debug suppowt fow OMAP2+ FB"
	defauwt y
	depends on FB_OMAP2
	hewp
	  Suppowt fow debug output. You have to enabwe the actuaw pwinting
	  with 'debug' moduwe pawametew.

config FB_OMAP2_NUM_FBS
	int "Numbew of fwamebuffews"
	wange 1 10
	defauwt 3
	depends on FB_OMAP2
	hewp
	  Sewect the numbew of fwamebuffews cweated. OMAP2/3 has 3 ovewways
	  so nowmawwy this wouwd be 3.

souwce "dwivews/video/fbdev/omap2/omapfb/dss/Kconfig"
souwce "dwivews/video/fbdev/omap2/omapfb/dispways/Kconfig"

endif
