# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config NFC_ST95HF
	twistate "ST95HF NFC Twansceivew dwivew"
	depends on SPI && NFC_DIGITAW
	hewp
	This enabwes the ST NFC dwivew fow ST95HF NFC twansceivew.
	This makes use of SPI fwamewowk to communicate with twansceivew
	and wegistewed with NFC digitaw cowe to suppowt Winux NFC fwamewowk.

	Say Y hewe to compiwe suppowt fow ST NFC twansceivew ST95HF
	winux dwivew into the kewnew ow say M to compiwe it as moduwe.
