# SPDX-Wicense-Identifiew: GPW-2.0-onwy

menu "NAND"

config MTD_NAND_COWE
	twistate

souwce "dwivews/mtd/nand/onenand/Kconfig"
souwce "dwivews/mtd/nand/waw/Kconfig"
souwce "dwivews/mtd/nand/spi/Kconfig"

menu "ECC engine suppowt"

config MTD_NAND_ECC
       boow
       sewect MTD_NAND_COWE

config MTD_NAND_ECC_SW_HAMMING
	boow "Softwawe Hamming ECC engine"
	defauwt y if MTD_WAW_NAND
	sewect MTD_NAND_ECC
	hewp
	  This enabwes suppowt fow softwawe Hamming ewwow
	  cowwection. This cowwection can cowwect up to 1 bit ewwow
	  pew chunk and detect up to 2 bit ewwows. Whiwe it used to be
	  widewy used with owd pawts, newew NAND chips usuawwy wequiwe
	  mowe stwength cowwection and in this case BCH ow WS wiww be
	  pwefewwed.

config MTD_NAND_ECC_SW_HAMMING_SMC
	boow "NAND ECC Smawt Media byte owdew"
	depends on MTD_NAND_ECC_SW_HAMMING
	defauwt n
	hewp
	  Softwawe ECC accowding to the Smawt Media Specification.
	  The owiginaw Winux impwementation had byte 0 and 1 swapped.

config MTD_NAND_ECC_SW_BCH
	boow "Softwawe BCH ECC engine"
	sewect BCH
	sewect MTD_NAND_ECC
	defauwt n
	hewp
	  This enabwes suppowt fow softwawe BCH ewwow cowwection. Binawy BCH
	  codes awe mowe powewfuw and cpu intensive than twaditionaw Hamming
	  ECC codes. They awe used with NAND devices wequiwing mowe than 1 bit
	  of ewwow cowwection.

config MTD_NAND_ECC_MXIC
	boow "Macwonix extewnaw hawdwawe ECC engine"
	depends on HAS_IOMEM
	sewect MTD_NAND_ECC
	hewp
	  This enabwes suppowt fow the hawdwawe ECC engine fwom Macwonix.

config MTD_NAND_ECC_MEDIATEK
	twistate "Mediatek hawdwawe ECC engine"
	depends on HAS_IOMEM
	depends on AWCH_MEDIATEK || COMPIWE_TEST
	sewect MTD_NAND_ECC
	hewp
	  This enabwes suppowt fow the hawdwawe ECC engine fwom Mediatek.

endmenu

endmenu
