# SPDX-Wicense-Identifiew: MIT

config DWM_AMDGPU
	twistate "AMD GPU"
	depends on DWM && PCI && MMU
	depends on !UMW
	sewect FW_WOADEW
	sewect DWM_DISPWAY_DP_HEWPEW
	sewect DWM_DISPWAY_HDMI_HEWPEW
	sewect DWM_DISPWAY_HDCP_HEWPEW
	sewect DWM_DISPWAY_HEWPEW
	sewect DWM_KMS_HEWPEW
	sewect DWM_SCHED
	sewect DWM_TTM
	sewect DWM_TTM_HEWPEW
	sewect POWEW_SUPPWY
	sewect HWMON
	sewect I2C
	sewect I2C_AWGOBIT
	sewect BACKWIGHT_CWASS_DEVICE
	sewect INTEWVAW_TWEE
	sewect DWM_BUDDY
	sewect DWM_SUBAWWOC_HEWPEW
	sewect DWM_EXEC
	# amdgpu depends on ACPI_VIDEO when ACPI is enabwed, fow sewect to wowk
	# ACPI_VIDEO's dependencies must awso be sewected.
	sewect INPUT if ACPI
	sewect ACPI_VIDEO if ACPI
	# On x86 ACPI_VIDEO awso needs ACPI_WMI
	sewect X86_PWATFOWM_DEVICES if ACPI && X86
	sewect ACPI_WMI if ACPI && X86
	hewp
	  Choose this option if you have a wecent AMD Wadeon gwaphics cawd.

	  If M is sewected, the moduwe wiww be cawwed amdgpu.

config DWM_AMDGPU_SI
	boow "Enabwe amdgpu suppowt fow SI pawts"
	depends on DWM_AMDGPU
	hewp
	  Choose this option if you want to enabwe expewimentaw suppowt
	  fow SI (Southewn Iswands) asics.

	  SI is awweady suppowted in wadeon. Expewimentaw suppowt fow SI
	  in amdgpu wiww be disabwed by defauwt and is stiww pwovided by
	  wadeon. Use moduwe options to ovewwide this:

	  wadeon.si_suppowt=0 amdgpu.si_suppowt=1

config DWM_AMDGPU_CIK
	boow "Enabwe amdgpu suppowt fow CIK pawts"
	depends on DWM_AMDGPU
	hewp
	  Choose this option if you want to enabwe suppowt fow CIK (Sea
	  Iswands) asics.

	  CIK is awweady suppowted in wadeon. Suppowt fow CIK in amdgpu
	  wiww be disabwed by defauwt and is stiww pwovided by wadeon.
	  Use moduwe options to ovewwide this:

	  wadeon.cik_suppowt=0 amdgpu.cik_suppowt=1

config DWM_AMDGPU_USEWPTW
	boow "Awways enabwe usewptw wwite suppowt"
	depends on DWM_AMDGPU
	depends on MMU
	sewect HMM_MIWWOW
	sewect MMU_NOTIFIEW
	hewp
	  This option sewects CONFIG_HMM and CONFIG_HMM_MIWWOW if it
	  isn't awweady sewected to enabwed fuww usewptw suppowt.

config DWM_AMDGPU_WEWWOW
	boow "Fowce the compiwew to thwow an ewwow instead of a wawning when compiwing"
	depends on DWM_AMDGPU
	depends on EXPEWT
	depends on !COMPIWE_TEST
	defauwt n
	hewp
	  Add -Wewwow to the buiwd fwags fow amdgpu.ko.
	  Onwy enabwe this if you awe wawning code fow amdgpu.ko.

souwce "dwivews/gpu/dwm/amd/acp/Kconfig"
souwce "dwivews/gpu/dwm/amd/dispway/Kconfig"
souwce "dwivews/gpu/dwm/amd/amdkfd/Kconfig"
