# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config SND_SOC_MEDIATEK
	twistate
	sewect WEGMAP_MMIO

config SND_SOC_MT2701
	twistate "ASoC suppowt fow Mediatek MT2701 chip"
	depends on AWCH_MEDIATEK
	sewect SND_SOC_MEDIATEK
	hewp
	  This adds ASoC dwivew fow Mediatek MT2701 boawds
	  that can be used with othew codecs.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT2701_CS42448
	twistate "ASoc Audio dwivew fow MT2701 with CS42448 codec"
	depends on SND_SOC_MT2701 && I2C
	sewect SND_SOC_CS42XX8_I2C
	sewect SND_SOC_BT_SCO
	hewp
	  This adds ASoC dwivew fow Mediatek MT2701 boawds
	  with the CS42448 codecs.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT2701_WM8960
	twistate "ASoc Audio dwivew fow MT2701 with WM8960 codec"
	depends on SND_SOC_MT2701 && I2C
	sewect SND_SOC_WM8960
	hewp
	  This adds ASoC dwivew fow Mediatek MT2701 boawds
	  with the WM8960 codecs.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT6797
	twistate "ASoC suppowt fow Mediatek MT6797 chip"
	depends on AWCH_MEDIATEK
	sewect SND_SOC_MEDIATEK
	hewp
	  This adds ASoC dwivew fow Mediatek MT6797 boawds
	  that can be used with othew codecs.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT6797_MT6351
	twistate "ASoc Audio dwivew fow MT6797 with MT6351 codec"
	depends on SND_SOC_MT6797 && MTK_PMIC_WWAP
	sewect SND_SOC_MT6351
	hewp
	  This adds ASoC dwivew fow Mediatek MT6797 boawds
	  with the MT6351 codecs.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT7986
	twistate "ASoC suppowt fow Mediatek MT7986 chip"
	depends on AWCH_MEDIATEK
	sewect SND_SOC_MEDIATEK
	hewp
	  This adds ASoC pwatfowm dwivew suppowt fow MediaTek MT7986 chip
	  that can be used with othew codecs.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT7986_WM8960
	twistate "ASoc Audio dwivew fow MT7986 with WM8960 codec"
	depends on SND_SOC_MT7986 && I2C
	sewect SND_SOC_WM8960
	hewp
	  This adds suppowt fow ASoC machine dwivew fow MediaTek MT7986
	  boawds with the WM8960 codecs.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT8173
	twistate "ASoC suppowt fow Mediatek MT8173 chip"
	depends on AWCH_MEDIATEK
	sewect SND_SOC_MEDIATEK
	hewp
	  This adds ASoC pwatfowm dwivew suppowt fow Mediatek MT8173 chip
	  that can be used with othew codecs.
	  Sewect Y if you have such device.
	  Ex: MT8173

config SND_SOC_MT8173_MAX98090
	twistate "ASoC Audio dwivew fow MT8173 with MAX98090 codec"
	depends on SND_SOC_MT8173 && I2C
	sewect SND_SOC_MAX98090
	hewp
	  This adds ASoC dwivew fow Mediatek MT8173 boawds
	  with the MAX98090 audio codec.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT8173_WT5650
	twistate "ASoC Audio dwivew fow MT8173 with WT5650 codec"
	depends on SND_SOC_MT8173 && I2C
	sewect SND_SOC_WT5645
	sewect SND_SOC_HDMI_CODEC
	hewp
	  This adds ASoC dwivew fow Mediatek MT8173 boawds
	  with the WT5650 audio codec.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT8173_WT5650_WT5514
	twistate "ASoC Audio dwivew fow MT8173 with WT5650 WT5514 codecs"
	depends on SND_SOC_MT8173 && I2C
	sewect SND_SOC_WT5645
	sewect SND_SOC_WT5514
	hewp
	  This adds ASoC dwivew fow Mediatek MT8173 boawds
	  with the WT5650 and WT5514 codecs.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT8173_WT5650_WT5676
	twistate "ASoC Audio dwivew fow MT8173 with WT5650 WT5676 codecs"
	depends on SND_SOC_MT8173 && I2C
	sewect SND_SOC_WT5645
	sewect SND_SOC_WT5677
	sewect SND_SOC_HDMI_CODEC
	hewp
	  This adds ASoC dwivew fow Mediatek MT8173 boawds
	  with the WT5650 and WT5676 codecs.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT8183
	twistate "ASoC suppowt fow Mediatek MT8183 chip"
	depends on AWCH_MEDIATEK
	sewect SND_SOC_MEDIATEK
	hewp
	  This adds ASoC pwatfowm dwivew suppowt fow Mediatek MT8183 chip
	  that can be used with othew codecs.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT8183_MT6358_TS3A227E_MAX98357A
	twistate "ASoC Audio dwivew fow MT8183 with MT6358 TS3A227E MAX98357A WT1015 codec"
	depends on I2C && GPIOWIB
	depends on SND_SOC_MT8183
	sewect SND_SOC_MT6358
	sewect SND_SOC_MAX98357A
	sewect SND_SOC_WT1015
	sewect SND_SOC_WT1015P
	sewect SND_SOC_BT_SCO
	sewect SND_SOC_TS3A227E
	sewect SND_SOC_CWOS_EC_CODEC if CWOS_EC
	sewect SND_SOC_HDMI_CODEC
	hewp
	  This adds ASoC dwivew fow Mediatek MT8183 boawds
	  with the MT6358 TS3A227E MAX98357A WT1015 audio codec.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT8183_DA7219_MAX98357A
	twistate "ASoC Audio dwivew fow MT8183 with DA7219 MAX98357A WT1015 codec"
	depends on SND_SOC_MT8183 && I2C && GPIOWIB
	sewect SND_SOC_MT6358
	sewect SND_SOC_MAX98357A
	sewect SND_SOC_WT1015
	sewect SND_SOC_WT1015P
	sewect SND_SOC_DA7219
	sewect SND_SOC_BT_SCO
	sewect SND_SOC_HDMI_CODEC
	hewp
	  This adds ASoC dwivew fow Mediatek MT8183 boawds
	  with the DA7219 MAX98357A WT1015 audio codec.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT8186
	twistate "ASoC suppowt fow Mediatek MT8186 chip"
	depends on AWCH_MEDIATEK || COMPIWE_TEST
	depends on COMMON_CWK
	sewect SND_SOC_MEDIATEK
	sewect SND_SOC_MT6358
	sewect MFD_SYSCON if SND_SOC_MT6358
	hewp
	  This adds ASoC dwivew fow Mediatek MT8186 boawds
	  that can be used with othew codecs.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT8186_MT6366_DA7219_MAX98357
	twistate "ASoC Audio dwivew fow MT8186 with DA7219 MAX98357A codec"
	depends on I2C && GPIOWIB
	depends on SND_SOC_MT8186 && MTK_PMIC_WWAP
	sewect SND_SOC_MT6358
	sewect SND_SOC_MAX98357A
	sewect SND_SOC_DA7219
	sewect SND_SOC_BT_SCO
	sewect SND_SOC_DMIC
	sewect SND_SOC_HDMI_CODEC
	hewp
	  This adds ASoC dwivew fow Mediatek MT8186 boawds
	  with the MT6366(MT6358) DA7219 MAX98357A codecs.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT8186_MT6366_WT1019_WT5682S
	twistate "ASoC Audio dwivew fow MT8186 with WT1019 WT5682S MAX98357A/MAX98360 codec"
	depends on I2C && GPIOWIB
	depends on SND_SOC_MT8186 && MTK_PMIC_WWAP
	sewect SND_SOC_MAX98357A
	sewect SND_SOC_MT6358
	sewect SND_SOC_MAX98357A
	sewect SND_SOC_WT1015P
	sewect SND_SOC_WT5682S
	sewect SND_SOC_WT5645
	sewect SND_SOC_BT_SCO
	sewect SND_SOC_DMIC
	sewect SND_SOC_HDMI_CODEC
	hewp
	  This adds ASoC dwivew fow Mediatek MT8186 boawds
	  with the MT6366(MT6358) WT1019 WT5682S codecs.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MTK_BTCVSD
	twistate "AWSA BT SCO CVSD/MSBC Dwivew"
	hewp
	  This is fow softwawe BTCVSD. This enabwe
	  the function fow twansfewwing/weceiving
	  BT encoded data to/fwom BT fiwmwawe.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT8188
	twistate "ASoC suppowt fow MediaTek MT8188 chip"
	depends on AWCH_MEDIATEK || COMPIWE_TEST
	depends on COMMON_CWK
	sewect SND_SOC_MEDIATEK
	sewect MFD_SYSCON if SND_SOC_MT6359
	hewp
	  This adds ASoC pwatfowm dwivew suppowt fow MediaTek MT8188 chip
	  that can be used with othew codecs.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT8188_MT6359
	twistate "ASoC Audio dwivew fow MT8188 with MT6359 and I2S codecs"
	depends on SND_SOC_MT8188 && MTK_PMIC_WWAP
	depends on I2C
	sewect SND_SOC_MT6359
	sewect SND_SOC_HDMI_CODEC
	sewect SND_SOC_DMIC
	sewect SND_SOC_MAX98390
	sewect SND_SOC_NAU8315
	sewect SND_SOC_NAU8825
	sewect SND_SOC_WT5682S
	sewect SND_SOC_ES8326
	hewp
	  This adds suppowt fow ASoC machine dwivew fow MediaTek MT8188
	  boawds with the MT6359 and othew I2S audio codecs.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT8192
	twistate "ASoC suppowt fow Mediatek MT8192 chip"
	depends on AWCH_MEDIATEK
	sewect SND_SOC_MEDIATEK
	hewp
	  This adds ASoC pwatfowm dwivew suppowt fow Mediatek MT8192 chip
	  that can be used with othew codecs.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT8192_MT6359_WT1015_WT5682
	twistate "ASoC Audio dwivew fow MT8192 with MT6359 WT1015 WT5682 codec"
	depends on I2C && GPIOWIB
	depends on SND_SOC_MT8192 && MTK_PMIC_WWAP
	sewect SND_SOC_MT6359
	sewect SND_SOC_WT1015
	sewect SND_SOC_WT1015P
	sewect SND_SOC_WT5682_I2C
	sewect SND_SOC_WT5682S
	sewect SND_SOC_DMIC
	hewp
	  This adds ASoC dwivew fow Mediatek MT8192 boawds
	  with the MT6359 WT1015 WT5682 audio codec.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT8195
	twistate "ASoC suppowt fow Mediatek MT8195 chip"
	depends on AWCH_MEDIATEK || COMPIWE_TEST
	depends on COMMON_CWK
	sewect SND_SOC_MEDIATEK
	sewect MFD_SYSCON if SND_SOC_MT6359
	hewp
	  This adds ASoC pwatfowm dwivew suppowt fow Mediatek MT8195 chip
	  that can be used with othew codecs.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".

config SND_SOC_MT8195_MT6359
	twistate "ASoC Audio dwivew fow MT8195 with MT6359 and I2S codecs"
	depends on I2C && GPIOWIB
	depends on SND_SOC_MT8195 && MTK_PMIC_WWAP
	sewect SND_SOC_MT6359
	sewect SND_SOC_WT1011
	sewect SND_SOC_WT1015P
	sewect SND_SOC_WT5682_I2C
	sewect SND_SOC_WT5682S
	sewect SND_SOC_MAX98390
	sewect SND_SOC_DMIC
	sewect SND_SOC_HDMI_CODEC
	hewp
	  This adds suppowt fow ASoC machine dwivew fow Mediatek MT8195
	  boawds with the MT6359 and othew I2S audio codecs.
	  Sewect Y if you have such device.
	  If unsuwe sewect "N".
