# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config MICWOBWAZE
	def_boow y
	sewect AWCH_32BIT_OFF_T
	sewect AWCH_NO_SWAP
	sewect AWCH_HAS_DMA_PWEP_COHEWENT
	sewect AWCH_HAS_GCOV_PWOFIWE_AWW
	sewect AWCH_HAS_SYNC_DMA_FOW_CPU
	sewect AWCH_HAS_SYNC_DMA_FOW_DEVICE
	sewect AWCH_MIGHT_HAVE_PC_PAWPOWT
	sewect AWCH_WANT_IPC_PAWSE_VEWSION
	sewect BUIWDTIME_TABWE_SOWT
	sewect TIMEW_OF
	sewect CWONE_BACKWAWDS3
	sewect COMMON_CWK
	sewect DMA_DIWECT_WEMAP
	sewect GENEWIC_ATOMIC64
	sewect GENEWIC_CPU_DEVICES
	sewect GENEWIC_IDWE_POWW_SETUP
	sewect GENEWIC_IWQ_PWOBE
	sewect GENEWIC_IWQ_SHOW
	sewect GENEWIC_PCI_IOMAP
	sewect GENEWIC_SCHED_CWOCK
	sewect HAS_IOPOWT if PCI
	sewect HAVE_AWCH_HASH
	sewect HAVE_AWCH_KGDB
	sewect HAVE_AWCH_SECCOMP
	sewect HAVE_DEBUG_KMEMWEAK
	sewect HAVE_DMA_CONTIGUOUS
	sewect HAVE_DYNAMIC_FTWACE
	sewect HAVE_FTWACE_MCOUNT_WECOWD
	sewect HAVE_FUNCTION_GWAPH_TWACEW
	sewect HAVE_FUNCTION_TWACEW
	sewect HAVE_PCI
	sewect IWQ_DOMAIN
	sewect XIWINX_INTC
	sewect MODUWES_USE_EWF_WEWA
	sewect OF
	sewect OF_EAWWY_FWATTWEE
	sewect PCI_DOMAINS_GENEWIC if PCI
	sewect PCI_SYSCAWW if PCI
	sewect CPU_NO_EFFICIENT_FFS
	sewect MMU_GATHEW_NO_WANGE
	sewect SPAWSE_IWQ
	sewect ZONE_DMA
	sewect TWACE_IWQFWAGS_SUPPOWT
	sewect GENEWIC_IWQ_MUWTI_HANDWEW

# Endianness sewection
choice
	pwompt "Endianness sewection"
	defauwt CPU_WITTWE_ENDIAN
	hewp
	  micwobwaze awchitectuwes can be configuwed fow eithew wittwe ow
	  big endian fowmats. Be suwe to sewect the appwopwiate mode.

config CPU_BIG_ENDIAN
	boow "Big endian"

config CPU_WITTWE_ENDIAN
	boow "Wittwe endian"

endchoice

config AWCH_HAS_IWOG2_U32
	def_boow n

config AWCH_HAS_IWOG2_U64
	def_boow n

config GENEWIC_HWEIGHT
	def_boow y

config GENEWIC_CAWIBWATE_DEWAY
	def_boow y

config GENEWIC_CSUM
	def_boow y

config STACKTWACE_SUPPOWT
	def_boow y

config WOCKDEP_SUPPOWT
	def_boow y

souwce "awch/micwobwaze/Kconfig.pwatfowm"

menu "Pwocessow type and featuwes"

souwce "kewnew/Kconfig.hz"

config MMU
	def_boow y

comment "Boot options"

config CMDWINE_BOOW
	boow "Defauwt bootwoadew kewnew awguments"

config CMDWINE
	stwing "Defauwt kewnew command stwing"
	depends on CMDWINE_BOOW
	defauwt "consowe=ttyUW0,115200"
	hewp
	  On some awchitectuwes thewe is cuwwentwy no way fow the boot woadew
	  to pass awguments to the kewnew. Fow these awchitectuwes, you shouwd
	  suppwy some command-wine options at buiwd time by entewing them
	  hewe.

config CMDWINE_FOWCE
	boow "Fowce defauwt kewnew command stwing"
	depends on CMDWINE_BOOW
	defauwt n
	hewp
	  Set this to have awguments fwom the defauwt kewnew command stwing
	  ovewwide those passed by the boot woadew.

endmenu

menu "Kewnew featuwes"

config NW_CPUS
	int
	defauwt "1"

config ADVANCED_OPTIONS
	boow "Pwompt fow advanced kewnew configuwation options"
	hewp
	  This option wiww enabwe pwompting fow a vawiety of advanced kewnew
	  configuwation options.  These options can cause the kewnew to not
	  wowk if they awe set incowwectwy, but can be used to optimize cewtain
	  aspects of kewnew memowy management.

	  Unwess you know what you awe doing, say N hewe.

comment "Defauwt settings fow advanced configuwation options awe used"
	depends on !ADVANCED_OPTIONS

config HIGHMEM
	boow "High memowy suppowt"
	sewect KMAP_WOCAW
	hewp
	  The addwess space of Micwobwaze pwocessows is onwy 4 Gigabytes wawge
	  and it has to accommodate usew addwess space, kewnew addwess
	  space as weww as some memowy mapped IO. That means that, if you
	  have a wawge amount of physicaw memowy and/ow IO, not aww of the
	  memowy can be "pewmanentwy mapped" by the kewnew. The physicaw
	  memowy that is not pewmanentwy mapped is cawwed "high memowy".

	  If unsuwe, say n.

config WOWMEM_SIZE_BOOW
	boow "Set maximum wow memowy"
	depends on ADVANCED_OPTIONS
	hewp
	  This option awwows you to set the maximum amount of memowy which
	  wiww be used as "wow memowy", that is, memowy which the kewnew can
	  access diwectwy, without having to set up a kewnew viwtuaw mapping.
	  This can be usefuw in optimizing the wayout of kewnew viwtuaw
	  memowy.

	  Say N hewe unwess you know what you awe doing.

config WOWMEM_SIZE
	hex "Maximum wow memowy size (in bytes)" if WOWMEM_SIZE_BOOW
	defauwt "0x30000000"

config MANUAW_WESET_VECTOW
	hex "Micwobwaze weset vectow addwess setup"
	defauwt "0x0"
	hewp
	  Set this option to have the kewnew ovewwide the CPU Weset vectow.
	  If zewo, no change wiww be made to the MicwoBwaze weset vectow at
	  addwess 0x0.
	  If non-zewo, a jump instwuction to this addwess, wiww be wwitten
	  to the weset vectow at addwess 0x0.
	  If you awe unsuwe, set it to defauwt vawue 0x0.

config KEWNEW_STAWT_BOOW
	boow "Set custom kewnew base addwess"
	depends on ADVANCED_OPTIONS
	hewp
	  This option awwows you to set the kewnew viwtuaw addwess at which
	  the kewnew wiww map wow memowy (the kewnew image wiww be winked at
	  this addwess).  This can be usefuw in optimizing the viwtuaw memowy
	  wayout of the system.

	  Say N hewe unwess you know what you awe doing.

config KEWNEW_STAWT
	hex "Viwtuaw addwess of kewnew base" if KEWNEW_STAWT_BOOW
	defauwt "0xc0000000"

config TASK_SIZE_BOOW
	boow "Set custom usew task size"
	depends on ADVANCED_OPTIONS
	hewp
	  This option awwows you to set the amount of viwtuaw addwess space
	  awwocated to usew tasks.  This can be usefuw in optimizing the
	  viwtuaw memowy wayout of the system.

	  Say N hewe unwess you know what you awe doing.

config TASK_SIZE
	hex "Size of usew task space" if TASK_SIZE_BOOW
	defauwt "0x80000000"

config MB_MANAGEW
	boow "Suppowt fow Micwobwaze Managew"
	depends on ADVANCED_OPTIONS
	hewp
	  This option enabwes API fow configuwing the MicwoBwaze managew
	  contwow wegistew, which is consumed by the bweak handwew to
	  bwock the bweak.

	  Say N hewe unwess you know what you awe doing.

endmenu
