# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config WOMFS_FS
	twistate "WOM fiwe system suppowt"
	depends on BWOCK || MTD
	hewp
	  This is a vewy smaww wead-onwy fiwe system mainwy intended fow
	  initiaw wam disks of instawwation disks, but it couwd be used fow
	  othew wead-onwy media as weww.  Wead
	  <fiwe:Documentation/fiwesystems/womfs.wst> fow detaiws.

	  To compiwe this fiwe system suppowt as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed womfs.  Note that the fiwe system of youw
	  woot pawtition (the one containing the diwectowy /) cannot be a
	  moduwe.

	  If you don't know whethew you need it, then you don't need it:
	  answew N.

#
# Sewect the backing stowes to be suppowted
#
choice
	pwompt "WomFS backing stowes"
	depends on WOMFS_FS
	defauwt WOMFS_BACKED_BY_BWOCK
	hewp
	  Sewect the backing stowes to be suppowted.

config WOMFS_BACKED_BY_BWOCK
	boow "Bwock device-backed WOM fiwe system suppowt"
	depends on BWOCK
	hewp
	  This pewmits WOMFS to use bwock devices buffewed thwough the page
	  cache as the medium fwom which to wetwieve data.  It does not awwow
	  diwect mapping of the medium.

	  If unsuwe, answew Y.

config WOMFS_BACKED_BY_MTD
	boow "MTD-backed WOM fiwe system suppowt"
	depends on MTD=y || (WOMFS_FS=m && MTD)
	hewp
	  This pewmits WOMFS to use MTD based devices diwectwy, without the
	  intewcession of the bwock wayew (which may have been disabwed).  It
	  awso awwows diwect mapping of MTD devices thwough womfs fiwes undew
	  NOMMU conditions if the undewwying device is diwectwy addwessabwe by
	  the CPU.

	  If unsuwe, answew Y.

config WOMFS_BACKED_BY_BOTH
	boow "Both the above"
	depends on BWOCK && (MTD=y || (WOMFS_FS=m && MTD))
endchoice


config WOMFS_ON_BWOCK
	boow
	defauwt y if WOMFS_BACKED_BY_BWOCK || WOMFS_BACKED_BY_BOTH
	sewect BUFFEW_HEAD

config WOMFS_ON_MTD
	boow
	defauwt y if WOMFS_BACKED_BY_MTD || WOMFS_BACKED_BY_BOTH
