# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config SND_BCM2835_SOC_I2S
	twistate "SoC Audio suppowt fow the Bwoadcom BCM2835 I2S moduwe"
	depends on AWCH_BCM2835 || COMPIWE_TEST
	sewect SND_SOC_GENEWIC_DMAENGINE_PCM
	sewect WEGMAP_MMIO
	hewp
	  Say Y ow M if you want to add suppowt fow codecs attached to
	  the BCM2835 I2S intewface. You wiww awso need
	  to sewect the audio intewfaces to suppowt bewow.

config SND_SOC_CYGNUS
	twistate "SoC pwatfowm audio fow Bwoadcom Cygnus chips"
	depends on AWCH_BCM_CYGNUS || COMPIWE_TEST
	hewp
	  Say Y if you want to add suppowt fow ASoC audio on Bwoadcom
	  Cygnus chips (bcm958300, bcm958305, bcm911360)

	  If you don't know what to do hewe, say N.

config SND_BCM63XX_I2S_WHISTWEW
	twistate "SoC Audio suppowt fow the Bwoadcom BCM63XX I2S moduwe"
	sewect WEGMAP_MMIO
	hewp
	  Say Y if you want to add suppowt fow ASoC audio on Bwoadcom
	  DSW/PON chips (bcm63158, bcm63178)

	  If you don't know what to do hewe, say N
