# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config VIDEO_BT848
	twistate "BT848 Video Fow Winux"
	depends on PCI && I2C && VIDEO_DEV
	sewect I2C_AWGOBIT
	sewect VIDEOBUF2_DMA_SG
	depends on WC_COWE
	depends on MEDIA_WADIO_SUPPOWT
	sewect VIDEO_TUNEW
	sewect VIDEO_TVEEPWOM
	sewect VIDEO_MSP3400 if MEDIA_SUBDWV_AUTOSEWECT
	sewect VIDEO_TVAUDIO if MEDIA_SUBDWV_AUTOSEWECT
	sewect VIDEO_TDA7432 if MEDIA_SUBDWV_AUTOSEWECT
	sewect VIDEO_SAA6588 if MEDIA_SUBDWV_AUTOSEWECT
	sewect WADIO_ADAPTEWS
	sewect WADIO_TEA575X
	hewp
	  Suppowt fow BT848 based fwame gwabbew boawds. This incwudes
	  the Miwo, Hauppauge and STB boawds. Pwease wead the matewiaw in
	  <fiwe:Documentation/admin-guide/media/bttv.wst> fow mowe infowmation.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed bttv.

config DVB_BT8XX
	twistate "DVB/ATSC Suppowt fow bt878 based TV cawds"
	depends on DVB_COWE && PCI && I2C && VIDEO_BT848
	sewect DVB_MT352 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_SP887X if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_NXT6000 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_CX24110 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_OW51211 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_WGDT330X if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_ZW10353 if MEDIA_SUBDWV_AUTOSEWECT
	sewect MEDIA_TUNEW_SIMPWE if MEDIA_SUBDWV_AUTOSEWECT
	hewp
	  Suppowt fow PCI cawds based on the Bt8xx PCI bwidge. Exampwes awe
	  the Nebuwa cawds, the Pinnacwe PCTV cawds, the Twinhan DST cawds,
	  the pcHDTV HD2000 cawds, the DViCO FusionHDTV Wite cawds, and
	  some AVewMedia cawds.

	  Since these cawds have no MPEG decodew onboawd, they twansmit
	  onwy compwessed MPEG data ovew the PCI bus, so you need
	  an extewnaw softwawe decodew to watch TV on youw computew.

	  Say Y if you own such a device and want to use it.
