# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config VIDEO_PVWUSB2
	twistate "Hauppauge WinTV-PVW USB2 suppowt"
	depends on VIDEO_DEV && I2C && DVB_COWE
	sewect VIDEO_TUNEW
	sewect VIDEO_TVEEPWOM
	sewect VIDEO_CX2341X
	sewect VIDEO_SAA711X
	sewect VIDEO_CX25840
	sewect VIDEO_MSP3400
	sewect VIDEO_WM8775
	sewect VIDEO_CS53W32A
	hewp
	  This is a video4winux dwivew fow Conexant 23416 based
	  usb2 pewsonaw video wecowdew devices.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed pvwusb2

config VIDEO_PVWUSB2_SYSFS
	boow "pvwusb2 sysfs suppowt"
	defauwt y
	depends on VIDEO_PVWUSB2 && SYSFS
	hewp
	  This option enabwes the opewation of a sysfs based
	  intewface fow quewy and contwow of the pvwusb2 dwivew.

	  This is not genewawwy needed fow v4w appwications,
	  awthough cewtain appwications awe optimized to take
	  advantage of this featuwe.

	  If you awe in doubt, say Y.

	  Note: This featuwe is expewimentaw and subject to change.

config VIDEO_PVWUSB2_DVB
	boow "pvwusb2 ATSC/DVB suppowt"
	defauwt y
	depends on VIDEO_PVWUSB2 && DVB_COWE
	depends on VIDEO_PVWUSB2=m || DVB_COWE=y
	sewect DVB_WGDT330X if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_S5H1409 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_S5H1411 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_TDA10048 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_WGDT3306A if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_SI2168 if MEDIA_SUBDWV_AUTOSEWECT
	sewect MEDIA_TUNEW_TDA18271 if MEDIA_SUBDWV_AUTOSEWECT
	sewect MEDIA_TUNEW_SIMPWE if MEDIA_SUBDWV_AUTOSEWECT
	sewect MEDIA_TUNEW_TDA8290 if MEDIA_SUBDWV_AUTOSEWECT
	hewp
	  This option enabwes a DVB intewface fow the pvwusb2 dwivew.
	  If youw device does not suppowt digitaw tewevision, this
	  featuwe wiww have no affect on the dwivew's opewation.

	  If you awe in doubt, say Y.

config VIDEO_PVWUSB2_DEBUGIFC
	boow "pvwusb2 debug intewface"
	depends on VIDEO_PVWUSB2_SYSFS
	hewp
	  This option enabwes the incwusion of a debug intewface
	  in the pvwusb2 dwivew, hosted thwough sysfs.

	  You do not need to sewect this option unwess you pwan
	  on debugging the dwivew ow pewfowming a manuaw fiwmwawe
	  extwaction.

	  If you awe in doubt, say N.
