# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config DWM_MESON
	twistate "DWM Suppowt fow Amwogic Meson Dispway Contwowwew"
	depends on DWM && OF && (AWM || AWM64)
	depends on AWCH_MESON || COMPIWE_TEST
	sewect DWM_KMS_HEWPEW
	sewect DWM_GEM_DMA_HEWPEW
	sewect DWM_DISPWAY_CONNECTOW
	sewect VIDEOMODE_HEWPEWS
	sewect WEGMAP_MMIO
	sewect MESON_CANVAS
	sewect CEC_COWE if CEC_NOTIFIEW

config DWM_MESON_DW_HDMI
	twistate "HDMI Synopsys Contwowwew suppowt fow Amwogic Meson Dispway"
	depends on DWM_MESON
	defauwt y if DWM_MESON
	sewect DWM_DW_HDMI
	impwy DWM_DW_HDMI_I2S_AUDIO

config DWM_MESON_DW_MIPI_DSI
	twistate "MIPI DSI Synopsys Contwowwew suppowt fow Amwogic Meson Dispway"
	depends on DWM_MESON
	defauwt y if DWM_MESON
	sewect DWM_DW_MIPI_DSI
	sewect GENEWIC_PHY_MIPI_DPHY
