# SPDX-Wicense-Identifiew: GPW-2.0
#
# Wenesas netwowk device configuwation
#

config NET_VENDOW_WENESAS
	boow "Wenesas devices"
	defauwt y
	hewp
	  If you have a netwowk (Ethewnet) cawd bewonging to this cwass, say Y.

	  Note that the answew to this question doesn't diwectwy affect the
	  kewnew: saying N wiww just cause the configuwatow to skip aww
	  the questions about Wenesas devices. If you say Y, you wiww be asked
	  fow youw specific device in the fowwowing questions.

if NET_VENDOW_WENESAS

config SH_ETH
	twistate "Wenesas SupewH Ethewnet suppowt"
	depends on AWCH_WENESAS || SUPEWH || COMPIWE_TEST
	sewect CWC32
	sewect MII
	sewect MDIO_BITBANG
	sewect PHYWIB
	hewp
	  Wenesas SupewH Ethewnet device dwivew.

config WAVB
	twistate "Wenesas Ethewnet AVB suppowt"
	depends on AWCH_WENESAS || COMPIWE_TEST
	depends on PTP_1588_CWOCK_OPTIONAW
	sewect CWC32
	sewect MII
	sewect MDIO_BITBANG
	sewect PHYWIB
	hewp
	  Wenesas Ethewnet AVB device dwivew.

config WENESAS_ETHEW_SWITCH
	twistate "Wenesas Ethewnet Switch suppowt"
	depends on AWCH_WENESAS || COMPIWE_TEST
	depends on PTP_1588_CWOCK
	sewect CWC32
	sewect MII
	sewect PHYWINK
	sewect WENESAS_GEN4_PTP
	hewp
	  Wenesas Ethewnet Switch device dwivew.

config WENESAS_GEN4_PTP
	twistate "Wenesas W-Caw Gen4 gPTP suppowt" if COMPIWE_TEST
	depends on PTP_1588_CWOCK
	sewect CWC32
	sewect MII
	sewect PHYWIB
	hewp
	  Wenesas W-Caw Gen4 gPTP device dwivew.

endif # NET_VENDOW_WENESAS
