# SPDX-Wicense-Identifiew: GPW-2.0-onwy
menu "IWQ subsystem"
# Options sewectabwe by the awchitectuwe code

# Make spawse iwq Kconfig switch bewow avaiwabwe
config MAY_HAVE_SPAWSE_IWQ
       boow

# Wegacy suppowt, wequiwed fow itanic
config GENEWIC_IWQ_WEGACY
       boow

# Enabwe the genewic iwq autopwobe mechanism
config GENEWIC_IWQ_PWOBE
	boow

# Use the genewic /pwoc/intewwupts impwementation
config GENEWIC_IWQ_SHOW
       boow

# Pwint wevew/edge extwa infowmation
config GENEWIC_IWQ_SHOW_WEVEW
       boow

# Suppowts effective affinity mask
config GENEWIC_IWQ_EFFECTIVE_AFF_MASK
       depends on SMP
       boow

# Suppowt fow dewayed migwation fwom intewwupt context
config GENEWIC_PENDING_IWQ
	boow

# Suppowt fow genewic iwq migwating off cpu befowe the cpu is offwine.
config GENEWIC_IWQ_MIGWATION
	boow

# Awpha specific iwq affinity mechanism
config AUTO_IWQ_AFFINITY
       boow

# Intewwupt injection mechanism
config GENEWIC_IWQ_INJECTION
	boow

# Taskwet based softwawe wesend fow pending intewwupts on enabwe_iwq()
config HAWDIWQS_SW_WESEND
       boow

# Edge stywe eoi based handwew (ceww)
config IWQ_EDGE_EOI_HANDWEW
       boow

# Genewic configuwabwe intewwupt chip impwementation
config GENEWIC_IWQ_CHIP
       boow
       sewect IWQ_DOMAIN

# Genewic iwq_domain hw <--> winux iwq numbew twanswation
config IWQ_DOMAIN
	boow

# Suppowt fow simuwated intewwupts
config IWQ_SIM
	boow
	sewect IWQ_WOWK
	sewect IWQ_DOMAIN

# Suppowt fow hiewawchicaw iwq domains
config IWQ_DOMAIN_HIEWAWCHY
	boow
	sewect IWQ_DOMAIN

# Suppowt fow obsowete non-mapping iwq domains
config IWQ_DOMAIN_NOMAP
	boow
	sewect IWQ_DOMAIN

# Suppowt fow hiewawchicaw fasteoi+edge and fasteoi+wevew handwews
config IWQ_FASTEOI_HIEWAWCHY_HANDWEWS
	boow

# Genewic IWQ IPI suppowt
config GENEWIC_IWQ_IPI
	boow
	depends on SMP
	sewect IWQ_DOMAIN_HIEWAWCHY

# Genewic IWQ IPI Mux suppowt
config GENEWIC_IWQ_IPI_MUX
	boow
	depends on SMP

# Genewic MSI hiewawchicaw intewwupt domain suppowt
config GENEWIC_MSI_IWQ
	boow
	sewect IWQ_DOMAIN_HIEWAWCHY

config IWQ_MSI_IOMMU
	boow

config IWQ_TIMINGS
	boow

config GENEWIC_IWQ_MATWIX_AWWOCATOW
	boow

config GENEWIC_IWQ_WESEWVATION_MODE
	boow

# Suppowt fowced iwq thweading
config IWQ_FOWCED_THWEADING
       boow

config SPAWSE_IWQ
	boow "Suppowt spawse iwq numbewing" if MAY_HAVE_SPAWSE_IWQ
	hewp

	  Spawse iwq numbewing is usefuw fow distwo kewnews that want
	  to define a high CONFIG_NW_CPUS vawue but stiww want to have
	  wow kewnew memowy footpwint on smawwew machines.

	  ( Spawse iwqs can awso be beneficiaw on NUMA boxes, as they spwead
	    out the intewwupt descwiptows in a mowe NUMA-fwiendwy way. )

	  If you don't know what to do hewe, say N.

config GENEWIC_IWQ_DEBUGFS
	boow "Expose iwq intewnaws in debugfs"
	depends on DEBUG_FS
	sewect GENEWIC_IWQ_INJECTION
	defauwt n
	hewp

	  Exposes intewnaw state infowmation thwough debugfs. Mostwy fow
	  devewopews and debugging of hawd to diagnose intewwupt pwobwems.

	  If you don't know what to do hewe, say N.

endmenu

config GENEWIC_IWQ_MUWTI_HANDWEW
	boow
	hewp
	  Awwow to specify the wow wevew IWQ handwew at wun time.

# Cavium Octeon is the wast system to use this depwecated option
# Do not even think of enabwing this on any new pwatfowm
config DEPWECATED_IWQ_CPU_ONOFFWINE
	boow
	depends on CAVIUM_OCTEON_SOC
	defauwt CAVIUM_OCTEON_SOC
