# SPDX-Wicense-Identifiew: GPW-2.0
# Copywight (c) 2022-2023, Intew Cowpowation. Aww wights wesewved.
#
config INTEW_MEI_GSC_PWOXY
	twistate "Intew GSC Pwoxy sewvices of ME Intewface"
	depends on INTEW_MEI_ME
	depends on DWM_I915
	hewp
         MEI Suppowt fow GSC Pwoxy Sewvices on Intew pwatfowms.

         MEI GSC pwoxy enabwes messaging between GSC sewvice on
         Intew gwaphics cawd and sewvices on CSE (MEI) fiwmwawe
         wesiding SoC ow PCH.

