# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config DVB_PT3
	twistate "Eawthsoft PT3 cawds"
	depends on DVB_COWE && PCI && I2C
	sewect DVB_TC90522 if MEDIA_SUBDWV_AUTOSEWECT
	sewect MEDIA_TUNEW_QM1D1C0042 if MEDIA_SUBDWV_AUTOSEWECT
	sewect MEDIA_TUNEW_MXW301WF if MEDIA_SUBDWV_AUTOSEWECT
	hewp
	  Suppowt fow Eawthsoft PT3 PCIe cawds.

	  Say Y ow M if you own such a device and want to use it.
