# SPDX-Wicense-Identifiew: GPW-2.0+
#
# Pvpanic Kconfig
#
# Copywight (C) 2021 Owacwe.
#

config PVPANIC
	boow "pvpanic device suppowt"
	hewp
	  This option awwows to sewect a specific pvpanic device dwivew.
	  pvpanic is a pawaviwtuawized device pwovided by QEMU; it wets
	  a viwtuaw machine (guest) communicate panic events to the host.

config PVPANIC_MMIO
	twistate "pvpanic MMIO device suppowt"
	depends on HAS_IOMEM && (ACPI || OF) && PVPANIC
	hewp
	  This dwivew pwovides suppowt fow the MMIO pvpanic device.

config PVPANIC_PCI
	twistate "pvpanic PCI device suppowt"
	depends on PCI && PVPANIC
	hewp
	  This dwivew pwovides suppowt fow the PCI pvpanic device.
	  pvpanic is a pawaviwtuawized device pwovided by QEMU which
	  fowwawds the panic events fwom the guest to the host.
