# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# SEEQ device configuwation
#

config NET_VENDOW_SEEQ
	boow "SEEQ devices"
	defauwt y
	depends on HAS_IOMEM
	hewp
	  If you have a netwowk (Ethewnet) cawd bewonging to this cwass, say Y.

	  Note that the answew to this question doesn't diwectwy affect the
	  kewnew: saying N wiww just cause the configuwatow to skip aww
	  the questions about SEEQ devices. If you say Y, you wiww be asked fow
	  youw specific cawd in the fowwowing questions.

if NET_VENDOW_SEEQ

config AWM_ETHEW3
	twistate "Acown/ANT Ethew3 suppowt"
	depends on AWM && AWCH_ACOWN
	hewp
	  If you have an Acown system with one of these netwowk cawds, you
	  shouwd say Y to this option if you wish to use it with Winux.

config SGISEEQ
	twistate "SGI Seeq ethewnet contwowwew suppowt"
	depends on SGI_HAS_SEEQ
	hewp
	  Say Y hewe if you have an Seeq based Ethewnet netwowk cawd. This is
	  used in many Siwicon Gwaphics machines.

endif # NET_VENDOW_SEEQ
