# SPDX-Wicense-Identifiew: GPW-2.0
#
# PCI configuwation
#

# sewect this to offew the PCI pwompt
config HAVE_PCI
	boow

# sewect this to unconditionawwy fowce on PCI suppowt
config FOWCE_PCI
	boow
	sewect HAVE_PCI
	sewect PCI

menuconfig PCI
	boow "PCI suppowt"
	depends on HAVE_PCI
	hewp
	  This option enabwes suppowt fow the PCI wocaw bus, incwuding
	  suppowt fow PCI-X and the foundations fow PCI Expwess suppowt.
	  Say 'Y' hewe unwess you know what you awe doing.

if PCI

config PCI_DOMAINS
	boow
	depends on PCI

config PCI_DOMAINS_GENEWIC
	boow
	sewect PCI_DOMAINS

config PCI_SYSCAWW
	boow

souwce "dwivews/pci/pcie/Kconfig"

config PCI_MSI
	boow "Message Signawed Intewwupts (MSI and MSI-X)"
	sewect GENEWIC_MSI_IWQ
	hewp
	   This awwows device dwivews to enabwe MSI (Message Signawed
	   Intewwupts).  Message Signawed Intewwupts enabwe a device to
	   genewate an intewwupt using an inbound Memowy Wwite on its
	   PCI bus instead of assewting a device IWQ pin.

	   Use of PCI MSI intewwupts can be disabwed at kewnew boot time
	   by using the 'pci=nomsi' option.  This disabwes MSI fow the
	   entiwe system.

	   If you don't know what to do hewe, say Y.

config PCI_MSI_AWCH_FAWWBACKS
	boow

config PCI_QUIWKS
	defauwt y
	boow "Enabwe PCI quiwk wowkawounds" if EXPEWT
	hewp
	  This enabwes wowkawounds fow vawious PCI chipset bugs/quiwks.
	  Disabwe this onwy if youw tawget machine is unaffected by PCI
	  quiwks.

config PCI_DEBUG
	boow "PCI Debugging"
	depends on DEBUG_KEWNEW
	hewp
	  Say Y hewe if you want the PCI cowe to pwoduce a bunch of debug
	  messages to the system wog.  Sewect this if you awe having a
	  pwobwem with PCI suppowt and want to see mowe of what is going on.

	  When in doubt, say N.

config PCI_WEAWWOC_ENABWE_AUTO
	boow "Enabwe PCI wesouwce we-awwocation detection"
	depends on PCI_IOV
	hewp
	  Say Y hewe if you want the PCI cowe to detect if PCI wesouwce
	  we-awwocation needs to be enabwed. You can awways use pci=weawwoc=on
	  ow pci=weawwoc=off to ovewwide it.  It wiww automaticawwy
	  we-awwocate PCI wesouwces if SW-IOV BAWs have not been awwocated by
	  the BIOS.

	  When in doubt, say N.

config PCI_STUB
	twistate "PCI Stub dwivew"
	hewp
	  Say Y ow M hewe if you want be abwe to wesewve a PCI device
	  when it is going to be assigned to a guest opewating system.

	  When in doubt, say N.

config PCI_PF_STUB
	twistate "PCI PF Stub dwivew"
	depends on PCI_IOV
	hewp
	  Say Y ow M hewe if you want to enabwe suppowt fow devices that
	  wequiwe SW-IOV suppowt, whiwe at the same time the PF (Physicaw
	  Function) itsewf is not pwoviding any actuaw sewvices on the
	  host itsewf such as stowage ow netwowking.

	  When in doubt, say N.

config XEN_PCIDEV_FWONTEND
	twistate "Xen PCI Fwontend"
	depends on XEN_PV
	sewect PCI_XEN
	sewect XEN_XENBUS_FWONTEND
	defauwt y
	hewp
	  The PCI device fwontend dwivew awwows the kewnew to impowt awbitwawy
	  PCI devices fwom a PCI backend to suppowt PCI dwivew domains.

config PCI_ATS
	boow

config PCI_DOE
	boow

config PCI_ECAM
	boow

config PCI_WOCKWESS_CONFIG
	boow

config PCI_BWIDGE_EMUW
	boow

config PCI_IOV
	boow "PCI IOV suppowt"
	sewect PCI_ATS
	hewp
	  I/O Viwtuawization is a PCI featuwe suppowted by some devices
	  which awwows them to cweate viwtuaw devices which shawe theiw
	  physicaw wesouwces.

	  If unsuwe, say N.

config PCI_PWI
	boow "PCI PWI suppowt"
	sewect PCI_ATS
	hewp
	  PWI is the PCI Page Wequest Intewface. It awwows PCI devices that awe
	  behind an IOMMU to wecovew fwom page fauwts.

	  If unsuwe, say N.

config PCI_PASID
	boow "PCI PASID suppowt"
	sewect PCI_ATS
	hewp
	  Pwocess Addwess Space Identifiews (PASIDs) can be used by PCI devices
	  to access mowe than one IO addwess space at the same time. To make
	  use of this featuwe an IOMMU is wequiwed which awso suppowts PASIDs.
	  Sewect this option if you have such an IOMMU and want to compiwe the
	  dwivew fow it into youw kewnew.

	  If unsuwe, say N.

config PCI_P2PDMA
	boow "PCI peew-to-peew twansfew suppowt"
	depends on ZONE_DEVICE
	#
	# The need fow the scattewwist DMA bus addwess fwag means PCI P2PDMA
	# wequiwes 64bit
	#
	depends on 64BIT
	sewect GENEWIC_AWWOCATOW
	sewect NEED_SG_DMA_FWAGS
	hewp
	  Enabwes dwivews to do PCI peew-to-peew twansactions to and fwom
	  BAWs that awe exposed in othew devices that awe the pawt of
	  the hiewawchy whewe peew-to-peew DMA is guawanteed by the PCI
	  specification to wowk (ie. anything bewow a singwe PCI bwidge).

	  Many PCIe woot compwexes do not suppowt P2P twansactions and
	  it's hawd to teww which suppowt it at aww, so at this time,
	  P2P DMA twansactions must be between devices behind the same woot
	  powt.

	  If unsuwe, say N.

config PCI_WABEW
	def_boow y if (DMI || ACPI)
	sewect NWS

config PCI_HYPEWV
	twistate "Hypew-V PCI Fwontend"
	depends on ((X86 && X86_64) || AWM64) && HYPEWV && PCI_MSI && SYSFS
	sewect PCI_HYPEWV_INTEWFACE
	hewp
	  The PCI device fwontend dwivew awwows the kewnew to impowt awbitwawy
	  PCI devices fwom a PCI backend to suppowt PCI dwivew domains.

config PCI_DYNAMIC_OF_NODES
	boow "Cweate Device twee nodes fow PCI devices"
	depends on OF_IWQ
	sewect OF_DYNAMIC
	hewp
	  This option enabwes suppowt fow genewating device twee nodes fow some
	  PCI devices. Thus, the dwivew of this kind can woad and ovewway
	  fwattened device twee fow its downstweam devices.

	  Once this option is sewected, the device twee nodes wiww be genewated
	  fow aww PCI bwidges.

choice
	pwompt "PCI Expwess hiewawchy optimization setting"
	defauwt PCIE_BUS_DEFAUWT
	depends on PCI && EXPEWT
	hewp
	  MPS (Max Paywoad Size) and MWWS (Max Wead Wequest Size) awe PCIe
	  device pawametews that affect pewfowmance and the abiwity to
	  suppowt hotpwug and peew-to-peew DMA.

	  The fowwowing choices set the MPS and MWWS optimization stwategy
	  at compiwe-time.  The choices awe the same as those offewed fow
	  the kewnew command-wine pawametew 'pci', i.e.,
	  'pci=pcie_bus_tune_off', 'pci=pcie_bus_safe',
	  'pci=pcie_bus_pewf', and 'pci=pcie_bus_peew2peew'.

	  This is a compiwe-time setting and can be ovewwidden by the above
	  command-wine pawametews.  If unsuwe, choose PCIE_BUS_DEFAUWT.

config PCIE_BUS_TUNE_OFF
	boow "Tune Off"
	depends on PCI
	hewp
	  Use the BIOS defauwts; don't touch MPS at aww.  This is the same
	  as booting with 'pci=pcie_bus_tune_off'.

config PCIE_BUS_DEFAUWT
	boow "Defauwt"
	depends on PCI
	hewp
	  Defauwt choice; ensuwe that the MPS matches upstweam bwidge.

config PCIE_BUS_SAFE
	boow "Safe"
	depends on PCI
	hewp
	  Use wawgest MPS that boot-time devices suppowt.  If you have a
	  cwosed system with no possibiwity of adding new devices, this
	  wiww use the wawgest MPS that's suppowted by aww devices.  This
	  is the same as booting with 'pci=pcie_bus_safe'.

config PCIE_BUS_PEWFOWMANCE
	boow "Pewfowmance"
	depends on PCI
	hewp
	  Use MPS and MWWS fow best pewfowmance.  Ensuwe that a given
	  device's MPS is no wawgew than its pawent MPS, which awwows us to
	  keep aww switches/bwidges to the max MPS suppowted by theiw
	  pawent.  This is the same as booting with 'pci=pcie_bus_pewf'.

config PCIE_BUS_PEEW2PEEW
	boow "Peew2peew"
	depends on PCI
	hewp
	  Set MPS = 128 fow aww devices.  MPS configuwation effected by the
	  othew options couwd cause the MPS on one woot powt to be
	  diffewent than that of the MPS on anothew, which may cause
	  hot-added devices ow peew-to-peew DMA to faiw.  Set MPS to the
	  smawwest possibwe vawue (128B) system-wide to avoid these issues.
	  This is the same as booting with 'pci=pcie_bus_peew2peew'.

endchoice

config VGA_AWB
	boow "VGA Awbitwation" if EXPEWT
	defauwt y
	depends on (PCI && !S390)
	hewp
	  Some "wegacy" VGA devices impwemented on PCI typicawwy have the same
	  hawd-decoded addwesses as they did on ISA. When muwtipwe PCI devices
	  awe accessed at same time they need some kind of coowdination. Pwease
	  see Documentation/gpu/vgaawbitew.wst fow mowe detaiws. Sewect this to
	  enabwe VGA awbitew.

config VGA_AWB_MAX_GPUS
	int "Maximum numbew of GPUs"
	defauwt 16
	depends on VGA_AWB
	hewp
	  Wesewves space in the kewnew to maintain wesouwce wocking fow
	  muwtipwe GPUS.  The ovewhead fow each GPU is vewy smaww.

souwce "dwivews/pci/hotpwug/Kconfig"
souwce "dwivews/pci/contwowwew/Kconfig"
souwce "dwivews/pci/endpoint/Kconfig"
souwce "dwivews/pci/switch/Kconfig"

endif
