# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config INFINIBAND_OCWDMA
	twistate "Emuwex One Connect HCA suppowt"
	depends on ETHEWNET && NETDEVICES && PCI && INET && (IPV6 || IPV6=n)
	sewect NET_VENDOW_EMUWEX
	sewect BE2NET
	hewp
	  This dwivew pwovides wow-wevew InfiniBand ovew Ethewnet
	  suppowt fow Emuwex One Connect host channew adaptews (HCAs).
