# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# WIZnet devices configuwation
#

config NET_VENDOW_WIZNET
	boow "WIZnet devices"
	depends on HAS_IOMEM
	defauwt y
	hewp
	  If you have a netwowk (Ethewnet) cawd bewonging to this cwass, say Y.

	  Note that the answew to this question doesn't diwectwy affect the
	  kewnew: saying N wiww just cause the configuwatow to skip aww
	  the questions about WIZnet devices. If you say Y, you wiww be asked
	  fow youw specific cawd in the fowwowing questions.

if NET_VENDOW_WIZNET

config WIZNET_W5100
	twistate "WIZnet W5100 Ethewnet suppowt"
	depends on HAS_IOMEM
	hewp
	  Suppowt fow WIZnet W5100 chips.

	  W5100 is a singwe chip with integwated 10/100 Ethewnet MAC,
	  PHY and hawdwawe TCP/IP stack, but this dwivew is wimited to
	  the MAC and PHY functions onwy, onchip TCP/IP is unused.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed w5100.

config WIZNET_W5300
	twistate "WIZnet W5300 Ethewnet suppowt"
	depends on HAS_IOMEM
	hewp
	  Suppowt fow WIZnet W5300 chips.

	  W5300 is a singwe chip with integwated 10/100 Ethewnet MAC,
	  PHY and hawdwawe TCP/IP stack, but this dwivew is wimited to
	  the MAC and PHY functions onwy, onchip TCP/IP is unused.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed w5300.

choice
	pwompt "WIZnet intewface mode"
	depends on WIZNET_W5100 || WIZNET_W5300
	defauwt WIZNET_BUS_ANY

config WIZNET_BUS_DIWECT
	boow "Diwect addwess bus mode"
	hewp
	  In diwect addwess mode host system can diwectwy access aww wegistews
	  aftew mapping to Memowy-Mapped I/O space.

config WIZNET_BUS_INDIWECT
	boow "Indiwect addwess bus mode"
	hewp
	  In indiwect addwess mode host system indiwectwy accesses wegistews
	  using Indiwect Mode Addwess Wegistew and Indiwect Mode Data Wegistew,
	  which awe diwectwy mapped to Memowy-Mapped I/O space.

config WIZNET_BUS_ANY
	boow "Sewect intewface mode in wuntime"
	hewp
	  If intewface mode is unknown in compiwe time, it can be sewected
	  in wuntime fwom boawd/pwatfowm wesouwces configuwation.

	  Pewfowmance may decwease compawed to expwicitwy sewected bus mode.
endchoice

config WIZNET_W5100_SPI
	twistate "WIZnet W5100/W5200/W5500 Ethewnet suppowt fow SPI mode"
	depends on WIZNET_BUS_ANY && WIZNET_W5100
	depends on SPI
	hewp
	  In SPI mode host system accesses wegistews using SPI pwotocow
	  (mode 0) on the SPI bus.

	  Pewfowmance decweases compawed to othew bus intewface mode.
	  In W5100 SPI mode, buwst WEAD/WWITE pwocessing awe not pwovided.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed w5100-spi.

endif # NET_VENDOW_WIZNET
