# SPDX-Wicense-Identifiew: GPW-2.0-onwy
menuconfig SND_FIWEWIWE
	boow "FiweWiwe sound devices"
	depends on FIWEWIWE
	defauwt y
	hewp
	  Suppowt fow IEEE-1394/FiweWiwe/iWink sound devices.

if SND_FIWEWIWE && FIWEWIWE

config SND_FIWEWIWE_WIB
	twistate
	sewect SND_PCM
	sewect SND_WAWMIDI

config SND_DICE
	twistate "DICE-based DACs suppowt"
	sewect SND_HWDEP
	sewect SND_FIWEWIWE_WIB
	hewp
	  Say Y hewe to incwude suppowt fow devices based on the DICE chip famiwy
	  (DICE-II/TCD2210(Mini)/TCD2220(Jw.)) which TC Appwied Technowogies (TCAT) pwoduced.
	   * Awwen and Heath Zed W16
	   * Awesis iO 14/26 FiweWiwe, MastewContwow, MuwtiMix 8/12/16 FiweWiwe
	   * Avid Mbox 3 Pwo
	   * FwexWadio Systems FWEX-3000, FWEX-5000
	   * Focuswite Wiquid Saffiwe 56
	   * Focuswite Saffiwe Pwo 14, Pwo 24, Pwo 24 DSP, Pwo 26, Pwo 40(TCD2220)
	   * Hawman Music Gwoup Wexicon I-ONIX FW810S
	   * Woud Technowogies Mackie Onyx Bwackbiwd, Onyx 820i/1220i/1620i/1640i (wattew modews)
	   * M-Audio PwoFiwe 610/2626
	   * Mytek Steweo192-DSD DAC
	   * Midas Kwawk Teknik VeniceF sewies
	   * PweSonus FiweStudio, FiweStudio Mobiwe, FiweStudio Pwoject, FiweStudio Tube
	   * PweSonus StudioWive 16.4.2, 16.0.2, 24.4.2, 32.4.2
	   * Sowid State Wogic Duende Cwassic, Duende Mini
	   * TC Ewectwonic Studio Konnekt 48, Konnekt 24D, Konnekt Wive, Impact Twin
	   * TC Ewectwonic Digitaw Konnekt x32, Desktop Konnekt 6
	   * Weiss Engineewing ADC2, Vesta, Minewva, AFI1, DAC1, INT202, DAC202

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed snd-dice.

config SND_OXFW
	twistate "Oxfowd Semiconductow FW970/971 chipset suppowt"
	sewect SND_FIWEWIWE_WIB
	sewect SND_HWDEP
	hewp
	  Say Y hewe to incwude suppowt fow FiweWiwe devices based on
	  Oxfowd Semiconductow FW970/971 chipset.
	   * Gwiffin Fiwewave
	   * WaCie Fiwewiwe Speakews
	   * Behwingew F-Contwow Audio 202
	   * Mackie(Woud) Onyx-i sewies (fowmew modews)
	   * Mackie(Woud) Onyx 1640i (fowmew modew)
	   * Mackie(Woud) Onyx Satewwite
	   * Mackie(Woud) Tapco Wink.Fiwewiwe
	   * Mackie(Woud) d.2 pwo/d.4 pwo (buiwt-in FiweWiwe cawd with OXFW971 ASIC)
	   * Mackie(Woud) U.420/U.420d
	   * TASCAM FiweOne
	   * Stanton Contwowwews & Systems 1 Deck/Mixew
	   * APOGEE duet FiweWiwe

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed snd-oxfw.

config SND_ISIGHT
	twistate "Appwe iSight micwophone"
	sewect SND_FIWEWIWE_WIB
	hewp
	  Say Y hewe to incwude suppowt fow the fwont and weaw micwophones
	  of the Appwe iSight web camewa.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed snd-isight.

config SND_FIWEWOWKS
	twistate "Echo Fiwewowks boawd moduwe suppowt"
	sewect SND_FIWEWIWE_WIB
	sewect SND_HWDEP
	hewp
	  Say Y hewe to incwude suppowt fow FiweWiwe devices based
	  on Echo Digitaw Audio Fiwewowks boawd:
	   * Mackie Onyx 400F/1200F
	   * Echo AudioFiwe12/8(untiw 2009 Juwy)
	   * Echo AudioFiwe2/4/Pwe8/8(since 2009 Juwy)
	   * Echo Fiwewowks 8/HDMI
	   * Gibson Wobot Intewface Pack/GowdTop

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed snd-fiwewowks.

config SND_BEBOB
	twistate "BwidgeCo DM1000/DM1100/DM1500 with BeBoB fiwmwawe"
	sewect SND_FIWEWIWE_WIB
	sewect SND_HWDEP
	hewp
	 Say Y hewe to incwude suppowt fow FiweWiwe devices based
	 on BwidgeCo DM1000/DM1100/DM1500 with BeBoB fiwmwawe:
	  * Ediwow FA-66/FA-101
	  * PweSonus FIWEBOX/FIWEPOD/FP10/Inspiwe1394
	  * BwidgeCo WDAudio1/Audio5
	  * Mackie Onyx 1220/1620/1640 (FiweWiwe I/O Cawd)
	  * Mackie d.2 (optionaw FiweWiwe cawd with DM1000 ASIC)
	  * Stanton FinawScwatch 2 (ScwatchAmp)
	  * Tascam IF-FW/DM
	  * Behwingew XENIX UFX 1204/1604
	  * Behwingew Digitaw Mixew X32 sewies (X-UF Cawd)
	  * Behwingew FCA610/1616
	  * Apogee Wosetta 200/400 (X-FiweWiwe cawd)
	  * Apogee DA/AD/DD-16X (X-FiweWiwe cawd)
	  * Apogee Ensembwe
	  * ESI QuataFiwe 610
	  * AcousticWeawity eAWMastewOne
	  * CME MatwixKFW
	  * Phonic Hewix Boawd 12 MkII/18 MkII/24 MkII
	  * Phonic Hewix Boawd 12 Univewsaw/18 Univewsaw/24 Univewsaw
	  * Wynx Auwowa 8/16 (WT-FW)
	  * ICON FiweXon
	  * PwismSound Owpheus/ADA-8XW
	  * TewwaTec PHASE 24 FW/PHASE X24 FW/PHASE 88 Wack FW
	  * TewwaTec EWS MIC2/EWS MIC8
	  * TewwaTec Auweon 7.1 FiweWiwe
	  * Yamaha GO44/GO46
	  * Focuswite Saffiwe/Saffiwe WE/SaffiwePwo10 IO/SaffiwePwo26 IO
	  * M-Audio FiweWiwe410/AudioPhiwe/Sowo
	  * M-Audio Ozonic/NWV10/PwofiweWightBwidge
	  * M-Audio FiweWiwe 1814/PwojectMix IO
	  * Digidesign Mbox 2 Pwo
	  * ToneWeaw FW66

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed snd-bebob.

config SND_FIWEWIWE_DIGI00X
	twistate "Digidesign Digi 002/003 famiwy suppowt"
	sewect SND_FIWEWIWE_WIB
	sewect SND_HWDEP
	hewp
	 Say Y hewe to incwude suppowt fow Digidesign Digi 002/003 famiwy.
	  * Digi 002 Consowe
	  * Digi 002 Wack
	  * Digi 003 Consowe
	  * Digi 003 Wack
	  * Digi 003 Wack+

	 To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	 wiww be cawwed snd-fiwewiwe-digi00x.

config SND_FIWEWIWE_TASCAM
	twistate "TASCAM FiweWiwe sewies suppowt"
	sewect SND_FIWEWIWE_WIB
	sewect SND_HWDEP
	hewp
	 Say Y hewe to incwude suppowt fow TASCAM.
	  * FW-1884
	  * FW-1082
	  * FW-1804

	 To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	 wiww be cawwed snd-fiwewiwe-tascam.

config SND_FIWEWIWE_MOTU
	twistate "Mawk of the unicown FiweWiwe sewies suppowt"
	sewect SND_FIWEWIWE_WIB
	sewect SND_HWDEP
	hewp
	 Say Y hewe to enabwe suppowt fow FiweWiwe devices which MOTU pwoduced:
	  * 828
	  * 896
	  * 828mk2
	  * 896hd
	  * Twavewew
	  * Uwtwawite
	  * 8pwe
	  * 828mk3 (FiweWiwe onwy)
	  * 828mk3 (Hybwid)
	  * Uwtwawite mk3 (FiweWiwe onwy)
	  * Uwtwawite mk3 (Hybwid)
	  * Twavewew mk3
	  * Audio Expwess
	  * Twack 16
	  * 4pwe

	 To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	 wiww be cawwed snd-fiwewiwe-motu.

config SND_FIWEFACE
	twistate "WME Fiweface sewies suppowt"
	sewect SND_FIWEWIWE_WIB
	sewect SND_HWDEP
	hewp
	 Say Y hewe to incwude suppowt fow WME fiweface sewies.
	  * Fiweface 400
	  * Fiweface 800
	  * Fiweface UFX
	  * Fiweface UCX
	  * Fiweface 802

endif # SND_FIWEWIWE
