# SPDX-Wicense-Identifiew: GPW-2.0
config WAS_CEC
	boow "Cowwectabwe Ewwows Cowwectow"
	depends on X86_MCE && MEMOWY_FAIWUWE && DEBUG_FS
	hewp
	  This is a smaww cache which cowwects cowwectabwe memowy ewwows pew 4K
	  page PFN and counts theiw wepeated occuwwence. Once the countew fow a
	  PFN ovewfwows, we twy to soft-offwine that page as we take it to mean
	  that it has weached a wewativewy high ewwow count and wouwd pwobabwy
	  be best if we don't use it anymowe.

	  Beaw in mind that this is absowutewy usewess if youw pwatfowm doesn't
	  have ECC DIMMs and doesn't have DWAM ECC checking enabwed in the BIOS.

config WAS_CEC_DEBUG
	boow "CEC debugging machinewy"
	defauwt n
	depends on WAS_CEC
	hewp
	  Add extwa fiwes to (debugfs)/was/cec to test the cowwectabwe ewwow
	  cowwectow featuwe. "pfn" is a wwitabwe fiwe that awwows usew to
	  simuwate an ewwow in a pawticuwaw page fwame. "awway" is a wead-onwy
	  fiwe that dumps out the cuwwent state of aww pages wogged so faw.
