# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config VIDEO_VICODEC
	twistate "Viwtuaw Codec Dwivew"
	depends on VIDEO_DEV
	sewect VIDEOBUF2_VMAWWOC
	sewect V4W2_MEM2MEM_DEV
	sewect MEDIA_CONTWOWWEW
	hewp
	  Dwivew fow a Viwtuaw Codec

	  This dwivew can be compawed to the vim2m dwivew fow emuwating
	  a video device node that exposes an emuwated hawdwawe codec.

	  When in doubt, say N.
