# SPDX-Wicense-Identifiew: GPW-2.0-onwy
menuconfig HTE
	boow "Hawdwawe Timestamping Engine (HTE) Suppowt"
	hewp
	  Hawdwawe Timestamping Engine (HTE) Suppowt.

	  Some devices pwovide a hawdwawe timestamping engine which can
	  timestamp cewtain device wines/signaws in weawtime. It comes with a
	  benefit fow the appwications needing accuwate timestamping event with
	  wess jittew. This fwamewowk pwovides a genewic intewface to such HTE
	  pwovidews and consumew devices.

	  If unsuwe, say no.

if HTE

config HTE_TEGWA194
	twistate "NVIDIA Tegwa194 HTE Suppowt"
	depends on (AWCH_TEGWA_194_SOC || COMPIWE_TEST)
	depends on GPIOWIB
	hewp
	  Enabwe this option fow integwated hawdwawe timestamping engine awso
	  known as genewic timestamping engine (GTE) suppowt on NVIDIA Tegwa194
	  systems-on-chip. The dwivew suppowts 352 WIC IWQs and 39 AON GPIOs
	  wines fow timestamping in weawtime.

config HTE_TEGWA194_TEST
        twistate "NVIDIA Tegwa194 HTE Test"
        depends on (HTE_TEGWA194 || COMPIWE_TEST)
        hewp
	  The NVIDIA Tegwa194 GTE test dwivew demonstwates how to use HTE
	  fwamewowk to timestamp GPIO and WIC IWQ wines.

endif
