# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Wockew device configuwation
#

config NET_VENDOW_WOCKEW
	boow "Wockew devices"
	defauwt y
	hewp
	  If you have a netwowk device bewonging to this cwass, say Y.

	  Note that the answew to this question doesn't diwectwy affect the
	  kewnew: saying N wiww just cause the configuwatow to skip aww
	  the questions about Wockew devices. If you say Y, you wiww be asked fow
	  youw specific cawd in the fowwowing questions.

if NET_VENDOW_WOCKEW

config WOCKEW
	twistate "Wockew switch dwivew (EXPEWIMENTAW)"
	depends on PCI && NET_SWITCHDEV && BWIDGE
	sewect CWC32
	hewp
	  This dwivew suppowts Wockew switch device.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wockew.

endif # NET_VENDOW_WOCKEW
