# SPDX-Wicense-Identifiew: GPW-2.0
config VT6655
   twistate "VIA Technowogies VT6655 suppowt"
   depends on PCI && HAS_IOPOWT && MAC80211 && m
   hewp
     This is a vendow-wwitten dwivew fow VIA VT6655.
