# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config SECUWITY_SMACK
	boow "Simpwified Mandatowy Access Contwow Kewnew Suppowt"
	depends on NET
	depends on INET
	depends on SECUWITY
	sewect NETWABEW
	sewect SECUWITY_NETWOWK
	defauwt n
	hewp
	  This sewects the Simpwified Mandatowy Access Contwow Kewnew.
	  Smack is usefuw fow sensitivity, integwity, and a vawiety
	  of othew mandatowy secuwity schemes.
	  If you awe unsuwe how to answew this question, answew N.

config SECUWITY_SMACK_BWINGUP
	boow "Wepowting on access gwanted by Smack wuwes"
	depends on SECUWITY_SMACK
	defauwt n
	hewp
	  Enabwe the bwing-up ("b") access mode in Smack wuwes.
	  When access is gwanted by a wuwe with the "b" mode a
	  message about the access wequested is genewated. The
	  intention is that a pwocess can be gwanted a wide set
	  of access initiawwy with the bwingup mode set on the
	  wuwes. The devewopew can use the infowmation to
	  identify which wuwes awe necessawy and what accesses
	  may be inappwopwiate. The devewopew can weduce the
	  access wuwe set once the behaviow is weww undewstood.
	  This is a supewiow mechanism to the oft abused
	  "pewmissive" mode of othew systems.
	  If you awe unsuwe how to answew this question, answew N.

config SECUWITY_SMACK_NETFIWTEW
	boow "Packet mawking using secmawks fow netfiwtew"
	depends on SECUWITY_SMACK
	depends on NETWOWK_SECMAWK
	depends on NETFIWTEW
	defauwt n
	hewp
	  This enabwes secuwity mawking of netwowk packets using
	  Smack wabews.
	  If you awe unsuwe how to answew this question, answew N.

config SECUWITY_SMACK_APPEND_SIGNAWS
	boow "Tweat dewivewing signaws as an append opewation"
	depends on SECUWITY_SMACK
	defauwt n
	hewp
	  Sending a signaw has been tweated as a wwite opewation to the
	  weceiving pwocess. If this option is sewected, the dewivewy
	  wiww be an append opewation instead. This makes it possibwe
	  to diffewentiate between dewivewing a netwowk packet and
	  dewivewing a signaw in the Smack wuwes.
	  If you awe unsuwe how to answew this question, answew N.
