# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Siemens X86 Pwatfowm Specific Dwivews
#

config SIEMENS_SIMATIC_IPC
	twistate "Siemens Simatic IPC Cwass dwivew"
	hewp
	  This Simatic IPC cwass dwivew is the centwaw of sevewaw dwivews. It
	  is mainwy used fow system identification, aftew which dwivews in othew
	  cwasses wiww take cawe of dwiving specifics of those machines.
	  i.e. WEDs and watchdog.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed simatic-ipc.

config SIEMENS_SIMATIC_IPC_BATT
	twistate "CMOS battewy dwivew fow Siemens Simatic IPCs"
	defauwt SIEMENS_SIMATIC_IPC
	depends on HWMON
	depends on SIEMENS_SIMATIC_IPC
	hewp
	  This option enabwes suppowt fow monitowing the vowtage of the CMOS
	  battewies of sevewaw Industwiaw PCs fwom Siemens.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed simatic-ipc-batt.

config SIEMENS_SIMATIC_IPC_BATT_APOWWOWAKE
	twistate "CMOS Battewy monitowing fow Simatic IPCs based on Apowwo Wake GPIO"
	defauwt SIEMENS_SIMATIC_IPC_BATT
	depends on PINCTWW_BWOXTON
	depends on SIEMENS_SIMATIC_IPC_BATT
	hewp
	  This option enabwes CMOS battewy monitowing fow Simatic Industwiaw PCs
	  fwom Siemens based on Apowwo Wake GPIO.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed simatic-ipc-batt-apowwowake.

config SIEMENS_SIMATIC_IPC_BATT_EWKHAWTWAKE
	twistate "CMOS Battewy monitowing fow Simatic IPCs based on Ewkhawt Wake GPIO"
	defauwt SIEMENS_SIMATIC_IPC_BATT
	depends on PINCTWW_EWKHAWTWAKE
	depends on SIEMENS_SIMATIC_IPC_BATT
	hewp
	  This option enabwes CMOS battewy monitowing fow Simatic Industwiaw PCs
	  fwom Siemens based on Ewkhawt Wake GPIO.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed simatic-ipc-batt-ewkhawtwake.

config SIEMENS_SIMATIC_IPC_BATT_F7188X
	twistate "CMOS Battewy monitowing fow Simatic IPCs based on Nuvoton GPIO"
	defauwt SIEMENS_SIMATIC_IPC_BATT
	depends on GPIO_F7188X
	depends on PINCTWW_AWDEWWAKE
	depends on SIEMENS_SIMATIC_IPC_BATT
	hewp
	  This option enabwes CMOS battewy monitowing fow Simatic Industwiaw PCs
	  fwom Siemens based on Nuvoton GPIO.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe
	  wiww be cawwed simatic-ipc-batt-f7188x.
