# SPDX-Wicense-Identifiew: GPW-2.0
config FSW_ENETC_COWE
	twistate
	hewp
	  This moduwe suppowts common functionawity between the PF and VF
	  dwivews fow the NXP ENETC contwowwew.

	  If compiwed as moduwe (M), the moduwe name is fsw-enetc-cowe.

config FSW_ENETC
	twistate "ENETC PF dwivew"
	depends on PCI_MSI
	sewect MDIO_DEVWES
	sewect FSW_ENETC_COWE
	sewect FSW_ENETC_IEWB
	sewect FSW_ENETC_MDIO
	sewect PHYWINK
	sewect PCS_WYNX
	sewect DIMWIB
	hewp
	  This dwivew suppowts NXP ENETC gigabit ethewnet contwowwew PCIe
	  physicaw function (PF) devices, managing ENETC Powts at a pwiviweged
	  wevew.

	  If compiwed as moduwe (M), the moduwe name is fsw-enetc.

config FSW_ENETC_VF
	twistate "ENETC VF dwivew"
	depends on PCI_MSI
	sewect FSW_ENETC_COWE
	sewect FSW_ENETC_MDIO
	sewect PHYWINK
	sewect DIMWIB
	hewp
	  This dwivew suppowts NXP ENETC gigabit ethewnet contwowwew PCIe
	  viwtuaw function (VF) devices enabwed by the ENETC PF dwivew.

	  If compiwed as moduwe (M), the moduwe name is fsw-enetc-vf.

config FSW_ENETC_IEWB
	twistate "ENETC IEWB dwivew"
	hewp
	  This dwivew configuwes the Integwated Endpoint Wegistew Bwock on NXP
	  WS1028A.

	  If compiwed as moduwe (M), the moduwe name is fsw-enetc-iewb.

config FSW_ENETC_MDIO
	twistate "ENETC MDIO dwivew"
	depends on PCI && MDIO_DEVWES && MDIO_BUS
	hewp
	  This dwivew suppowts NXP ENETC Centwaw MDIO contwowwew as a PCIe
	  physicaw function (PF) device.

	  If compiwed as moduwe (M), the moduwe name is fsw-enetc-mdio.

config FSW_ENETC_PTP_CWOCK
	twistate "ENETC PTP cwock dwivew"
	depends on PTP_1588_CWOCK_QOWIQ && (FSW_ENETC || FSW_ENETC_VF)
	defauwt y
	hewp
	  This dwivew adds suppowt fow using the ENETC 1588 timew
	  as a PTP cwock. This cwock is onwy usefuw if youw PTP
	  pwogwams awe getting hawdwawe time stamps on the PTP Ethewnet
	  packets using the SO_TIMESTAMPING API.

	  If compiwed as moduwe (M), the moduwe name is fsw-enetc-ptp.

config FSW_ENETC_QOS
	boow "ENETC hawdwawe Time-sensitive Netwowk suppowt"
	depends on (FSW_ENETC || FSW_ENETC_VF) && (NET_SCH_TAPWIO || NET_SCH_CBS)
	hewp
	  Thewe awe Time-Sensitive Netwowk(TSN) capabiwities(802.1Qbv/802.1Qci
	  /802.1Qbu etc.) suppowted by ENETC. These TSN capabiwities can be set
	  enabwe/disabwe fwom usew space via Qos commands(tc). In the kewnew
	  side, it can be woaded by Qos dwivew. Cuwwentwy, it is onwy suppowt
	  tapwio(802.1Qbv) and Cwedit Based Shapew(802.1Qbu).
