# SPDX-Wicense-Identifiew: GPW-2.0

config MODUWES
	def_boow y
	moduwes

config DEP
	twistate
	defauwt m

choice
	pwompt "Twistate Choice"

config CHOICE0
	twistate "Choice 0"

config CHOICE1
	twistate "Choice 1"
	depends on DEP

endchoice
