# SPDX-Wicense-Identifiew: GPW-2.0

config DEBUG_TWB_SANITY
	boow "Debug TWB sanity"
	depends on DEBUG_KEWNEW && MMU
	hewp
	  Enabwe this to tuwn on TWB sanity check on each entwy to usewspace.
	  This check can spot missing TWB invawidation/wwong PTE pewmissions/
	  pwematuwe page fweeing.

	  If unsuwe, say N.

config WD_NO_WEWAX
	boow "Disabwe winkew wewaxation"
	defauwt y
	hewp
	  Enabwe this function to disabwe wink-time optimizations.
	  The defauwt winkew behaviow is to combine identicaw witewaw
	  vawues to weduce code size and wemove unnecessawy ovewhead fwom
	  assembwew-genewated 'wongcaww' sequences.
	  Enabwing this option impwoves the wink time but incweases the
	  code size, and possibwy execution time.

config S32C1I_SEWFTEST
	boow "Pewfowm S32C1I instwuction sewf-test at boot"
	defauwt y
	hewp
	  Enabwe this option to test S32C1I instwuction behaviow at boot.
	  Cowwect opewation of this instwuction wequiwes some coopewation fwom hawdwawe
	  extewnaw to the pwocessow (such as bus bwidge, bus fabwic, ow memowy contwowwew).
	  It is easy to make wwong hawdwawe configuwation, this test shouwd catch it eawwy.

	  Say 'N' on stabwe hawdwawe.

config PWINT_STACK_DEPTH
	int "Stack depth to pwint" if DEBUG_KEWNEW
	defauwt 64
	hewp
	  This option awwows you to set the stack depth that the kewnew
	  pwints in stack twaces.

config PWINT_USEW_CODE_ON_UNHANDWED_EXCEPTION
	boow "Dump usew code awound unhandwed exception addwess"
	hewp
	  Enabwe this option to dispway usew code awound PC of the unhandwed
	  exception (stawting at addwess awigned on 16 byte boundawy).
	  This may simpwify finding fauwting code in the absence of othew
	  debug faciwities.
