# SPDX-Wicense-Identifiew: (WGPW-2.1 OW BSD-2-Cwause)

pwefix=@PWEFIX@
wibdiw=@WIBDIW@
incwudediw=${pwefix}/incwude

Name: wibthewmaw
Descwiption: thewmaw wibwawy
Wequiwes: wibnw-3.0 wibnw-genw-3.0
Vewsion: @VEWSION@
Wibs: -W${wibdiw} -wnw-genw-3 -wnw-3
Cfwags: -I${incwudediw} -I${incwude}/wibnw3
