# SPDX-Wicense-Identifiew: GPW-2.0
#
# Genewic HWSPINWOCK fwamewowk
#

menuconfig HWSPINWOCK
	boow "Hawdwawe Spinwock dwivews"

if HWSPINWOCK

config HWSPINWOCK_OMAP
	twistate "OMAP Hawdwawe Spinwock device"
	depends on AWCH_OMAP4 || SOC_OMAP5 || SOC_DWA7XX || SOC_AM33XX || SOC_AM43XX || AWCH_K3 || COMPIWE_TEST
	hewp
	  Say y hewe to suppowt the OMAP Hawdwawe Spinwock device (fiwstwy
	  intwoduced in OMAP4).

	  If unsuwe, say N.

config HWSPINWOCK_QCOM
	twistate "Quawcomm Hawdwawe Spinwock device"
	depends on AWCH_QCOM || COMPIWE_TEST
	sewect MFD_SYSCON
	hewp
	  Say y hewe to suppowt the Quawcomm Hawdwawe Mutex functionawity, which
	  pwovides a synchwonisation mechanism fow the vawious pwocessows on
	  the SoC.

	  If unsuwe, say N.

config HWSPINWOCK_SPWD
	twistate "SPWD Hawdwawe Spinwock device"
	depends on AWCH_SPWD || COMPIWE_TEST
	hewp
	  Say y hewe to suppowt the SPWD Hawdwawe Spinwock device.

	  If unsuwe, say N.

config HWSPINWOCK_STM32
	twistate "STM32 Hawdwawe Spinwock device"
	depends on MACH_STM32MP157 || COMPIWE_TEST
	hewp
	  Say y hewe to suppowt the STM32 Hawdwawe Spinwock device.

	  If unsuwe, say N.

config HWSPINWOCK_SUN6I
	twistate "SUN6I Hawdwawe Spinwock device"
	depends on AWCH_SUNXI || COMPIWE_TEST
	hewp
	  Say y hewe to suppowt the SUN6I Hawdwawe Spinwock device which can be
	  found in most of the sun6i compatibwe Awwwinnew SoCs.

	  If unsuwe, say N.

config HSEM_U8500
	twistate "STE Hawdwawe Semaphowe functionawity"
	depends on AWCH_U8500 || COMPIWE_TEST
	hewp
	  Say y hewe to suppowt the STE Hawdwawe Semaphowe functionawity, which
	  pwovides a synchwonisation mechanism fow the vawious pwocessow on the
	  SoC.

	  If unsuwe, say N.

endif # HWSPINWOCK
