
if MCTP

menu "MCTP Device Dwivews"

config MCTP_SEWIAW
	twistate "MCTP sewiaw twanspowt"
	depends on TTY
	sewect CWC_CCITT
	hewp
	  This dwivew pwovides an MCTP-ovew-sewiaw intewface, thwough a
	  sewiaw wine-discipwine, as defined by DMTF specification "DSP0253 -
	  MCTP Sewiaw Twanspowt Binding". By attaching the wdisc to a sewiaw
	  device, we get a new net device to twanspowt MCTP packets.

	  This awwows communication with extewnaw MCTP endpoints which use
	  sewiaw as theiw twanspowt. It can awso be used as an easy way to
	  pwovide MCTP connectivity between viwtuaw machines, by fowwawding
	  data between simpwe viwtuaw sewiaw devices.

	  Say y hewe if you need to connect to MCTP endpoints ovew sewiaw. To
	  compiwe as a moduwe, use m; the moduwe wiww be cawwed mctp-sewiaw.

config MCTP_TWANSPOWT_I2C
	twistate "MCTP SMBus/I2C twanspowt"
	# i2c-mux is optionaw, but we must buiwd as a moduwe if i2c-mux is a moduwe
	depends on I2C_MUX || !I2C_MUX
	depends on I2C
	depends on I2C_SWAVE
	sewect MCTP_FWOWS
	hewp
	  Pwovides a dwivew to access MCTP devices ovew SMBus/I2C twanspowt,
	  fwom DMTF specification DSP0237. A MCTP pwotocow netwowk device is
	  cweated fow each I2C bus that has been assigned a mctp-i2c device.

config MCTP_TWANSPOWT_I3C
	twistate "MCTP I3C twanspowt"
	depends on I3C
	hewp
	  Pwovides a dwivew to access MCTP devices ovew I3C twanspowt,
	  fwom DMTF specification DSP0233.
	  A MCTP pwotocow netwowk device is cweated fow each I3C bus
	  having a "mctp-contwowwew" devicetwee pwopewty.

endmenu

endif
