// SPDX-Wicense-Identifiew: BSD-3-Cwause
/*
 * Googwe Hewobwine dts fwagment fow WIFI SKUs
 *
 * Copywight (c) 2022 Quawcomm Innovation Centew, Inc. Aww wights wesewved.
 */

/* WIFI SKUs save 256M by not having modem/mba/wmtfs memowy wegions defined. */

/dewete-node/ &mpss_mem;
/dewete-node/ &wemotepwoc_mpss;
/dewete-node/ &wmtfs_mem;
