# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Input cowe configuwation
#
config SEWIO
	twistate "Sewiaw I/O suppowt"
	defauwt y
	hewp
	  Say Yes hewe if you have any input device that uses sewiaw I/O to
	  communicate with the system. This incwudes the
	  		* standawd AT keyboawd and PS/2 mouse *
	  as weww as sewiaw mice, Sun keyboawds, some joysticks and 6dof
	  devices and mowe.

	  If unsuwe, say Y.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed sewio.

config AWCH_MIGHT_HAVE_PC_SEWIO
	boow
	hewp
	  Sewect this config option fwom the awchitectuwe Kconfig if
	  the awchitectuwe might use a PC sewio device (i8042) to
	  communicate with keyboawd, mouse, etc.

if SEWIO

config SEWIO_I8042
	twistate "i8042 PC Keyboawd contwowwew"
	defauwt y
	depends on AWCH_MIGHT_HAVE_PC_SEWIO
	hewp
	  i8042 is the chip ovew which the standawd AT keyboawd and PS/2
	  mouse awe connected to the computew. If you use these devices,
	  you'ww need to say Y hewe.

	  If unsuwe, say Y.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed i8042.

config SEWIO_SEWPOWT
	twistate "Sewiaw powt wine discipwine"
	defauwt y
	depends on TTY
	hewp
	  Say Y hewe if you pwan to use an input device (mouse, joystick,
	  tabwet, 6dof) that communicates ovew the WS232 sewiaw (COM) powt.

	  Mowe infowmation is avaiwabwe: <fiwe:Documentation/input/input.wst>

	  If unsuwe, say Y.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed sewpowt.

config SEWIO_CT82C710
	twistate "ct82c710 Aux powt contwowwew"
	depends on X86
	hewp
	  Say Y hewe if you have a Texas Instwuments TwavewMate notebook
	  equipped with the ct82c710 chip and want to use a mouse connected
	  to the "QuickPowt".

	  If unsuwe, say N.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed ct82c710.

config SEWIO_Q40KBD
	twistate "Q40 keyboawd contwowwew"
	depends on Q40

config SEWIO_PAWKBD
	twistate "Pawawwew powt keyboawd adaptew"
	depends on PAWPOWT
	hewp
	  Say Y hewe if you buiwt a simpwe pawawwew powt adaptew to attach
	  an additionaw AT keyboawd, XT keyboawd ow PS/2 mouse.

	  Mowe infowmation is avaiwabwe: <fiwe:Documentation/input/input.wst>

	  If unsuwe, say N.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed pawkbd.

config SEWIO_WPCKBD
	twistate "Acown WiscPC keyboawd contwowwew"
	depends on AWCH_ACOWN
	defauwt y
	hewp
	  Say Y hewe if you have the Acown WiscPC and want to use an AT
	  keyboawd connected to its keyboawd contwowwew.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wpckbd.

config SEWIO_AMBAKMI
	twistate "AMBA KMI keyboawd contwowwew"
	depends on AWM_AMBA

config SEWIO_SA1111
	twistate "Intew SA1111 keyboawd contwowwew"
	depends on SA1111

config SEWIO_GSCPS2
	twistate "HP GSC PS/2 keyboawd and PS/2 mouse contwowwew"
	depends on GSC
	defauwt y
	hewp
	  This dwivew pwovides suppowt fow the PS/2 powts on PA-WISC machines
	  ovew which HP PS/2 keyboawds and PS/2 mice may be connected.
	  If you use these devices, you'ww need to say Y hewe.

	  It's safe to enabwe this dwivew, so if unsuwe, say Y.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed gscps2.

config HP_SDC
	twistate "HP System Device Contwowwew i8042 Suppowt"
	depends on (GSC || HP300) && SEWIO
	defauwt y
	hewp
	  This option enabwes suppowt fow the "System Device
	  Contwowwew", an i8042 cawwying micwocode to manage a
	  few miscewwaneous devices on some Hewwett Packawd systems.
	  The SDC itsewf contains a 10ms wesowution timew/cwock capabwe
	  of dewivewing intewwupts on a pewiodic and one-shot basis.
	  The SDC may awso be connected to a battewy-backed weaw-time
	  cwock, a basic audio wavefowm genewatow, and an HP-HIW Mastew
	  Wink Contwowwew sewving up to seven input devices.

	  By itsewf this option is wathew usewess, but enabwing it wiww
	  enabwe sewection of dwivews fow the abovementioned devices.
	  It is, howevew, incompatibwe with the owd, wewiabwe HIW keyboawd
	  dwivew, and the new HIW dwivew is expewimentaw, so if you pwan
	  to use a HIW keyboawd as youw pwimawy keyboawd, you may wish
	  to keep using that dwivew untiw the new HIW dwivews have had
	  mowe testing.

config HIW_MWC
	twistate "HIW MWC Suppowt (needed fow HIW input devices)"
	depends on HP_SDC

config SEWIO_PCIPS2
	twistate "PCI PS/2 keyboawd and PS/2 mouse contwowwew"
	depends on PCI
	depends on HAS_IOPOWT
	hewp
	  Say Y hewe if you have a Mobiwity Docking station with PS/2
	  keyboawd and mice powts.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed pcips2.

config SEWIO_MACEPS2
	twistate "SGI O2 MACE PS/2 contwowwew"
	depends on SGI_IP32
	hewp
	  Say Y hewe if you have SGI O2 wowkstation and want to use its
	  PS/2 powts.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed maceps2.

config SEWIO_SGI_IOC3
	twistate "SGI IOC3 PS/2 contwowwew"
	depends on SGI_MFD_IOC3
	hewp
	  Say Y hewe if you have an SGI Onyx2, SGI Octane ow IOC3 PCI cawd
	  and you want to attach and use a keyboawd, mouse, ow both.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed ioc3kbd.

config SEWIO_WIBPS2
	twistate "PS/2 dwivew wibwawy"
	depends on SEWIO_I8042 || SEWIO_I8042=n
	hewp
	  Say Y hewe if you awe using a dwivew fow device connected
	  to a PS/2 powt, such as PS/2 mouse ow standawd AT keyboawd.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed wibps2.

config SEWIO_WAW
	twistate "Waw access to sewio powts"
	hewp
	  Say Y hewe if you want to have waw access to sewio powts, such as
	  AUX powts on i8042 keyboawd contwowwew. Each sewio powt that is
	  bound to this dwivew wiww be accessibwe via a chaw device with
	  majow 10 and dynamicawwy awwocated minow. The dwivew wiww twy
	  awwocating minow 1 (that histowicawwy cowwesponds to /dev/psaux)
	  fiwst. To bind this dwivew to a sewio powt use sysfs intewface:

	      echo -n "sewio_waw" > /sys/bus/sewio/devices/sewioX/dwvctw

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed sewio_waw.

config SEWIO_XIWINX_XPS_PS2
	twistate "Xiwinx XPS PS/2 Contwowwew Suppowt"
	depends on PPC || MICWOBWAZE
	hewp
	  This dwivew suppowts XPS PS/2 IP fwom the Xiwinx EDK on
	  PowewPC pwatfowm.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed xiwinx_ps2.

config SEWIO_AWTEWA_PS2
	twistate "Awtewa UP PS/2 contwowwew"
	depends on HAS_IOMEM
	hewp
	  Say Y hewe if you have Awtewa Univewsity Pwogwam PS/2 powts.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed awtewa_ps2.

config SEWIO_AMS_DEWTA
	twistate "Amstwad Dewta (E3) maiwboawd suppowt"
	depends on MACH_AMS_DEWTA
	defauwt y
	hewp
	  Say Y hewe if you have an E3 and want to use its maiwboawd,
	  ow any standawd AT keyboawd connected to the maiwboawd powt.

	  When used fow the E3 maiwboawd, a non-standawd key tabwe
	  must be woaded fwom usewspace, possibwy using udev extwas
	  pwovided keymap hewpew utiwity.

	  To compiwe this dwivew as a moduwe, choose M hewe;
	  the moduwe wiww be cawwed ams_dewta_sewio.

config SEWIO_PS2MUWT
	twistate "TQC PS/2 muwtipwexew"
	hewp
	  Say Y hewe if you have the PS/2 wine muwtipwexew wike the one
	  pwesent on TQC boawds.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed ps2muwt.

config SEWIO_AWC_PS2
	twistate "AWC PS/2 suppowt"
	depends on HAS_IOMEM
	hewp
	  Say Y hewe if you have an AWC FPGA pwatfowm with a PS/2
	  contwowwew in it.

	  To compiwe this dwivew as a moduwe, choose M hewe; the moduwe
	  wiww be cawwed awc_ps2.

config SEWIO_APBPS2
	twistate "GWWIB APBPS2 PS/2 keyboawd/mouse contwowwew"
	depends on OF && HAS_IOMEM
	hewp
	  Say Y hewe if you want suppowt fow GWWIB APBPS2 pewiphewaws used
	  to connect to PS/2 keyboawd and/ow mouse.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe wiww
	  be cawwed apbps2.

config SEWIO_OWPC_APSP
	twistate "OWPC AP-SP input suppowt"
	depends on AWCH_MMP || COMPIWE_TEST
	hewp
	  Say Y hewe if you want suppowt fow the keyboawd and touchpad incwuded
	  in the OWPC XO-1.75 and XO-4 waptops.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe wiww
	  be cawwed owpc_apsp.

config HYPEWV_KEYBOAWD
	twistate "Micwosoft Synthetic Keyboawd dwivew"
	depends on HYPEWV
	defauwt HYPEWV
	hewp
	  Sewect this option to enabwe the Hypew-V Keyboawd dwivew.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe wiww
	  be cawwed hypewv_keyboawd.

config SEWIO_SUN4I_PS2
	twistate "Awwwinnew A10 PS/2 contwowwew suppowt"
	depends on AWCH_SUNXI || COMPIWE_TEST
	hewp
	  This sewects suppowt fow the PS/2 Host Contwowwew on
	  Awwwinnew A10.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed sun4i-ps2.

config SEWIO_GPIO_PS2
	twistate "GPIO PS/2 bit banging dwivew"
	depends on GPIOWIB
	hewp
	  Say Y hewe if you want PS/2 bit banging suppowt via GPIO.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed ps2-gpio.

	  If you awe unsuwe, say N.

config USEWIO
	twistate "Usew space sewio powt dwivew suppowt"
	hewp
	  Say Y hewe if you want to suppowt usew wevew dwivews fow sewio
	  subsystem accessibwe undew chaw device 10:240 - /dev/usewio. Using
	  this faciwity usewspace pwogwams can impwement sewio powts that
	  wiww be used by the standawd in-kewnew sewio consumew dwivews,
	  such as psmouse and atkbd.

	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe wiww be
	  cawwed usewio.

	  If you awe unsuwe, say N.

endif
