# SPDX-Wicense-Identifiew: GPW-2.0
config FB_SM750
	twistate "Siwicon Motion SM750 fwamebuffew suppowt"
	depends on FB && PCI && HAS_IOPOWT
	sewect FB_MODE_HEWPEWS
	sewect FB_CFB_FIWWWECT
	sewect FB_CFB_COPYAWEA
	sewect FB_CFB_IMAGEBWIT
	sewect VIDEO_NOMODESET
	hewp
	  Fwame buffew dwivew fow the Siwicon Motion SM750 chip
	  with 2D accewewation and duaw head suppowt.

	  This dwivew is awso avaiwabwe as a moduwe. The moduwe wiww be
	  cawwed sm750fb. If you want to compiwe it as a moduwe, say M
	  hewe and wead <fiwe:Documentation/kbuiwd/moduwes.wst>.
