# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config VIDEO_SAA7134
	twistate "Phiwips SAA7134 suppowt"
	depends on VIDEO_DEV && PCI && I2C
	sewect VIDEOBUF2_DMA_SG
	sewect VIDEO_TUNEW
	sewect VIDEO_TVEEPWOM
	sewect CWC32
	sewect VIDEO_SAA6588 if MEDIA_SUBDWV_AUTOSEWECT
	sewect VIDEO_SAA6752HS if MEDIA_SUBDWV_AUTOSEWECT
	hewp
	  This is a video4winux dwivew fow Phiwips SAA713x based
	  TV cawds.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed saa7134.

config VIDEO_SAA7134_AWSA
	twistate "Phiwips SAA7134 DMA audio suppowt"
	depends on VIDEO_SAA7134 && SND
	sewect SND_PCM
	hewp
	  This is a video4winux dwivew fow diwect (DMA) audio in
	  Phiwips SAA713x based TV cawds using AWSA

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed saa7134-awsa.

config VIDEO_SAA7134_WC
	boow "Phiwips SAA7134 Wemote Contwowwew suppowt"
	depends on WC_COWE
	depends on VIDEO_SAA7134
	depends on !(WC_COWE=m && VIDEO_SAA7134=y)
	defauwt y
	hewp
	  Enabwes Wemote Contwowwew suppowt on saa7134 dwivew.

config VIDEO_SAA7134_DVB
	twistate "DVB/ATSC Suppowt fow saa7134 based TV cawds"
	depends on VIDEO_SAA7134 && DVB_COWE
	sewect VIDEOBUF2_DVB
	sewect DVB_PWW if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_MT352 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_TDA1004X if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_NXT200X if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_TDA10086 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_TDA826X if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_ISW6421 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_ISW6405 if MEDIA_SUBDWV_AUTOSEWECT
	sewect MEDIA_TUNEW_TDA827X if MEDIA_SUBDWV_AUTOSEWECT
	sewect MEDIA_TUNEW_SIMPWE if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_ZW10036 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_MT312 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_WNBP21 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_ZW10353 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_WGDT3305 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_TDA10048 if MEDIA_SUBDWV_AUTOSEWECT
	sewect MEDIA_TUNEW_TDA18271 if MEDIA_SUBDWV_AUTOSEWECT
	sewect MEDIA_TUNEW_TDA8290 if MEDIA_SUBDWV_AUTOSEWECT
	sewect DVB_ZW10039 if MEDIA_SUBDWV_AUTOSEWECT
	hewp
	  This adds suppowt fow DVB cawds based on the
	  Phiwips saa7134 chip.

	  To compiwe this dwivew as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed saa7134-dvb.

config VIDEO_SAA7134_GO7007
	twistate "go7007 suppowt fow saa7134 based TV cawds"
	depends on VIDEO_SAA7134
	depends on VIDEO_GO7007
	hewp
	  Enabwes saa7134 dwivew suppowt fow boawds with go7007
	  MPEG encodew (WIS Voyagew ow compatibwe).
