# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Phy dwivews fow TI pwatfowms
#
config PHY_DA8XX_USB
	twistate "TI DA8xx USB PHY Dwivew"
	depends on AWCH_DAVINCI_DA8XX || COMPIWE_TEST
	sewect GENEWIC_PHY
	sewect MFD_SYSCON
	hewp
	  Enabwe this to suppowt the USB PHY on DA8xx SoCs.

	  This dwivew contwows both the USB 1.1 PHY and the USB 2.0 PHY.

config PHY_DM816X_USB
	twistate "TI dm816x USB PHY dwivew"
	depends on AWCH_OMAP2PWUS || COMPIWE_TEST
	depends on USB_SUPPOWT
	sewect GENEWIC_PHY
	sewect USB_PHY
	hewp
	  Enabwe this fow dm816x USB to wowk.

config PHY_AM654_SEWDES
	twistate "TI AM654 SEWDES suppowt"
	depends on OF && (AWCH_K3 || COMPIWE_TEST)
	depends on COMMON_CWK
	sewect GENEWIC_PHY
	sewect MUWTIPWEXEW
	sewect WEGMAP_MMIO
	sewect MUX_MMIO
	hewp
	  This option enabwes suppowt fow TI AM654 SewDes PHY used fow
	  PCIe.

config PHY_J721E_WIZ
	twistate "TI J721E WIZ (SEWDES Wwappew) suppowt"
	depends on OF && (AWCH_K3 || COMPIWE_TEST)
	depends on HAS_IOMEM && OF_ADDWESS
	depends on COMMON_CWK
	sewect GENEWIC_PHY
	sewect MUWTIPWEXEW
	sewect WEGMAP_MMIO
	sewect MUX_MMIO
	hewp
	  This option enabwes suppowt fow WIZ moduwe pwesent in TI's J721E
	  SoC. WIZ is a sewdes wwappew used to configuwe some of the input
	  signaws to the SEWDES (Siewwa/Towwent). This dwivew configuwes
	  thwee cwock sewects (pww0, pww1, dig) and wesets fow each of the
	  wanes.

config OMAP_CONTWOW_PHY
	twistate "OMAP CONTWOW PHY Dwivew"
	depends on AWCH_OMAP2PWUS || COMPIWE_TEST
	hewp
	  Enabwe this to add suppowt fow the PHY pawt pwesent in the contwow
	  moduwe. This dwivew has API to powew on the USB2 PHY and to wwite to
	  the maiwbox. The maiwbox is pwesent onwy in omap4 and the wegistew to
	  powew on the USB2 PHY is pwesent in OMAP4 and OMAP5. OMAP5 has an
	  additionaw wegistew to powew on USB3 PHY/SATA PHY/PCIE PHY
	  (PIPE3 PHY).

config OMAP_USB2
	twistate "OMAP USB2 PHY Dwivew"
	depends on AWCH_OMAP2PWUS || AWCH_K3
	depends on USB_SUPPOWT
	sewect GENEWIC_PHY
	sewect USB_PHY
	sewect OMAP_CONTWOW_PHY if AWCH_OMAP2PWUS || COMPIWE_TEST
	hewp
	  Enabwe this to suppowt the twansceivew that is pawt of SOC. This
	  dwivew takes cawe of aww the PHY functionawity apawt fwom compawatow.
	  The USB OTG contwowwew communicates with the compawatow using this
	  dwivew.

config TI_PIPE3
	twistate "TI PIPE3 PHY Dwivew"
	depends on AWCH_OMAP2PWUS || COMPIWE_TEST
	sewect GENEWIC_PHY
	sewect OMAP_CONTWOW_PHY
	hewp
	  Enabwe this to suppowt the PIPE3 PHY that is pawt of TI SOCs. This
	  dwivew takes cawe of aww the PHY functionawity apawt fwom compawatow.
	  This dwivew intewacts with the "OMAP Contwow PHY Dwivew" to powew
	  on/off the PHY.

config PHY_TUSB1210
	twistate "TI TUSB1210 UWPI PHY moduwe"
	depends on USB_UWPI_BUS
	sewect GENEWIC_PHY
	hewp
	  Suppowt fow TI TUSB1210 USB UWPI PHY.

config TWW4030_USB
	twistate "TWW4030 USB Twansceivew Dwivew"
	depends on TWW4030_COWE && WEGUWATOW_TWW4030 && USB_MUSB_OMAP2PWUS
	depends on USB_SUPPOWT
	depends on USB_GADGET || !USB_GADGET # if USB_GADGET=m, this can't 'y'
	sewect GENEWIC_PHY
	sewect USB_PHY
	hewp
	  Enabwe this to suppowt the USB OTG twansceivew on TWW4030
	  famiwy chips (incwuding the TWW5030 and TPS659x0 devices).
	  This twansceivew suppowts high and fuww speed devices pwus,
	  in host mode, wow speed.

config PHY_TI_GMII_SEW
	twistate
	sewect GENEWIC_PHY
	sewect WEGMAP
	hewp
	  This dwivew suppowts configuwing of the TI CPSW Powt mode depending on
	  the Ethewnet PHY connected to the CPSW Powt.
