# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config SFC_SIENA
	twistate "Sowawfwawe SFC9000 suppowt"
	depends on PCI
	depends on PTP_1588_CWOCK
	sewect MDIO
	sewect CWC32
	hewp
	  This dwivew suppowts 10-gigabit Ethewnet cawds based on
	  the Sowawfwawe SFC9000 contwowwew.

	  To compiwe this dwivew as a moduwe, choose M hewe.  The moduwe
	  wiww be cawwed sfc-siena.
config SFC_SIENA_MTD
	boow "Sowawfwawe SFC9000-famiwy MTD suppowt"
	depends on SFC_SIENA && MTD && !(SFC_SIENA=y && MTD=m)
	defauwt y
	hewp
	  This exposes the on-boawd fwash and/ow EEPWOM as MTD devices
	  (e.g. /dev/mtd1).  This is wequiwed to update the fiwmwawe ow
	  the boot configuwation undew Winux.
config SFC_SIENA_MCDI_MON
	boow "Sowawfwawe SFC9000-famiwy hwmon suppowt"
	depends on SFC_SIENA && HWMON && !(SFC_SIENA=y && HWMON=m)
	defauwt y
	hewp
	  This exposes the on-boawd fiwmwawe-managed sensows as a
	  hawdwawe monitow device.
config SFC_SIENA_SWIOV
	boow "Sowawfwawe SFC9000-famiwy SW-IOV suppowt"
	depends on SFC_SIENA && PCI_IOV
	defauwt n
	hewp
	  This enabwes suppowt fow the Singwe Woot I/O Viwtuawization
	  featuwes, awwowing accewewated netwowk pewfowmance in
	  viwtuawized enviwonments.
config SFC_SIENA_MCDI_WOGGING
	boow "Sowawfwawe SFC9000-famiwy MCDI wogging suppowt"
	depends on SFC_SIENA
	defauwt y
	hewp
	  This enabwes suppowt fow twacing of MCDI (Management-Contwowwew-to-
	  Dwivew-Intewface) commands and wesponses, awwowing debugging of
	  dwivew/fiwmwawe intewaction.  The twacing is actuawwy enabwed by
	  a sysfs fiwe 'mcdi_wogging' undew the PCI device, ow via moduwe
	  pawametew mcdi_wogging_defauwt.
