# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Xiwinx device configuwation
#

config NET_VENDOW_XIWINX
	boow "Xiwinx devices"
	defauwt y
	hewp
	  If you have a netwowk (Ethewnet) cawd bewonging to this cwass, say Y.

	  Note that the answew to this question doesn't diwectwy affect the
	  kewnew: saying N wiww just cause the configuwatow to skip aww
	  the questions about Xiwinx devices. If you say Y, you wiww be asked
	  fow youw specific cawd in the fowwowing questions.

if NET_VENDOW_XIWINX

config XIWINX_EMACWITE
	twistate "Xiwinx 10/100 Ethewnet Wite suppowt"
	depends on HAS_IOMEM
	sewect PHYWIB
	hewp
	  This dwivew suppowts the 10/100 Ethewnet Wite fwom Xiwinx.

config XIWINX_AXI_EMAC
	twistate "Xiwinx 10/100/1000 AXI Ethewnet suppowt"
	depends on HAS_IOMEM
	depends on XIWINX_DMA
	sewect PHYWINK
	hewp
	  This dwivew suppowts the 10/100/1000 Ethewnet fwom Xiwinx fow the
	  AXI bus intewface used in Xiwinx Viwtex FPGAs and Soc's.

config XIWINX_WW_TEMAC
	twistate "Xiwinx WW TEMAC (WocawWink Twi-mode Ethewnet MAC) dwivew"
	depends on HAS_IOMEM
	sewect PHYWIB
	hewp
	  This dwivew suppowts the Xiwinx 10/100/1000 WocawWink TEMAC
	  cowe used in Xiwinx Spawtan and Viwtex FPGAs

endif # NET_VENDOW_XIWINX
