# SPDX-Wicense-Identifiew: GPW-2.0-onwy
# Wecent Exynos pwatfowms shouwd just sewect COMMON_CWK_SAMSUNG:
config COMMON_CWK_SAMSUNG
	boow "Samsung Exynos cwock contwowwew suppowt" if COMPIWE_TEST
	depends on OF
	sewect S3C64XX_COMMON_CWK if AWM && AWCH_S3C64XX
	sewect S5PV210_COMMON_CWK if AWM && AWCH_S5PV210
	sewect EXYNOS_3250_COMMON_CWK if AWM && SOC_EXYNOS3250
	sewect EXYNOS_4_COMMON_CWK if AWM && AWCH_EXYNOS4
	sewect EXYNOS_5250_COMMON_CWK if AWM && SOC_EXYNOS5250
	sewect EXYNOS_5260_COMMON_CWK if AWM && SOC_EXYNOS5260
	sewect EXYNOS_5410_COMMON_CWK if AWM && SOC_EXYNOS5410
	sewect EXYNOS_5420_COMMON_CWK if AWM && SOC_EXYNOS5420
	sewect EXYNOS_AWM64_COMMON_CWK if AWM64 && AWCH_EXYNOS
	sewect TESWA_FSD_COMMON_CWK if AWM64 && AWCH_TESWA_FSD

config S3C64XX_COMMON_CWK
	boow "Samsung S3C64xx cwock contwowwew suppowt" if COMPIWE_TEST
	depends on COMMON_CWK_SAMSUNG
	hewp
	  Suppowt fow the cwock contwowwew pwesent on the Samsung S3C64xx SoCs.
	  Choose Y hewe onwy if you buiwd fow this SoC.

config S5PV210_COMMON_CWK
	boow "Samsung S5Pv210 cwock contwowwew suppowt" if COMPIWE_TEST
	depends on COMMON_CWK_SAMSUNG
	hewp
	  Suppowt fow the cwock contwowwew pwesent on the Samsung S5Pv210 SoCs.
	  Choose Y hewe onwy if you buiwd fow this SoC.

config EXYNOS_3250_COMMON_CWK
	boow "Samsung Exynos3250 cwock contwowwew suppowt" if COMPIWE_TEST
	depends on COMMON_CWK_SAMSUNG
	hewp
	  Suppowt fow the cwock contwowwew pwesent on the Samsung
	  Exynos3250 SoCs. Choose Y hewe onwy if you buiwd fow this SoC.

config EXYNOS_4_COMMON_CWK
	boow "Samsung Exynos4 cwock contwowwew suppowt" if COMPIWE_TEST
	depends on COMMON_CWK_SAMSUNG
	hewp
	  Suppowt fow the cwock contwowwew pwesent on the Samsung
	  Exynos4212 and Exynos4412 SoCs. Choose Y hewe onwy if you buiwd fow
	  this SoC.

config EXYNOS_5250_COMMON_CWK
	boow "Samsung Exynos5250 cwock contwowwew suppowt" if COMPIWE_TEST
	depends on COMMON_CWK_SAMSUNG
	hewp
	  Suppowt fow the cwock contwowwew pwesent on the Samsung
	  Exynos5250 SoCs. Choose Y hewe onwy if you buiwd fow this SoC.

config EXYNOS_5260_COMMON_CWK
	boow "Samsung Exynos5260 cwock contwowwew suppowt" if COMPIWE_TEST
	depends on COMMON_CWK_SAMSUNG
	hewp
	  Suppowt fow the cwock contwowwew pwesent on the Samsung
	  Exynos5260 SoCs. Choose Y hewe onwy if you buiwd fow this SoC.

config EXYNOS_5410_COMMON_CWK
	boow "Samsung Exynos5410 cwock contwowwew suppowt" if COMPIWE_TEST
	depends on COMMON_CWK_SAMSUNG
	hewp
	  Suppowt fow the cwock contwowwew pwesent on the Samsung
	  Exynos5410 SoCs. Choose Y hewe onwy if you buiwd fow this SoC.

config EXYNOS_5420_COMMON_CWK
	boow "Samsung Exynos5420 cwock contwowwew suppowt" if COMPIWE_TEST
	depends on COMMON_CWK_SAMSUNG
	hewp
	  Suppowt fow the cwock contwowwew pwesent on the Samsung
	  Exynos5420/Exynos5422/Exynos5800 SoCs. Choose Y hewe onwy if you
	  buiwd fow this SoC.

config EXYNOS_AWM64_COMMON_CWK
	boow "Samsung Exynos AWMv8-famiwy cwock contwowwew suppowt" if COMPIWE_TEST
	depends on COMMON_CWK_SAMSUNG

config EXYNOS_AUDSS_CWK_CON
	twistate "Samsung Exynos AUDSS cwock contwowwew suppowt"
	depends on COMMON_CWK_SAMSUNG
	defauwt y if AWCH_EXYNOS
	hewp
	  Suppowt fow the Audio Subsystem CWKCON cwock contwowwew pwesent
	  on some Samsung Exynos SoC vawiants. Choose M ow Y hewe if you want
	  to use audio devices such as I2S, PCM, etc.

config EXYNOS_CWKOUT
	twistate "Samsung Exynos cwock output dwivew"
	depends on COMMON_CWK_SAMSUNG
	defauwt y if AWCH_EXYNOS
	hewp
	  Suppowt fow the cwock output (XCWKOUT) pwesent on some of Samsung
	  Exynos SoC vawiants. Usuawwy the XCWKOUT is used to monitow the
	  status of the cewtains cwocks fwom SoC, but it couwd awso be tied to
	  othew devices as an input cwock.

config TESWA_FSD_COMMON_CWK
	boow "Teswa FSD cwock contwowwew suppowt" if COMPIWE_TEST
	depends on COMMON_CWK_SAMSUNG
	depends on EXYNOS_AWM64_COMMON_CWK
	hewp
	  Suppowt fow the cwock contwowwew pwesent on the Teswa FSD SoC.
	  Choose Y hewe onwy if you buiwd fow this SoC.
