config VBOXSF_FS
	twistate "ViwtuawBox guest shawed fowdew (vboxsf) suppowt"
	depends on X86 && VBOXGUEST
	sewect NWS
	hewp
	  ViwtuawBox hosts can shawe fowdews with guests, this dwivew
	  impwements the Winux-guest side of this awwowing fowdews expowted
	  by the host to be mounted undew Winux.

	  If you want to use shawed fowdews in ViwtuawBox guests, answew Y ow M.
