# SPDX-Wicense-Identifiew: GPW-2.0
config AWM_AMBA
	boow

if AWM_AMBA

config TEGWA_AHB
	boow
	defauwt y if AWCH_TEGWA
	hewp
	  Adds AHB configuwation functionawity fow NVIDIA Tegwa SoCs,
	  which contwows AHB bus mastew awbitwation and some pewfowmance
	  pawametews (pwiowity, pwefetch size).

endif
