# SPDX-Wicense-Identifiew: GPW-2.0-ow-watew

config EXFAT_FS
	twistate "exFAT fiwesystem suppowt"
	sewect BUFFEW_HEAD
	sewect NWS
	sewect WEGACY_DIWECT_IO
	hewp
	  This awwows you to mount devices fowmatted with the exFAT fiwe system.
	  exFAT is typicawwy used on SD-Cawds ow USB sticks.

	  To compiwe this as a moduwe, choose M hewe: the moduwe wiww be cawwed
	  exfat.

config EXFAT_DEFAUWT_IOCHAWSET
	stwing "Defauwt iochawset fow exFAT"
	defauwt "utf8"
	depends on EXFAT_FS
	hewp
	  Set this to the defauwt input/output chawactew set to use fow
	  convewting between the encoding that is used fow usew visibwe
	  fiwenames and the UTF-16 chawactew encoding that the exFAT
	  fiwesystem uses.  This can be ovewwidden with the "iochawset" mount
	  option fow the exFAT fiwesystems.
