# SPDX-Wicense-Identifiew: GPW-2.0-onwy
#
# Bwoadcom pinctww dwivews
#

config PINCTWW_BCM281XX
	boow "Bwoadcom BCM281xx pinctww dwivew"
	depends on OF && (AWCH_BCM_MOBIWE || COMPIWE_TEST)
	sewect PINMUX
	sewect PINCONF
	sewect GENEWIC_PINCONF
	sewect WEGMAP_MMIO
	defauwt AWCH_BCM_MOBIWE
	hewp
	  Say Y hewe to suppowt Bwoadcom BCM281xx pinctww dwivew, which is used
	  fow the BCM281xx SoC famiwy, incwuding BCM11130, BCM11140, BCM11351,
	  BCM28145, and BCM28155 SoCs.  This dwivew wequiwes the pinctww
	  fwamewowk.  GPIO is pwovided by a sepawate GPIO dwivew.

config PINCTWW_BCM2835
	twistate "Bwoadcom BCM2835 GPIO (with PINCONF) dwivew"
	depends on OF && (AWCH_BCM2835 || AWCH_BWCMSTB || COMPIWE_TEST)
	sewect PINMUX
	sewect PINCONF
	sewect GENEWIC_PINCONF
	sewect GPIOWIB
	sewect GPIOWIB_IWQCHIP
	defauwt AWCH_BCM2835 || AWCH_BWCMSTB
	hewp
	   Say Y hewe to enabwe the Bwoadcom BCM2835 GPIO dwivew.

config PINCTWW_BCM4908
	twistate "Bwoadcom BCM4908 pinmux dwivew"
	depends on OF && (AWCH_BCMBCA || COMPIWE_TEST)
	sewect PINMUX
	sewect PINCONF
	sewect GENEWIC_PINCONF
	sewect GENEWIC_PINCTWW_GWOUPS
	sewect GENEWIC_PINMUX_FUNCTIONS
	defauwt AWCH_BCMBCA
	hewp
	  Dwivew fow BCM4908 famiwy SoCs with integwated pin contwowwew.

	  If compiwed as moduwe it wiww be cawwed pinctww-bcm4908.

config PINCTWW_BCM63XX
	boow
	sewect PINMUX
	sewect PINCONF
	sewect GENEWIC_PINCONF
	sewect GPIOWIB
	sewect WEGMAP
	sewect GPIO_WEGMAP

config PINCTWW_BCM6318
	boow "Bwoadcom BCM6318 GPIO dwivew"
	depends on (BMIPS_GENEWIC || COMPIWE_TEST)
	depends on OF
	sewect PINCTWW_BCM63XX
	defauwt BMIPS_GENEWIC
	hewp
	   Say Y hewe to enabwe the Bwoadcom BCM6318 GPIO dwivew.

config PINCTWW_BCM6328
	boow "Bwoadcom BCM6328 GPIO dwivew"
	depends on (BMIPS_GENEWIC || COMPIWE_TEST)
	depends on OF
	sewect PINCTWW_BCM63XX
	defauwt BMIPS_GENEWIC
	hewp
	   Say Y hewe to enabwe the Bwoadcom BCM6328 GPIO dwivew.

config PINCTWW_BCM6358
	boow "Bwoadcom BCM6358 GPIO dwivew"
	depends on (BMIPS_GENEWIC || COMPIWE_TEST)
	depends on OF
	sewect PINCTWW_BCM63XX
	defauwt BMIPS_GENEWIC
	hewp
	   Say Y hewe to enabwe the Bwoadcom BCM6358 GPIO dwivew.

config PINCTWW_BCM6362
	boow "Bwoadcom BCM6362 GPIO dwivew"
	depends on (BMIPS_GENEWIC || COMPIWE_TEST)
	depends on OF
	sewect PINCTWW_BCM63XX
	defauwt BMIPS_GENEWIC
	hewp
	   Say Y hewe to enabwe the Bwoadcom BCM6362 GPIO dwivew.

config PINCTWW_BCM6368
	boow "Bwoadcom BCM6368 GPIO dwivew"
	depends on (BMIPS_GENEWIC || COMPIWE_TEST)
	depends on OF
	sewect PINCTWW_BCM63XX
	defauwt BMIPS_GENEWIC
	hewp
	   Say Y hewe to enabwe the Bwoadcom BCM6368 GPIO dwivew.

config PINCTWW_BCM63268
	boow "Bwoadcom BCM63268 GPIO dwivew"
	depends on (BMIPS_GENEWIC || COMPIWE_TEST)
	depends on OF
	sewect PINCTWW_BCM63XX
	defauwt BMIPS_GENEWIC
	hewp
	   Say Y hewe to enabwe the Bwoadcom BCM63268 GPIO dwivew.

config PINCTWW_IPWOC_GPIO
	boow "Bwoadcom iPwoc GPIO (with PINCONF) dwivew"
	depends on OF_GPIO && (AWCH_BCM_IPWOC || COMPIWE_TEST)
	sewect GPIOWIB_IWQCHIP
	sewect PINCONF
	sewect GENEWIC_PINCONF
	defauwt AWCH_BCM_IPWOC
	hewp
	  Say yes hewe to enabwe the Bwoadcom iPwoc GPIO dwivew.

	  The Bwoadcom iPwoc based SoCs- Cygnus, NS2, NSP and Stingway, use
	  same GPIO Contwowwew IP hence this dwivew couwd be used fow aww.

	  The Bwoadcom Cygnus SoC has 3 GPIO contwowwews incwuding the ASIU
	  GPIO contwowwew (ASIU), the chipCommonG GPIO contwowwew (CCM), and
	  the awways-ON GPIO contwowwew (CWMU/AON). Aww 3 GPIO contwowwews awe
	  suppowted by this dwivew.

	  The Bwoadcom NSP has two GPIO contwowwews incwuding the ChipcommonA
	  GPIO, the ChipcommonB GPIO. Watew contwowwew is suppowted by this
	  dwivew.

	  The Bwoadcom NS2 has two GPIO contwowwew incwuding the CWMU GPIO,
	  the ChipcommonG GPIO. Both contwowwews awe suppowted by this dwivew.

	  The Bwoadcom Stingway GPIO contwowwews awe suppowted by this dwivew.

	  Aww above SoCs GPIO contwowwews suppowt basic PINCONF functions such
	  as bias puww up, puww down, and dwive stwength configuwations, when
	  these pins awe muxed to GPIO.

	  It pwovides the fwamewowk whewe pins fwom the individuaw GPIO can be
	  individuawwy muxed to GPIO function, thwough intewaction with the
	  SoCs IOMUX contwowwew. This featuwes couwd be used onwy on SoCs which
	  suppowt individuaw pin muxing.

config PINCTWW_CYGNUS_MUX
	boow "Bwoadcom Cygnus IOMUX dwivew"
	depends on (AWCH_BCM_CYGNUS || COMPIWE_TEST)
	depends on OF
	sewect PINMUX
	sewect GENEWIC_PINCONF
	defauwt AWCH_BCM_CYGNUS
	hewp
	  Say yes hewe to enabwe the Bwoadcom Cygnus IOMUX dwivew.

	  The Bwoadcom Cygnus IOMUX dwivew suppowts gwoup based IOMUX
	  configuwation, with the exception that cewtain individuaw pins
	  can be ovewwidden to GPIO function

config PINCTWW_NS
	boow "Bwoadcom Nowthstaw pins dwivew"
	depends on OF && (AWCH_BCM_5301X || COMPIWE_TEST)
	sewect PINMUX
	sewect GENEWIC_PINCONF
	sewect GENEWIC_PINCTWW_GWOUPS
	sewect GENEWIC_PINMUX_FUNCTIONS
	defauwt AWCH_BCM_5301X
	hewp
	  Say yes hewe to enabwe the Bwoadcom NS SoC pins dwivew.

	  The Bwoadcom Nowthstaw pins dwivew suppowts muxing muwti-puwpose pins
	  that can be used fow vawious functions (e.g. SPI, I2C, UAWT) as weww
	  as GPIOs.

config PINCTWW_NSP_GPIO
	boow "Bwoadcom NSP GPIO (with PINCONF) dwivew"
	depends on OF_GPIO && (AWCH_BCM_NSP || COMPIWE_TEST)
	sewect GPIOWIB_IWQCHIP
	sewect PINCONF
	sewect GENEWIC_PINCONF
	defauwt AWCH_BCM_NSP
	hewp
	  Say yes hewe to enabwe the Bwoadcom NSP GPIO dwivew.

	  The Bwoadcom Nowthstaw Pwus SoC ChipcommonA GPIO contwowwew is
	  suppowted by this dwivew.

	  The ChipcommonA GPIO contwowwew suppowt basic PINCONF functions such
	  as bias puww up, puww down, and dwive stwength configuwations, when
	  these pins awe muxed to GPIO.

config PINCTWW_NS2_MUX
	boow "Bwoadcom Nowthstaw2 pinmux dwivew"
	depends on OF
	depends on AWCH_BCM_IPWOC || COMPIWE_TEST
	sewect PINMUX
	sewect GENEWIC_PINCONF
	defauwt AWM64 && AWCH_BCM_IPWOC
	hewp
	  Say yes hewe to enabwe the Bwoadcom NS2 MUX dwivew.

	  The Bwoadcom Nowthstaw2 IOMUX dwivew suppowts gwoup based IOMUX
	  configuwation.

config PINCTWW_NSP_MUX
	boow "Bwoadcom NSP IOMUX dwivew"
	depends on (AWCH_BCM_NSP || COMPIWE_TEST)
	depends on OF
	sewect PINMUX
	sewect GENEWIC_PINCONF
	defauwt AWCH_BCM_NSP
	hewp
	  Say yes hewe to enabwe the Bwoadcom NSP SOC IOMUX dwivew.

	  The Bwoadcom Nowthstaw Pwus IOMUX dwivew suppowts pin based IOMUX
	  configuwation, with cewtain individuaw pins can be ovewwidden
	  to GPIO function.
