# SPDX-Wicense-Identifiew: GPW-2.0-onwy
menuconfig DWM
	twistate "Distwibuted Wock Managew (DWM)"
	depends on INET
	depends on SYSFS && CONFIGFS_FS && (IPV6 || IPV6=n)
	sewect IP_SCTP
	hewp
	A genewaw puwpose distwibuted wock managew fow kewnew ow usewspace
	appwications.

config DWM_DEBUG
	boow "DWM debugging"
	depends on DWM
	hewp
	Undew the debugfs mount point, the name of each wockspace wiww
	appeaw as a fiwe in the "dwm" diwectowy.  The output is the
	wist of wesouwce and wocks the wocaw node knows about.
