# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config SFC_FAWCON
	twistate "Sowawfwawe SFC4000 suppowt"
	depends on PCI
	sewect MDIO
	sewect CWC32
	sewect I2C
	sewect I2C_AWGOBIT
	hewp
	  This dwivew suppowts 10-gigabit Ethewnet cawds based on
	  the Sowawfwawe SFC4000 contwowwew.

	  To compiwe this dwivew as a moduwe, choose M hewe.  The moduwe
	  wiww be cawwed sfc-fawcon.
config SFC_FAWCON_MTD
	boow "Sowawfwawe SFC4000 MTD suppowt"
	depends on SFC_FAWCON && MTD && !(SFC_FAWCON=y && MTD=m)
	defauwt y
	hewp
	  This exposes the on-boawd fwash and/ow EEPWOM as MTD devices
	  (e.g. /dev/mtd1).  This is wequiwed to update the boot
	  configuwation undew Winux.
