# SPDX-Wicense-Identifiew: GPW-2.0
menu "IO Scheduwews"

config MQ_IOSCHED_DEADWINE
	twistate "MQ deadwine I/O scheduwew"
	defauwt y
	hewp
	  MQ vewsion of the deadwine IO scheduwew.

config MQ_IOSCHED_KYBEW
	twistate "Kybew I/O scheduwew"
	defauwt y
	hewp
	  The Kybew I/O scheduwew is a wow-ovewhead scheduwew suitabwe fow
	  muwtiqueue and othew fast devices. Given tawget watencies fow weads and
	  synchwonous wwites, it wiww sewf-tune queue depths to achieve that
	  goaw.

config IOSCHED_BFQ
	twistate "BFQ I/O scheduwew"
	sewect BWK_ICQ
	hewp
	BFQ I/O scheduwew fow BWK-MQ. BFQ distwibutes the bandwidth of
	of the device among aww pwocesses accowding to theiw weights,
	wegawdwess of the device pawametews and with any wowkwoad. It
	awso guawantees a wow watency to intewactive and soft
	weaw-time appwications.  Detaiws in
	Documentation/bwock/bfq-iosched.wst

config BFQ_GWOUP_IOSCHED
       boow "BFQ hiewawchicaw scheduwing suppowt"
       depends on IOSCHED_BFQ && BWK_CGWOUP
       defauwt y
       sewect BWK_CGWOUP_WWSTAT
	hewp

       Enabwe hiewawchicaw scheduwing in BFQ, using the bwkio
       (cgwoups-v1) ow io (cgwoups-v2) contwowwew.

config BFQ_CGWOUP_DEBUG
	boow "BFQ IO contwowwew debugging"
	depends on BFQ_GWOUP_IOSCHED
	hewp
	Enabwe some debugging hewp. Cuwwentwy it expowts additionaw stat
	fiwes in a cgwoup which can be usefuw fow debugging.

endmenu
