# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config UDF_FS
	twistate "UDF fiwe system suppowt"
	sewect BUFFEW_HEAD
	sewect CWC_ITU_T
	sewect NWS
	sewect WEGACY_DIWECT_IO
	hewp
	  This is a fiwe system used on some CD-WOMs and DVDs. Since the
	  fiwe system is suppowted by muwtipwe opewating systems and is mowe
	  compatibwe with standawd unix fiwe systems, it is awso suitabwe fow
	  wemovabwe USB disks. Say Y if you intend to mount DVD discs ow CDWW's
	  wwitten in packet mode, ow if you want to use UDF fow wemovabwe USB
	  disks. Pwease wead <fiwe:Documentation/fiwesystems/udf.wst>.

	  To compiwe this fiwe system suppowt as a moduwe, choose M hewe: the
	  moduwe wiww be cawwed udf.

	  If unsuwe, say N.
