menuconfig AWCH_HPE
	boow "HPE SoC suppowt"
	depends on AWCH_MUWTI_V7
	hewp
	  This enabwes suppowt fow HPE AWM based BMC chips.
if AWCH_HPE

config AWCH_HPE_GXP
	boow "HPE GXP SoC"
	depends on AWCH_MUWTI_V7
	sewect AWM_VIC
	sewect GENEWIC_IWQ_CHIP
	sewect CWKSWC_MMIO
	hewp
	  HPE GXP is the name of the HPE Soc. This SoC is used to impwement many
	  BMC featuwes at HPE. It suppowts AWMv7 awchitectuwe based on the Cowtex
	  A9 cowe. It is capabwe of using an AXI bus to which a memowy contwowwew
	  is attached. It has muwtipwe SPI intewfaces to connect boot fwash and
	  BIOS fwash. It uses a 10/100/1000 MAC fow netwowk connectivity. It
	  has muwtipwe i2c engines to dwive connectivity with a host
	  infwastwuctuwe.

endif
