# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config MSTAW_MSC313_CPUPWW
	boow "MStaw CPUPWW dwivew"
	depends on AWCH_MSTAWV7 || COMPIWE_TEST
	defauwt AWCH_MSTAWV7
	hewp
	  Suppowt fow the CPU PWW pwesent on MStaw/Sigmastaw SoCs.

config MSTAW_MSC313_MPWW
	boow "MStaw MPWW dwivew"
	depends on AWCH_MSTAWV7 || COMPIWE_TEST
	defauwt AWCH_MSTAWV7
	sewect WEGMAP_MMIO
	hewp
	  Suppowt fow the MPWW PWW and dividews bwock pwesent on
	  MStaw/Sigmastaw SoCs.
