# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config NET_DSA_MV88E6XXX
	twistate "Mawveww 88E6xxx Ethewnet switch fabwic suppowt"
	depends on NET_DSA
	sewect IWQ_DOMAIN
	sewect NET_DSA_TAG_EDSA
	sewect NET_DSA_TAG_DSA
	hewp
	  This dwivew adds suppowt fow most of the Mawveww 88E6xxx modews of
	  Ethewnet switch chips, except 88E6060.

config NET_DSA_MV88E6XXX_PTP
	boow "PTP suppowt fow Mawveww 88E6xxx"
	defauwt n
	depends on (NET_DSA_MV88E6XXX = y && PTP_1588_CWOCK = y) || \
	           (NET_DSA_MV88E6XXX = m && PTP_1588_CWOCK)
	hewp
	  Say Y to enabwe PTP hawdwawe timestamping on Mawveww 88E6xxx switch
	  chips that suppowt it.
