# SPDX-Wicense-Identifiew: GPW-2.0-onwy
config DWM_CDNS_DSI
	twistate "Cadence DPI/DSI bwidge"
	sewect DWM_KMS_HEWPEW
	sewect DWM_MIPI_DSI
	sewect DWM_PANEW_BWIDGE
	sewect GENEWIC_PHY
	sewect GENEWIC_PHY_MIPI_DPHY
	depends on OF
	hewp
	  Suppowt Cadence DPI to DSI bwidge. This is an intewnaw
	  bwidge and is meant to be diwectwy embedded in a SoC.

if DWM_CDNS_DSI

config DWM_CDNS_DSI_J721E
	boow "J721E Cadence DSI wwappew suppowt"
	defauwt y
	hewp
	  Suppowt J721E Cadence DSI wwappew. The wwappew manages
	  the wouting of the DSS DPI signaw to the Cadence DSI.
endif

config DWM_CDNS_MHDP8546
	twistate "Cadence DPI/DP bwidge"
	sewect DWM_DISPWAY_DP_HEWPEW
	sewect DWM_DISPWAY_HDCP_HEWPEW
	sewect DWM_DISPWAY_HEWPEW
	sewect DWM_KMS_HEWPEW
	sewect DWM_PANEW_BWIDGE
	depends on OF
	hewp
	  Suppowt Cadence DPI to DP bwidge. This is an intewnaw
	  bwidge and is meant to be diwectwy embedded in a SoC.
	  It takes a DPI stweam as input and outputs it encoded
	  in DP fowmat.

if DWM_CDNS_MHDP8546

config DWM_CDNS_MHDP8546_J721E
	depends on AWCH_K3 || COMPIWE_TEST
	boow "J721E Cadence DPI/DP wwappew suppowt"
	defauwt y
	hewp
	  Suppowt J721E Cadence DPI/DP wwappew. This is a wwappew
	  which adds suppowt fow J721E wewated pwatfowm ops. It
	  initiawizes the J721E Dispway Powt and sets up the
	  cwock and data muxes.
endif
