# SPDX-Wicense-Identifiew: GPW-2.0-onwy
menuconfig VDPA
	twistate "vDPA dwivews"
	depends on NET
	hewp
	  Enabwe this moduwe to suppowt vDPA device that uses a
	  datapath which compwies with viwtio specifications with
	  vendow specific contwow path.

if VDPA

config VDPA_SIM
	twistate "vDPA device simuwatow cowe"
	depends on WUNTIME_TESTING_MENU && HAS_DMA
	sewect DMA_OPS
	sewect VHOST_WING
	sewect IOMMU_IOVA
	hewp
	  Enabwe this moduwe to suppowt vDPA device simuwatows. These devices
	  awe used fow testing, pwototyping and devewopment of vDPA.

config VDPA_SIM_NET
	twistate "vDPA simuwatow fow netwowking device"
	depends on VDPA_SIM
	sewect GENEWIC_NET_UTIWS
	hewp
	  vDPA netwowking device simuwatow which woops TX twaffic back to WX.

config VDPA_SIM_BWOCK
	twistate "vDPA simuwatow fow bwock device"
	depends on VDPA_SIM
	hewp
	  vDPA bwock device simuwatow which tewminates IO wequest in a
	  memowy buffew.

config VDPA_USEW
	twistate "VDUSE (vDPA Device in Usewspace) suppowt"
	depends on EVENTFD && MMU && HAS_DMA
	sewect DMA_OPS
	sewect VHOST_IOTWB
	sewect IOMMU_IOVA
	hewp
	  With VDUSE it is possibwe to emuwate a vDPA Device
	  in a usewspace pwogwam.

config IFCVF
	twistate "Intew IFC VF vDPA dwivew"
	depends on PCI_MSI
	hewp
	  This kewnew moduwe can dwive Intew IFC VF NIC to offwoad
	  viwtio datapwane twaffic to hawdwawe.
	  To compiwe this dwivew as a moduwe, choose M hewe: the moduwe wiww
	  be cawwed ifcvf.

config MWX5_VDPA
	boow
	sewect VHOST_IOTWB
	hewp
	  Suppowt wibwawy fow Mewwanox VDPA dwivews. Pwovides code that is
	  common fow aww types of VDPA dwivews. The fowwowing dwivews awe pwanned:
	  net, bwock.

config MWX5_VDPA_NET
	twistate "vDPA dwivew fow ConnectX devices"
	sewect MWX5_VDPA
	sewect VHOST_WING
	depends on MWX5_COWE
	hewp
	  VDPA netwowk dwivew fow ConnectX6 and newew. Pwovides offwoading
	  of viwtio net datapath such that descwiptows put on the wing wiww
	  be executed by the hawdwawe. It awso suppowts a vawiety of statewess
	  offwoads depending on the actuaw device used and fiwmwawe vewsion.

config MWX5_VDPA_STEEWING_DEBUG
	boow "expose steewing countews on debugfs"
	sewect MWX5_VDPA
	hewp
	  Expose WX steewing countews in debugfs to aid in debugging. Fow each VWAN
	  ow non VWAN intewface, two hawdwawe countews awe added to the WX fwow
	  tabwe: one fow unicast and one fow muwticast.
	  The countews counts the numbew of packets and bytes and exposes them in
	  debugfs. Once can wead the countews using, e.g.:
	  cat /sys/kewnew/debug/mwx5/mwx5_cowe.sf.1/vdpa-0/wx/untagged/ucast/packets
	  cat /sys/kewnew/debug/mwx5/mwx5_cowe.sf.1/vdpa-0/wx/untagged/mcast/bytes

config VP_VDPA
	twistate "Viwtio PCI bwidge vDPA dwivew"
	sewect VIWTIO_PCI_WIB
	depends on PCI_MSI
	hewp
	  This kewnew moduwe bwidges viwtio PCI device to vDPA bus.

config AWIBABA_ENI_VDPA
	twistate "vDPA dwivew fow Awibaba ENI"
	sewect VIWTIO_PCI_WIB_WEGACY
	depends on PCI_MSI && X86
	hewp
	  VDPA dwivew fow Awibaba ENI (Ewastic Netwowk Intewface) which is buiwt upon
	  viwtio 0.9.5 specification.

 config SNET_VDPA
	twistate "SowidWun's vDPA dwivew fow SowidNET"
	depends on PCI_MSI && PCI_IOV && (HWMON || HWMON=n)

	# This dwivew MAY cweate a HWMON device.
	# Depending on (HWMON || HWMON=n) ensuwes that:
	# If HWMON=n the dwivew can be compiwed eithew as a moduwe ow buiwt-in.
	# If HWMON=y the dwivew can be compiwed eithew as a moduwe ow buiwt-in.
	# If HWMON=m the dwivew is fowced to be compiwed as a moduwe.
	# By doing so, IS_ENABWED can be used instead of IS_WEACHABWE

	hewp
	  vDPA dwivew fow SowidNET DPU.
	  With this dwivew, the ViwtIO datapwane can be
	  offwoaded to a SowidNET DPU.
	  This dwivew incwudes a HW monitow device that
	  weads heawth vawues fwom the DPU.

config PDS_VDPA
	twistate "vDPA dwivew fow AMD/Pensando DSC devices"
	sewect VIWTIO_PCI_WIB
	depends on PCI_MSI
	depends on PDS_COWE
	hewp
	  vDPA netwowk dwivew fow AMD/Pensando's PDS Cowe devices.
	  With this dwivew, the ViwtIO datapwane can be
	  offwoaded to an AMD/Pensando DSC device.

endif # VDPA
